@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue.woff");
}
@font-face {
  font-family: "HelveticaNeue";
  font-weight: bold;
  src: url("../fonts/helvetica-neue-bold.woff");
}
@font-face {
  font-family: "HelveticaNeue";
  font-weight: lighter;
  src: url("../fonts/helvetica-neue-light.woff");
}
/* line 21, ../scss/brochure.scss */
body {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  margin: 0px;
}

/* line 27, ../scss/brochure.scss */
.a4 {
  width: 210mm;
  height: 297mm;
  background-size: 210mm 214mm;
  background-repeat: no-repeat;
  background-position: left bottom;
  margin: 0px;
  overflow-x: hidden;
}
/* line 36, ../scss/brochure.scss */
.a4 .tableHeader, .a4 .introductionHeader {
  color: #2CB363;
}
/* line 41, ../scss/brochure.scss */
.a4.dining.firstPage {
  background-image: url("../images/dining_front.jpg");
}
/* line 44, ../scss/brochure.scss */
.a4.dining.lastPage {
  background-image: url("../images/dining_back.jpg");
}
/* line 50, ../scss/brochure.scss */
.a4.wiping.firstPage {
  background-image: url("../images/wiping_front.jpg");
}
/* line 53, ../scss/brochure.scss */
.a4.wiping.lastPage {
  background-image: url("../images/wiping_back.jpg");
}
/* line 59, ../scss/brochure.scss */
.a4.washroom.firstPage {
  background-image: url("../images/washroom_front.jpg");
}
/* line 62, ../scss/brochure.scss */
.a4.washroom.lastPage {
  background-image: url("../images/washroom_back.jpg");
}
/* line 68, ../scss/brochure.scss */
.a4.combined.firstPage {
  background-image: url("../images/combined_front.jpg");
}
/* line 71, ../scss/brochure.scss */
.a4.combined.lastPage {
  background-image: url("../images/combined_back.jpg");
}

/* line 79, ../scss/brochure.scss */
.firstPage .torkLogo {
  position: absolute;
  top: 15mm;
  left: 15mm;
  width: 31mm;
}
/* line 86, ../scss/brochure.scss */
.firstPage .scaLogo {
  left: 15mm;
  position: absolute;
  top: 270mm;
}
/* line 93, ../scss/brochure.scss */
.firstPage .nameOfCustomer {
  position: absolute;
  top: 15mm;
  left: 0;
  text-align: right;
  width: 195mm;
  font-size: 8pt;
  color: #282828;
  font-weight: bold;
}
/* line 104, ../scss/brochure.scss */
.firstPage .headline {
  position: absolute;
  color: #09f;
  font-size: 22pt;
  font-weight: bold;
  top: 48mm;
  left: 15mm;
}

.firstPage .headline .companyName {
  color: #000;
  font-weight: normal;
}

/* line 113, ../scss/brochure.scss */
.firstPage .getInTouch {
  position: relative;
  top: 222mm;
  left: 141mm;
  width: 58mm;
  color: white;
  font-weight: lighter;
  font-size: 14pt;
}

/* line 126, ../scss/brochure.scss */
.content .wrapper {
  width: 186mm;
}
/* line 130, ../scss/brochure.scss */
.content .introductionHeader {
  font-weight: bold;
  font-size: 18pt;
  margin-bottom: 5mm;
}
/* line 136, ../scss/brochure.scss */
.content .introductionBody {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 10mm;
}
/* line 142, ../scss/brochure.scss */
.content .productListHeader {
  background-color: #00AEEF;
  font-weight: bold;
  padding: 5px 0 5px 5px;
  color: white;
  border-bottom-right-radius: 4mm;
}
/* line 150, ../scss/brochure.scss */
.content .productListItem {
  vertical-align: top;
  margin-top: 5mm;
  margin-bottom: 5mm;
  page-break-inside: avoid;
}
/* line 156, ../scss/brochure.scss */
.content .productListItem:not(:last-child) {
  border-bottom: 2px dotted #09f;
}
/* line 160, ../scss/brochure.scss */
.content .productListItem .productImageContainer {
  vertical-align: top;
  display: inline-block;
  width: 24%;
  text-align: center;
}
/* line 166, ../scss/brochure.scss */
.content .productListItem .productImageContainer img {
  max-height: 40mm;
  max-width: 100%;
}
/* line 172, ../scss/brochure.scss */
.content .productListItem .productDescriptionContainer {
  vertical-align: top;
  display: inline-block;
  width: 75%;
  font-size: 11pt;
}
/* line 178, ../scss/brochure.scss */
.content .productListItem .productDescriptionContainer .productName {
  font-weight: bold;
  margin-bottom: 1mm;
}
/* line 183, ../scss/brochure.scss */
.content .productListItem .productDescriptionContainer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  margin-top: 1mm;
  margin-bottom: 8mm;
}
/* line 190, ../scss/brochure.scss */
.content .productListItem .productDescriptionContainer ul li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
  margin-top: 1mm;
}
/* line 201, ../scss/brochure.scss */
.content .tableHeader {
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
/* line 207, ../scss/brochure.scss */
.content .tableContainer {
  page-break-inside: avoid;
}
/* line 210, ../scss/brochure.scss */
.content .tableContainer .tableHeader {
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
/* line 217, ../scss/brochure.scss */
.content table {
  background: #D4EFFC;
  border-spacing: 0;
  width: 100%;
  height: 70mm;
  margin-bottom: 10mm;
}
/* line 224, ../scss/brochure.scss */
.content table td, .content table th {
  text-align: left;
  padding: 5px 0 5px 5px;
  vertical-align: top;
}
/* line 229, ../scss/brochure.scss */
.content table td.article, .content table th.article {
  font-weight: bold;
  color: #00AEEF;
}
.content table td.price {
  text-align:right;
}

/* line 235, ../scss/brochure.scss */
.content table td.name, .content table th.name {
  width: 50%;
}
/* line 239, ../scss/brochure.scss */
.content table td.color, .content table th.color {
  width: 16%;
}
/* line 243, ../scss/brochure.scss */
.content table td.refillId, .content table th.refillId {
  width: 16%;
}
/* line 249, ../scss/brochure.scss */
.content table tbody td:not(:last-child) {
  border-right: 1px solid #0099ff;
}
/* line 253, ../scss/brochure.scss */
.content table th {
  background: #00AEEF;
  font-weight: bold;
  color: white;
  height: 5mm;
}
/* line 259, ../scss/brochure.scss */
.content table tr:not(:last-child) {
  height: 5mm;
}
/* line 262, ../scss/brochure.scss */
.content table tr.secondaryHeader {
  background: #6DCFF6;
  color: white;
  font-weight: bold;
  min-width: 100%;
}
/* line 266, ../scss/brochure.scss */
.content table tr.secondaryHeader td {
  border-right: 1px solid transparent;
}

/* line 275, ../scss/brochure.scss */
.lastPage .torkLogo {
  position: absolute;
  left: 15mm;
  width: 31mm;
}
/* line 282, ../scss/brochure.scss */
.lastPage .scaLogo {
  left: 5mm;
  position: absolute;
}
/* line 290, ../scss/brochure.scss */
.lastPage .getInTouchHeader {
  position: absolute;
  left: 143mm;
  width: 54mm;
  color: white;
  font-weight: bold;
  font-size: 26pt;
}
/* line 300, ../scss/brochure.scss */
.lastPage .getInTouchBody {
  position: absolute;
  left: 143mm;
  width: 54mm;
  color: white;
  font-size: 14pt;
}
/* line 309, ../scss/brochure.scss */
.lastPage .torkDescription {
  position: absolute;
  left: 143mm;
  width: 50mm;
  font-size: 9.5pt;
  color: #282828;
  font-weight: lighter;
}
/* line 319, ../scss/brochure.scss */
.lastPage .thisBrochureWasCreated {
  position: absolute;
  color: #09f;
  font-size: 8pt;
  top: 208mm;
  left: 15mm;
}
/* line 327, ../scss/brochure.scss */
.lastPage .logotype {
  position: absolute;
  top: 216mm;
  left: 15mm;
  max-height: 38mm;
  max-width: 100mm;
}
/* line 335, ../scss/brochure.scss */
.lastPage .scaDescription {
  position: absolute;
  top: 269mm;
  left: 15mm;
  line-height: 7.6pt;
  font-size: 7pt;
  color: #00005A;
  font-weight: bold;
  width:200px;  
}
