.a4 {
    height: 256mm;
}

hr.blueDotted {
    border: none;
    border-bottom: 2.4pt dotted #0099ff;
    width: 94%;
}

.a4.firstpage,
.a4.lastpage {
    background-image: none !important;
}

.a4.content {
    height: auto;
}

    .a4.content .wrapper {
        width: 196mm;
        margin-left: 7mm;
        margin-right: 7mm;
        page-break-before: always;
    }

    .a4.content.combined .wrapper {
        page-break-before: auto;
    }

.a4 .leftColumn {
    position: relative;
    float: left;
    height: 208mm;
    width: 128mm;
}

.a4 .rightColumn {
    position: relative;
    float: right;
    width: 66mm;
    height: 208mm;
}

.a4.lastPage .leftColumn {
    top: 40mm;
    left: 7mm;
    width: 126mm;
}

.a4.lastPage .rightColumn {
    top: 40mm;
    margin-right: 7mm;
}

.a4.content .insertPage {
    width: 196mm;
    margin-left: 7mm;
    margin-right: 7mm;
    position: relative;
}

.content .productListItem:not(:last-child) {
    border: none;
}

.content .productListItem.not-last {
    border-bottom: 2px dotted #09f;
}

.content .productListItem .productContainer {
    width: 49%;
    display: inline-block;
}

.content .productListItem .productImageContainer {
    padding-right: 3%;
    width: 20%;
}

.content .productListItem .productContainer:nth-child(odd) {
    margin-right: 2%;
}

.content .productListItem .productDescriptionContainer {
    font-size: 8pt;
    width: 77%;
}

.firstPage .headline {
    top: 8mm;
}

.firstPage .dateAndName {
    font-size: 9pt;
    font-weight: normal;
    color: #000;
}

.firstPage .scaLogo {
    top: 229mm;
    z-index: 10;
}

.firstPage .imagesContainer {
    position: relative;
    top: 42mm;
    left: 7mm;
    padding-right: 13mm;
}

    .firstPage .imagesContainer .mainImage {
        position: relative;
        height: 208mm;
        width: 128mm;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .firstPage .imagesContainer .topRightImage {
        position: relative;
        height: 64mm;
        margin-bottom: 3mm;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .firstPage .imagesContainer .bottomRightImage {
        position: relative;
        height: 64mm;
        margin-bottom: 3mm;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .firstPage .imagesContainer .getInTouchContainer {
        position: relative;
        height: 74mm;
        border-bottom-right-radius: 50px;
        background: #35a735;
    }

.firstPage .getInTouch {
    top: 4mm;
    left: 3mm;
    font-size: 12pt;
}

.lastPage {
    position: relative;
    page-break-before: always;
    height: 248mm;
}

    .lastPage .backImageContainer {
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 116mm;
        margin-bottom: 5mm;
    }

    .lastPage .brochureDescriptionContainer {
        position: relative;
        height: 86mm;
    }

        .lastPage .brochureDescriptionContainer hr {
            position: absolute;
            top: 57mm;
            margin-left: 1mm;
        }

        .lastPage .brochureDescriptionContainer img {
            margin-left: -9mm;
        }

    .lastPage .getInTouchContainer {
        position: relative;
        height: 116mm;
        background: #35a735;
        margin-bottom: 4mm;
    }

    .lastPage .staticFiller {
        position: static;
        visibility: hidden;
    }

    .lastPage .getInTouchHeader {
        top: 5mm;
        left: 5mm;
        position: absolute;
        line-height: 33px;
    }

    .lastPage .getInTouchBody {
        font-size: 12pt;
        bottom: 5mm;
        left: 5mm;
        position: absolute;
    }

    .lastPage .torkDescriptionContainer {
        position: relative;
        height: 88mm;
        border-bottom-right-radius: 50px;
        background: #cfecfc;
    }

    .lastPage .torkDescription {
        top: 5mm;
        left: 5mm;
        font-size: 9pt;
        height: 75mm;
    }

    .lastPage .thisBrochureWasCreated {
        top: 4mm;
        left: 7mm;
    }

    .lastPage .logotype {
        top: 10mm;
        left: 7mm;
    }

    .lastPage .scaDescription {
        top: 67mm;
        left: 37mm;
    }

    .lastPage .scaLogo {
        top: 65mm;
        left: 10mm;
    }

    .lastPage .website {
        position: absolute;
        top: 67mm;
        left: 85mm;
        width: 45mm;
        text-align: center;
        font-size: 7pt;
        color:#00005A;
        font-weight:bold;
    }

.content .applicationAreaContainer {
    width: 95mm;
    display: inline-block;
    margin-bottom: 10mm;
    font-size: 8pt;
}

.content.wiping .applicationAreaContainer {
    margin-bottom: 5mm;
}

.content .applicationAreaContainer:nth-child(odd) {
    margin-right: 6mm;
}

.content .applicationAreaContainer div {
    display: inline-block;
}

.content .applicationAreaContainer .thumbnail {
    width: 25mm;
    height: 25mm;
    margin-right: 3mm;
}

.content .applicationAreaContainer .textContainer {
    width: 56mm;
    vertical-align: top;
}

    .content .applicationAreaContainer .textContainer h3 {
        margin: 0;
        margin-bottom: 1mm;
    }

    .content .applicationAreaContainer .textContainer p {
        margin: 0;
    }

    .content .applicationAreaContainer .textContainer ul {
        margin: 0;
        -webkit-padding-start: 4mm;
    }

.content .applicationAreaContainer .checkboxContainer {
    vertical-align: top;
}

    .content .applicationAreaContainer .checkboxContainer .checkbox {
        width: 10mm;
        height: 10mm;
        vertical-align: top;
        margin-left: 1mm;
    }

.content .applicationAreaContainer.wide {
    margin-right: 0;
    width: 190mm;
}

    .content .applicationAreaContainer.wide .thumbnail {
        width: 60mm;
        height: 40mm;
        margin-right: 7mm;
    }

    .content .applicationAreaContainer.wide .textContainer {
        width: 108mm;
    }

    .content .applicationAreaContainer.wide .checkboxContainer .checkbox {
        margin-left: 5mm;
    }

.content .applicationAreaContainer .checkboxContainer .checkbox.checked {
    background-image: url("../images/box_w_checkmark.png");
    background-size: contain;
}

.content .applicationAreaContainer .checkboxContainer .checkbox.unchecked {
    background-image: url("../images/box_wo_checkmark.png");
    background-size: contain;
}

.content .introductionHeader {
    margin-bottom: 3mm;
}

    .content .introductionHeader.sub {
        font-size: 15pt;
        font-weight: normal;
    }

.content .introductionBody {
    font-size: 12pt;
    font-weight: normal;
    margin-bottom: 5mm;
}

.content .taskBoxRow {
    height: 20mm;
}

.content .taskBox {
    height: 20mm;
    width: 20mm;
    line-height: 20mm;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
}

    .content .taskBox span {
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
        font-size: 10pt;
        font-weight: bold;
        color: #FFFFFF;
    }

        .content .taskBox span.black {
            color: #000000;
        }

.taskBox.blue {
    background-color: #128FDB;
}

.taskBox.red {
    background-color: #E5021C;
}

.taskBox.lightGray {
    background-color: #F2F2F2;
}

.taskBox.darkGray {
    background-color: #4F4F4F;
}

.taskBox.green {
    background-color: #12882E;
}

.content .taskDescription {
    font-size: 9pt;
    display: inline-block;
    margin-left: 4mm;
    width: 120mm;
    vertical-align: top;
}

    .content .taskDescription.topMargin {
        margin-top: 4mm;
    }

.content .taskBoxRow.sanitizing .taskDescription {
    width: 80mm;
    margin-right: 4mm;
}

    .content .taskBoxRow.sanitizing .taskDescription.topMargin {
        margin-top: 2mm;
    }

.center {
    text-align: center;
}

.content .taskBoxRow.sanitizing.center {
    margin-right: 0.5mm;
}

.content .dining3dContent {
    margin-top: 7mm;
    border-bottom: 2px dotted #09f;
    padding-bottom: 7mm;
    margin-bottom: 7mm;
}

.content .dining3dImage {
    display: inline-block;
    vertical-align: top;
}

.content .dining3dColumn {
    display: inline-block;
    vertical-align: top;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-left: 2mm;
}

.content .dining3dContent .dining3dCheckmark {
    width: 3mm;
    height: 3mm;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-right: 1mm;
    margin-top: 1mm;
}

.content .dining3dCheckmark.checked {
    background-image: url("../images/checked.png");
}

.content .dining3dCheckmark.unchecked {
    background-image: url("../images/unchecked.png");
}

.content .dining3dTitle {
    font-weight: bold;
    font-size: 14pt;
}

.content .dining3dSubtitle {
    font-size: 10pt;
    display: inline-block;
}

    .content .dining3dSubtitle.withCheckmark {
        width: -webkit-calc(100% - 6mm);
    }

    .content .dining3dSubtitle.bold {
        font-weight: bold;
    }

.content .dining3dRow {
    padding-top: 0.5mm;
    padding-bottom: 0.5mm;
}

.content .dining3dRowImage {
    width: 100%;
    margin-top: 2mm;
}

.content .dining3dProduct {
    width: 96mm;
    display: inline-block;
    margin-bottom: 7mm;
}

    .content .dining3dProduct:nth-child(odd) {
        margin-left: 4mm;
    }

.content .dining3dProductImage {
    width: 24mm;
    display: inline-block;
    vertical-align: top;
}

.content .dining3dProductInfo {
    width: 70mm;
    display: inline-block;
    margin-left: 2mm;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.content .dining3dProductBullets {
    margin-bottom: 0;
    font-size: 10pt;
    padding-left: 5mm;
}

.content .insertPageFooter {
    position: absolute;
    top: 193mm;
    left: 0;
    width: 100%;
}

    .content .insertPageFooter img {
        height: 30mm;
        position: absolute;
        margin-left: 9mm;
        margin-top: 9mm;
    }

    .content .insertPageFooter .textContainer {
        background-color: #F2F2F2;
        margin-top: 15mm;
        margin-bottom: 15mm;
        height: 20mm;
    }

        .content .insertPageFooter .textContainer h2 {
            color: #A02CA0;
            padding-top: 3mm;
            padding-bottom: 1mm;
            margin: 0;
            margin-left: 35mm;
            font-size: 11pt;
            font-weight: normal;
            width: 100mm;
        }

        .content .insertPageFooter .textContainer p {
            color: #000000;
            margin: 0;
            padding-bottom: 3mm;
            margin-left: 35mm;
            font-size: 9pt;
            width: 100mm;
        }

.content.dining .insertPageFooter {
    /*top: 179mm;*/
}

    .content.dining .insertPageFooter .textContainer h2 {
        margin-left: 50mm;
    }

    .content.dining .insertPageFooter .textContainer p {
        margin-left: 50mm;
    }

.content .productsTableContainer {
    page-break-before: always;
}

    .content .productsTableContainer .tableContainer {
        margin-top: 7mm;
    }

    .content .productsTableContainer table {
        font-size: 8pt;
        height: auto;
        margin-top: 4mm;
        margin-bottom: 0;
        overflow-wrap: break-word;
    }

    .content .productsTableContainer td {
        padding-right: 5px;
    }

        .content .productsTableContainer td.article {
            width: inherit;
        }

.content .productContainer .productCertifications {
    padding-top: 5px;
}

.content .productContainer .productCertifications img {
    margin-right: 2px;
    height: 45px;
    width: 45px;
}

.content .productContainer .productUSP ul {
    margin-bottom: 3px;
    font-size: xx-small;
}

.no-break {
    page-break-inside: avoid;
}

body {
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.paddingleft18 {
    padding-left: 16px;
}
