﻿@model TorkExtranet.Models.ViewModels.OrderDetailsModalBody
@{ var order = Model.Order; }
<table class="table smaller">
    <tbody>
        <tr>
            <th>@TranslationsLib.Translate("Orders.SCAOrderNumber"):</th>
            <td>@order.SCA_Order_Number</td>
        </tr>
        <tr>
            <th>@TranslationsLib.Translate("Orders.OrderSoldToNumber"):</th>
            <td>@order.Order_SoldTo_Number</td>
        </tr>
        <tr>
            <th class="u-verticalAlignTop">@TranslationsLib.Translate("Orders.SoldToLabel"):</th>
            <td class="u-verticalAlignTop">
                @foreach (var addressLine in order.SoldToAddress)
                {
                    @Html.Raw(addressLine + "<br />");
                }
            </td>
        </tr>
        <tr>
            <th class="u-verticalAlignTop">@TranslationsLib.Translate("Orders.ShipToLabel"):</th>
            <td class="u-verticalAlignTop">
                @foreach (var addressLine in order.ShipToAddress)
                {
                    @Html.Raw(addressLine + "<br />");
                }
            </td>
        </tr>
        <tr>
            <th>@TranslationsLib.Translate("Orders.CustomerPurchaseOrderNumber"):</th>
            <td>@order.PO_Number</td>
        </tr>
        <tr>
            <th>@TranslationsLib.Translate("Orders.PODate"):</th>
            <td>@order.Order_Date.ToShortDateString()</td>
        </tr>
        <tr>
            <th>@TranslationsLib.Translate("Orders.NetValue"):</th>
            <td>@order.Order_Amount_String</td>
        </tr>
        <tr>
            <th>@TranslationsLib.Translate("Orders.RequiredDate"):</th>
            <td>@order.Required_Date.ToShortDateString()</td>
        </tr>
    </tbody>
</table>
<hr class="invisible" />
<h3>@TranslationsLib.Translate("Orders.ItemDetail")</h3>

<div class="u-fadeOutLeft u-fadeOutRight u-marginHorizontalMNeg">
    <div class="u-overflowXAuto">
        <table class="table smaller u-inlineTable u-marginHorizontalM">
            <thead>
                <tr>
                    <th style="width: 52px;">@TranslationsLib.Translate("Orders.ItemNumber")</th>
                    <th style="width: 90px;">@TranslationsLib.Translate("Orders.SCAProductNumber")</th>
                    @if (Model.DisplayDistributorArticleNumber)
                    {
                        <th style="width: 100px;">@TranslationsLib.Translate("Orders.DistributorArticleNumber")</th>
                    }
                    <th>@TranslationsLib.Translate("Orders.Description")</th>
                    <th>@TranslationsLib.Translate("Orders.ShippingDate")</th>
                    <th class="text-right" style="width: 60px;">@TranslationsLib.Translate("Orders.Quantity")</th>
                    <th class="text-right" style="width: 40px;">@TranslationsLib.Translate("Orders.UOM")</th>
                    <th class="text-right">@TranslationsLib.Translate("Orders.NetUnitPrice")</th>
                    <th class="text-right">@TranslationsLib.Translate("Orders.ExtendedPrice")</th>
                </tr>
            </thead>
            <tbody class="u-textNoWrap">
                @foreach (var item in order.OrderItems)
            {
                    <tr>
                        <td>@item.ItemNumber</td>
                        <td>@item.SCAProductNumber</td>
                        @if (Model.DisplayDistributorArticleNumber)
                        {
                            <td>@item.DistributorArticleNumber</td>
                        }
                        <td>@item.Name</td>
                        <td>@item.ShippingDateString</td>
                        <td class="text-right">@item.Quantity</td>
                        <td class="text-right">@item.UOM</td>
                        <td class="text-right">@item.NetUnitPrice</td>
                        <td class="text-right">@item.NetTotalPrice</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>