﻿@using TorkExtranet.Models;

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.ORDERS_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "orders-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.OrdersWhatIsThis");
}

@model TorkExtranet.Models.ViewModels.OrdersViewModel

<div class="content-container u-colorGray control-module">
    <form id="orders-form" class="exclude-from-confirm" novalidate autocomplete="off">
        <div class="row">
            <div class="col-sm-6 form-group">
                        <label for="sold-to">@TranslationsLib.Translate("Orders.SoldTo"): <span class="mandatory">*</span></label>
                        <select name="soldTo" class="form-control" id="sold-to" data-placeholder="@TranslationsLib.Translate("Orders.SoldTo")" required>
                            <option></option>
                            @foreach (Tuple<int, string> soldTo in Model.SoldTos)
                            {
                                string selected_val = "";
                                if (Model.DefaultAccount != null && soldTo.Item1 == Model.DefaultAccount.id)
                                {
                                    selected_val = "selected";
                                }
                                <option value="@soldTo.Item1" @selected_val>@soldTo.Item2</option>
                            }
                        </select>
                    </div>
                    @if (Model.CanAccessAdvanced)
                    {
            <div class="col-sm-3 form-group">

                                <label for="ship-to-number">@TranslationsLib.Translate("Orders.ShipToNumber"):</label>
                                <input type="text" name="ShipToNumber" value="" class="form-control" id="ship-to-number">
                            </div>
            <div class="col-sm-3 form-group">
                                <label for="ship-to-name">@TranslationsLib.Translate("Orders.ShipToName"):</label>
                                <input type="text" name="ShipToName" value="" class="form-control" id="ship-to-name">
                            </div>
            }
                        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="sca-order-number">@TranslationsLib.Translate("Orders.SCAOrderNumber"):</label>
                <input type="text" name="SCAOrderNumber" value="" class="form-control" id="sca-order-number">
            </div>
            <div class="col-sm-3 form-group">
                        <label for="delivery-date-from">@TranslationsLib.Translate("Orders.DeliveryDateFrom"): <span class="mandatory">*</span></label>
                        <div class="datepicker-container">
                            <input class="datepicker form-control" type="text" name="DeliveryDateFrom" value="@Model.MinDateString" id="delivery-date-from" required>
                            <span class="datepicker-icon icon-calendar"></span>
                        </div>
                    </div>
            <div class="col-sm-3 form-group">
                        <label for="delivery-date-to">@TranslationsLib.Translate("Orders.DeliveryDateTo"): <span class="mandatory">*</span></label>
                        <div class="datepicker-container">
                            <input class="datepicker form-control" type="text" name="DeliveryDateTo" value="@Model.TodayDateString" id="delivery-date-to" required>
                            <span class="datepicker-icon icon-calendar"></span>
                        </div>
                    </div>
                </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="PO-number">@TranslationsLib.Translate("Orders.PONumber"):</label>
                <input type="text" name="PONumber" value="" class="form-control" id="po-number">
            </div>
            <div class="col-sm-3 form-group">
                        <label for="po-date-from">@TranslationsLib.Translate("Orders.PODateFrom"):</label>
                        <div class="datepicker-container">
                            <input class="datepicker form-control" type="text" name="PODateFrom" value="" id="po-date-from">
                            <span class="datepicker-icon icon-calendar"></span>
                        </div>
                    </div>
            <div class="col-sm-3 form-group">
                        <label for="po-date-to">@TranslationsLib.Translate("Orders.PODateTo"):</label>
                        <div class="datepicker-container">
                            <input class="datepicker form-control" type="text" name="PODateTo" value="" id="po-date-to">
                            <span class="datepicker-icon icon-calendar"></span>
                        </div>
                    </div>
                </div>

        <hr class="gray hidden-xs" />
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="alert formError alert-danger">
                    <span class="align-icon-left icon-exclamation"></span>
                    @TranslationsLib.Translate("Shared.PleaseCheckInput")
                </div>
                <div class="alert backEndErrors mt-0-75em alert-danger"></div>
            </div>
        </div>

        <button id="orders-search-btn" class="btn btn-primary btn-block-xs u-block u-marginLeftAuto" type="submit">@TranslationsLib.Translate("Shared.Search")</button>

    </form>
</div>

    <div>
        <div class="search-result spinLikeTable">
        </div>

    <div class="tork-pagination hidden-xs" id="search-orders-pagination" data-items-per-page="@Search.DefaultPageSize" data-previous-text="@TranslationsLib.Translate("Shared.Previous")" data-next-text="@TranslationsLib.Translate("Shared.Next")">
        </div>
    <div data-slim-pagination class="u-cf" style="display: none;">
        <div class="row visible-xs">
            <div class="col-xs-5 col-xs-offset-1">
                <button class="btn btn-block btn-primary" data-navigate="prevPage">
                    @TranslationsLib.Translate("Shared.Previous")
                </button>
    </div>
            <div class="col-xs-5">
                <button class="btn btn-block btn-primary" data-navigate="nextPage">
                    @TranslationsLib.Translate("Shared.Next")
                </button>
            </div>
        </div>
    </div>
</div>

@section Modals {
    <div class="modal wide fade" id="order-details" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="orderDetailsContent">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                    <h4 class="modal-title" id="newLabel">@TranslationsLib.Translate("Orders.OrderDetails")</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-12 text-left">
                            <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                            <input type="button" id="PrintOrderDetails" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer hidden-xs" value="@TranslationsLib.Translate("Shared.Print")" />
                            <input type="button" id="DownloadOrderDetails" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer hide" value="@TranslationsLib.Translate("Shared.Download")" />
                            <input type="button" id="order-download-btn" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.Download")" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="getFileError-msg" class="alert alert-danger mt-0-75em">
                            @TranslationsLib.Translate("Shared.GenerateFileError")
                        </div>
                        <div id="getFileWait-msg" class="alert alert-success mt-0-75em">
                            @TranslationsLib.Translate("Shared.GenerateFileWait")
                        </div>
                        <div id="getFileWaitMore-msg" class="alert alert-success mt-0-75em">
                            @TranslationsLib.Translate("Shared.GenerateFileWaitMore")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Content/scripts/controllers/orders-controller.js?v=@AppVersion.Current"></script>
<script src="~/Content/scripts/plugins/print.js?v=@AppVersion.Current"></script>
}
