﻿@using TorkExtranet;
@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.ContentPageViewModel

@{
    var contentPage = Model.contentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = contentPage.PageTitle;
    ViewBag.SectionId = "content-page-module";
}

@{
    int videoCounter = 0;
}

<div class="row">
    @if (contentPage.TopImageURL != null)
    {
        <div class="col-xs-12 TopImage-wrapper">
            <img src="@TridionLib.GetResolvedURL(contentPage.TopImageURL)" class="TopImage" title="@contentPage.PageTitle" />
        </div>
    }

    <div class="col-xs-9">
        @if (Model.contentPage.TopVideo != null && !String.IsNullOrWhiteSpace(Model.contentPage.TopVideo.VideoURL))
        {
            Model.contentPage.TopVideo.DivID = "Video-" + (videoCounter++).ToString();
            <div class="mb-30px">
                <div id="@Model.contentPage.TopVideo.DivID"></div>
            </div>
        }

        @Html.Raw(TridionLib.HtmlWithResolvedImageURLs(Model.contentPage.Body))

        @if (Model.contentPage.Videos != null)
        {
            <div class="row">
                @foreach (var video in Model.contentPage.Videos)
                {
                    if (!String.IsNullOrWhiteSpace(video.VideoURL))
                    {
                        video.DivID = "Video-" + (videoCounter++).ToString();
                        <div class="col-xs-4 mb-30px">
                            <div id="@video.DivID"></div>
                            </div>
                    }
                }
            </div>
        }
    </div>
    <div class="col-xs-3">
        @foreach (var coloredBox in contentPage.ColoredBoxes)
        {
            <div class="promo-item themed @coloredBox.Theme">
                <p>@coloredBox.Text</p>
                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>jwplayer.key = "@Model.JWPlayerLicense";</script>

    @if (Model.contentPage.TopVideo != null && !String.IsNullOrWhiteSpace(Model.contentPage.TopVideo.DivID))
    {
        <script type="text/javascript">
            var playerInstance = jwplayer("@Model.contentPage.TopVideo.DivID");
            playerInstance.setup({
                'file': "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.contentPage.TopVideo.VideoURL))",
                'image': "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.contentPage.TopVideo.ImageURL))",
                'title': "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.contentPage.TopVideo.Title))",
                'description':"@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.contentPage.TopVideo.Description))",
                'width': '100%',
                'aspectratio': '16:9',
                'autostart': false,
                'androidhls': true,
                'hlshtml': true
            });
        </script>
    }

    @if (Model.contentPage.Videos != null)
    {
        foreach (var video in Model.contentPage.Videos)
        {
            if (!String.IsNullOrWhiteSpace(video.DivID))
            {
                <script type="text/javascript">
                    var playerInstance = jwplayer("@video.DivID");
                    playerInstance.setup({
                        'file': "@Html.Raw(HttpUtility.JavaScriptStringEncode(video.VideoURL))",
                        'image': "@Html.Raw(HttpUtility.JavaScriptStringEncode(video.ImageURL))",
                        'title': "@Html.Raw(HttpUtility.JavaScriptStringEncode(video.Title))",
                        'description': "@Html.Raw(HttpUtility.JavaScriptStringEncode(video.Description))",
                        'width': '100%',
                        'aspectratio': '16:9',
                        'autostart': false,
                        'androidhls': true,
                        'hlshtml': true
                    });
                </script>
            }
        }
    }
}
