﻿@using TorkExtranet.Models;
@using TorkExtranet.Models.Validation;
@using TorkExtranet;

@model TorkExtranet.Models.ViewModels.ImportInternalUsersResultView

@if (Model.Status != ImportValidationStatus.Error)
{
    if (Model.ImportSuccessful)
    {
        <br />
        <h3>@TranslationsLib.Translate("Administration.UsersSuccessfullyImported")</h3>
    }
    else
    {
        <input type="button" id="import-user-button" class="import-users-btn-id btn btn-success" data-import-id="@Model.Id" value="Import users" style="display: block;">
        <br />
        <h3>@TranslationsLib.Translate("Administration.UsersReadyForImport")</h3>
    }
}
else
{
    <br />
    <h3>@TranslationsLib.Translate("Administration.FileErrors")</h3>
}

@if (Model.ValidationResults.Count > 0) {
<table class="table">
    <thead>
        <tr>
            <th>@TranslationsLib.Translate("Administration.ADUsername")</th>
            <th>@TranslationsLib.Translate("Shared.FullName")</th>
            <th>@TranslationsLib.Translate("Administration.SAPIdentifier")</th>
            @if (Model.Status != ImportValidationStatus.OK)
            {
                <th>Import messages</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (RowValidationResult row in Model.ValidationResults)
        {
            <tr class="@Model.StatusClass(row.Status())">
                @foreach (var columnDTOName in Model.ColumnDTONames)
                {
                    CellValidationResult cell = null;

                    if (row.CellValidationResults.TryGetValue(columnDTOName, out cell))
                    {
                        <td class="@Model.StatusClass(@cell.Status)">
                            @if (@cell.Status != ImportValidationStatus.OK)
                            {
                                <span class='icon-exclamation'></span>
                            }
                            @cell.ValueString()
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }

                @if (Model.Status != ImportValidationStatus.OK)
                {
                    <td>
                        @foreach (KeyValuePair<string, CellValidationResult> entry in row.CellValidationResults)
                        {
                            var cell = entry.Value;
                            foreach (string message in cell.Messages)
                            {
                                <span class="@Model.MessageClass(cell.Status)">- @message [@cell.ColumnName]</span>
                            }
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
}
else
{
    <div class="alert formError mt-0-75em alert-danger" style="display: block;">
        <span class="align-icon-left icon-exclamation"></span>
        @TranslationsLib.Translate("Administration.EmptyFile")
    </div>
}