﻿@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.ImportTranslationsModalBody
<div id="import-translations-module">
    <form id="upload-form" class="exclude-from-confirm">
        <div class="form-group col-xs-6">
            <label for="account">@TranslationsLib.Translate("Shared.Account") <span class="mandatory">*</span></label>
            @Html.DropDownList("account", Model.Accounts, TranslationsLib.Translate("ProductTranslator.SelectAccount"), new { @id = "accountsDropdown", @required = "required", @class = "no-reset",  @style = "width: 100%" }, Model.Accounts.Count() < 2)
        </div>
        <div class="col-xs-12">
            <label>@TranslationsLib.Translate("ProductTranslator.ChooseFile")</label>
        </div>
        <div class="col-xs-4">
            <div class="Upload-button btn btn-primary disabled col-xs-12">
                <span>@TranslationsLib.Translate("ProductTranslator.ChooseFile")</span>
                <input type="file" name="file" id="choose-file-btn-id" class="Upload-input" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            </div>
        </div>
        <div class="col-xs-8 selectedFileName">
            <span class="h5" id="selectedFileNamePlaceHolder"><span class="fileName" data-placeholder="@TranslationsLib.Translate("ProductTranslator.NoFileSelected")">@TranslationsLib.Translate("ProductTranslator.NoFileSelected")</span></span>
            <br>
            <em class="u-fontSize90Percent">
                <a href="~/Content/downloads/TorkExtranet-Product-Translations-Import-Template.xlsx" download="TorkConnect-Product-Translations-Import-Template.xlsx">@TranslationsLib.Translate("ProductTranslator.DownloadImportProductTranslationsTemplate")</a>
            </em>
        </div>
        <div class="col-xs-12 import-file-warning-text mt-0-75em form-group">
            <i>@TranslationsLib.Translate("ProductTranslator.TranslationsImportHint")</i>
        </div>
        <div class="col-xs-12 import-file-warning-text mt-0-75em form-group">
            <input name="chk-Delete-Product-Translation" type="checkbox" id="chk-Delete-Product-Translation" class="form-control">
            <label for="chk-Delete-Product-Translation">
                <i>@TranslationsLib.Translate("ProductTranslator.ProductTranslationDelete")</i>
            </label>
            
        </div>
    </form>
    <div class="col-xs-12">
        <div id="results"></div>
    </div>     
</div>