﻿@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.ImportInternalUsersModalBody
<div id="import-users-module" class="col-xs-12">
    <form id="upload-form" class="exclude-from-confirm">
        <div class="row">
            <div class="col-xs-6 col-md-4 ">
                <label for="country">@TranslationsLib.Translate("Shared.Country") <span class="mandatory">*</span></label>
                @Html.DropDownList("country", Model.Countries, TranslationsLib.Translate("Administration.SelectCountry"), new { @id = "countriesDropdown", @required = "required", @style = "width: 100%" })
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-md-4 ">
                    <label for="role">@TranslationsLib.Translate("Administration.Role") <span class="mandatory">*</span></label>
                    @Html.DropDownList("role", Model.Roles, TranslationsLib.Translate("Administration.SelectRole"), new { @id = "rolesDropdown", @required = "required", @style = "width: 100%" })
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12">
                <label>@TranslationsLib.Translate("Administration.ChooseFile")</label>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="Upload-button btn btn-primary disabled col-xs-12">
                    <span>@TranslationsLib.Translate("Administration.ChooseFile")</span>
                    <input type="file" name="file" id="choose-file-btn-id" class="Upload-input" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                </div>
            </div>
            <div class="col-xs-6 col-sm-9 selectedFileName">
                <span class="h5" id="selectedFileNamePlaceHolder"><span class="fileName">@TranslationsLib.Translate("Administration.NoFileSelected")</span></span>
                <br>
                <em class="u-fontSize90Percent">
                    <a href="~/Content/downloads/TorkExtranet-Import-Internal-Users-Template.xlsx" download="TorkConnect-Users-Import-Template.xlsx">@TranslationsLib.Translate("Administration.DownloadImportUsersTemplate")</a>
                </em>
            </div>
        </div>
    </form>
    <div class="row form-group">
        <div class="col-xs-12">
            <div id="results">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert formError mt-0-75em alert-danger">
                <span class="align-icon-left icon-exclamation"></span>
                @TranslationsLib.Translate("Shared.UploadFailed")
            </div>
        </div>
    </div>
</div>