﻿@using TorkExtranet.Models;
@using TorkExtranet.Models.Validation;
@using TorkExtranet;

@model TorkExtranet.Models.ViewModels.ImportTranslationsResultView

@if (Model.ImportSuccessful)
{
    <br />
    <h3>@TranslationsLib.Translate("ProductTranslator.TranslationsImported")</h3>
}
else
{
    <br />
    <h3>@TranslationsLib.Translate("ProductTranslator.FileErrors")</h3>
}

@if (Model.ValidationResults.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>@TranslationsLib.Translate("ProductTranslator.DistributorArticleNumber")</th>
                <th>@TranslationsLib.Translate("ProductTranslator.TorkArticleNumber")</th>
                <th>@string.Format(TranslationsLib.Translate("ProductTranslator.PriceHeader"), UtilsLib.GetCurrentCurrencySymbol())</th>
                @if (Model.Status != ImportValidationStatus.OK)
                {
                    <th>Import messages</th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (RowValidationResult row in Model.ValidationResults)
            {
                <tr class="@Model.StatusClass(row.Status())">
                    @foreach (var columnDTOName in Model.ColumnDTONames)
                    {
                        CellValidationResult cell = null;

                        if (row.CellValidationResults.TryGetValue(columnDTOName, out cell))
                        {
                            <td class="@Model.StatusClass(@cell.Status)">
                                @if (@cell.Status != ImportValidationStatus.OK)
                                {
                                    <span class='icon-exclamation'></span>
                                }
                                @if (columnDTOName == "ProductPrice")
                                {
                                    @UtilsLib.GetPriceByCulture(@cell.ValueString());
                                }
                                else
                                {
                                    @cell.ValueString();
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }

                    @if (Model.Status != ImportValidationStatus.OK)
                    {
                        <td>
                            @foreach (KeyValuePair<string, CellValidationResult> entry in row.CellValidationResults)
                            {
                                var cell = entry.Value;
                                foreach (string message in cell.Messages)
                                {
                                    <span class="@Model.MessageClass(cell.Status)">- @message [@cell.ColumnName]</span>
                                }
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert formError mt-0-75em alert-danger" style="display: block;">
        <span class="align-icon-left icon-exclamation"></span>
        @TranslationsLib.Translate("ProductTranslator.EmptyFile")
    </div>
}