﻿@using TorkExtranet.Models;

<div id="import-accounts-module" class="col-xs-12">
    <form id="upload-form" class="exclude-from-confirm">
        <div class="form-group row">
            <div class="col-xs-12">
                <label>@TranslationsLib.Translate("Administration.ChooseFile")</label>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="Upload-button btn btn-primary col-xs-12">
                    <span>@TranslationsLib.Translate("Administration.ChooseFile")</span>
                    <input type="file" name="file" id="choose-file-btn-id" class="Upload-input" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                </div>
            </div>
            <div class="col-xs-6 col-sm-9">
                <span class="h5" id="selectedFileNamePlaceHolder"><span class="fileName">@TranslationsLib.Translate("Administration.NoFileSelected")</span></span>
                <br>
                <em class="u-fontSize90Percent">
                    <a href="~/Content/downloads/TorkExtranet-Accounts-Import-Template.xlsx" download="TorkConnect-Accounts-Import-Template.xlsx">@TranslationsLib.Translate("Administration.DownloadImporAccountsTemplate")</a>
                </em>
            </div>
        </div>
    </form>
    <div class="row form-group">
        <div class="col-xs-12">
            <div id="results">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert formError mt-0-75em alert-danger">
                <span class="align-icon-left icon-exclamation"></span>
                @TranslationsLib.Translate("Shared.UploadFailed")
            </div>
        </div>
    </div>
</div>
