﻿@using TorkExtranet.Models;
@using System.Linq;
@model TorkExtranet.Models.ViewModels.AddAccountModalBodyPartialViewModel
<form id="add-account" class="exclude-from-confirm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 form-group">
                <label>@TranslationsLib.Translate("Administration.AccountName"): <span class="mandatory">*</span></label>
                <input required class="form-control" type="text" name="name">
            </div>
            <div class="col-xs-6 form-group">
                <label>@TranslationsLib.Translate("Administration.CRMGuid"): <span class="mandatory">*</span></label>
                <input required class="form-control" type="text" name="crmguid">
            </div>
            <div class="col-xs-6 form-group">
                <label>@TranslationsLib.Translate("Administration.CRMIdentifier"): <span class="mandatory">*</span></label>
                <input required class="form-control" type="text" name="crmidentifier">
            </div>
            <div class="col-xs-6 form-group">
                <label>@TranslationsLib.Translate("Administration.SAPIdentifier"):</label>
                <input class="form-control" type="text" name="sapidentifier">
            </div>
            <div class="col-xs-6 form-group">
                <label>@TranslationsLib.Translate("Administration.AccountType"):</label>
                <input class="form-control" type="text" name="accounttype">
            </div>
            <div class="col-xs-6 form-group">
                <label>@TranslationsLib.Translate("Administration.AccountSubType"):</label>
                <input class="form-control" type="text" name="accountsubtype">
            </div>
            <div class="col-xs-6 form-group">
                <label>@TranslationsLib.Translate("Administration.ParentAccount"): </label>
                <select name="parentaccount" class="select-account form-control" style="width: 100%" data-placeholder="@TranslationsLib.Translate("Administration.SelectParentAccount")">
                    <option></option>
                    @foreach (AccountNode account in Model.AccountTree)
                    {
                        <option value="@account.id" data-depth="@account.depth">@account.name</option>
                    }
                </select>
            </div>
            <div class="col-xs-6 form-group">
                <label>@TranslationsLib.Translate("Shared.Country"): <span class="mandatory">*</span></label>
                <select name="selectedcountry" required class="select-country form-control" style="width: 100%" data-placeholder="@TranslationsLib.Translate("Administration.SelectCountry")">
                    <option></option>
                    @foreach (Country country in @Model.Countries)
                    {
                        <option value="@country.id">@country.name</option>
                    }
                </select>
            </div>
            <div class="col-xs-6 form-group currency-symbol" style="display:none">
                <label>@TranslationsLib.Translate("StockPrices.Currency"): </label>
                <select name="selectedcurrency" required class="select-currency form-control" style="width: 100%" data-placeholder="@TranslationsLib.Translate("Administration.SelectCurrency")">
                    <option value="0">@TranslationsLib.Translate("Administration.SelectCurrency")</option>
                </select>
            </div>
        </div>
    </div>
</form>