﻿@using TorkExtranet.Models;
@using System.Linq;
@model TorkExtranet.Models.ViewModels.EditAccountModalBodyPartialViewModel
<form id="manage-account" enctype='multipart/form-data'>
    <span data-warning="#manage-account" style="display: none">@TranslationsLib.Translate("Shared.UnsavedChangesWarning")</span>
    <input type="hidden" name="id" value="@Model.Account.id" />
    <div class="container-fluid tab-content" id="editAccount">
        <div class="row form-group">
            <div class="col-xs-6">
                <label>@TranslationsLib.Translate("Shared.AccountName"): <span class="mandatory">*</span></label>
                <input class="form-control" value="@Model.Account.name" type="text" name="name" required>
            </div>
            <div class="col-xs-6">
                <label data="">@TranslationsLib.Translate("Shared.Country"): <span class="mandatory">*</span></label>
                <select name="selectedcountry" style="width: 100%" required class="form-control select-country" data-placeholder="@TranslationsLib.Translate("Administration.SelectCountry")">
                    <option></option>
                    @foreach (Country country in Model.Countries)
                    {
                        string selected_country = country.id == Model.Account.Country.id ? "selected" : "";
                        <option value="@country.id" @selected_country>@country.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-6">
                <label>@TranslationsLib.Translate("Administration.CRMGuid"): <span class="mandatory">*</span></label>
                <input required name="crmguid" class="form-control" value="@Model.Account.crm_guid" type="text">
            </div>
            <div class="col-xs-6">
                <label>@TranslationsLib.Translate("Administration.CRMIdentifier"): <span class="mandatory">*</span></label>
                <input required name="crmidentifier" class="form-control" value="@Model.Account.crm_identifier" type="text">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-6">
                <label>@TranslationsLib.Translate("Administration.SAPIdentifier"):</label>
                <input name="sapidentifier" class="form-control" value="@Model.Account.sap_identifier" type="text">
            </div>
            <div class="col-xs-6">
                <label>@TranslationsLib.Translate("Administration.ParentAccount"):</label>
                @{
                    List<Account_Hierarchy> parents = Model.Account.Parents.Where(p => p.depth == 1).ToList();
                    int? parent_account_id = parents.Count > 0 ? parents.FirstOrDefault().Parent.id : (int?)null;
                }
                <select name="parentaccount" class="select-account form-control" style="width: 100%" data-placeholder="@TranslationsLib.Translate("Administration.SelectParentAccount")">
                    <option></option>
                    @foreach (AccountNode account in Model.AccountTree)
                    {
                        string selected_string = account.id == parent_account_id ? "selected" : "";
                        <option value="@account.id" data-depth="@account.depth" @selected_string>@account.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-6">
                <label>@TranslationsLib.Translate("Administration.AccountType"):</label>
                <input name="accounttype" class="form-control" value="@Model.Account.type" type="text">
            </div>
            <div class="col-xs-6">
                <label>@TranslationsLib.Translate("Administration.AccountSubType"):</label>
                <input name="accountsubtype" class="form-control" value="@Model.Account.subtype" type="text">
            </div>
        </div>
        <div class="row form-group currency-symbol" style="@(Model.Country_Currencies.Any()?"":"display:none")">

            <div class="col-xs-6">

                <label>@TranslationsLib.Translate("StockPrices.Currency"):</label>
                <select name="selectedcurrency" class="select-currency form-control" style="width: 100%" data-placeholder="@TranslationsLib.Translate("Administration.SelectCurrency")">
                    <option value="0">@TranslationsLib.Translate("Administration.SelectCurrency")</option>
                    @if (Model.Country_Currencies != null && Model.Country_Currencies.Any())
                    {
                        foreach (Currency_Master currency in Model.Country_Currencies)
                        {
                            string selected_currency = currency.id == Model.Account.currency_master_id ? "selected" : "";
                            <option value="@currency.id" @selected_currency>@currency.currency_symbol</option>
                        }
                    }
                </select>

            </div>
            <div class="col-xs-6">

            </div>

        </div>
        <div class="row form-group">
            <div class="col-xs-12">
                <label>@TranslationsLib.Translate("Administration.Tools"): <span class="mandatory">*</span></label>
            </div>
            <div class="col-xs-12 col-md-12">
                @for (int i = 0; i < Model.Tools.Count; i++)
                {
                    Tool tool = Model.Tools[i];

                    bool account_has_tool = Model.Account_tools_dictionary.ContainsKey(tool.id);
                    string tool_checked = account_has_tool ? "checked" : "";

                    string begin_row = i % 2 == 0 ? "<div class='row'>" : "";
                    string end_row = i % 2 == 1 || i == Model.Tools.Count - 1 ? "</div>" : "";

                    @(Html.Raw(begin_row));
                    <div class="col-xs-6 acountTool">
                        <input name="selectedtools" value="@(tool.id)" type="checkbox" class="parent-tool" id="cb2-@(tool.id)" @tool_checked>
                        <label for="cb2-@(tool.id)">@ToolLib.GetTranslatedNameForTool(tool)</label>

                        @if (tool.Child_Tools.Count > 0)
                        {
                            <div class="subtool-container left-margin-30">
                                @foreach (Tool subtool in tool.Child_Tools.Where(d => d.ShowWithParent))
                                {
                                    bool role_has_subtool = Model.Account_tools_dictionary.ContainsKey(subtool.id);
                                    string subtool_checked = role_has_subtool ? "checked" : "";

                                    <input name="selectedtools" value="@(subtool.id)" type="checkbox" class="sub-tool" id="tool-account-@(tool.id)-@(subtool.id)" @subtool_checked>
                                    <label for="tool-account-@(tool.id)-@(subtool.id)">@ToolLib.GetTranslatedNameForTool(subtool)</label>
                                }
                            </div>
                        }

                    </div>

                    @(Html.Raw(end_row));
                }
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-6">
                <label for="logotype" class="control-label">
                    @TranslationsLib.Translate("Shared.Logotype"):
                </label>
                @if (Model.Logo != null)
                {
                    <div style="display: none" id="defaultLogo" data-name="@Model.Logo.Name" data-logo-id="logo-file" data-file="@Convert.ToBase64String(Model.Logo.Data)"></div>
                }
                <div class="row form-group prev-wrapper_logo-file col-xs-12" style="display: none">
                    <div class="progress" style="display: none">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"></div>
                    </div>
                    <div id="preview-image" class="row" style="display: none">
                        <div class="col-xs-10">
                            <div id="prev_logo-file" class="form-control ImageUploadPreview"></div>
                        </div>
                        <div class="col-xs-2 pl-0">
                            <a class="icon icon-trashcan pull-left u-cursorPointer remove-logo-btn"></a>
                        </div>
                        <div class="col-xs-12">
                            <span class="h5" id="selectedFileNamePlaceHolder"><span class="fileName" data-placeholder="@TranslationsLib.Translate("Shared.NoFileSelected")">@TranslationsLib.Translate("Shared.NoFileSelected")</span></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 Upload-button btn btn-primary">
                    <span>@TranslationsLib.Translate("Administration.ChooseFile")</span>
                    <input name="logo" id="logo-file" class="Upload-input" type="file" accept="image/*" />
                </div>
                <div class="small">@TranslationsLib.Translate("Administration.SupportedImageFormats")</div>
            </div>
        </div>
    </div>
    <div id="editUsers" class="container-fluid tab-content">
        @if (Model.Users.Count > 0)
        {
            <table class="table panel-table Sort" id="users_table">
                <thead class="u-cursorPointer">
                    <tr class="table-head">
                        <th><span class="Sort-label">@TranslationsLib.Translate("Shared.FirstName")</span></th>
                        <th><span class="Sort-label">@TranslationsLib.Translate("Shared.LastName")</span></th>
                        <th><span class="Sort-label">@TranslationsLib.Translate("Administration.Role")</span></th>
                        <th><span class="Sort-label">@TranslationsLib.Translate("Shared.Country")</span></th>
                    </tr>
                </thead>
                <tbody class="u-cursorPointer">
                    @foreach (var user in Model.Users)
                    {
                        var roleName = user.Role != null ? user.Role.name : string.Empty;
                        var countryName = user.Country != null ? user.Country.name : string.Empty;

                        <tr class="account item">
                            <td>@user.first_name</td>
                            <td>@user.last_name</td>
                            <td>@roleName</td>
                            <td>@countryName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>@TranslationsLib.Translate("Shared.NoResults")</p>
        }
        <div class="tork-pagination" id="account-contracts-list-pagination" data-items-per-page="@Search.DefaultPageSize" data-previous-text="@TranslationsLib.Translate("Shared.Previous")" data-next-text="@TranslationsLib.Translate("Shared.Next")">
        </div>
    </div>
</form>