﻿@using TorkExtranet.Models
@model TorkExtranet.Models.ViewModels.AccountHierarchyModalBodyPartialViewModel

<table class="tree table panel-table">

    @if (Model.AccountTree.Count > 0)
    {
        foreach (AccountNode account in Model.AccountTree)
        {
            string tr_class = "u-cursorPointer treegrid-" + account.id;

            if (account.parent_id.HasValue)
            {
                tr_class += " treegrid-parent-" + account.parent_id.Value;
            }

            if (account.id == Model.AccountId)
            {
                tr_class += " current-node";
            }

            <tr class="@tr_class">
                <td>@account.name</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>@TranslationsLib.Translate("Administration.EmptyAccountHierarchyMessage") </td>
        </tr>
    }

</table>