﻿@using TorkExtranet;
@using TorkExtranet.Models;
@using System.Linq;

@model TorkExtranet.Models.ViewModels.AccountsTablePartialViewModel

@if (Model.Accounts.Count > 0)
{
    <table class="table panel-table" id="accounts-table">
        <thead class="u-cursorPointer">
            <tr class="table-head">
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    <th class="@c.ClassName Sort-header">
                        <span class="Sort-label">@c.DisplayName <span class="Sort-icon @c.IconClassName"></span></span>
                    </th>
                }
                <th class="icons">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Account account in Model.Accounts)
            {
                <tr class="account item" data-account-id="@account.id">
                    @foreach (TableColumnSpecification c in Model.Columns)
                    {
                        <td class="@c.ClassName">
                            @c.GetPropertyValue(Model.DbContext, account)
                        </td>
                    }
                    <td class="text-right Settings-container">
                        <div class="Settings-group">
                            <a class="icon icon-plans u-cursorPointer show-hierarchy-btn" data-target="" title="@TranslationsLib.Translate("Administration.Hierarchy")"></a>
                        </div>
                        <div class="Settings-group">
                            <a class="icon icon-cog u-cursorPointer edit-managed-product-btn" data-account-id="@account.id" data-target="#cb2" title="@TranslationsLib.Translate("Shared.Edit")"></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Pagination", Model.Pagination)
}
else
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}


