﻿@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.MANAGE_ACCOUNTS_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "admin-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.ManageAccountsWhatIsThis");
}
@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.ManageAccountsViewModel

<div class="row pull-right">
    <div class="col-xs-12">
        <input type="button" value="@TranslationsLib.Translate("Administration.ImportAccounts")" class="btn btn-primary" id="import-accounts-btn" />
        <input type="button" value="@TranslationsLib.Translate("Administration.AddAccount")" class="btn btn-primary" id="add-account-btn" />
    </div>
</div>
<div class="clearfix mb-30px"></div>
<div id="search-input">
    <form id="account-search-form" class="form-horizontal">
        <div class="form-group row">
            <div class="col-xs-4">
                <input type="text" class="form-control" id="search-field" name="searchTerm" placeholder="@TranslationsLib.Translate("Shared.AccountName")" autocomplete="off">
                <span class="clear-search-field" aria-hidden="true" style="display: none">&times;</span>
            </div>
            <div class="col-xs-4">
                <input type="submit" value="@TranslationsLib.Translate("Shared.Search")" class="btn btn-primary">
            </div>
            <div class="col-xs-4">
                <select id="country-filter" name="country" class="form-control" style="width: 100%">
                    <option value="-1">@TranslationsLib.Translate("Administration.AllCountries")</option>
                    @foreach (var country in Model.Countries)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                </select>
            </div>
        </div>
    </form>
</div>
<div class="search-result">
    @Html.Partial("_SearchResults", Model.AccountsTable)
</div>

@section Modals {
    <!--Edit account-->
    <div id="cb2" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="false">
        <div class="modal-dialog" style="margin-top: 135.5px;">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close"><span class="icon-times"></span></a>
                    <h4 class="modal-title" id="cb2Label">@TranslationsLib.Translate("Administration.AccountDetails")</h4>
                    <ul class="modal-tabs">
                        <li><a href="#editAccount"><span class="errorIcon icon-exclamation"></span> @TranslationsLib.Translate("Administration.EditAccount")</a></li>
                        <li><a href="#editUsers" id="a_editUsers"><span class="errorIcon icon-exclamation"></span> @TranslationsLib.Translate("Administration.UserDetailsTabText")</a></li>
                    </ul>
                </div>
                <div class="modal-body account-details-content">
                    @if (Model.Edit_account_modal_body_html != null)
                    {
                        @Html.Raw(Model.Edit_account_modal_body_html);
                    }
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <div class="alert formSuccess mt-0-75em alert-success">
                                <span class="align-icon-left icon-checkbox"></span>
                                @TranslationsLib.Translate("Shared.ChangesSaved")
                            </div>
                            <div class="alert formError mt-0-75em alert-danger">
                                <span class="align-icon-left icon-exclamation"></span>
                                @TranslationsLib.Translate("Shared.PleaseCheckInput")
                            </div>
                            <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4 text-left">
                            <input type="button" class="cancel-form-modal btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                        </div>
                        <div class="col-xs-8 text-right btn-row">
                            <input type="submit" class="btn btn-primary pull-right save-account-btn" value="@TranslationsLib.Translate("Shared.SaveButton")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Import accounts modal-->
    <div id="import-accounts-modal" class="modal fade wide" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                    <h4 class="modal-title">@TranslationsLib.Translate("Administration.Import")</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-xs-12 text-left">
                            <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label>@TranslationsLib.Translate("Administration.Tools"): <span class="mandatory">*</span></label>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            @for (int i = 0; i < Model.Tools.Count; i++)
                            {
                                Tool tool = Model.Tools[i];
                                string begin_row = i % 2 == 0 ? "<div class='row'>" : "";
                                string end_row = i % 2 == 1 || i == Model.Tools.Count - 1 ? "</div>" : "";

                                @(Html.Raw(begin_row));
                                <div class="col-xs-6">
                                    <input name="selectedtools" value="@(tool.id)" type="checkbox" id="cb2-@(tool.id)">
                                    <label for="cb2-@(tool.id)">@ToolLib.GetTranslatedNameForTool(tool)</label>
                                </div>
                                @(Html.Raw(end_row));
                            }
                        </div>
                    </div>
                    <div class="row" id="import-accounts-module">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Add account-->
    <div class="modal fade" id="new-account" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close"><span class="icon-times"></span></a>
                    <h4 class="modal-title" id="newLabel">@TranslationsLib.Translate("Administration.AddAccount")</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <div class="alert formError mt-0-75em alert-danger">
                                <span class="align-icon-left icon-checkbox"></span>
                                @TranslationsLib.Translate("Shared.PleaseCheckInput")
                            </div>
                            <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4 text-left">
                            <input type="button" class="cancel-form-modal btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                        </div>
                        <div class="col-xs-8 text-right btn-row">
                            <input type="submit" class="btn btn-primary pull-right add-account-btn" value="@TranslationsLib.Translate("Shared.AddButton")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Account hierarchy-->
    <div class="modal fade" id="account-hierarchy" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                    <h4 class="modal-title" id="newLabel">@TranslationsLib.Translate("Administration.AccountHierarchy")</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-4 text-left">
                            <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section Scripts {
    <script src="~/Content/scripts/controllers/account-controller.js?v=@AppVersion.Current"></script>
}
