﻿@model TorkExtranet.Models.ViewModels.AgreementApprovalModalBodyPartialViewModel

<form id="agreement-form">
    <input type="hidden" value="@Model.AgreementId" id="agreement-id"/>
    <div class="row">
        <div class="col-xs-6">
            <div class="alert formSuccess mt-0-75em alert-success">
                <span class="align-icon-left icon-checkbox"></span>
                @TranslationsLib.Translate("AgreementApproval.AgreementSaved")
            </div>
            <div class="alert formError mt-0-75em alert-danger">
                <span class="align-icon-left icon-exclamation"></span>
                @TranslationsLib.Translate("Shared.PleaseCheckInput")
            </div>
            <div class="alert backEndErrors mt-0-75em alert-danger"></div>
        </div>
    </div>

    @if (Model.NATemplateType)
    {
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="pricing-contract-number">@TranslationsLib.Translate("AgreementApproval.PricingContractNumber") *</label>
                <input type="text" required class="form-control" id="pricing-contract-number">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="end-customer-number">@TranslationsLib.Translate("AgreementApproval.EndCustomerNumber") </label>
                <input type="text" class="form-control" id="end-customer-number">
            </div>
        </div>
    }
    @if (Model.EUTemplateType)
    {
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="CRM-contract-number">@TranslationsLib.Translate("AgreementApproval.CRMContractNumber") *</label>
                <input type="text" required class="form-control" id="CRM-contract-number">
            </div>
        </div>
    }

    <div class="row">
        <div class="form-group col-xs-3">
            <input type="button" id="approve-agreement" class="btn btn-primary" data-agreement-approved="true" value="@TranslationsLib.Translate("AgreementApproval.ApproveAgreement")" />
            <input type="button" id="approve-agreement-confirm" class="btn btn-danger hidden" value="@TranslationsLib.Translate("AgreementApproval.ClickToConfirm")" />
        </div>

        <div class="form-group col-xs-3">
            <input type="button" id="reject-agreement" class="btn btn-primary"  data-agreement-approved="false" value="@TranslationsLib.Translate("AgreementApproval.RejectAgreement")" />
            <input type="button" id="reject-agreement-confirm" hidden class="btn btn-danger hidden"  value="@TranslationsLib.Translate("AgreementApproval.ClickToConfirm")" />
        </div>
    </div>
</form>

@if (Model.IsMobile || (Model.IsOnIE && !Model.HasAcrobat))
{
    <div class="row">
        <div class="form-group col-xs-6">
            <h3><a href="@Model.AgreementLink" target="_blank">@TranslationsLib.Translate("AgreementApproval.DownloadAgreement") </a></h3>
        </div>
    </div>
}
else
{
    <div class="panel-toggler collapsed" data-toggle="collapse" data-target="#agreement-approval-view-agreement">
        <span class="toggle-icon icon icon-plus pull-left"></span>
        <div class="text-for-icon">
            <span class="show-when-collapsed">@TranslationsLib.Translate("AgreementApproval.ViewAgreement")</span>
            <span class="hide-when-collapsed hidden">@TranslationsLib.Translate("AgreementApproval.HideAgreement")</span>
        </div>
    </div>

    <div id="agreement-approval-view-agreement" class="collapse panel-content">
        @if (Model.IsOnIE)
        {
            <iframe src="@Model.AgreementLink" class="pdf-preview" frameborder="0" scrolling="no"></iframe>
        }
        else
        {
            <object data="@Model.AgreementLink" class="pdf-preview" type="application/pdf"></object>
        }
    </div>
}
