﻿@using TorkExtranet;
@using System.Linq;
@using MASDP.AFH.TorkConnect.DTO.TKAD
@using TorkExtranet.Models.DTOs

@model TorkExtranet.Models.ViewModels.AgreementApprovalTablePartialViewModel

@if (Model.Agreements.Count > 0)
{
    <table class="table panel-table" id="agreements-table">
        <thead class="u-cursorPointer">
            <tr class="table-head">
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    <th class="@c.ClassName Sort-header" data-sort-property="@c.AscendingSortProperty" data-sort-property-desc="@c.DescendingSortProperty">
                        <span class="Sort-label">@c.DisplayName <span class="Sort-icon @c.IconClassName"></span></span>
                    </th>
                }
                <th class="icons">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Agreement agreement in Model.Agreements)
            {
                <tr class="agreement item" data-user-id="@agreement.Id">
                    @foreach (TableColumnSpecification c in Model.Columns)
                    {

                        var displayVal = c.GetPropertyValue(Model.DbContext, agreement);

                        <td class="@c.ClassName">
                            @displayVal
                        </td>
                    }
                    <td class="Settings-container">
                        <div class="Settings-group">
                            <a class="icon icon-cog u-cursorPointer" id="agreement-approval-button" data-target="#edit-agreement-modal" data-agreement-id="@agreement.Id" title="@TranslationsLib.Translate("Shared.EditButton")"></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Pagination", Model.Pagination)
}
else
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}
