﻿@model TorkExtranet.Models.ViewModels.AgreementApprovalViewModel

<form id = "agreement-approval-upload-pdf-form" >
    <div class="modal fade" id="upload-pdf-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">
                        <span class="icon-times"></span>
                    </a>
                    <h4 class="modal-title">@TranslationsLib.Translate("AgreementApproval.UploadAgreement")</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="alert form-errors mt-0-75em alert-danger" style=""></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="agreement-approval-distributor-data-sold-to">@TranslationsLib.Translate("AgreementApproval.UploadSoldToNameNumber") *</label>
                        </div>
                        <div class="form-group col-xs-8">
                            <select id="agreement-approval-distributor-data-sold-to" name="DistributorDataSoldTo" style="width: 100%" class="form-control" data-placeholder="@TranslationsLib.Translate("AgreementApproval.UploadSoldToNameNumber")" required>
                                <option value=""></option>
                                @foreach(var soldTo in Model.AllAvailableUserSoldTos)
                                {
                                    <option value="@soldTo.Item1">@soldTo.Item2</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="agreement-approval-end-customer-company-name">@TranslationsLib.Translate("AgreementApproval.UploadEndCustomerCompanyName") *</label>
                        </div>
                        <div class="form-group col-xs-8">
                            <input id="agreement-approval-end-customer-company-name" name="EndCustomerCompanyName" class="form-control" placeholder="@TranslationsLib.Translate("AgreementApproval.UploadEndCustomerCompanyName")" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="agreement-approval-end-customer-number">@TranslationsLib.Translate("AgreementApproval.UploadEndCustomerNumber") *</label>
                        </div>
                        <div class="form-group col-xs-8">
                            <input id="agreement-approval-end-customer-number" name="EndCustomerNumber" class="form-control" placeholder="@TranslationsLib.Translate("AgreementApproval.UploadEndCustomerNumber")" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="agreement-approval-end-customer-first-name">@TranslationsLib.Translate("AgreementApproval.UploadEndCustomerName") *</label>
                        </div>
                        <div class="form-group col-xs-4">
                            <input id="agreement-approval-end-customer-first-name" name="EndCustomerFirstName" class="form-control" placeholder="@TranslationsLib.Translate("AgreementApproval.UploadEndCustomerFirstName")" required>
                        </div>
                        <div class="form-group col-xs-4">
                            <input id="agreement-approval-end-customer-last-name" name="EndCustomerLastName" class="form-control" placeholder="@TranslationsLib.Translate("AgreementApproval.UploadEndCustomerLastName")" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="agreement-approval-contract-number">@TranslationsLib.Translate("AgreementApproval.UploadPricingContractNumber") *</label>
                        </div>
                        <div class="form-group col-xs-8">
                            <input id="agreement-approval-contract-number" name="ContractNumber" class="form-control" placeholder="@TranslationsLib.Translate("AgreementApproval.UploadPricingContractNumber")" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="agreement-approval-end-customer-country">@TranslationsLib.Translate("AgreementApproval.UploadCountry") *</label>
                        </div>
                        <div class="form-group col-xs-8">
                            <select id="agreement-approval-end-customer-country" name="CountryCode" class="form-control" data-placeholder="@TranslationsLib.Translate("AgreementApproval.UploadCountry")" required style="width: 100%">
                                <option value=""></option>
                                @foreach(var country in Model.Countries)
                                {
                                    <option value="@country.code">@country.name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
                <div class="row">
                    <div id="agreement-approval-upload-pdf-success" class="col-xs-10 col-xs-offset-1 alert alert-success mt-0-75em" style="display: none;">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("AgreementApproval.UploadAgreementPdfSuccess").
                    </div>
                    <div id="agreement-approval-upload-pdf-error" class="col-xs-10 col-xs-offset-1 alert alert-danger mt-0-75em" style="display: none;">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("AgreementApproval.UploadAgreementPdfError").
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-12 text-left">
                            <span class="h5" id="agreement-approval-pdf-file-name-placeholder">
                                <span class="selected-file-name" data-default-text="@TranslationsLib.Translate("AgreementApproval.NoUploadAgreementPdfSelected")">
                                    @TranslationsLib.Translate("AgreementApproval.NoUploadAgreementPdfSelected")
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6 text-left">
                            <div class="Upload-button btn btn-primary btn-block">
                                <span id="spanChooseFile">
                                    @TranslationsLib.Translate("AgreementApproval.BrowseForExistingAgreementPdf")
                                </span>
                                <input id="agreement-approval-pdf-file" name="AgreementPdfFile" class="Upload-input" type="file" accept="application/pdf" />
                                <span id="agreement-approval-pdf-file-spinner-placeholder"></span>
                            </div>
                        </div>
                        <div class="col-xs-6 text-right btn-row">
                            <input type="button" id="agreement-approval-cancel-upload-pdf" name="AgreementCancelUploadPdf" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CancelButton")" />
                            <input type="submit" id="agreement-approval-upload-pdf" name="AgreementUploadPdf" class="btn btn-primary disable-form-confirm" value="@TranslationsLib.Translate("AgreementApproval.UploadAgreementPdfButton")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>