﻿@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.AGREEMENT_APPROVAL_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "agreement-approval-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.AgreementApprovalWhatIsThis");
}

@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.AgreementApprovalViewModel

<div class="row form-group">
    <div class="col-xs-12 text-right">
        <a href="#" id="upload-agreement-btn" class="btn btn-primary">@TranslationsLib.Translate("AgreementApproval.UploadAgreement")</a>
    </div>
</div>
<div class="content-container u-colorGray control-module">
    <form id="agreement-search-form" class="exclude-from-confirm" novalidate autocomplete="off">
        <div class="row">
            <div class="col-xs-6">
                <div class="row form-group">
                    <div class="col-xs-12">
                        <label for="sca-sold-to-name-number-filter">@TranslationsLib.Translate("AgreementApproval.SoldToNameNumberPlaceholder")</label>
                        <select id="sca-sold-to-name-number-filter" name="sca-sold-to-name-number-filter" style="width: 100%" class="form-control" data-placeholder="@TranslationsLib.Translate("AgreementApproval.SoldToNameNumberPlaceholder")">
                            <option value=""></option>
                            @foreach(string soldTo in Model.SoldToNameNumbers)
                            {
                                <option value="@soldTo">@soldTo</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row form-group">
                    <div class="col-xs-12">
                        <label for="country-filter">@TranslationsLib.Translate("AgreementApproval.CountriesPlaceholder")</label>
                        <select id="country-filter" name="country" class="form-control" style="width: 100%" data-placeholder="@TranslationsLib.Translate("AgreementApproval.CountriesPlaceholder")">
                            <option value=""></option>
                            @foreach(Country country in Model.Countries)
                            {
                                <option value="@country.code">@country.name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="row form-group">
                    <div class="col-xs-12">
                        <label for="search-field">@TranslationsLib.Translate("AgreementApproval.EndCustomerCompanyNamePlaceholder")</label>
                        <input type="text" class="form-control" id="search-field" name="searchTerm" autocomplete="off" data-placeholder="@TranslationsLib.Translate("AgreementApproval.EndCustomerCompanyNamePlaceholder")">
                    </div>
                </div>
            </div>
        </div>
        <hr class="gray">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="alert backEndErrors mt-0-75em alert-danger" style=""></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input id="tkad-search-btn" class="btn btn-primary pull-right" type="submit" value="@TranslationsLib.Translate("Shared.Search")"/>
            </div>
        </div>
    </form>
</div>
<div class="search-result">
    @Html.Partial("_SearchResults", Model.AgreementsTable)
</div>

@section Modals {
    <div class="modal wide fade" id="agreement-approval-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                    <h2 class="modal-title" id="newLabel">@TranslationsLib.Translate("AgreementApproval.AgreementApprovalView")</h2>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-12 text-left">
                            <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer pull-right" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/AgreementApproval/_UploadPDFModal.cshtml", Model)
}

@section Scripts {
    <script src="~/Content/scripts/controllers/agreement-approval-controller.js?v=@AppVersion.Current"></script>
}