﻿@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.RegisterViewModel
<div class="modal-header" id="new-register-close">
    <a class="close" id="close-registration"><span class="icon-times"></span></a>
    <h4 class="modal-title" id="newUserRegistrationLabel">@TranslationsLib.Translate("NotLoggedIn.NewUserRegistrationLabel")</h4>
</div>
<div class="modal-body">
    <div id="register-form" class="container-fluid">
        @Html.Partial("~/Views/Shared/_NewUserForm.cshtml", Model.NewUserForm)
    </div>
</div>
<div class="modal-footer">
    <div id="footer-registration-error" class="form-group row">
        <div class="col-xs-12">
            <div class="alert formError mt-0-75em alert-danger">
                <span class="align-icon-left icon-exclamation"></span>
                @TranslationsLib.Translate("Shared.PleaseCheckInput")
            </div>
            <div class="alert backEndErrors mt-0-75em alert-danger"></div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-4 text-left">
            <input type="button" class="btn btn-default u-cursorPointer cancel-form-modal" value="@TranslationsLib.Translate("Shared.CloseButton")" />
        </div>
        <div class="col-xs-8 text-right btn-row">
            <input type="button" class="btn btn-primary pull-right register-btn" value="@TranslationsLib.Translate("NotLoggedIn.RegisterButton")" />
        </div>
    </div>
</div>


