﻿
@{
    ViewBag.Title = TranslationsLib.Translate("NotLoggedIn.WelcomeToTorkConnect");
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "login-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.LoginWhatIsThis");
}

@model TorkExtranet.Models.ViewModels.LoginViewModel
@using TorkExtranet.Models;

@if (Model.IsLoggedInButNoAccess)
{
    <div class="u-marginAuto u-size3of4 u-sm-sizeFull">
        <div id="noAccessExtranetNotifiedMessage" class="alert formSuccess mt-0-75em alert-success">
            <span class="align-icon-left icon-checkbox"></span>
            @Html.Raw(Model.NoAccessExtranetNotifiedMessage)
        </div>

        <div class="alert alert-danger" style="display: block;">
            @Html.Raw(Model.NoAccessExtranetMessage)
        </div>
    </div>
}
else
{
    <div class="row">
        @if (Model.Message != null)
        {
            <div class="col-sm-6 form-group">
                <div class="Message-container">
                    <h2 class="smaller">@Model.Message.Title</h2>
                    <p>@Html.Raw(Model.Message.Body)</p>
                    <p class="Message-author">@Model.Message.Signature</p>
                </div>
                @if (!String.IsNullOrWhiteSpace(Model.Message.ImageURL))
                {
                    <img class="message-image-container hidden-xs" src="@Model.Message.ImageURL">
                }
            </div>
        }

        @if (string.IsNullOrEmpty(Model.Hash))
        {
            <div class="col-sm-6 form-group">
                <a class="btn btn-primary btn-block" href="~/MyData">
                    @TranslationsLib.Translate("NotLoggedIn.LoginButton")
                </a>
                <a href="#forgot-password-container" class="btn btn-link btn-block labelled-icon" data-toggle="collapse">
                    @TranslationsLib.Translate("NotLoggedIn.ForgotPasswordButton")
                    &nbsp; <span class="icon-arrow_right"></span>
                </a>
                <a id="register-new-user-btn" class="btn btn-link btn-block labelled-icon" tabindex="0">
                    @TranslationsLib.Translate("NotLoggedIn.NewUserRegistrationButton")
                    &nbsp; <span class="icon-arrow_right"></span>
                </a>

                <div id="forgot-password-container" class="collapse">
                    <hr>

                    <form id="ForgotPasswordForm" method="post" action="/Login/ForgotPassword" novalidate>
                        <h3>@TranslationsLib.Translate("NotLoggedIn.RequestPasswordRenewalLabel")</h3>
                        <br />
                        <div class="form-group">
                            <input class="form-control" name="email" placeholder="@TranslationsLib.Translate("NotLoggedIn.EmailPlaceholder")" type="email" required>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary pull-right request-password-btn" value="@TranslationsLib.Translate("NotLoggedIn.SendRequestButton")" />
                            <a href="#forgot-password-container" class="btn btn-default cancel-form-tab" data-toggle="collapse">
                                @TranslationsLib.Translate("Shared.CancelButton")
                            </a>
                        </div>
                        <div class="alert formSuccess mt-0-75em alert-success">
                            <span class="align-icon-left icon-checkbox"></span>
                            @TranslationsLib.Translate("NotLoggedIn.PasswordResetMailSent")
                        </div>
                        <div class="alert formError mt-0-75em alert-danger">
                            <span class="align-icon-left icon-exclamation"></span>
                            @TranslationsLib.Translate("Shared.PleaseCheckInput")
                        </div>
                        <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div class="col-sm-6 form-group">
                <form method="post" action="@Url.Action("ValidateEmail", "Login")" id="confirmAccountForm">
                    <div class="row">
                        <h3 class="col-sm-12">@TranslationsLib.Translate("NotLoggedIn.ConfirmAccountTitle")</h3>
                        <p class="col-sm-12">@TranslationsLib.Translate("NotLoggedIn.ConfirmAccountInstructions")</p>
                        <div class="col-sm-12 form-group">
                            <label for="jobTitle">@TranslationsLib.Translate("NotLoggedIn.UserJobTitle")</label>
                            <input class="form-control" id="jobTitle" name="jobTitle" type="text" value="@Model.JobTitle" required>
                            <input type="hidden" value="@Model.Hash" id="hash" name="hash" />
                        </div>
                        <div class="col-sm-12 form-group">
                            <button type="button" id="confirmCancelButton" class="btn btn-default">@TranslationsLib.Translate("Shared.CancelButton")</button>
                            <button type="submit" class="btn btn-primary">@TranslationsLib.Translate("NotLoggedIn.ConfirmButton")</button>
                        </div>
                    </div>
                </form>
                <div class="alert add-top-margin alert-danger fade in alert-dismissible" style="display:none;" id="confirmCancelAlert">
                    <span class="align-icon-left icon-times"></span>
                    <a class="close" data-dismiss="alert" aria-label="close"><span class="icon-times"></span></a>
                    @TranslationsLib.Translate("NotLoggedIn.ConfirmAccountFail")
                </div>
                <div class="alert add-top-margin alert-danger fade in alert-dismissible" style="display:none;" id="jobTitleAlert">
                    <span class="align-icon-left icon-times"></span>
                    <a class="close" data-dismiss="alert" aria-label="close"><span class="icon-times"></span></a>
                    @TranslationsLib.Translate("NotLoggedIn.jobTitleAlert")                    
                </div>

            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ValidateEmailMessage))
        {
            <div class="success-validate-message col-sm-6">
                <div class="alert add-top-margin alert-success d-block">
                    <span class="align-icon-left icon-checkbox"></span>
                    <a class="close"><span class="icon-times"></span></a>
                    @Model.ValidateEmailMessage
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.NotifiedAdminMessage))
        {
            <div class="success-validate-message col-sm-6">
                <div class="alert add-top-margin alert-success d-block">
                    <span class="align-icon-left icon-checkbox"></span>
                    <a class="close"><span class="icon-times"></span></a>
                    @Model.NotifiedAdminMessage
                </div>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.UnsubscriptionMessage))
        {
            if (Model.UnsubscriptionSuccess)
            {
                <div class="success-validate-message col-sm-6" id="unsubscribeSuccess">
                    <div class="alert add-top-margin alert-success d-block">
                        <span class="align-icon-left icon-checkbox"></span>
                        <a class="close"><span class="icon-times"></span></a>
                        @Model.UnsubscriptionMessage
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-6" id="unsubscribeFailure">
                    <div class="alert add-top-margin alert-danger d-block">
                        <span class="align-icon-left icon-exclamation"></span>
                        <a class="close"><span class="icon-times"></span></a>
                        @Model.UnsubscriptionMessage
                    </div>
                </div>
            }

        }

    </div>
}

@section Modals {
    <div id="new-user-registration" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div id="success-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                    <h4 class="modal-title">@TranslationsLib.Translate("NotLoggedIn.SuccessLabel")</h4>
                </div>
                <div class="modal-body">
                    <p>
                        @TranslationsLib.Translate("NotLoggedIn.UserRegistrationSuccessMessage")
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-12 text-right btn-row">
                            <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.ContinueButton")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    <script src="~/Content/scripts/controllers/login-controller.js?v=@AppVersion.Current"></script>
}