﻿@model TorkExtranet.Models.ViewModels.ResetPasswordView
@using TorkExtranet.Models

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "reset-password-module";
    ViewBag.WhatIsThisText = Model.WhatIsThis;
}

<div class="content-container">
    <div class="control-module u-colorGray">
        <div class="form-horizontal form-visible" id="form-reset-password">
            <form method="post" id="reset-password-form" novalidate class="exclude-from-confirm">
                <div id="reset-password-fields">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>@TranslationsLib.Translate("NotLoggedIn.NewPasswordLabel") <span class="mandatory">*</span></label>
                            <input class="form-control" name="newPassword" id="newpassword-field" value="@Model.newPassword" type="password" required>
                            <div class="help-block">@TranslationsLib.Translate("NotLoggedIn.PasswordHelpText")</div>
                        </div>
                        <div class="col-sm-6">
                            <label>@TranslationsLib.Translate("NotLoggedIn.VerifyPasswordLabel") <span class="mandatory">*</span></label>
                            <input class="form-control" name="verifyPassword" id="verifypassword-field" value="@Model.verifyPassword" type="password" required>
                        </div>
                        <input class="form-control" name="hash" id="hash" value="@Model.hash" type="hidden" required>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <input name="termsaccept" type="checkbox" id="terms-accept" class="form-control" required>
                            <label for="terms-accept">
                                @{ MvcHtmlString actionLink = Html.ActionLink("{0}", "Content", "Consent", new { tag = Model.TermsOfUse.Tag }, new { target = "_blank" }); }
                                @Html.Raw(TranslationsLib.Translate(Model.TermsOfUse.LabelKey, actionLink.ToString()))
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div id="success-modal" class="alert formSuccess mt-0-75em alert-success">
                            <span class="align-icon-left icon-checkbox"></span>
                            @Html.Raw(Model.SubmitSuccess)
                        </div>
                        <div class="alert formError mt-0-75em alert-danger">
                            <span class="align-icon-left icon-exclamation"></span>
                            @TranslationsLib.Translate("Shared.PleaseCheckInput")
                        </div>
                        <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-xs-12">
                        <input type="button" id="update-button" class="btn btn-primary pull-right" value="@Model.SubmitTitle" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/scripts/controllers/reset-password-controller.js?v=@AppVersion.Current"></script>
}