﻿@using TorkExtranet.Models.PIM
@model TorkExtranet.Models.ViewModels.AssetsSearchResultsPartial
<div id="asset-results" class="col-xs-12" data-total-count="@Model.NumberOfHits">
    @if (Model.Assets.Count > 0)
    {
        foreach (CelumAsset asset in Model.Assets)
        {
            string thumbnail_url = asset.ThumbnailImageURL();
            string download_url = asset.isImage ? asset.ImageResolutions(Model.ImageResolutionIndex) : asset.DownloadURL();
            string image_resolutions_string = asset.isImage ? asset.ImageResolutionsString() : "";
            
            <div class="asset-module u-fontSize90Percent" data-is-image="@asset.isImage" data-asset-number="@asset.celum_id" data-asset-download-url="@download_url" data-asset-thumbnail="@thumbnail_url" data-resolution-prefix="@CelumAsset.DataImageResolutionPrefix" @image_resolutions_string>
                @if (!String.IsNullOrEmpty(thumbnail_url))
                {
                    if (asset.isImage)
                    {
                        <div class="asset-img" style="background-image: url(@thumbnail_url)">
                        </div>
                    }
                    else
                    {
                        <a href="@download_url" target="_blank">
                            <div class="asset-img" style="background-image: url(@thumbnail_url)">
                            </div>
                        </a>
                    }
                }
                @if (asset.isImage)
                {
                    <h3><a>@asset.Name()</a></h3>
                }
                else
                {
                    <h3><a href="@download_url" target="_blank">@asset.Name()</a></h3>
                }
                <div class="asset-meta u-cf mb-15px">
                    <div><b class="meta-label">@TranslationsLib.Translate("MarketingResources.FileExtension"):</b> <span data-type="file-extension">@asset.file_extension.ToUpper()</span></div>
                    @if (asset.download_filesize_byte > 0)
                    {
                        <div><b class="meta-label">@TranslationsLib.Translate("MarketingResources.FileSize"):</b> <span data-type="file-size">@asset.FileSizeText()</span></div>
                    }
                </div>
                <a class="btn btn-block btn-primary add-to-list">@TranslationsLib.Translate("Shared.AddToList") <span class="icon icon-plus"></span></a>
                <div class="btn btn-block disabled added-to-list-label" style="display: none">@TranslationsLib.Translate("Shared.Added") <span class="icon icon-checkbox"></span></div>
                <hr class="thin" />
            </div>
        }

        @Html.Partial("_Pagination", Model.Pagination);
    }
    @if (Model.Assets.Count == 0)
    {
        <p class="no-search-results">@TranslationsLib.Translate("Shared.NoResults")</p>
    }
</div>
