﻿@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.MARKETING_RESOURCES_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "marketing-resources-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.MarketingResourcesWhatIsThis");
}
@using TorkExtranet.Models;
@using TorkExtranet.Models.PIM;
@model TorkExtranet.Models.ViewModels.MarketingResourcesViewModel
<div class="wizard hidden-xs">
    <div class="wizard-progress"></div>
    <div class="wizard-item" data-index="1">
        <div class="wizardLabel">@TranslationsLib.Translate("MarketingResources.EditList")</div>
    </div>
    <div class="wizard-item last" data-index="2">
        <div class="wizardLabel">@TranslationsLib.Translate("MarketingResources.GenerateOutput")</div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="visible-xs">
    <h3 class="tab-title">@TranslationsLib.Translate("MarketingResources.EditList")</h3>
    <div class="ProgressBar">
        <div class="ProgressBar-indicator"></div>
    </div>
    <a class="btn btn-link pull-right" data-wizard="nextTab">
        <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
    </a>
    <a class="btn btn-link disabled" data-wizard="prevTab"><span class="Icon24 align-icon-left icon-arrow_left"></span></a>
</div>
<div id="wizard-content" class="wizard-content control-module">
    <div class="row hidden-xs">
        <div class="col-xs-4">
            <a href="#" id="previousButton-top" class="btn btn-default">@TranslationsLib.Translate("Shared.Previous")</a>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4 text-right">
            <a href="#" id="nextButton-top" class="btn btn-primary">@TranslationsLib.Translate("Shared.Next")</a>
        </div>
    </div>
    <div id="step1" class="wizard-pane">
        <div class="row">
            <div class="col-xs-12">
                <div id="file-list-alert-msg" class="wizard-alert-msg alert alert-danger">
                    <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("MarketingResources.FileListIsEmptyErrorMsg").
                </div>
            </div>
        </div>
        <div id="file-list-header">
            <div class="row">
                <div class="col-xs-12 file-list-headline headline-search">
                    <form id="search-result-form" class="exclude-from-confirm">
                        @if (Model.KeywordEnabled)
                        {
                            <button id="search-filter-toggle" type="button" class="search-filter-toggle btn btn-link-borderless btn-primary u-marginVerticalS" data-target="#search-filter-content">
                                <i class="icon icon-filter"></i>
                                <span class="u-paddingHorizontalXS">@TranslationsLib.Translate("Shared.Filter")</span>
                                <i class="icon icon-arrow_down_borderless" data-indicator></i>
                            </button>

                            <div id="search-filter-content" data-torkready-facet="@GlobalShim.AppSettings.TorkReady.FacetKey">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-6">
                                                <h5>@TranslationsLib.Translate("MarketingResources.FilterDocumentType")</h5>
                                            </div>
                                            <div class="links text-right">
                                                <a id="clearDocumentSelection" role="button" name="clearDocumentSelection">@TranslationsLib.Translate("ProductAssetsDownload.DeselectAll")</a>
                                            </div>
                                            <div class="col-xs-12 col-sm-12" id="divCheckBox">
                                                @for (int i = 0; i < Model.DocumentTypeKeywords.Count; i++)
                                                {
                                                    CelumKeyword document_type = Model.DocumentTypeKeywords[i];
                                                    var id_string = "document_type_" + i;
                                                    <span class="u-paddingRightS">
                                                        <input id="@id_string" name="selecteddocumenttypes[]" type="checkbox" checked value="@document_type.Key" />
                                                        <label for="@id_string" name="selecteddocumenttypes[]">@document_type.Name</label>
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="form-group">
                                            <h5>@TranslationsLib.Translate("MarketingResources.FilterProductArea")</h5>
                                            <select name="selectedproductarea" style="width: 100%">
                                                <option value="">@TranslationsLib.Translate("Shared.All")</option>
                                                @foreach (CelumKeyword keyword in Model.ProductAreaKeywords)
                                                {
                                                    <option value="@keyword.Key">@keyword.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <h5>@TranslationsLib.Translate("MarketingResources.FilterSegment")</h5>
                                            <select name="selectedsegment" style="width: 100%">
                                                <option value="">@TranslationsLib.Translate("Shared.All")</option>
                                                @foreach (CelumKeyword keyword in Model.SegmentKeywords)
                                                {
                                                    <option value="@keyword.Key">@keyword.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="form-group">
                                            <h5>@TranslationsLib.Translate("MarketingResources.FilterFocusArea")</h5>
                                            <select name="selectedfocusarea" style="width: 100%">
                                                <option value="">@TranslationsLib.Translate("Shared.All")</option>
                                                @foreach (CelumKeyword keyword in Model.FocusAreaKeywords)
                                                {
                                                    <option value="@keyword.Key">@keyword.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">

                                            <h5>@TranslationsLib.Translate("MarketingResources.FilterCampaignsAndPrograms")</h5>
                                            <select name="selectedcampaignandprograms" style="width: 100%">
                                                <option value="">@TranslationsLib.Translate("Shared.All")</option>
                                                @foreach (CelumKeyword keyword in Model.CampaignAndProgramsKeywords)
                                                {
                                                    if (!string.IsNullOrWhiteSpace(Model.TorkReadyFacetKey) && keyword.Key == Model.TorkReadyFacetKey)
                                                    {
                                                        <option value="@keyword.Key" selected>@keyword.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@keyword.Key">@keyword.Name</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group u-posRelative">
                                    <input class="form-control" id="search-field" placeholder="@TranslationsLib.Translate("MarketingResources.SearchPlaceholder")" autocomplete="off">
                                    <span class="clear-search-field" aria-hidden="true" style="">×</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <button id="search-submit" class="btn btn-primary btn-block-xs">@TranslationsLib.Translate("Shared.Search")</button>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div id="image-resolution-select-container" class="tooltip-select-container">
                                    <a data-toggle="tooltip" class="u-cursorPointer trigger" href="#">@TranslationsLib.Translate("MarketingResources.SelectImageResolution")<span class="icon icon-arrow_down"></span></a>
                                    <div class="links text-left" data-target="tooltip">
                                        @{ string prefix = "resolution"; }
                                        @foreach (SelectListItem item in Model.ImageResolutionNames)
                                        {
                                            string fieldId = string.Format("{0}-{1}", prefix, item.Value);
                                            <div class="prevent-close-all">
                                                @Html.RadioButton(prefix, item.Value, item.Selected, new { @id = fieldId, @class = "prevent-close-all", @data_resolution_prefix = CelumAsset.DataImageResolutionPrefix })
                                                @Html.Label(fieldId, item.Text, new { @class = "prevent-close-all" })
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr class="gray hidden-xs">
        <hr class="invisible visible-xs">
        <div id="file-list-content">
            <div class="visible-xs">
                <div class="Tablist" data-action="tab">
                    <div class="Tablist-tab is-active" data-toggle-pane="#file-list-search-assets">
                        @TranslationsLib.Translate("Shared.SearchResult") (<span id="file-list-search-count">0</span>)
                    </div>
                    <div class="Tablist-tab" data-toggle-pane="#file-list-added-assets">
                        @TranslationsLib.Translate("Shared.FileList") (<span id="file-list-count">0</span>)
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="file-list-search-assets" class="col-xs-12 col-sm-6 mb-30px visible-xs-block visible-sm-block visible-md-block visible-lg-block">
                    <div id="search-result" class="row"></div>
                </div>
                <div id="file-list-added-assets" class="col-xs-12 col-sm-6 visible-sm-block visible-md-block visible-lg-block spinLikeTable">
                    <div id="file-list-empty-description" class="row">
                        <div class="EmptyText">
                            <div class="col-xs-12 text-center">
                                <strong class="EmptyText-header">@TranslationsLib.Translate("MarketingResources.TheFileListIsEmpty").</strong>
                                <p>@Html.Raw(String.Format(TranslationsLib.Translate("MarketingResources.TheFileListIsEmptyHelptext")))</p>
                                <br />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div id="file-list" style="display: none">
                        <h3 class="hidden-xs">@TranslationsLib.Translate("Shared.FileList")</h3>
                        <div id="file-list-body">
                            <div class="fileListItemTemplate asset-module u-fontSize90Percent" style="display: none">
                                <a href="" target="_blank">
                                    <div class="asset-img">
                                    </div>
                                </a>
                                <h3>
                                    <a href="" target="_blank" class="asset-name"></a>
                                </h3>
                                <div class="asset-meta u-cf mb-15px">
                                    <b class="meta-label">@TranslationsLib.Translate("MarketingResources.FileExtension"):</b> <span class="asset-type"></span>
                                </div>
                                <a class="btn btn-block btn-primary delete-list-btn">@TranslationsLib.Translate("Shared.RemoveFromList")<span class="icon icon-trashcan"></span></a>
                                <hr class="thin" />
                            </div>
                        </div>
                    </div>
                    <div class="tork-pagination" id="file-list-pagination" data-items-per-page="@Search.DefaultPageSize">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="step2" class="wizard-pane">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                        <h2>@TranslationsLib.Translate("Shared.Download")</h2>
                        <hr class="gray-light hidden-xs">
                        <p class="help-block">@TranslationsLib.Translate("MarketingResources.DownloadInstructions")</p>
                        <h3>@TranslationsLib.Translate("Shared.FileList")</h3>
                        <div class="u-textRight hidden-sm hidden-xs">
                            <input type="button" id="download-all-btn" class="btn btn-primary btn-block-xs disable-form-confirm" value="@TranslationsLib.Translate("Shared.DownloadAll")" />
                        </div>
                        <div class="template asset-module" style="display: none">
                            <a href="" target="_blank">
                                <div class="asset-img">
                                </div>
                            </a>
                            <h3>
                                <a href='' target='_blank' data-text="title"></a>
                            </h3>
                            <a class='u-floatRight' href='' target='_blank'>
                                <span class='icon icon-download'></span>
                            </a>
                            <div class="asset-meta u-cf mb-15px">
                                <b class="meta-label">@TranslationsLib.Translate("MarketingResources.FileExtension"):</b> <span data-text="subtitle"></span>
                            </div>
                        </div>  
                        <hr class="gray-light hidden-xs">
                        <div class="col-xs-12" id="marketing-resources-download-links" data-imagetypes="@GlobalShim.AppSettings.DisclaimerMessageImageTypes">
                        </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>@TranslationsLib.Translate("Shared.Email")</h2>
                <hr class="gray-light hidden-xs">
                @if (UserLib.IdentityIsExternal)
                {
                    <div class="row form-group">
                        <div class="col-xs-12">
                            <label for="companyLogo" class="control-label u-block">
                                @TranslationsLib.Translate("Shared.LogoOnEmail"):
                            </label>
                            @if (Model.Logo != null)
                            {
                                <p>
                                    <input type="checkbox" checked="checked" name="enableLogo" id="enableLogo" />
                                    <label for="enableLogo">@TranslationsLib.Translate("Shared.EnableLogo")</label>
                                </p>
                            }
                            <div class="prev-wrapper_company-logo-file" style="display: none">
                                <div class="progress" style="display: none">
                                    <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"></div>
                                </div>
                                <div id="preview-image" style="display: none">
                                    <div id="prev_company-logo-file" class="ImageUploadPreview"></div>
                                    <div class="ImageUploadPreview-caption" id="selectedFileNamePlaceHolder"><a class="ImageUploadPreview-delete"><span class="icon icon-trashcan u-cursorPointer remove-logo-btn"></span></a><span class="fileName" data-placeholder="@TranslationsLib.Translate("Shared.NoFileSelected")">@TranslationsLib.Translate("Shared.NoFileSelected")</span></div>
                                </div>
                            </div>
                            <div class="Upload-button btn btn-primary btn-block-xs">
                                @if (Model.Logo != null)
                                {
                                    <span>@TranslationsLib.Translate("Shared.ChangeLogoForEmail")</span>
                                }
                                else
                                {
                                    <span>@TranslationsLib.Translate("MarketingResources.ChooseFile")</span>
                                }
                                <input name="companyLogo" class="Upload-input" id="company-logo-file" type="file" accept="image/*" />
                            </div>
                            <span class="small">@TranslationsLib.Translate("MarketingResources.SupportedImageFormats")</span>
                            @if (Model.Logo != null)
                            {
                                <div style="display: none" id="defaultLogo" data-name="@Model.Logo.Name" data-logo-id="company-logo-file" data-file="@Convert.ToBase64String(Model.Logo.Data)"></div>
                            }
                        </div>
                    </div>
                }
                <form class="exclude-from-confirm" novalidate>
                    <div class="form-group">
                        <label for="exportEmail" class="control-label">@TranslationsLib.Translate("Shared.To"): <span class="mandatory">*</span></label>
                        <input id="exportEmail" data-role="tagsinput" type="email" name="email" required class="emailList form-control">
                    </div>
                    <div class="form-group">
                        <label for="ccexportEmail" class="control-label">
                            @TranslationsLib.Translate("Shared.Cc"):
                        </label>
                        <input id="ccexportEmail" data-role="tagsinput" type="email" name="ccemail" class="ccemailList form-control">
                    </div>
                    <div class="form-group">
                        <label for="exportSubject" class="control-label">@TranslationsLib.Translate("Shared.Subject"): <span class="mandatory">*</span></label>
                        <input id="exportSubject" name="subject" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exportEmailFrom" class="control-label">@TranslationsLib.Translate("Shared.From"): <span class="mandatory">*</span></label>
                        <input id="exportEmailFrom" class="form-control" type="email" readonly value="@Model.ContactInfoEmail">
                    </div>
                    <div class="form-group">
                        <label for="exportMessage" class="control-label">@TranslationsLib.Translate("Shared.Message"):</label>
                        <textarea class="form-control" name="message" id="exportMessage" rows="4">@TranslationsLib.Translate("MarketingResources.DefaultEmailMessage")</textarea>
                    </div>
                    <hr class="gray hidden-xs" />
                    <div class="form-group">
                        <div class="alert formSuccess mt-0-75em alert-success">
                            <span class="align-icon-left icon-checkbox"></span>
                            @TranslationsLib.Translate("Shared.MailSuccessfullySent")
                        </div>
                        <div class="alert formError mt-0-75em alert-danger">
                            <span class="align-icon-left icon-exclamation"></span>
                            @TranslationsLib.Translate("Shared.PleaseCheckInput")
                        </div>
                        <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                    </div>
                    <div class="form-group u-textRight">
                        <input type="submit" class="btn btn-primary btn-block-xs" id="marketing-resources-email-btn" value="@TranslationsLib.Translate("Shared.SendEmail")">
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="invisible" />
    <div class="Arrange Arrange--withGutter">
        <div class="Arrange-sizeFit">
            <a class="btn btn-link disabled visible-xs-inline-block" data-wizard="prevTab">
                <span class="Icon24 align-icon-left icon-arrow_left"></span>
            </a>
            <a href="#" id="previousButton-bottom" class="btn btn-default hidden-xs">
                <span class="icon icon-arrow_left_borderless visible-xs"></span><span class="hidden-xs">@TranslationsLib.Translate("Shared.Previous")</span>
            </a>
        </div>
        <div class="Arrange-sizeFill u-textRight">
            <a class="btn btn-link visible-xs-inline-block" data-wizard="nextTab">
                <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
            </a>
            <a href="#" id="nextButton-bottom" class="btn btn-primary hidden-xs">@TranslationsLib.Translate("Shared.Next")</a>
        </div>
    </div>
</div>
@section Modals {
    @Html.Partial("_disclaimer", new Message
{
    Title = TranslationsLib.Translate("MarketingResources.MarketingAssetsDisclaimerTitle"),
    Body = TranslationsLib.Translate("MarketingResources.MarketingAssetsDisclaimerBody")
});
}
@section Scripts {
    <script src="~/Content/scripts/models/wizard.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/controllers/marketing-resources-controller.js?v=@AppVersion.Current"></script>
}