﻿@using TorkExtranet.Models;
@using System.Linq;
@model TorkExtranet.Models.ViewModels.EditCountryModalBodyPartialViewModel
<form id="manage-country">
    <span data-warning="#manage-country" style="display: none">@TranslationsLib.Translate("Shared.UnsavedChangesWarning")</span>
    <input type="hidden" name="id" value="@Model.Country.id" />
    <div class="container-fluid tab-content" id="information">
        <div class="form-group row">
            <div class="col-xs-12">
                <label data="">@TranslationsLib.Translate("Administration.CountryCode"): <span class="mandatory">*</span></label>
                <input required class="form-control" type="text" name="code" maxlength="3" value="@Model.Country.code" />
            </div>
            <div class="col-xs-12">
                <label data="">@TranslationsLib.Translate("Administration.SetRecipientsEmailForUserReg"): <span class="mandatory">*</span></label>
                <input required data-role="tagsinput" class="emailList form-control" type="email" name="emailrecipients" value="@Model.Country.email_recipients" />
            </div>
        </div>
    </div>
    <div class="container-fluid tab-content" id="tools">
        <div class="row Countries-borderBottom">
            <div class="col-xs-6"><label data="">@TranslationsLib.Translate("Administration.Tool") <span class="mandatory">*</span></label></div>
            <div class="col-xs-3 text-center"><label>@TranslationsLib.Translate("Shared.Mandatory")</label></div>
            <div class="col-xs-3 text-center"><label>@TranslationsLib.Translate("Administration.SetByAccount")</label></div>
        </div>
        @foreach (string category in ToolLib.GetSortedCategoryNames())
        {
            if (Model.CategoriesOfTools.ContainsKey(category))
            {
                if (category == "Admin")
                {
                    <hr class="invisible" />
                    <hr class="row thin lighter" />
                }
                var toolList = Model.CategoriesOfTools[category];
                <label class="mt-30px">@TranslationsLib.Translate("Administration." + category)</label>

                foreach (Tool tool in toolList)
                {
                    bool country_has_tool = Model.Country_tools_dictionary.ContainsKey(tool.id);
                    string tool_checked = country_has_tool ? "checked" : "";
                    string options_disabled = !country_has_tool ? "disabled" : "";
                    string mandatory_checked = country_has_tool && Model.Country_tools_dictionary[tool.id].mandatory ? "checked" : "";
                    string account_checked = mandatory_checked.Length == 0 && country_has_tool && Model.Country_tools_dictionary[tool.id].access_level == "account" ? "checked" : "";
                    <div class="country-tool">
                    <div class="row Countries-borderBottom" data-tool-id="@tool.id">
                            <div class="col-xs-6">
                                <input name="selectedtools" value="@(tool.id)" type="checkbox" class="tool-trigger parent-tool" id="cb@(tool.id)-00" @tool_checked>
                                <label for="cb@(tool.id)-00">@ToolLib.GetTranslatedNameForTool(tool)</label>
                            </div>
                            <div class="col-xs-3 tool-setting text-center">
                                <input name="mandatorytools" value="@(tool.id)" type="checkbox" class="mandatory-checkbox" id="cb@(tool.id)-d0" @mandatory_checked @options_disabled>
                                <label for="cb@(tool.id)-d0">&nbsp;</label>
                            </div>
                            <div class="col-xs-3 tool-setting text-center">
                                <input class="account-checkbox" type="checkbox" name="tool_types[@(tool.id)]" id="cb@(tool.id)-i1" value="account" @account_checked @options_disabled>
                                <label for="cb@(tool.id)-i1">&nbsp;</label>
                            </div>
                        </div>

                        @if (tool.Child_Tools.Count > 0)
                        {
                            foreach (Tool subtool in tool.Child_Tools.Where(d => d.ShowWithParent))
                            {
                                bool country_has_subTool = Model.Country_tools_dictionary.ContainsKey(subtool.id);
                                string subTool_checked = country_has_subTool ? "checked" : "";
                                string subTool_options_disabled = !country_has_subTool ? "disabled" : "";
                                string subTool_mandatory_checked = country_has_subTool && Model.Country_tools_dictionary[subtool.id].mandatory ? "checked" : "";
                                string subTool_account_checked = subTool_mandatory_checked.Length == 0 && country_has_subTool && Model.Country_tools_dictionary[subtool.id].access_level == "account" ? "checked" : "";

                                <div class="row with-bottom-line" data-tool-id="@subtool.id">
                                    <div class="col-xs-6">
                                        <input name="selectedtools" value="@(subtool.id)" type="checkbox" class="tool-trigger sub-tool" id="cb@(subtool.id)-00" @subTool_checked>
                                        <label class="left-margin-50" for="cb@(subtool.id)-00">@ToolLib.GetTranslatedNameForTool(subtool)</label>
                                    </div>
                                    <div class="col-xs-3 tool-setting text-center">
                                        <input name="mandatorytools" value="@(subtool.id)" type="checkbox" class="mandatory-checkbox" id="cb@(subtool.id)-d0" @subTool_mandatory_checked @subTool_options_disabled>
                                        <label for="cb@(subtool.id)-d0">&nbsp;</label>
                                    </div>
                                    <div class="col-xs-3 tool-setting text-center">
                                        <input class="account-checkbox" type="checkbox" name="tool_types[@(subtool.id)]" id="cb@(subtool.id)-i1" value="account" @subTool_account_checked @subTool_options_disabled>
                                        <label for="cb@(subtool.id)-i1">&nbsp;</label>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                }
            }
        }
    </div>
</form>