﻿@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.MANAGE_COUNTRIES_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "admin-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.ManageCountriesWhatIsThis");
}
@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.ManageCountriesViewModel

<div id="search-input">
    <form id="country-search-form" class="form-horizontal">
        <div class="form-group row">
            <div class="col-xs-4">
                <input type="text" class="form-control" id="search-field" name="searchTerm" placeholder="@TranslationsLib.Translate("Administration.CountryName")" autocomplete="off">
                <span class="clear-search-field" aria-hidden="true" style="display: none">&times;</span>
            </div>
            <div class="col-xs-4">
                <input type="submit" value="@TranslationsLib.Translate("Shared.Search")" class="btn btn-primary">
            </div>
            @if (Model.ShowAddCountry)
            {
                <div class="col-xs-4 text-right">
                    <input type="button" value="@TranslationsLib.Translate("Administration.AddCountry")" class="btn btn-primary" id="add-country-btn">
                </div>
            }
        </div>
    </form>
</div>
<div class="search-result">
    @Html.Partial("_SearchResults", Model.CountriesTable)
</div>

@section Modals {
    <!--Edit country-->
    <div id="cb1" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close"><span class="icon-times"></span></a>
                    <h4 class="modal-title" id="cb1Label">@TranslationsLib.Translate("Administration.EditCountry"): <span id="country-name"></span></h4>
                    <ul class="modal-tabs">
                        <li><a href="#tools" class="active"><span class="errorIcon icon-exclamation"></span> @TranslationsLib.Translate("Administration.Tools")</a></li>
                        <li><a href="#information"><span class="errorIcon icon-exclamation"></span> @TranslationsLib.Translate("Administration.Information")</a></li>
                    </ul>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <div class="alert formSuccess mt-0-75em alert-success">
                                <span class="align-icon-left icon-checkbox"></span>
                                @TranslationsLib.Translate("Shared.ChangesSaved")
                            </div>
                            <div class="alert formError mt-0-75em alert-danger">
                                <span class="align-icon-left icon-exclamation"></span>
                                @TranslationsLib.Translate("Shared.PleaseCheckInput")
                            </div>
                            <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4 text-left">
                            <input type="button" class="cancel-form-modal btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                        </div>
                        <div class="col-xs-8 text-right btn-row">
                            <input type="submit" class="btn btn-primary pull-right save-country-btn" value="@TranslationsLib.Translate("Shared.SaveButton")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.ShowAddCountry)
    {
        <!--Add country-->
        <div class="modal fade" id="new-country" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close"><span class="icon-times"></span></a>
                        <h4 class="modal-title" id="newLabel">@TranslationsLib.Translate("Administration.AddCountry")</h4>
                    </div>
                    <div class="modal-body">
                        <form id="add-country" class="exclude-from-confirm">
                            <div class="container-fluid">
                                <div class="form-group row">
                                    <div class="col-xs-12">
                                        <label data="">@TranslationsLib.Translate("Shared.Country"): <span class="mandatory">*</span></label>
                                        <select required class="select-country form-control" style="width: 100%" data-placeholder="@TranslationsLib.Translate("Administration.SelectCountry")">
                                            <option></option>
                                            @foreach (string country in Model.Countries)
                                            {
                                                <option name="country" value="@country">@country</option>
                                            }
                                        </select>
                                        <label data="">@TranslationsLib.Translate("Administration.CountryCode"): <span class="mandatory">*</span></label>
                                        <input required class="form-control" type="text" name="code" maxlength="3" />
                                        <label data="">@TranslationsLib.Translate("Administration.SetRecipientsEmailForUserReg"): <span class="mandatory">*</span></label>
                                        <input required data-role="tagsinput" class="emailList form-control" type="email" name="emailrecipients" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <div class="alert formError mt-0-75em alert-danger">
                                    <span class="align-icon-left icon-checkbox"></span>
                                    @TranslationsLib.Translate("Shared.PleaseCheckInput")
                                </div>
                                <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4 text-left">
                                <input type="button" class="cancel-form-modal btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                            </div>
                            <div class="col-xs-8 text-right btn-row">
                                <input class="btn btn-primary u-cursorPointer add-country-btn pull-right" type="submit" value="@TranslationsLib.Translate("Shared.AddButton")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script src="~/Content/scripts/controllers/country-controller.js?v=@AppVersion.Current"></script>
}