﻿@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.HowToViewModel

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.HOW_TO_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "how-to-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.HowToWhatIsThis");
}

<div id="how-to-list" class="collapsibles">
    @{string firstCategory = Model.HowTosByCategory.FirstOrDefault().Key;}
    @foreach (KeyValuePair<string, List<HowTo>> category in Model.HowTosByCategory)
    {
        string categoryName = category.Key;
        List<HowTo> howTos = category.Value;

            for (var i = 0; i < howTos.Count(); i++)
            {
                HowTo howTo = howTos[i];
                bool isFirstHowTo = i == 0 && category.Key == firstCategory;
                if (howTo == howTos.FirstOrDefault())
                {
                    <h2>@howTo.ToolCategoryName</h2>
                }

            <div class="presentation-module @howTo.CategoryColor panel panel-default no-borders">
                    <div class="description panel-toggler @howTo.CategoryColor" data-toggle="collapse" data-target="#@howTo.ToolTag" data-parent="#how-to-list">
                    <h3 class="m-0">
                            @howTo.ToolName
                        <a class="u-fontSizeBase labelled-icon ml-1em d-inline-block">
                            <span id="read-more" style="@(isFirstHowTo ? "display: none" : "")">@TranslationsLib.Translate("Shared.ReadMore")</span>
                            <span id="read-less" style="@(isFirstHowTo ? "" : "display: none")">@TranslationsLib.Translate("Shared.ReadLess")</span>
                                <span class="icon toggle-icon @(isFirstHowTo ? "icon-minus" : "icon-plus")"></span>
                            </a>
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-9">
                            <p>@Html.Raw(TranslationsLib.Translate("Shared." + howTo.ToolTag + "WhatIsThis"))</p>
                        </div>
                    </div>
                    <div id="@howTo.ToolTag" class="collapse panel-content @(isFirstHowTo ? "in" : "")">
                        <div class="row">
                            <div class="col-xs-12 col-md-9">
                                <div class="presentation">
                                <div id="carousel-@howTo.ToolTag" class="carousel" data-ride="carousel" data-interval="false">
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <div class="image-container"></div>
                                                <div class="text-container">
                                                    <h2>@howTo.ToolName</h2>
                                                    <h3>@howTo.ToolCategoryName</h3>
                                                </div>
                                            </div>

                                            @foreach (HowToSlide slide in @howTo.Slides)
                                            {
                                                <div class="item">
                                                    <div class="image-container">
                                                        <img src="@TridionLib.GetResolvedURL(slide.ImageURL)" />
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                        <!-- Controls -->
                                        <div class="controls">
                                            <div class="row">
                                                <div class="col-xs-9 slide-description">@TranslationsLib.Translate("HowTos.UseArrowsToStart")</div>

                                                @foreach (HowToSlide slide in @howTo.Slides)
                                                {
                                                <div class="col-xs-9 slide-description" style="display: none">@slide.Description</div>
                                                }

                                                <div class="controls-container">
                                                @{var carouselId = "#carousel-" + @howTo.ToolTag;}
                                                    @{var isDisabled = howTo.Slides.Any() ? "" : "disabled";}
                                                    <a class="right carousel-control icon-arrow_right @isDisabled" href="@carouselId" role="button" data-slide="next"></a>
                                                    <a class="left carousel-control icon-arrow_left @isDisabled" href="@carouselId" role="button" data-slide="prev"></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                if (howTo == howTos.LastOrDefault())
                {
                <hr class="thin mb-30px" />
                }
                else
                {
                    <hr class="thin lighter" />
                }
            }
        }
    </div>

@section Scripts {
    <script src="~/Content/scripts/controllers/how-to-controller.js?v=@AppVersion.Current"></script>
}
