﻿@using TorkExtranet.Models;
@using TorkExtranet;
@model TorkExtranet.Models.ViewModels.CompetitorReferenceGuideListPartial

@if (Model.ItemsToShow.Count > 0)
{
    foreach (TorkExtranet.Models.ViewModels.CompetitorReferenceGuideListPartial.ItemToShow itemToShow in Model.ItemsToShow)
    {
        <tr class="expandable-header" data-id="@itemToShow.Item.ArtNo" data-category="@itemToShow.CategoryCode" data-tork-art-nos="@String.Join(",", itemToShow.Item.ScaArtNos)">
            <td>@itemToShow.Item.ArtNo</td>
            <td class="u-paddingLeftXS">@itemToShow.CategoryName</td>
            <td class="u-paddingLeftXS">
                @foreach (string item in itemToShow.Item.ScaArtNos)
                {
                    <span class="d-block">@item</span>
                }
            </td>
            <td>
                <a class="Icon24 icon-plus u-cursorPointer"></a>
            </td>
        </tr>
    }

}

