﻿@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.LargeProductDetails

@{ var product = Model.Product; }
@if (product != null)
{
    <div class="control-module white product-module container-fluid">
        <div class="row">
            @{ string col_xs = "col-xs-12"; }
            @if (!String.IsNullOrEmpty(product.LargeImageURL))
            {
                col_xs = "col-xs-8";
                <div class="col-xs-4 product-img">
                    <img src="@product.LargeImageURL" alt="product img">
                </div>
            }
            <div class="@col_xs">
                <h3>@product.Name</h3>

                <div class="product-meta">
                    <ul>
                        <li><span class="meta-label">@TranslationsLib.Translate("Shared.Color")</span>: @product.Color</li>
                        <li><span class="meta-label">@TranslationsLib.Translate("Shared.Article")</span>: @product.BaseNumber</li>
                        <li><span class="meta-label">@TranslationsLib.Translate("Shared.EAN")</span>: @product.EAN</li>
                    </ul>
                </div>
                <div class="product-description">
                    @if (!String.IsNullOrWhiteSpace(@product.Description))
                    {
                        <p>@product.Description</p>
                    }

                    @if (@product.Benefits != null && @product.Benefits.Count > 0)
                    {
                        <ul>
                            @foreach (var benefit in @product.Benefits)
                            {
                                <li>@benefit.Name</li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="row add-to-list" data-tork-art-no="@product.BaseNumber">
                    <div class="col-xs-12">
                        <hr class="thin gray-light">
                    </div>
                    <div class="col-xs-4 text-right">
                        <label for="productListNameTextField">@TranslationsLib.Translate("Shared.AddToList"):</label>
                    </div>
                    <div class="col-xs-5">
                        <select class="form-control add-to-list-select" style="width: 100%" data-placeholder="@TranslationsLib.Translate("Shared.SelectProductList")">
                            <option></option>
                            @foreach (TorkExtranet.Models.DTOs.ProductListDTO productList in Model.ProductLists)
                            {
                                <option value="@productList.Id">@productList.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <input type="button" value="@TranslationsLib.Translate("Shared.AddButton")" class="btn btn-primary add-to-list-button" style="display: none">
                    </div>
                    <div class="col-xs-7 col-xs-offset-4">
                        <div id="alert-info" class="alert alert-success add-to-list-alert mt-0-75em" style="display: none">
                            <span class="align-icon-left icon-checkbox"></span> @TranslationsLib.Translate("Shared.ProductAddedToList")
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
}
