﻿@using TorkExtranet.Models;
@using TorkExtranet;

@model TorkExtranet.Models.ViewModels.ProductTranslationsTable

@if (Model.Translations.Count > 0)
{
    <table class="table panel-table u-xs-marginBottomN" id="product-translations-table" data-query="@Model.SearchQuery">
        <thead class="u-cursorPointer">
            <tr class="table-head">
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    <th class="@c.ClassName Sort-header" data-sort-order="@c.SortOrder">
                        <span class="Sort-label">@c.DisplayName <span class="Sort-icon @c.IconClassName"></span></span>
                    </th>
                }
                @if (Model.ShowEdit)
                {
                    <th class="icons">&nbsp;</th>
                }
            </tr>

        </thead>
        <tbody>
            @foreach (Product_Translations translation in Model.Translations)
            {
                <tr class="translations item u-cursorPointer" data-translation-id="@translation.id">
                    @foreach (TableColumnSpecification c in Model.Columns)
                    {
                        <td class="@c.ClassName">
                            @if (c.ClassName == "product-price")
                            {
                                @UtilsLib.GetPriceByCulture(c.GetPropertyValue(Model.DbContext, translation));
                            }
                            else
                            {
                                @c.GetPropertyValue(Model.DbContext, translation);
                            }
                        </td>
                    }
                    @if (Model.ShowEdit)
                    {
                        <td class="Settings-container">
                            <div class="Settings-group">
                                <a class="icon icon-cog u-cursorPointer edit-translation-link" title="@TranslationsLib.Translate("Shared.Edit")"></a>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Pagination", Model.Pagination)
}
else
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}
