﻿@using TorkExtranet.Models.PIM

@model TorkExtranet.Models.ViewModels.ProductAssetsDownloadSelectBodyPartialViewModel

<tbody>
    @{ int dom_i = 0; }
    @foreach (MASDP.AFH.TorkConnect.DTO.PIM.Product product in Model.Products)
    {
        List<Dictionary<string, List<MediaResource>>> resourcesByCategory = Product.MediaResourcesByCategory(Model.MediaResources.Where(r => r.ArticleNumber == product.ArticleNumber));
        int totalResources = 0;
        foreach (Dictionary<string, List<MediaResource>> dictionary in resourcesByCategory)
        {
            foreach (List<MediaResource> resourcesList in dictionary.Values)
            {
                totalResources += resourcesList.Count;
            }
        }
        <tr>
            <td>
                @if (totalResources > 0)
                {
                    <a class="pull-right u-cursorPointer panel-toggler right-down-arrow-toggle"><span class="toggle-icon icon icon-arrow_right"></span></a>
                }
                <strong class="article-name">@product.Name</strong> <div class="selected-items">(@TranslationsLib.Translate("ProductAssetsDownload.AssetsSelected", string.Format("0/{0}", totalResources)))</div>
                <div class="article-number">@product.BaseNumber</div>
                <div class="collapse resources panel-content">
                    @foreach (Dictionary<string, List<MediaResource>> dictionary in resourcesByCategory)
                    {
                        var key = dictionary.Keys.First();
                        List<MediaResource> resources = dictionary.Values.First();
                        if (resources.Count > 0 && resources.First().MediaType == "image")
                        {
                            <div class="resources-container">
                                <div class="title">@key</div>
                                <div class="images-container">
                                    @foreach (MediaResource image in resources)
                                    {
                                        dom_i++;
                                        var dom_id = "cel_img_" + dom_i.ToString();
                                        var fileSizeText = image.FileSizeText();
                                        string downloadUrl = image.ImageResolutions(Model.ImageResolutionIndex);
                                        <div class="single-container">
                                            <div class="product-img">
                                                <img data-src="@image.LargerThumbnailImageURL()" />
                                                <input id="@dom_id" type="checkbox" value="@image.ObjectID" data-is-image="True" data-sort-order="-1" data-type="@image.MediaType" data-sub-type="@image.ContentType" data-sub-type-name="&nbsp;-&nbsp;@image.TranslatedContentType" data-name="@image.TranslatedMediaType" data-url="@downloadUrl" data-title="@image.TranslatedContentType" data-subtitle="@product.BaseNumber - @product.Name" data-thumbnail="@image.LargerThumbnailImageURL()" @image.ImageResolutionsString() />
                                                <label for="@dom_id"></label>
                                            </div>
                                            <div>
                                                <a href="@downloadUrl" target="_blank">@image.TranslatedContentType</a>
                                                @if (!string.IsNullOrEmpty(fileSizeText))
                                                {
                                                    <br />@fileSizeText
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            foreach (MediaResource resource in resources)
                            {
                                dom_i++;
                                var dom_id = "cel_res_" + dom_i.ToString();
                                var fileSizeText = resource.FileSizeText();
                                string downloadUrl = resource.DownloadURL();
                                <div class="resources-container pdfs">
                                    <div class="title">
                                        <a href="@downloadUrl" target="_blank">@resource.TranslatedContentType</a>
                                        @if (!string.IsNullOrEmpty(fileSizeText))
                                        {
                                            <span class="file-size">@fileSizeText</span>
                                        }
                                    </div>
                                    <input id="@dom_id" type="checkbox" value="@resource.ObjectID" data-sort-order="0" data-type="@resource.ContentType" data-name="@resource.TranslatedContentType" data-url="@downloadUrl" data-title="@resource.TranslatedContentType" data-subtitle="@product.BaseNumber - @product.Name" data-thumbnail="@resource.LargerThumbnailImageURL()" />
                                    <label for="@dom_id"></label>
                                </div>
                            }
                        }
                    }
                </div>
            </td>
        </tr>
    }
</tbody>
