﻿@using MASDP.AFH.TorkConnect.DTO.PIM;
@model TorkExtranet.Models.ViewModels.ReferencedTorkItemPartial

@{
    var numberOfProducts = Model.Products.Count();
    var colWidth = 90 / (numberOfProducts + 1);
    var count = 1;
 }

<div class="visible-xs">
    <div class="Tablist">
        <div class="Tablist-tab is-active" data-toggle-col="1">
           @TranslationsLib.Translate("CompetitiveReferenceGuide.Competitor")
        </div>
        @foreach (var product in Model.Products)
        {
        var index = count + 1;
        <div class="Tablist-tab" data-toggle-col="@index">
            Tork
            @if (numberOfProducts > 1) {
                <text>(@count)</text>
            }
        </div>
        count++;
        }

    </div>
</div>
<table class="table u-marginVerticalN" data-show-col="1">
    <thead>
        <tr>
            <th style="width: 10%"></th>
            <th style="width: @colWidth%" class="competitor-col">
                <div class="image-container">
                    <span class="@Model.CompetitorItem.CategoryIcon"></span>
                </div>
                <h3>@Model.CompetitorItem.Item.ArtName</h3>
            </th>
            @foreach (var product in Model.Products)
            {
                <th style="width: @colWidth%" class="tork-product">
                    <div class="image-container">
                        <img src="@product.ResolvedThumbnailImageURL(true, true)" />
                    </div>
                    <h3>@product.Name</h3>
                </th>
            }

        </tr>
    </thead>

    <tbody class="top-aligned">
        <tr>
            <th>@TranslationsLib.Translate("Shared.Color"):</th>
            <td class="competitor-col">@Model.CompetitorItem.Item.Color</td>
            @foreach (var product in Model.Products)
            {
                <td>@product.Color</td>
            }
        </tr>

        <tr>
            <th>@TranslationsLib.Translate("Shared.Article"):</th>
            <td class="competitor-col">@Model.CompetitorItem.Item.ArtNo</td>
            @foreach (var product in Model.Products)
            {
                <td>@product.BaseNumber</td>
            }
        </tr>
        <tr>
            <th>@TranslationsLib.Translate("Shared.EAN"):</th>
            <td class="competitor-col"></td>
            @foreach (var product in Model.Products)
            {
                <td>@product.EAN</td>
            }
        </tr>

        @foreach (var attr in Model.CompetitorItem.Item.Attributes)
        {
            <tr>
                <th>@attr.Label:</th>
                <td class="competitor-col">@Model.GetValueWithUnit(attr.Value, attr.Unit)</td>
                @foreach (var product in Model.Products)
                {
                    <td>@Model.GetValueWithUnit(product.GetAttribute(attr.Code), attr.Unit)</td>
                }
            </tr>
        }

        <tr>
            <th>@TranslationsLib.Translate("Shared.Description"):</th>
            <td class="competitor-col"></td>
            @foreach (var product in Model.Products)
            {
                <td class="long-text">@product.Description</td>
            }
        </tr>

        <tr class="actions no-hover">
            <th></th>
            <td class="competitor-col"></td>
            @foreach (var product in Model.Products)
            {
                <td>
                    <div class="add-to-list" data-tork-art-no="@product.BaseNumber">
                        <label for="productListNameTextField">@TranslationsLib.Translate("Shared.AddToList"):</label>
                        <select class="form-control mt-0-2em mb-1em add-to-list-select" style="width: 100%" data-placeholder="@TranslationsLib.Translate("Shared.SelectProductList")">
                            <option></option>
                            @foreach (TorkExtranet.Models.DTOs.ProductListDTO productList in Model.ProductLists)
                            {
                                <option value="@productList.Id">@productList.Name</option>
                            }
                        </select>

                        <div class="btn-row mt-0-2em mb-1em">
                            <input type="button" value="@TranslationsLib.Translate("Shared.AddButton")" class="btn btn-primary add-to-list-button" style="display: none">
                            <div class="clearfix"></div>
                        </div>
                        <div id="alert-info" class="alert alert-success add-to-list-alert">
                            <span class="align-icon-left icon-checkbox"></span> @TranslationsLib.Translate("CompetitiveReferenceGuide.ProductAddedToList")
                        </div>
                    </div>
                </td>
            }

        </tr>
    </tbody>
</table>

