﻿@using TorkExtranet.Models;

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.COMPETITOR_REFERENCE_GUIDE_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "competitor-reference-guide-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.CompetitorReferenceGuideWhatIsThis");
}

@model TorkExtranet.Models.ViewModels.BaseViewModel

<div id="loading-msg" class="control-module text-center">
    <div class="loading-msg-pending">
        <h3 class="u-nowrap">@TranslationsLib.Translate("CompetitiveReferenceGuide.LoadingProductInformation")</h3>
        <div class="u-posRelative u-inlineBlock u-paddingBottomM u-marginLeftL">
            <span id="loading-msg-spinner"></span>
        </div>
        <p>@TranslationsLib.Translate("CompetitiveReferenceGuide.AddAllProductsHelper")</p>
    </div>
    <p class="loading-msg-error" style="display: none"><strong>@TranslationsLib.Translate("CompetitiveReferenceGuide.FailedLoadingProductInformation")</strong></p>
</div>

<div id="competitor-reference-guide-content" style="display: none">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-4">
            <div class="input-group u-marginBottomS">
                <div class="u-posRelative">
                    <input class="form-control" id="search-input"
                    placeholder="@TranslationsLib.Translate("CompetitiveReferenceGuide.CompetitorArtNo")" autocomplete="off">
                    <span class="clear-search-field" aria-hidden="true" style="display: none">&times;</span>
                </div>
                <span class="input-group-btn">
                    <button id="search-submit" class="btn btn-primary" type="submit">
                        <i class="icon icon-magnify visible-xs-inline-block"></i>
                        <span class="hidden-xs">@TranslationsLib.Translate("Shared.Search")</span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="visible-xs">
        <div class="Arrange Arrange--withGutter Arrange--middle">
            <div class="Arrange-sizeFit">
                <button type="button" id="competitor-filter-toggle" class="search-filter-toggle btn btn-link-borderless btn-primary u-marginVerticalS"
                data-target=".competitor-list">
                    <i class="icon icon-filter"></i>
                    <span class="u-paddingHorizontalXS">@TranslationsLib.Translate("Shared.Filter")</span>
                            <i class="icon icon-arrow_down_borderless" data-indicator></i>
                </button>
            </div>
            <div class="Arrange-sizeFill u-textRight">
                <span class="label label-primary u-inlineBlock u-textTruncate" data-filter-title="manufacturer"></span>
                <span class="label label-primary u-inlineBlock u-textTruncate" data-filter-title="category"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div id="competitor-filter" class="collapse in">
                <div class="competitor-list">
                    <h3>@TranslationsLib.Translate("CompetitiveReferenceGuide.Competitors"):</h3>
                    <ul id="manufacturers-list"></ul>
                </div>
            </div>
        </div>
        <div class="visible-xs Tile-delimiter"></div>
        <div class="col-sm-8 table-container">
            <div id="update-list-error-message" class="mt-0-75em alert alert-danger">
                @TranslationsLib.Translate("CompetitiveReferenceGuide.FailedLoadingProductInformation")
            </div>
            
            <table class="table panel-table">
                <thead>
                    <tr>
                        <th style="width: 32%">@TranslationsLib.Translate("CompetitiveReferenceGuide.CompetitorArtNo")</th>
                        <th style="width: 32%" class="u-paddingLeftXS">@TranslationsLib.Translate("CompetitiveReferenceGuide.ProductType")</th>
                        <th style="width: 32%" class="u-paddingLeftXS">@TranslationsLib.Translate("CompetitiveReferenceGuide.TorkArtNo")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="hit-list-table" class="u-cursorPointer"></tbody>
            </table>
            <div class="tork-pagination hidden-xs" id="product-list-pagination" data-items-per-page="20" data-previous-text="@TranslationsLib.Translate("Shared.Previous")" data-next-text="@TranslationsLib.Translate("Shared.Next")"></div>
            <div data-slim-pagination class="u-cf" style="display: none;">
                <div class="row visible-xs">
                    <div class="col-xs-5 col-xs-offset-1">
                        <button class="btn btn-block btn-primary" data-navigate="prevPage">
                            @TranslationsLib.Translate("Shared.Previous")
                        </button>
                    </div>
                    <div class="col-xs-5">
                        <button class="btn btn-block btn-primary" data-navigate="nextPage">
                            @TranslationsLib.Translate("Shared.Next")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Modals {
<div id="reference-guide-modal" class="modal fade wide" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content" id="CompetitorRefGuidedetailsContent">
            <div class="modal-header">
                <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                <h4 class="modal-title">&nbsp;</h4>
            </div>

            <div class="modal-body m-0 spinLikeTable">
                <div id="reference-product-error-message" class="mt-0-75em alert alert-danger u-bold">
                    <span class="align-icon-left icon-exclamation"></span>
                    @TranslationsLib.Translate("CompetitiveReferenceGuide.FailedLoadingProductInformation")
                </div>

                <div class="comparison-container"></div>

            </div>
            <div class="modal-footer u-paddingBottomS">
                <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                <input type="button" id="PrintompetitorRefGuideDetails" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer hidden-xs" value="@TranslationsLib.Translate("Shared.Print")" />
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    <script src="~/Content/scripts/controllers/competitor-reference-guide-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/plugins/print.js?v=@AppVersion.Current"></script>
}