﻿@using TorkExtranet.Models;
@using TorkExtranet.Services;

@model TorkExtranet.Models.ViewModels.DetailedProductDataSheetViewModel

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.DETAILED_PRODUCT_DATA_SHEET_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "detailed-product-data-sheet-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.DetailedProductDataSheetWhatIsThis");
}

<div class="wizard hidden-xs">
        <div class="wizard-progress"></div>

        <div class="wizard-item" data-index="1">
            <div class="wizardLabel">@TranslationsLib.Translate("ProductDataSheet.EditList")</div>
        </div>
            @if (Model.CanAccessAddPrice) {
                
            <div class="wizard-item" data-index="2">
                <div class="wizardLabel">@TranslationsLib.Translate("Shared.PriceWizardText")</div>
            </div>
                
            }
        <div class="wizard-item last" data-index="3">
            <div class="wizardLabel">@TranslationsLib.Translate("ProductDataSheet.GenerateOutput")</div>
        </div>
        <div class="clearfix"></div>
    </div>

<div class="visible-xs">
    <h3 class="tab-title">@TranslationsLib.Translate("ProductDataSheet.EditList")</h3>
    <div class="ProgressBar">
        <div class="ProgressBar-indicator"></div>
    </div>
    <a class="btn btn-link pull-right" data-wizard="nextTab">
        <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
    </a>
    <a class="btn btn-link disabled" data-wizard="prevTab"><span class="Icon24 align-icon-left icon-arrow_left"></span></a>
</div>

    <div id="wizard-content" class="wizard-content control-module product-list-container">
    <div class="row hidden-xs">
            <div class="col-xs-4">
            <a href="#" id="previousButton-top" class="btn btn-default">@TranslationsLib.Translate("Shared.Previous")</a>
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4 text-right">
                <a href="#" id="nextButton-top" class="btn btn-primary">@TranslationsLib.Translate("Shared.Next")</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div id="product-price-list-alert-msg" class="wizard-alert-msg alert alert-danger">
                    <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("Shared.InvalidPrice")
                </div>
                <div id="product-rebate-alert-msg" class="wizard-alert-msg alert alert-danger">
                    <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("ProductList.InvalidRebatePercentageMessage")
                </div>
            </div>
        </div>

        <div id="step1" class="wizard-pane">
            @Html.Partial("~/Views/Shared/_ProductList.cshtml", Model.ProductListViewModel)
        </div>
         @if (Model.CanAccessAddPrice) {

        <div id="step2" class="wizard-pane  add-price-wizard">
           @Html.Partial("~/Views/Shared/_AddPrice.cshtml")
         </div>
         
         }
            
        <div id="step3" class="wizard-pane">
                <hr class="gray-light hidden-xs">

        <div class="row">
            <div class="col-sm-6">
                <label class="control-label d-block mt-20px">
                    @TranslationsLib.Translate("Shared.LogoOnDocument"):&nbsp;
                    <span class="TooltipIcon icon-question Icon18-right--xs" data-popover-target=".popover-target"></span>
                    <span class="popover-target" style="display: none">
                            <img src='~/Content/images/tooltip-logotype.jpg' />
                        </span>
                    </label>
                    @if (Model.Logo != null)
                    {
                        <p>
                            <input type="checkbox" checked="checked" name="enableLogo" id="enableLogo" />
                        <label for="enableLogo">
                            @TranslationsLib.Translate("Shared.EnableLogo")
                        </label>
                        </p>
                    }

                <div class="prev-wrapper_company-logo-file" style="display: none">
                    <div class="progress" style="display: none">
                            <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"></div>
                        </div>
                    <div id="preview-image" style="display: none" data-container="logo">
                       <div id="prev_company-logo-file" class="ImageUploadPreview"></div>
                       <div class="ImageUploadPreview-caption" id="selectedFileNamePlaceHolder">
                           <a class="ImageUploadPreview-delete"><span class="icon icon-trashcan u-cursorPointer remove-logo-btn"></span></a>
                           <span class="fileName" data-placeholder="@TranslationsLib.Translate("Shared.NoFileSelected")">@TranslationsLib.Translate("Shared.NoFileSelected")</span>
                            </div>
                            </div>
                            </div>

                <div class="Upload-button btn btn-primary btn-block-xs">
                        @if (Model.Logo != null)
                        {
                        @TranslationsLib.Translate("Shared.ChangeLogoForDocument")
                        }
                        else
                        {
                        @TranslationsLib.Translate("ProductDataSheet.ChooseFile")
                        }

                    <input type="file" name="companyLogo" id="company-logo-file" class="Upload-input" accept="image/*">
                    </div>
                <div class="small hidden-xs">
                    @TranslationsLib.Translate("ProductDataSheet.SupportedImageFormats")
                    </div>

                    @if (Model.Logo != null)
                    {
                    <div style="display: none" id="defaultLogo" data-name="@Model.Logo.Name" data-logo-id="company-logo-file" data-file="@Convert.ToBase64String(Model.Logo.Data)"></div>
                    }
                </div>


                @*Added Email Logo upload option for External User only.*@
                @if (UserLib.IdentityIsExternal)
                {
                <div class="col-sm-6">
                    <label for="companyLogoEmail" class="control-label d-block mt-20px">
                            @TranslationsLib.Translate("Shared.LogoOnEmail"):
                        </label>
                        @if (Model.Logo != null)
                        {
                            <p>
                                <input type="checkbox" checked="checked" name="EmailenableLogo" id="EmailenableLogo" />
                            <label for="EmailenableLogo">
                                @TranslationsLib.Translate("Shared.EnableLogo")
                            </label>
                            </p>
                        }

                    <div class="prev-wrapper_company-logo-file-email" style="display: none">
                        <div class="progress" style="display: none">
                                <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"></div>
                            </div>
                        <div id="preview-image" style="display: none" data-container="logo">
                            <div id="prev_company-logo-file-email" class="ImageUploadPreview"></div>
                            <div class="ImageUploadPreview-caption" id="selectedFileNamePlaceHolderEmail">
                                <a class="ImageUploadPreview-delete"><span class="icon icon-trashcan u-cursorPointer remove-logo-btn-email"></span></a>
                                <span class="fileName" data-placeholder="@TranslationsLib.Translate("Shared.NoFileSelected")">@TranslationsLib.Translate("Shared.NoFileSelected")</span>
                                </div>
                                </div>
                                </div>

                    <div class="Upload-button btn btn-primary btn-block-xs">
                            @if (Model.Logo != null)
                            {
                            @TranslationsLib.Translate("Shared.ChangeLogoForEmail")
                            }
                            else
                            {
                            @TranslationsLib.Translate("ProductDataSheet.ChooseFile")
                            }
                        <input name="companyLogoEmail" id="company-logo-file-email" class="Upload-input" type="file" accept="image/*" />
                        </div>

                    <div class="small">
                        @TranslationsLib.Translate("ProductDataSheet.SupportedImageFormats")
                    </div>

                        @if (Model.Logo != null)
                        {
                        <div style="display: none" id="defaultLogoEmail" data-name="@Model.Logo.Name" data-logo-id="company-logo-file-email" data-file="@Convert.ToBase64String(Model.Logo.Data)"></div>
                        }
                    </div>
                }
                    @*Added logic for Preloaded Logo  Cosmos Id - 1488208*@
                    else
                    {
                <div class="col-sm-6 mt-20px" id="divAccountLogo">
                            @if (Model.CanAccessProductTranslator && Model.AccountsWithLogo.Count() > 0)
                            {
                        if (Model.AccountsWithLogo.Count() > 1)
                                        {
                                            <div id="acccount-selector-Logo">
                                    <p class="help-block">
                                        @TranslationsLib.Translate("Shared.SelectAccountForDocumentLogo")
                                    </p>

                                @Html.DropDownList("accountid", Model.AccountsWithLogo, TranslationsLib.Translate("Shared.SelectAccount"), new { @id = "account-select-Logo", @required = "required", @class = "form-control no-reset",  @style = "width: 100%" }, Model.AccountsWithLogo.Count() < 2)
                                            </div>
                                        }
                            @*Added logic for  Cosmos Id - 1773876*@
                            else
                            {
                            @Html.DropDownList("accountid", Model.AccountsWithLogo, "", new { @id = "account-select-Logo", @required = "required", @class = "hidden",  @style = "width: 100%" }, Model.AccountsWithLogo.Count() < 2)
                            }
                        }
                        </div>
                    }
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div id="invalid-image-format" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("Shared.InvalidImageFormat")
                    </div>
                </div>
            </div>

            <div class="row">
            @if (Model.CanAccessProductTranslator && Model.AccountsWithLogo.Count() > 0)
                {
                <div class="col-sm-6 mt-0-75em">
                            <input name="skuNumber" type="checkbox" checked id="sku-number">
                    <label for="sku-number" class="mt-0-2em mb-1em">
                        @TranslationsLib.Translate("Shared.SKUNumber")
                    </label>

                    @if (Model.AccountsWithLogo.Count() > 1)
                            {
                                <div id="acccount-selector">
                            <p class="help-block">
                                @TranslationsLib.Translate("Shared.SelectAccountForSKUInstructions")
                            </p>

                            @Html.DropDownList("accountid", Model.AccountsWithLogo, TranslationsLib.Translate("Shared.SelectAccount"), new { @id = "account-select", @required = "required", @class = "form-control no-reset", @style = "width: 100%" }, Model.AccountsWithLogo.Count() < 2)
                                </div>
                            }
                    @*Added logic for  Cosmos Id - 1773876*@
                    else
                    {
                        @Html.DropDownList("accountid", Model.AccountsWithLogo, "", new { @id = "account-select", @required = "required", @class = "hidden", @style = "width: 100%" }, Model.AccountsWithLogo.Count() < 2)
                    }
                        </div>
                }
                <div class="col-sm-6">
                    <hr class="gray">
                    <div class="download-options">
                        <p class="input-help">@TranslationsLib.Translate("Shared.OptionToDownloadEmailHeaderText")</p>
                        @Html.DropDownList("accountid", Model.UserChoice, new { @id = "user_Choice", @required = "required", @class = "form-control no-reset", @style = "width: 100%" })
            </div>
                        </div>
                        </div>

                    <div class="row">
            <div class="form-group col-sm-6 hidden-xs">@* Hidden on small screens since zip can't be opened on mobile devices *@
                <h2 class="mt-36px">
                    @TranslationsLib.Translate("Shared.Download")
                </h2>
                <hr class="gray-light hidden-xs">
                <p>
                    @TranslationsLib.Translate("ProductDataSheet.DetailedProductDataSheetDownloadInstructions")
                </p>
                <div class="row">
                    <div class="col-xs-12">
                <input type="button" id="detailed-product-data-sheet-download-btn" class="btn btn-primary btn-block-xs disable-form-confirm" value="@TranslationsLib.Translate("Shared.Download")" />
                    </div>
                </div>
                    <div id="getPDFError-msg" class="alert alert-danger mt-0-75em">
                                @TranslationsLib.Translate("Shared.GeneratePDFError")
                            </div>
                    <div id="getPDFWait-msg" class="alert alert-success mt-0-75em">
                                @TranslationsLib.Translate("Shared.GenerateFileWait")
                            </div>
                    <div id="getPDFWaitMore-msg" class="alert alert-success mt-0-75em">
                                @TranslationsLib.Translate("Shared.GeneratePDFWaitMore")
                            </div>
                        </div>
            <div class="col-sm-6">
                <h2 class="mt-36px">
                    @TranslationsLib.Translate("Shared.Email")
                </h2>
                <hr class="gray-light hidden-xs">
                    <form class="exclude-from-confirm" novalidate>
                        <div class="form-group">
                        <label for="exportEmail" class="control-label">
                            @TranslationsLib.Translate("Shared.To"): <span class="mandatory">*</span>
                        </label>
                        <input id="exportEmail" data-role="tagsinput" type="email" name="email" required class="emailList form-control">
                        </div>
                        <div class="form-group">
                            <label for="ccexportEmail" class="control-label">
                                @TranslationsLib.Translate("Shared.Cc"):
                            </label>
                            <input id="ccexportEmail" data-role="tagsinput" type="email" name="ccemail" class="ccemailList form-control">
                        </div>
                        <div class="form-group">
                        <label for="exportSubject" class="control-label">
                            @TranslationsLib.Translate("Shared.Subject"): <span class="mandatory">*</span>
                        </label>
                            <input id="exportSubject" name="subject" required class="form-control">
                        </div>
                        <div class="form-group">
                        <label for="exportEmailFrom" class="control-label">
                            @TranslationsLib.Translate("Shared.From"): <span class="mandatory">*</span>
                        </label>
                            <input id="exportEmailFrom" class="form-control" type="email" readonly value="@Model.ContactInfoEmail">
                        </div>
                        <div class="form-group">
                        <label for="exportMessage" class="control-label">
                            @TranslationsLib.Translate("Shared.Message"):
                        </label>
                            <textarea class="form-control" name="message" id="exportMessage" rows="4"></textarea>
                        </div>
                    <hr class="gray-light hidden-xs">
                        <div class="form-group">
                        <div class="alert formSuccess mt-0-75em alert-success">
                                <span class="align-icon-left icon-checkbox"></span>
                                @TranslationsLib.Translate("Shared.MailSuccessfullySent")
                            </div>
                        <div class="alert formError mt-0-75em alert-danger">
                                <span class="align-icon-left icon-exclamation"></span>
                                @TranslationsLib.Translate("Shared.PleaseCheckInput")
                            </div>
                        <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                        </div>
                    <div class="form-group clearfix">
                        <input type="submit" class="btn btn-primary btn-block-xs pull-right" id="detailed-product-sheet-email-btn" value="@TranslationsLib.Translate("Shared.SendEmail")">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr class="invisible hidden-xs" />
        <div class="Arrange Arrange--withGutter u-marginTopS">
            <div class="Arrange-sizeFit">
                <a class="btn btn-link disabled visible-xs-inline-block" data-wizard="prevTab">
                    <span class="Icon24 align-icon-left icon-arrow_left"></span>
                </a>
                <a href="#" id="previousButton-bottom" class="btn btn-default hidden-xs">
                    <span class="icon icon-arrow_left_borderless visible-xs"></span><span class="hidden-xs">@TranslationsLib.Translate("Shared.Previous")</span>
                </a>
            </div>
            <div class="Arrange-sizeFill u-textRight">
                <a class="btn btn-link visible-xs-inline-block" data-wizard="nextTab">
                    <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
                </a>
                <a href="#" id="nextButton-bottom" class="btn btn-primary hidden-xs">@TranslationsLib.Translate("Shared.Next")</a>
            </div>
        </div>
        </div>

@section Scripts {
    <script src="~/Content/scripts/controllers/product-list-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/models/wizard.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/controllers/detailed-product-data-sheet-controller.js?v=@AppVersion.Current"></script>
<script src="~/Content/scripts/controllers/addprice-controller.js?v=@AppVersion.Current"></script>
}