﻿@using TorkExtranet.Models;
@using TorkExtranet.Services;

@model TorkExtranet.Models.ViewModels.ExportProductListViewModel

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.EXPORT_PRODUCT_LIST_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "export-product-list-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.ExportProductListWhatIsThis");
    ViewBag.addAllIsAvailable = Model.CanAccessAddAllProducts;
}

<div class="wizard">
    <div class="wizard-progress"></div>

    <div class="wizard-item" data-index="1">
        <div class="wizardLabel">@TranslationsLib.Translate("ExportProductLists.EditList")</div>
    </div>
    <div class="wizard-item" data-index="2">
        <div class="wizardLabel">@TranslationsLib.Translate("ExportProductLists.SelectDataFields")</div>
    </div>
    @if (Model.CanAccessAddPrice)
    {
        <div class="wizard-item" data-index="3">
            <div class="wizardLabel">@TranslationsLib.Translate("Shared.PriceWizardText")</div>
        </div>
    }
    <div class="wizard-item last" data-index="4">
        <div class="wizardLabel">@TranslationsLib.Translate("ExportProductLists.GenerateOutput")</div>
    </div>
    <div class="clearfix"></div>
</div>

<div id="wizard-content" class="wizard-content control-module product-list-container">
    <div class="row">
        <div class="col-xs-4">
            <a href="#" id="previousButton-top" class="btn btn-default">@TranslationsLib.Translate("Shared.Previous")</a>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4 text-right">
            <a href="#" id="nextButton-top" class="btn btn-primary">@TranslationsLib.Translate("Shared.Next")</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="product-price-list-alert-msg" class="wizard-alert-msg alert alert-danger">
                <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("Shared.InvalidPrice")
            </div>
            <div id="product-rebate-alert-msg" class="wizard-alert-msg alert alert-danger">
                <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("ProductList.InvalidRebatePercentageMessage")
            </div>
        </div>
    </div>
    <div id="step1" class="wizard-pane">
        @Html.Partial("~/Views/Shared/_ProductList.cshtml", Model.ProductListViewModel)
    </div>

    <div id="step2" class="wizard-pane">
        <h2>@TranslationsLib.Translate("ExportProductLists.SelectDataFields")</h2>
        <button class="btn btn-default select-all" data-target-parent=".wizard-pane">@TranslationsLib.Translate("ExportProductLists.SelectAll")</button>
        <button class="btn btn-default clear-all" data-target-parent=".wizard-pane">@TranslationsLib.Translate("ExportProductLists.ClearAll")</button>

        @foreach (ProductListDataFieldSection s in Model.ProductListDataFieldSections)
            {
            <div class="export-product-list-category-wrap">
                <div class="export-product-list-category-header">
                    <h2>@s.Name</h2>
                    <div class="button-container">
                        <button class="btn btn-default select-all" data-target-parent=".export-product-list-category-wrap">@TranslationsLib.Translate("ExportProductLists.SelectAll")</button>
                        <button class="btn btn-default clear-all" data-target-parent=".export-product-list-category-wrap">@TranslationsLib.Translate("ExportProductLists.ClearAll")</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    @if (s.Fields != null && s.Fields.Count > 0)
                    {
                        foreach (ProductListDataField field in s.SortedFields)
                        {
                            string _disabled = field.Mandatory ? "disabled" : "";
                            string dom_id = field.DOM_Id(s);

                            <div class="col-xs-4">
                                <input name="@dom_id" type="checkbox" checked @_disabled id="@dom_id" data-tag="@field.Tag">
                                <label for="@dom_id">@field.Name</label>
                            </div>
                        }
                    }
                    else
                    {
                        if (s.Sections != null && s.Sections.Count > 0)
                        {
                            foreach (ProductListDataFieldSection sub in s.Sections)
                            {
                                <div class="col-xs-4">
                                    <div class="row">
                                        <div class="col-xs-12"><div class="export-product-list-category-sub-header">@sub.Name</div></div>
                                        @foreach (ProductListDataField field in sub.SortedFields)
                                        {
                                            string _disabled = field.Mandatory ? "disabled" : "";
                                            string dom_id = field.DOM_Id(sub);

                                            <div class="col-xs-12"><input name="@dom_id" type="checkbox" checked @_disabled id="@dom_id"><label for="@dom_id">@field.Name</label></div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        }

    </div>

    @if (Model.CanAccessAddPrice)
    {
        <div id="step3" class="wizard-pane add-price-wizard">
            @Html.Partial("~/Views/Shared/_AddPrice.cshtml")
        </div>
    }

    <div id="step4" class="wizard-pane">
        <div class="row form-group">
            <hr class="gray-light">
            <div class="col-xs-6">
                <div class="col-xs-10">
                    @if (Model.Accounts.Count() > 1)
                    {

                        <p class="help-block">@TranslationsLib.Translate("Shared.SelectAccountForSKUInstructions")</p>

                        @Html.DropDownList("accountid", Model.Accounts, TranslationsLib.Translate("Shared.SelectAccount"), new { @id = "account-select", @required = "required", @class = "form-control no-reset", @style = "width: 100%" }, Model.Accounts.Count() < 2)

                    }
                    else
                    {
                        @Html.DropDownList("accountid", Model.Accounts, "", new { @id = "account-select", @required = "required", @class = "hidden", @style = "width: 100%" }, Model.Accounts.Count() < 2)
                    }
                </div>
            </div>

            @*Added Email Logo upload option for External User only.*@
            @if (UserLib.IdentityIsExternal)
            {
                <div class="col-xs-6" style="float:right">
                    <label for="companyLogo" class="control-label  d-block mt-20px">
                        @TranslationsLib.Translate("Shared.LogoOnEmail"):
                    </label>
                    @if (Model.Logo != null)
                    {
                        <p>
                            <input type="checkbox" checked="checked" name="enableLogo" id="enableLogo" />
                            <label for="enableLogo">@TranslationsLib.Translate("Shared.EnableLogo")</label>
                        </p>
                    }

                    <div class="prev-wrapper_company-logo-file" style="display: none">
                        <div class="progress" style="display: none">
                            <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"></div>
                        </div>
                        <div id="preview-image" class="row" style="display: none">
                            
                            <div id="prev_company-logo-file" class="ImageUploadPreview"></div>
                            

                            <div class="ImageUploadPreview-caption" id="selectedFileNamePlaceHolder">
                                <a class="ImageUploadPreview-delete"><span class="icon icon-trashcan u-cursorPointer remove-logo-btn"></span></a>
                                <span class="fileName" data-placeholder="@TranslationsLib.Translate("Shared.NoFileSelected")">@TranslationsLib.Translate("Shared.NoFileSelected")</span>
                            </div>
                            
                        </div>
                    </div>

                    <div class="Upload-button btn btn-primary btn-block-xs">
                        @if (Model.Logo != null)
                        {
                            <span>@TranslationsLib.Translate("Shared.ChangeLogoForEmail")</span>
                        }
                        else
                        {
                            <span>@TranslationsLib.Translate("ExportProductLists.ChooseFile")</span>
                        }
                        <input name="companyLogo" class="Upload-input" id="company-logo-file" type="file" accept="image/*" />
                        <input id="spanIE9Dummy" class="Upload-input" type="file" accept="image/*" />
                    </div>

                    <div class="col-xs-12 pl-0">
                        <span class="small">@TranslationsLib.Translate("ExportProductLists.SupportedImageFormats")</span>
                    </div>

                    @if (Model.Logo != null)
                    {
                        <div style="display: none" id="defaultLogo" data-name="@Model.Logo.Name" data-logo-id="company-logo-file" data-file="@Convert.ToBase64String(Model.Logo.Data)"></div>
                    }
                </div>
            }
        </div>



        <div class="row">
            <div class="col-xs-12">
                <div id="invalid-image-format" class="wizard-alert-msg alert alert-danger">
                    <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("Shared.InvalidImageFormat")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-6">
                <h2>@TranslationsLib.Translate("Shared.Download")</h2>
                <hr class="gray-light">
                <p class="help-block">@TranslationsLib.Translate("ExportProductLists.ProductListDownloadInstructions")</p>
                <div class="row pull-left">
                    <div class="col-xs-12">
                        <input type="button" id="product-list-download-btn" class="btn btn-primary disable-form-confirm" value="@TranslationsLib.Translate("Shared.Download")" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="getFileError-msg" class="alert alert-danger mt-0-75em">
                            @TranslationsLib.Translate("Shared.GenerateFileError")
                        </div>
                        <div id="getFileWait-msg" class="alert alert-success mt-0-75em">
                            @TranslationsLib.Translate("Shared.GenerateFileWait")
                        </div>
                        <div id="getFileWaitMore-msg" class="alert alert-success mt-0-75em">
                            @TranslationsLib.Translate("Shared.GenerateFileWaitMore")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <h2>@TranslationsLib.Translate("Shared.Email")</h2>
                <hr class="gray-light">
                <form id="product-list-mailer" class="exclude-from-confirm">
                    <div class="form-group">
                        <label for="exportEmail" class="control-label">@TranslationsLib.Translate("Shared.To"): <span class="mandatory">*</span></label>
                        <input id="exportEmail" data-role="tagsinput" type="email" required class="emailList form-control">
                    </div>
                    <div class="form-group">
                        <label for="ccexportEmail" class="control-label">
                            @TranslationsLib.Translate("Shared.Cc"):
                        </label>
                        <input id="ccexportEmail" data-role="tagsinput" type="email" name="ccemail" class="ccemailList form-control">
                    </div>
                    <div class="form-group">
                        <label for="exportSubject" class="control-label">@TranslationsLib.Translate("Shared.Subject"): <span class="mandatory">*</span></label>
                        <input id="exportSubject" name="subject" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exportEmailFrom" class="control-label">@TranslationsLib.Translate("Shared.From"): <span class="mandatory">*</span></label>
                        <input id="exportEmailFrom" class="form-control" type="email" readonly value="@Model.LoggedInUserEmail">
                    </div>
                    <div class="form-group">
                        <label for="exportMessage" class="control-label">@TranslationsLib.Translate("Shared.Message"):</label>
                        <textarea class="form-control" name="message" id="exportMessage" rows="4"></textarea>
                    </div>
                    <hr class="gray" />
                    <div class="form-group">
                        <div class="alert formSuccess mt-0-75em alert-success">
                            <span class="align-icon-left icon-checkbox"></span>
                            @TranslationsLib.Translate("Shared.MailSuccessfullySent")
                        </div>
                        <div class="alert formError mt-0-75em alert-danger">
                            <span class="align-icon-left icon-exclamation"></span>
                            @TranslationsLib.Translate("Shared.PleaseCheckInput")
                        </div>
                        <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary pull-right" id="product-list-email-btn" value="@TranslationsLib.Translate("Shared.SendEmail")">
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="invisible hidden-xs" />
    <div class="Arrange Arrange--withGutter u-marginTopS">
        <div class="Arrange-sizeFit">
            <a class="btn btn-link disabled visible-xs-inline-block" data-wizard="prevTab">
                <span class="Icon24 align-icon-left icon-arrow_left"></span>
            </a>
            <a href="#" id="previousButton-bottom" class="btn btn-default hidden-xs">
                <span class="icon icon-arrow_left_borderless visible-xs"></span><span class="hidden-xs">@TranslationsLib.Translate("Shared.Previous")</span>
            </a>
        </div>
        <div class="Arrange-sizeFill u-textRight">
            <a class="btn btn-link visible-xs-inline-block" data-wizard="nextTab">
                <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
            </a>
            <a href="#" id="nextButton-bottom" class="btn btn-primary hidden-xs">@TranslationsLib.Translate("Shared.Next")</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/scripts/controllers/product-list-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/models/wizard.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/controllers/export-product-list-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/controllers/addprice-controller.js?v=@AppVersion.Current"></script>
}