﻿@using TorkExtranet.Models;

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.PRODUCT_ASSETS_DOWNLOAD_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "product-assets-download-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.ProductAssetsDownloadWhatIsThis");
}

@model TorkExtranet.Models.ViewModels.ProductAssetsDownloadViewModel

<div class="wizard hidden-xs">
    <div class="wizard-progress"></div>

    <div class="wizard-item" data-index="1">
        <div class="wizardLabel">@TranslationsLib.Translate("ProductAssetsDownload.EditList")</div>
    </div>
    <div class="wizard-item" data-index="2">
        <div class="wizardLabel">@TranslationsLib.Translate("ProductAssetsDownload.SelectDataFields")</div>
    </div>
    <div class="wizard-item last" data-index="3">
        <div class="wizardLabel">@TranslationsLib.Translate("ProductAssetsDownload.GenerateOutput")</div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="visible-xs">
    <h3 class="tab-title">@TranslationsLib.Translate("ProductAssetsDownload.EditList")</h3>
    <div class="ProgressBar">
        <div class="ProgressBar-indicator"></div>
    </div>
    <a class="btn btn-link pull-right" data-wizard="nextTab">
        <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
    </a>
    <a class="btn btn-link disabled" data-wizard="prevTab"><span class="Icon24 align-icon-left icon-arrow_left"></span></a>
</div>

<div id="wizard-content" class="wizard-content control-module product-list-container">
    <div class="row hidden-xs">
        <div class="col-xs-4">
            <a href="#" id="previousButton-top" class="btn btn-default">@TranslationsLib.Translate("Shared.Previous")</a>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4 text-right">
            <a href="#" id="nextButton-top" class="btn btn-primary">@TranslationsLib.Translate("Shared.Next")</a>
        </div>
    </div>

    <div id="step1" class="wizard-pane">
        @Html.Partial("~/Views/Shared/_ProductList.cshtml", Model.ProductListViewModel)
    </div>

    <div id="step2" class="wizard-pane">
        <div class="row">
            <div class="col-xs-12">
                <div id="product-assets-select-alert-msg" class="wizard-alert-msg alert alert-danger">
                    <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("ProductAssetsDownload.NoAssetsSelectedErrorMsg").
                </div>
            </div>
        </div>

        <h2>@TranslationsLib.Translate("ProductAssetsDownload.DownloadProductAssets")</h2>

        <div class="form-group">
            <div id="multiple-select-container" class="tooltip-select-container" style="display: none;">
                <a data-toggle="tooltip" class="u-cursorPointer trigger" href="#">@TranslationsLib.Translate("ProductAssetsDownload.SelectFiles")<span class="icon icon-arrow_right"></span></a>
                <div class="links text-left" data-target="tooltip">
                    <a href="#" style="display: none" data-select-type="deselect" data-title="@TranslationsLib.Translate("ProductAssetsDownload.DeselectAll")"></a>
                    <a href="#" class="template" style="display: none">@TranslationsLib.Translate("Shared.All")</a>
                </div>
            </div>

            <div id="image-resolution-select-container" class="tooltip-select-container" style="display: none;">
                <a data-toggle="tooltip" class="u-cursorPointer trigger" href="#">@TranslationsLib.Translate("ProductAssetsDownload.SelectImageResolution")<span class="icon icon-arrow_right"></span></a>
                <div class="links text-left" data-target="tooltip">
                    @{ string prefix = "image-resolution-select"; }
                    @foreach (SelectListItem item in Model.ImageResolutionNames)
                    {
                        string fieldId = string.Format("{0}-{1}", prefix, item.Value);
                        @Html.RadioButton(prefix, item.Value, item.Selected, new { @id = fieldId, @class = "prevent-close-all", @data_resolution_prefix = TorkExtranet.Models.PIM.MediaResource.DataImageResolutionPrefix });
                        @Html.Label(fieldId, item.Text, new { @class = "prevent-close-all d-block" });
                    }
                </div>
            </div>
        </div>

        <table class="table" id="product-assets-download-select-list"></table>
    </div>

    <div id="step3" class="wizard-pane">
       
        <div class="row">
            
            <div class="col-xs-12 col-sm-6">
                <h2>@TranslationsLib.Translate("Shared.Download")</h2>
                <hr class="gray-light hidden-xs">
                <p class="help-block">@TranslationsLib.Translate("ProductAssetsDownload.DownloadInstructions")</p>
                <h3>@TranslationsLib.Translate("Shared.FileList")</h3>
                <div class="u-textRight u-paddingBottom10 hidden-sm hidden-xs">
                    <input type="button" id="productasset-download-all-btn" class="btn btn-primary btn-block-xs disable-form-confirm" value="@TranslationsLib.Translate("Shared.DownloadAll")" />
                </div>
                <div class="template" style="display: none">
                    <a href="" class="disable-form-confirm" target="_blank">
                        <div class="product-img">
                            <img src="" />
                        </div>
                    </a>
                    <a class='download-icon-container' href='' target="_blank">
                        <span class='icon icon-download disable-form-confirm'></span>
                    </a>
                    <div class="product-texts">
                        <a href='' target="_blank" data-text="title" class="disable-form-confirm"></a>
                        <br />
                        <span data-text="subtitle"></span>
                    </div>
                </div>
                <div class="col-xs-12" id="product-assets-download-download-links" data-imagetypes="@GlobalShim.AppSettings.DisclaimerMessageImageTypes">

                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>@TranslationsLib.Translate("Shared.Email")</h2>
                <hr class="gray-light hidden-xs">

                @if (UserLib.IdentityIsExternal)
                {
                    <label for="companyLogo" class="control-label u-block">
                        @TranslationsLib.Translate("Shared.LogoOnEmail"):
                    </label>
                    if (Model.Logo != null)
                    {
                        <p>
                            <input type="checkbox" checked="checked" name="enableLogo" id="enableLogo" />
                            <label for="enableLogo">@TranslationsLib.Translate("Shared.EnableLogo")</label>
                        </p>
                    }

                    <div class="prev-wrapper_company-logo-file" style="display: none">
                        <div class="progress" style="display: none">
                            <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"></div>
                        </div>
                        <div id="preview-image" style="display: none">
                            <div id="prev_company-logo-file" class="ImageUploadPreview"></div>
                            <div class="ImageUploadPreview-caption" id="selectedFileNamePlaceHolder">
                                <a class="ImageUploadPreview-delete"><span class="icon icon-trashcan u-cursorPointer remove-logo-btn"></span></a>
                                <span class="fileName" data-placeholder="@TranslationsLib.Translate("Shared.NoFileSelected")">@TranslationsLib.Translate("Shared.NoFileSelected")</span>
                            </div>
                        </div>
                    </div>

                    <div class="Upload-button btn btn-primary btn-block-xs">
                        @if (Model.Logo != null)
                        {
                            <span>@TranslationsLib.Translate("Shared.ChangeLogoForEmail")</span>
                        }
                        else
                        {
                            <span>@TranslationsLib.Translate("ProductAssetsDownload.ChooseFile")</span>
                        }
                        <input class="Upload-input" name="companyLogo" id="company-logo-file" type="file" accept="image/*" />
                    </div>

                    <div class="small hidden-xs">@TranslationsLib.Translate("ProductAssetsDownload.SupportedImageFormats")</div>

                    if (Model.Logo != null)
                    {
                        <div style="display: none" id="defaultLogo" data-name="@Model.Logo.Name" data-logo-id="company-logo-file" data-file="@Convert.ToBase64String(Model.Logo.Data)"></div>
                    }
                }

                <form class="exclude-from-confirm" novalidate>
                    <div class="form-group">
                        <label for="exportEmail" class="control-label">@TranslationsLib.Translate("Shared.To"): <span class="mandatory">*</span></label>
                        <input id="exportEmail" data-role="tagsinput" type="email" name="email" required class="emailList form-control">
                    </div>
                    <div class="form-group">
                        <label for="ccexportEmail" class="control-label">
                            @TranslationsLib.Translate("Shared.Cc"):
                        </label>
                        <input id="ccexportEmail" data-role="tagsinput" type="email" name="ccemail" class="ccemailList form-control">
                    </div>
                    <div class="form-group">
                        <label for="exportSubject" class="control-label">@TranslationsLib.Translate("Shared.Subject"): <span class="mandatory">*</span></label>
                        <input id="exportSubject" name="subject" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exportEmailFrom" class="control-label">@TranslationsLib.Translate("Shared.From"): <span class="mandatory">*</span></label>
                        <input id="exportEmailFrom" class="form-control" type="email" readonly value="@Model.ContactInfoEmail">
                    </div>
                    <div class="form-group">
                        <label for="exportMessage" class="control-label">@TranslationsLib.Translate("Shared.Message"):</label>
                        <textarea class="form-control" name="message" id="exportMessage" rows="4">@TranslationsLib.Translate("ProductAssetsDownload.DefaultEmailMessage")</textarea>
                    </div>
                    <hr class="gray hidden-xs" />
                    <div class="form-group">
                        <div class="alert formSuccess mt-0-75em alert-success">
                            <span class="align-icon-left icon-checkbox"></span>
                            @TranslationsLib.Translate("Shared.MailSuccessfullySent")
                        </div>
                        <div class="alert formError mt-0-75em alert-danger">
                            <span class="align-icon-left icon-exclamation"></span>
                            @TranslationsLib.Translate("Shared.PleaseCheckInput")
                        </div>
                        <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                    </div>
                    <div class="form-group u-textRight">
                        <input type="submit" class="btn btn-primary btn-block-xs" id="product-assets-download-email-btn" value="@TranslationsLib.Translate("Shared.SendEmail")">
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="invisible" />
    <div class="Arrange Arrange--withGutter">
        <div class="Arrange-sizeFit">
            <a class="btn btn-link disabled visible-xs-inline-block" data-wizard="prevTab">
                <span class="Icon24 align-icon-left icon-arrow_left"></span>
            </a>  
            <a href="#" id="previousButton-bottom" class="btn btn-default hidden-xs">
                <span class="icon icon-arrow_left_borderless visible-xs"></span><span class="hidden-xs">@TranslationsLib.Translate("Shared.Previous")</span>
            </a>
        </div>
        <div class="Arrange-sizeFill u-textRight">
            <a class="btn btn-link visible-xs-inline-block" data-wizard="nextTab">
                <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
            </a>
            <a href="#" id="nextButton-bottom" class="btn btn-primary hidden-xs">@TranslationsLib.Translate("Shared.Next")</a>
        </div>
    </div>
</div>

@section Modals {
@Html.Partial("_disclaimer", new Message { Title = TranslationsLib.Translate("MarketingResources.MarketingAssetsDisclaimerTitle"),
                                           Body = TranslationsLib.Translate("MarketingResources.MarketingAssetsDisclaimerBody")
              });
}

@section Scripts {
    <script src="~/Content/scripts/controllers/product-list-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/models/wizard.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/controllers/product-assets-download-controller.js?v=@AppVersion.Current"></script>
}