﻿@using TorkExtranet.Models;
@using TorkExtranet;
@model TorkExtranet.Models.ViewModels.ProductTranslatorViewModel
@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.PRODUCT_TRANSLATOR_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "product-translator-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.ProductTranslatorWhatIsThis");
}

<form id="translations-search-form" class="exclude-from-confirm" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <div id="account-select-alert-msg" class="alert alert-danger">
                <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("ErrorMessages.NoAccountSelectedErrMsg").
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-5">

            <div class="u-marginBottomS">
                @Html.DropDownList("accountid", Model.Accounts, TranslationsLib.Translate("ProductTranslator.SelectAccount"), new { @id = "account-select", @required = "required", @class = "form-control no-reset", @style = "width: 100%" }, !Model.EnableAccountSelector)
            </div>

            <div class="clearfix">
            <div class="input-group">
                <div class="u-posRelative">
                    <input required
                           type="text"
                           class="form-control"
                           id="search-field"
                           name="searchTerm"
                           autocomplete="off"
                           placeholder="@TranslationsLib.Translate("Shared.Search")">
                    <span class="clear-search-field" aria-hidden="true" style="display: none">&times;</span>
                </div>

                <div class="input-group-btn">
                    <button id="search-btn" class="btn btn-primary" type="submit">
                        <i class="icon icon-magnify visible-xs-inline-block"></i>
                        <span class="hidden-xs">@TranslationsLib.Translate("Shared.Search")</span>
                    </button>
                </div>
            </div>
            </div>
            <span class="help-block">@TranslationsLib.Translate("ProductTranslator.ProductTranslationSearchFieldHelpText")</span>
        </div>


        <div class="col-sm-6 pull-right text-right hidden-xs">
            <input type="button" class="btn btn-default" id="export-translations-btn-translate" value="@TranslationsLib.Translate("ProductTranslator.Export")">
            @if (Model.ShowImportTranslations)
            {
                <a id="import-translations-btn" class="btn btn-primary u-cursorPointer">@TranslationsLib.Translate("ProductTranslator.Import")</a>
                <a id="add-translation-btn" class="btn btn-primary u-cursorPointer">@TranslationsLib.Translate("ProductTranslator.AddTranslation")</a>
            }
        </div>
    </div>

</form>

<div class="search-result"></div>

<div id="expand-errors-wrapper" style="display: none"></div>

@section Modals {
    @if (Model.ShowImportTranslations)
    {
    <!-- Import translations modal-->
    <div id="import-translations-modal" class="modal fade wide" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                    <h4 class="modal-title">@TranslationsLib.Translate("Shared.Import")</h4>
                </div>

                <div class="modal-body">

                    <div class="row" id="import-translations-module">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-4 text-left">
                            <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

    <!-- Add modal-->
    <div id="add-translation-modal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close"><span class="icon-times"></span></a>
                <h4 class="modal-title">@TranslationsLib.Translate("Shared.AddButton")</h4>
            </div>

            <div class="modal-body">
                <form id="add-translation">
                    <span data-warning="#add-translation-form" style="display: none">@TranslationsLib.Translate("Shared.UnsavedChangesWarning")</span>
                    <div class="container-fluid">
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label data="">@TranslationsLib.Translate("Shared.Account"): <span class="mandatory">*</span></label>
                                @Html.DropDownList("addAccountid", Model.Accounts, TranslationsLib.Translate("ProductTranslator.SelectAccount"), new { @id = "add-account-select", @required = "required", @class = "form-control no-reset", @style = "width: 100%" }, Model.Accounts.Count() < 2)
                                <label data="">@TranslationsLib.Translate("ProductTranslator.DistributorArticleNumber"): <span class="mandatory">*</span></label>
                                <input type="text" required class="form-control" name="distributorarticlenumber">
                                <label data="">@TranslationsLib.Translate("ProductTranslator.TorkArticleNumber"): <span class="mandatory">*</span></label>
                                <input type="text" required class="form-control" name="productarticlenumber">
                                <label data="" class="price-header">@string.Format(TranslationsLib.Translate("ProductTranslator.PriceHeader"), UtilsLib.GetCurrentCurrencySymbol())</label>
                                <input type="text" maxlength="20" class="form-control currency" name="productpriceinput">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-xs-12">
                        <div class="alert formSuccess mt-0-75em alert-success">
                            <span class="align-icon-left icon-checkbox"></span>
                            @TranslationsLib.Translate("ProductTranslator.ProductTranslationAdded")
                        </div>
                        <div class="alert formError mt-0-75em alert-danger">
                            <span class="align-icon-left icon-exclamation"></span>
                            @TranslationsLib.Translate("Shared.PleaseCheckInput")
                        </div>
                        <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-4 text-left">
                        <input type="button" class="cancel-form-modal btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                    </div>
                    <div class="col-xs-8 text-right btn-row">
                        <input type="submit" id="add-translation-modal-btn" class=" btn btn-primary pull-right" value="@TranslationsLib.Translate("Shared.AddButton")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Edit modal-->
    <div id="edit-translation-modal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close"><span class="icon-times"></span></a>
                <h4 class="modal-title">@TranslationsLib.Translate("Shared.Edit")</h4>
            </div>

            <div class="modal-body">
                <form id="edit-translation">
                    <span data-warning="#edit-translation-form" style="display: none">@TranslationsLib.Translate("Shared.UnsavedChangesWarning")</span>
                    <input name="id" type="hidden" />
                    <div class="container-fluid">
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label data="">@TranslationsLib.Translate("ProductTranslator.DistributorArticleNumber"): <span class="mandatory">*</span></label>
                                <input type="text" required class="form-control" name="distributorarticlenumber">
                                <label data="">@TranslationsLib.Translate("ProductTranslator.TorkArticleNumber"): <span class="mandatory">*</span></label>
                                <input type="text" required class="form-control" name="productarticlenumber">
                                <label data="" class="price-header"></label>
                                <input type="text" maxlength="20" class="form-control currency" name="productpriceinput">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-xs-12">
                        <div class="alert formSuccess mt-0-75em alert-success">
                            <span class="align-icon-left icon-checkbox"></span>
                            @TranslationsLib.Translate("Shared.ChangesSaved")
                        </div>
                        <div class="alert formError mt-0-75em alert-danger">
                            <span class="align-icon-left icon-exclamation"></span>
                            @TranslationsLib.Translate("Shared.PleaseCheckInput")
                        </div>
                        <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-4 text-left">
                        <input type="button" class="cancel-form-modal btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                    </div>
                    <div class="col-xs-8 text-right btn-row">
                        <input type="submit" id="save-translation-btn" class=" btn btn-primary pull-right" value="@TranslationsLib.Translate("Shared.SaveButton")" />
                        <input type="button" id="delete-translation-btn" class="btn btn-primary u-cursorPointer pull-right delete-btn" value="@TranslationsLib.Translate("Shared.DeleteButton")" />
                        <input type="button" id="confirm-delete-translation-btn" class="btn btn-danger u-cursorPointer pull-right confirm-delete-btn" value="@TranslationsLib.Translate("Shared.AreYouSureButton")" style="display: none"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    <script src="~/Content/scripts/controllers/product-translator-controller.js?v=@AppVersion.Current"></script>
}
