﻿.secondpage {
    page-break-before: always;
    position: relative;
}

.a4 {
    height: 297mm;
    width: 210mm;
}

.firstpage .sidebar {
    background-image: url("../images/intro-border.png");
}

.table-two {
    display: none;
}

.secondpage>.footer {
    bottom: 0px;
    width: 194mm;
}

.secondpage .product-certifications img {
    margin-right: 2px;
}

#tork-logo {
    width: 100px;
}

td.product-image {
    width: 60%;
}

.firstpage .product-image img {
    max-width: 410px;
    max-height: 260px;
}

.firstpage .specification table tbody tr td {
    font-size: 14px;
    width: 50%;
}

.firstpage .introduction .lead {
	font-size: 12px;
}

.firstpage .footer-wrapper {
    padding-top: 20px;
}

.secondpage .full-specifications {
    width: 60%;
}

.footer-div{
    position:absolute; 
    bottom:0px;
}

.contact-info{
    float:right; 
    clear:both;
    width:40%;
}

.contact-info-env{
    float:right; 
    clear:both;
    margin-right:10px;
    width:40%;
}
.body {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

.body-contact-info{
    padding: 8px;
    background-color: #ccebff;
    border-bottom-right-radius: 36px;
    margin-top: 12px;
    width:100%;
    word-break: break-all;	
    word-wrap:break-word;
}

.paddingleft18{
    padding-left:18px;
}