﻿@using TorkExtranet.Models
@using TorkExtranet

@model TorkExtranet.Models.ViewModels.ContractSearchResultPartial

@if (Model.Contracts.Count > 0)
{
    <div class="dropdown visible-xs">
        <ul class="dropdown-menu" data-target="tooltip">
            @foreach (TableColumnSpecification c in Model.Columns)
            {
                <li>
                    <a class="prevent-close-all" data-table-sort="@c.ClassName">
                        @c.DisplayName
                    </a>
                </li>
            }
        </ul>
        <span class="u-alignMiddle u-bold">@TranslationsLib.Translate("Shared.SortBy")</span>
        <button class="btn btn-primary btn-link-borderless dropdown-toggle u-marginLeftS u-marginRightXS" data-toggle="dropdown"></button>
        <button class="btn btn-primary btn-link-borderless u-fontSize28px" data-table-sort-order><span class="Icon24 icon-arrow_up_borderless"></span></button>
    </div>

    <div class="Tile-delimiter u-marginTopS"></div>

    <table class="table panel-table Sort table-xs-tiled">
        <thead class="u-cursorPointer hidden-xs">
            <tr class="table-head">
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    <th class="@c.ClassName Sort-header">
                        <span class="Sort-label">@c.DisplayName <span class="Sort-icon"></span></span>
                    </th>
                }
                <th class="icons">&nbsp;</th>
            </tr>
        </thead>
        <tbody class="u-cursorPointer">

            @foreach (Contract contract in Model.Contracts)
            {
                <tr class="contract item" data-contract-number="@contract.Contract_Number" data-contract-date="@contract.Contract_Date" data-contract-fromdate="@contract.Validity_From_Date" data-contract-Todate="@contract.Validity_To_Date"
                    data-soldto-number="@contract.Sold_To_Number">
                    @foreach (TableColumnSpecification c in Model.Columns)
                    {
                        <td class="@c.ClassName" data-sorting-value="@c.GetSortingValue(Model.DbContext, contract)" data-title="@c.DisplayName:">
                            @c.GetPropertyValue(Model.DbContext, contract)
                        </td>
                    }
                    <td class="Settings-container">
                        <div class="Settings-group">
                            <a class="icon icon-plus u-cursorPointer" title="@TranslationsLib.Translate("Shared.ShowDetails")"></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.NoResults)
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}
