﻿@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.ContractDetailsModalBody

<table class="table smaller">
    <tbody>
        <tr>
            <th class="u-verticalAlignTop">@TranslationsLib.Translate("Contracts.SCAContractNumber"):</th>
            <td class="u-verticalAlignTop">@Model.Contract.SCA_Contract_Number</td>
        </tr>
        <tr>
            <th class="u-verticalAlignTop">@TranslationsLib.Translate("Contracts.SoldToLabel"):</th>
            <td class="u-verticalAlignTop">
                @foreach (var addressLine in Model.Contract.Sold_To_Party_Address)
                {
                    @Html.Raw(addressLine + "<br />");
                }
            </td>
        </tr>
        <tr>
            <th class="u-verticalAlignTop">@TranslationsLib.Translate("Contracts.EndUser"):</th>
            <td class="u-verticalAlignTop">
                @foreach (var addressLine in Model.Contract.End_User_Address)
                {
                    @Html.Raw(addressLine + "<br />");
                }
            </td>
        </tr>
        <tr>
            <th>@TranslationsLib.Translate("Contracts.PriceValidDate"):</th>
            <td>@Model.Contract.Contract_Date.ToShortDateString()</td>
        </tr>
        <tr>
            <th>@TranslationsLib.Translate("Contracts.ValidityFromDate"):</th>
            <td>@Model.Contract.Validity_From_Date.ToShortDateString()</td>
        </tr>
        <tr>
            <th>@TranslationsLib.Translate("Contracts.ValidityToDate"):</th>
            <td>@Model.Contract.Validity_To_Date_String</td>
        </tr>
    </tbody>
</table>

<hr class="invisible" />

<div class="u-fadeOutLeft u-fadeOutRight u-marginHorizontalMNeg">
    <div class="u-overflowXAuto">
        <table class="table smaller u-inlineTable u-marginHorizontalM">
            <thead>
                <tr>
                    <th>@TranslationsLib.Translate("Contracts.LineNumber")</th>
                    <th>@TranslationsLib.Translate("Contracts.SCAProductNumber")</th>
                    <th>@TranslationsLib.Translate("Contracts.Description")</th>
                    <th>@TranslationsLib.Translate("Contracts.Quantity")</th>
                    <th>@TranslationsLib.Translate("Contracts.UOM")</th>
                    <th>@TranslationsLib.Translate("Contracts.ContractNetPrice")</th>
                    <th>@TranslationsLib.Translate("Contracts.NewPrice")</th>
                    <th>@TranslationsLib.Translate("Contracts.EffectiveDate")</th>
                    <th>@TranslationsLib.Translate("Contracts.EndDate")</th>
                </tr>
            </thead>
            <tbody class="u-textNoWrap">
                @foreach (var item in Model.Contract.Contract_Items)
            {
                    <tr>
                        <td>@item.LineNumber</td>
                        <td>@item.SCAProductNumber</td>
                        <td>@item.Description</td>
                        <td>@item.Quantity</td>
                        <td>@item.UOM</td>
                        <td>@item.ContractNetPrice</td>
                        <td>@item.NewPrice</td>
                        <td>@item.EffectiveDate.ToShortDateString()</td>
                        <td>@item.Validity_End_Date_String</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>