﻿@using TorkExtranet.Models;
@using TorkExtranet;

@model TorkExtranet.Models.ViewModels.ContractsViewModel

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.CONTRACTS_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "contracts-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.ContractsWhatIsThis");
}

<div class="content-container u-colorGray control-module">
    <form id="contracts-form" class="exclude-from-confirm" novalidate autocomplete="off">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="sold-to">@TranslationsLib.Translate("Contracts.SoldTo"): </label>
                            <select name="soldTo" class="form-control" id="sold-to" data-placeholder="@TranslationsLib.Translate("Contracts.SoldTo")" >
                                <option value="0">@TranslationsLib.Translate("Contracts.SelectSoldToNumber")</option>
                                @foreach (Tuple<int, string> soldTo in Model.SoldTos)
                                {
                                    string selected_val = "";
                                    if (Model.DefaultAccount != null && soldTo.Item1 == Model.DefaultAccount.id)
                                    {
                                        selected_val = "selected";
                                    }
                                    <option value="@soldTo.Item1" @selected_val>@soldTo.Item2</option>
                                }
                            </select>
                    </div>

                <div class="form-group">
                        <label for="end-user-name">@TranslationsLib.Translate("Contracts.EndUserName"):</label>
                        <input type="text" name="endUserName" value="" class="form-control" id="end-user-name">
                    </div>

                <div class="form-group">
                        <label for="contract-number">@TranslationsLib.Translate("Contracts.ContractNumber"):</label>
                        <input type="text" name="contractNumber" value="" class="form-control" id="contract-number">
                    </div>
                </div>

            <div class="col-sm-6">
                <div class="form-group">
                        <label for="contract-date">@TranslationsLib.Translate("Contracts.PriceValidDate"): <span class="mandatory">*</span></label>
                        <div class="datepicker-container">
                            <input class="datepicker form-control" type="text" name="contractDate" value="@DateTime.Now.ToShortDateString()" id="contract-date" required>
                            <span class="datepicker-icon icon-calendar"></span>
                        </div>
                    </div>

                <div class="form-group">
                        <label for="end-user-number">@TranslationsLib.Translate("Contracts.EndUserNumber"):</label>
                        <input type="text" name="endUserNumber" value="" class="form-control" id="end-user-number">
                    </div>

            </div>
        </div>
        <hr class="gray hidden-xs" />
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="alert formError alert-danger">
                    <span class="align-icon-left icon-exclamation"></span>
                    @TranslationsLib.Translate("Shared.PleaseCheckInput")
                </div>
                <div class="alert backEndErrors mt-0-75em alert-danger"></div>
            </div>
        </div>
        <div class="visible-lg visible-md" id="spinnerDiv">
        </div>
        <button id="contracts-search-btn" class="btn btn-primary btn-block-xs u-block u-marginLeftAuto" type="submit">@TranslationsLib.Translate("Shared.Search")</button>
    </form>
</div>

<div id="contracts-results">
    <div class="search-result spinLikeTable">
    </div>

    <div class="tork-pagination hidden-xs" id="search-contracts-pagination" data-items-per-page="@Search.DefaultPageSize" data-previous-text="@TranslationsLib.Translate("Shared.Previous")" data-next-text="@TranslationsLib.Translate("Shared.Next")">
    </div>
    <div data-slim-pagination class="u-cf" style="display: none;">
        <div class="row visible-xs">
            <div class="col-xs-5 col-xs-offset-1">
                <button class="btn btn-block btn-primary" data-navigate="prevPage">
                    @TranslationsLib.Translate("Shared.Previous")
                </button>
            </div>
            <div class="col-xs-5">
                <button class="btn btn-block btn-primary" data-navigate="nextPage">
                    @TranslationsLib.Translate("Shared.Next")
                </button>
            </div>
        </div>
    </div>
</div>

@section Modals {
    <div class="modal wide fade" id="contract-details" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="contractDetailsContent">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                    <h4 class="modal-title" id="newLabel">@TranslationsLib.Translate("Contracts.ContractDetails")</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-12 text-left">
                            <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                            <input type="button" id="PrintContactDetails" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer hidden-xs" value="@TranslationsLib.Translate("Shared.Print")" />
                            <input type="button" id="contract-download-btn" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.Download")" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div id="getFileError-msg" class="alert alert-danger mt-0-75em">
                            @TranslationsLib.Translate("Shared.GenerateFileError")
                        </div>
                        <div id="getFileWait-msg" class="alert alert-success mt-0-75em">
                            @TranslationsLib.Translate("Shared.GenerateFileWait")
                        </div>
                        <div id="getFileWaitMore-msg" class="alert alert-success mt-0-75em">
                            @TranslationsLib.Translate("Shared.GenerateFileWaitMore")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Content/scripts/controllers/contracts-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/plugins/print.js?v=@AppVersion.Current"></script>
}