﻿@using TorkExtranet.Models;
@using System.Linq;
@model TorkExtranet.Models.ViewModels.EditExternalUserViewModel
<div class="modal-header">
    <a class="close"><span class="icon-times"></span></a>
    <h4 class="modal-title">@TranslationsLib.Translate("Administration.EditUser")</h4>
    @if (!Model.Pending_user)
    {
        <ul class="modal-tabs">
            <li><a href="#particulars" class="active"><span class="errorIcon icon-exclamation"></span> @TranslationsLib.Translate("Administration.Particulars")</a></li>
            <li><a href="#tools"><span class="errorIcon icon-exclamation"></span> @TranslationsLib.Translate("Administration.Tools")</a></li>
            <li><a href="#extended-accesses"><span class="errorIcon icon-exclamation"></span> @TranslationsLib.Translate("Administration.AdditionalAccesses")</a></li>
            <li><a href="#access"><span class="errorIcon icon-exclamation"></span> @TranslationsLib.Translate("Administration.ExtranetAccess")</a></li>
        </ul>
    }
</div>
<div class="modal-body">
    <form id="manage-user">
        <span data-warning="#manage-user" style="display: none">@TranslationsLib.Translate("Shared.UnsavedChangesWarning")</span>
        <input id="userId" type="hidden" name="id" value="@Model.User.id" />
        @{ string tab_content = "tab-content"; }
        @if (Model.Pending_user)
        {
            tab_content = "";
            <input id="isPendingUser" type="hidden" name="enabled" value="on" />
        }
        <div class="@tab_content" id="particulars">
            <div class="row form-group">
                <div class="col-xs-6 form-group">
                    <label for="first-name">@TranslationsLib.Translate("Shared.FirstName"): <span class="mandatory">*</span></label>
                    <input type="text" name="firstname" required value="@Model.User.first_name" class="form-control" id="first-name">
                </div>
                <div class="col-xs-6 form-group">
                    <label for="last-name">@TranslationsLib.Translate("Shared.LastName"): <span class="mandatory">*</span></label>
                    <input type="text" name="lastname" required value="@Model.User.last_name" class="form-control" id="last-name">
                </div>
                <div class="col-xs-6 form-group">
                    <label for="job-title">@TranslationsLib.Translate("Shared.JobTitle"): <span class="mandatory">*</span></label>
                    <input type="text" name="jobtitle" required class="form-control" value="@Model.User.job_title" id="job-title">
                </div>
                <div class="col-xs-6 form-group">
                    <label for="account">@TranslationsLib.Translate("Shared.Account"): <span class="mandatory">*</span></label>
                    <select name="selectedaccount" class="form-control select-user-account" style="width: 100%" id="account" data-placeholder="@TranslationsLib.Translate("Administration.SelectAccount")" required>
                        <option></option>
                        @foreach (Account account in Model.Accounts)
                        {
                            string selected_account = account.id == Model.User.account_id ? "selected" : "";
                            <option value="@account.id" @selected_account>@account.name</option>
                        }
                    </select>
                </div>
                <div class="col-xs-6 form-group">
                    <label for="email">@TranslationsLib.Translate("Shared.Email"): <span class="mandatory">*</span></label>
                    <input type="email" required name="email" class="form-control" value="@Model.User.email" id="email">
                </div>

                @if (Model.Pending_user && @Model.User.Country == null)
                {
                    <div class="col-xs-6 form-group">
                        <label for="country">@TranslationsLib.Translate("Shared.Country"): <span class="mandatory">*</span></label>
                        <select name="selectedcountry" style="width: 100%" required class="form-control select-account-country" data-placeholder="@TranslationsLib.Translate("Administration.SelectCountry")">
                            <option></option>
                            @foreach (Country country in Model.Countries)
                            {
                                <option value="@country.id">@country.name</option>
                            }
                        </select>
                    </div>
                }
                else
                {
                    <div class="col-xs-6 form-group">
                        <label for="country">@TranslationsLib.Translate("Shared.Country"): <span class="mandatory">*</span></label>
                        @{string countryName = @Model.User.Account == null ? (@Model.User.Country == null ? "" : @Model.User.Country.name) : @Model.User.Account.Country.name;}
                        @{int countryId = @Model.User.Account == null ? (@Model.User.Country == null ? 0 : @Model.User.Country.id) : @Model.User.Account.Country.id;}
                        <input type="hidden" name="selectedcountry" value="@countryId">
                        <input type="text" required class="form-control" disabled value="@countryName" id="country">
                    </div>
                }
                <div class="col-xs-6 form-group">
                    <label for="business-phone">@TranslationsLib.Translate("Shared.BusinessPhone"): <span class="mandatory">*</span></label>
                    <input type="tel" required name="businessphone" class="form-control" data-required-group="edit-external-user-phones" placeholder="@TranslationsLib.Translate("Shared.PhoneFieldPlaceHolderText")" value="@Model.User.business_phone" id="business-phone">
                </div>

                <div class="col-xs-6 form-group">
                    <label for="mobile-phone">@TranslationsLib.Translate("Shared.MobilePhone"): <span class="mandatory">*</span></label>
                    <input type="tel" required name="mobilephone" placeholder="@TranslationsLib.Translate("Shared.PhoneFieldPlaceHolderText")" value="@Model.User.mobile_phone" class="form-control" data-required-group="edit-external-user-phones" id="mobile-phone">
                </div>
                <div class="col-xs-6 form-group">
                    <label for="linkedin-profile">@TranslationsLib.Translate("Shared.LinkedInProfile"):</label>
                    <input type="text" name="linkedinprofile" class="form-control" value="@Model.User.linkedin_profile" id="linkedin-profile">
                </div>

                <div class="col-xs-6 form-group">
                    <label for="suggested-account">@TranslationsLib.Translate("Administration.SuggestedAccount"):</label>
                    <input type="text" disabled class="form-control" value="@Model.User.suggested_account" id="suggested-account">
                </div>
            </div>
        </div>
        @if (!Model.Pending_user)
        {
            <div class="container-fluid tab-content" id="tools">
                <div class="row">
                    <div class="col-xs-12">
                        <label>@TranslationsLib.Translate("Administration.Role"):</label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-6">
                        @{ string roles_disabled = Model.Disable_Role_Select ? "disabled" : ""; }
                        <select name="selectedrole" style="width: 100%" data-placeholder="@TranslationsLib.Translate("Administration.SelectRole")" @roles_disabled>
                            <option></option>
                            @foreach (Role role in Model.Roles)
                            {
                                string role_selected = Model.User.role_id == role.id ? "selected" : "";
                                <option value="@role.id" @role_selected>@role.name</option>
                            }
                        </select>
                    </div>
                    <div class="col-xs-1">
                        <span id="roles-dropdown-spinner"></span>
                    </div>
                    <div class="col-xs-5">
                        <button id="show-details-btn" class="btn btn-default pull-right">@TranslationsLib.Translate("Administration.ShowAllRoles")</button>
                        <button id="hide-details-btn" class="btn btn-default pull-right" style="display: none">@TranslationsLib.Translate("Administration.ShowSelectedRoles")</button>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12 toolsList">
                        @Html.Partial("_UserToolsList", Model.User_Tools_List)
                    </div>
                </div>
            </div>

            <div id="extended-accesses" class="container-fluid tab-content">
                <div class="row form-group">
                    <div class="col-xs-12">
                        <h3>@TranslationsLib.Translate("Administration.SAPSoldToNumbers")</h3>
                        <p>
                            <strong class="u-colorBlack">@TranslationsLib.Translate("Administration.MandatoryAccess"): </strong>
                            <span class="mandatory-access">@Model.User.Account.name</span> - @Model.User.Account.sap_identifier
                        </p>
                        <label for="sap-sold-to-numbers">@TranslationsLib.Translate("Administration.AddSAPSoldToNumbersAccess"):</label>
                        <select id="sap-sold-to-numbers" style="width: 100%" name="selectedsapaccounts" data-placeholder-text="@TranslationsLib.Translate("Administration.AccountNameOrSAPId")" multiple class="multiple-select two-col-select form-control">
                            @foreach (Account account in Model.SAPAccounts)
                            {
                                string selected_string = Model.User_SAPAccounts.Contains(account.id) ? "selected" : "";
                                <option value="@account.id" @selected_string>@account.name - @account.sap_identifier</option>
                            }
                        </select>
                    </div>
                </div>
                <hr />
                <div class="row form-group">
                    <div class="col-xs-12">
                        <h3>@TranslationsLib.Translate("Administration.ProductTranslatorAccounts")</h3>
                        <p>
                            <strong class="u-colorBlack">@TranslationsLib.Translate("Administration.MandatoryAccess"): </strong>
                            <span class="mandatory-access">@Model.User.Account.name</span>
                        </p>
                        <label for="pt-accounts">@TranslationsLib.Translate("Administration.AddProductTranslatorAccountsAccess"):</label>
                        <select id="pt-accounts" style="width: 100%" name="selectedptaccounts" data-placeholder-text="@TranslationsLib.Translate("Shared.AccountName")" multiple class="multiple-select two-col-select form-control">
                            @foreach (Account account in Model.PTAccounts)
                            {
                                string selected_string = Model.User_PTAccounts.Contains(account.id) ? "selected" : "";
                                <option value="@account.id" @selected_string>@account.name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="container-fluid tab-content active-tab" id="access">
                <div class="row form-group">
                    <div class="col-xs-12 form-group">
                        <label>@TranslationsLib.Translate("Administration.ExtranetAccess"):</label>
                        @TranslationsLib.Translate("Administration.EnableDisableAccessUser")
                    </div>
                    <div class="col-xs-6">
                        @{string enabled_checked = Model.User.enabled ? "checked" : "";}
                        <input type="checkbox" name="enabled" id="cb3-access-00" @enabled_checked>
                        <label for="cb3-access-00">@TranslationsLib.Translate("Administration.EnableAccess")</label>
                    </div>
                </div>
            </div>
        }
    </form>
</div>
<div class="modal-footer">
    <div class="row form-group">
        <div class="col-xs-12">
            <div class="alert formSuccess mt-0-75em alert-success">
                <span class="align-icon-left icon-checkbox"></span>
                @TranslationsLib.Translate("Shared.ChangesSaved")
            </div>
            <div class="alert formError mt-0-75em alert-danger">
                <span class="align-icon-left icon-exclamation"></span>
                @TranslationsLib.Translate("Shared.PleaseCheckInput")
            </div>
            <div class="alert backEndErrors mt-0-75em alert-danger"></div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-4 text-left">
            <input type="button" class="cancel-form-modal btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
        </div>
        <div class="col-xs-8 text-right btn-row">
            <input type="submit" class="btn btn-primary pull-right save-user-btn" value="@TranslationsLib.Translate("Shared.SaveButton")" />
            @if (Model.Pending_user || Model.Inactive_User)
            {
                <input type="button" class="btn btn-primary u-cursorPointer delete-user-btn pull-right delete-btn" value="@TranslationsLib.Translate("Shared.DeleteButton")" />
                <input type="button" class="btn btn-danger u-cursorPointer confirm-delete-user-btn pull-right confirm-delete-btn" value="@TranslationsLib.Translate("Shared.AreYouSureButton")" style="display: none"/>
            }
        </div>
    </div>
</div>
