﻿@using TorkExtranet;
@using TorkExtranet.Models;
@using System.Linq;

@model TorkExtranet.Models.ViewModels.ExternalUsersTablePartialViewModel

@if (Model.Users.Count > 0)
{
    <table class="table panel-table" id="users-table">
        <thead class="u-cursorPointer">
            <tr class="table-head">
                @if (Model.DisplayDeleteCheckboxes)
                {
                    <th class="icons u-padding10"></th>
                }
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    <th class="@c.ClassName Sort-header">
                        <span class="Sort-label">@c.DisplayName <span class="Sort-icon @c.IconClassName"></span></span>
                    </th>
                }
                <th class="icons">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (User user in Model.Users)
            {
                <tr class="user item" data-user-id="@user.id">
                    @if (Model.DisplayDeleteCheckboxes)
                    {
                        var is_checked = user.IsUserSelected ? "checked" : "";
                        <td class="checkbox">
                            <input name="delete-user-@user.id" value="@user.id" type="checkbox" id="delete-user-@user.id" @is_checked class="form-control" />
                            <label for="delete-user-@user.id" title="@TranslationsLib.Translate("Administration.SelectToRemoveUserTooltip")" />
                        </td>
                    }
                    @foreach (TableColumnSpecification c in Model.Columns)
                    {
                        var displayVal = string.Empty;
                        if (c.InstanceProperty == "creation_date")
                        {
                            displayVal = user.creation_date.ToString("g");
                        }
                        else
                        {
                            displayVal = c.GetPropertyValue(Model.DbContext, user);
                        }
                        
                        <td class="@c.ClassName">
                           
                            @displayVal
                        </td>
                    }
                    <td class="Settings-container">
                        <div class="Settings-group">
                            <a class="icon icon-cog u-cursorPointer edit-managed-product-btn" data-target="#edit-user-modal" title="@TranslationsLib.Translate("Shared.EditButton")"></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Pagination", Model.Pagination)
}
else
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}

