﻿@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.MANAGE_EXTERNAL_USERS_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "admin-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.ManageExternalUsersWhatIsThis");
}
@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.ManageExternalUsersViewModel
<div class="pull-left">
    <div id="userTabs" class="btn-group pull-left" data-tabs>
        <a id="userTabLink" class="btn @(Model.UsersType == UserStatus.Active ? "btn-primary" : "btn-default")" href="#userTab">@TranslationsLib.Translate("Administration.ActiveUsers")</a>
        <a id="inactiveUserTabLink" class="btn @(Model.UsersType == UserStatus.Inactive ? "btn-primary" : "btn-default")" href="#inactiveUserTab">@TranslationsLib.Translate("Administration.InactiveUsers")</a>
        <a id="pendingUserTabLink" class="btn @(Model.UsersType == UserStatus.Pending ? "btn-primary" : "btn-default")" href="#pendingUserTab">@TranslationsLib.Translate("Administration.PendingUsers") (<span id="numberOfPending">@Model.PendingUsersCount</span>)</a>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="pull-right">
    <input type="button" id="delete-users-btn" class="btn btn-primary u-cursorPointer" value=@TranslationsLib.Translate("Shared.DeleteButton") style="display: none" />
    <input type="button" class="btn btn-danger u-cursorPointer confirm-delete-users-btn confirm-delete-btn" value="@TranslationsLib.Translate("Shared.AreYouSureButton")" style="display: none" />
    @if (Model.IsExportAllowed)
    {
        <a id="disclaimer-export-btn" class="btn btn-default u-cursorPointer">@TranslationsLib.Translate("Administration.Export")</a>
    }
    <a id="import-users-btn" class="btn btn-primary u-cursorPointer">@TranslationsLib.Translate("Administration.Import")</a>
    <a id="add-user-btn" class="btn btn-primary u-cursorPointer">@TranslationsLib.Translate("Administration.AddUserButton")</a>
    <div class="form-group" id="validationMessages">
        <div class="alert formSuccess mt-0-75em alert-success">
            <span class="align-icon-left icon-checkbox"></span>
            @TranslationsLib.Translate("Administration.UsersDeletedSuccessfully")
        </div>
        <div class="alert formError mt-0-75em alert-danger">
            <span class="align-icon-left icon-exclamation"></span>
            @TranslationsLib.Translate("Shared.PleaseCheckInput")
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div id="userTab" class="tab-content">
    <h2>@TranslationsLib.Translate("Administration.ActiveUsers")</h2>
</div>
<div id="inactiveUserTab" class="tab-content">
    <h2>@TranslationsLib.Translate("Administration.InactiveUsers")</h2>
</div>
<div id="pendingUserTab" class="tab-content">
    <h2>@TranslationsLib.Translate("Administration.PendingUsers")</h2>
</div>
<div id="search-input">
    <form id="external-users-search-form" class="form-horizontal">
        <div class="form-group row">
            <div class="col-xs-4">
                <input type="text" class="form-control" id="search-field" name="searchTerm" autocomplete="off">
                <span class="clear-search-field" aria-hidden="true" style="display: none">&times;</span>
                <p class="help-block">@TranslationsLib.Translate("Administration.UserSearchFieldHelpText")</p>
            </div>
            <div class="col-xs-4">
                <input type="submit" value="@TranslationsLib.Translate("Shared.Search")" class="btn btn-primary">
            </div>
            <div class="col-xs-4">
                <select id="country-filter" name="country" class="form-control" style="width: 100%">
                    <option value="-1">@TranslationsLib.Translate("Administration.AllCountries")</option>
                    @foreach (var country in Model.Countries)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                </select>
            </div>
        </div>
    </form>
</div>
<div class="search-result">
    @Html.Partial("_SearchResults", Model.UsersTable)
</div>
<label id="selectedUserLabel"></label>
@section Modals {
    <!-- Edit User modal-->
    <div id="edit-user-modal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- Add User modal-->
    <div id="new-user-modal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close"><span class="icon-times"></span></a>
                    <h4 class="modal-title">@TranslationsLib.Translate("Administration.AddUser")</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid tab-content active-tab" id="particulars">
                        @Html.Partial("~/Views/Shared/_NewUserForm.cshtml", Model.NewUserForm)
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <div class="alert formError mt-0-75em alert-danger">
                                <span class="align-icon-left icon-exclamation"></span>
                                @TranslationsLib.Translate("Shared.PleaseCheckInput")
                            </div>
                            <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4 text-left">
                            <input type="button" class="btn btn-default u-cursorPointer cancel-form-modal" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                        </div>
                        <div class="col-xs-8 text-right btn-row">
                            <input type="button" class="btn btn-primary pull-right add-user-btn" value="@TranslationsLib.Translate("Shared.AddButton")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Import users modal-->
    <div id="import-users-modal" class="modal fade wide" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                    <h4 class="modal-title">@TranslationsLib.Translate("Administration.Import")</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-xs-12 text-left">
                            <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                        </div>
                    </div>
                    <div class="row" id="import-users-module">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.IsExportAllowed)
    {
        <!-- Export users modal-->
        <div id="export-users-modal" class="modal fade" role="dialog" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                        <h4 class="modal-title">@TranslationsLib.Translate("Administration.UsersExportDisclaimerTitle")</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            @TranslationsLib.Translate("Administration.UsersExportDisclaimerText")
                        </p>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group row">
                            <a class="btn btn-default u-cursorPointer" data-dismiss="modal">@TranslationsLib.Translate("Shared.CancelButton")</a>
                            <a id="export-user-btn" class="btn btn-default u-cursorPointer" data-dismiss="modal">@TranslationsLib.Translate("Shared.IAgree")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script src="~/Content/scripts/controllers/external-users-controller.js?v=@AppVersion.Current"></script>
}
