﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RelatedArticlesListing.ascx.cs" Inherits="SCA.TCW.Men.Web.UserControl.RelatedArticlesListing" %>


<asp:HiddenField ID="hdnData" runat="server" />


<!-- <div class="section vspace-lg">
    <div class="container"> -->

<div class="row" id="div1_landing" runat="server">
    <div class="col-12 col-md-10 col-sm-12">
        <!-- start component: article-list -->
        <div class="component component-article-list">
            <div class="article-list-container " >
               <%-- <ul class="article-list-filters vspace-md" id="ulArticleCategory" runat="server">
                    <li class="active">
                        <a href="">All</a>
                    </li>
                    <li>
                        <a href="">Absorbation</a>
                    </li>
                    <li>
                        <a href="">Stress</a>
                    </li>
                    <li>
                        <a href="">Skincare</a>
                    </li>
                    <li>
                        <a href="">Filter item</a>
                    </li>
                </ul>--%>

                <div class="article-list show-more vspace-sm" id="divArticlesList" runat="server">
                    <!-- Articles list will be appended here -->

                </div>
            </div>
        </div>
        <!-- end component: article-list -->
    </div>
</div>


<div class="row align-text-center" id="div2_landing" runat="server">
    <!-- start component: pagination -->
    <div class="component component-pagination">
        <div class="pagination" id="divPagination" runat="server">
            <%--<a href="#"><i class="icon-short-arrow-left"></i></a>
                        <div class="num"><a href="#" class="">1</a></div>
                        <div class="dots">...</div>
                        <div class="num"><a href="#" class="">4</a></div>
                        <div class="num"><a href="#" class="selected">5</a></div>
                        <div class="num"><a href="#" class="">6</a></div>
                        <div class="dots">...</div>
                        <div class="num"><a href="#" class="">10</a></div>
                        <a href="#"><i class="icon-short-arrow-right"></i></a>--%>
            
        </div>
    </div>
    <!-- end component: pagination -->
</div>
<!-- </div>
</div> -->

<%--<div id="divArticleDetail_outer" runat="server" class="col-8 col-sm-12 vspace-sm-md" >
    <!-- start component: article-list -->
    <div class="component component-article-list">
        <div class="article-list-container ">
            <h2 class="component-title article-list-title">Related articles</h2>--%>
            <div id="divArticlesList_Detail" runat="server" class="article-list show-more vspace-sm">
                <%--<div class="article-list-item">

                    <div class="article-list-image">
                        <img src="../dummy/product.png" alt="" class="">
                    </div>

                    <div class="status-row vspace-xs">
                        <div class="date-title status-row-item">
                            <i class="icon-calendar"></i>
                            2014-07-12				
                        </div>
                    </div>

                    <h2><a href="#">Study or article title</a></h2>

                    <div class="text-content vspace-sm">
                        Description copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Description copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.			
                    </div>
                </div>--%>
            </div>

           <!-- <div id="divMoreButton" runat="server" class="article-list-show-more align-text-center">-->
                <!-- start component: btn -->

                <!-- end component: btn -->
            <!-- </div>-->
       <%-- </div>


    </div>
    <!-- end component: article-list -->
</div>--%>

<script type="text/javascript">
    function getPageItems(pageId) {
        
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=UTF-8;",
            url: 'TCWServices/TCWService.svc/GetArticles',
            dataType: "json",

            success: function (data) {
                debugger
                alert(($.parseJSON(data.d)));
                debugger;
                console.log(data.d);
                alert(data.d);

                /*console.log($.parseJSON(data.d.ArticleCollection));
                    $($.parseJSON(data.d.ArticleCollection)).each(function (index, value) {							
						alert(value.totalPageCount);
                        //$("#TableID").append("<tr><td>" + value.Name + "</td><td>" + value.LastName + "</td><td>" + value.Email + "</td></tr>");  
                    });*/
            },
            error: function (result) {
                alert(result);
            }
        });
    }

</script>


