﻿@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helvetica-neue.woff");
}
@font-face {
  font-family: "HelveticaNeue";
  font-weight: bold;
  src: url("../fonts/helvetica-neue-bold.woff");
}
@font-face {
  font-family: "HelveticaNeue";
  font-weight: lighter;
  src: url("../fonts/helvetica-neue-light.woff");
}

body {  
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  margin: 0px;
}

  .table {
            margin: 0em 0;
            border-collapse: collapse !important;
            border-spacing: 0;
            font-weight: 700;
            width: 100%;
        }

            .table tr th.align-to-top, .table tr td.align-to-top {
                vertical-align: top !important;
            }

        .enable-horizontal-overflow {
            overflow-x: auto;
        }

        .modal-title {
            margin: 0;
            padding-left:10px;
            line-height: 1.42857143;
        }

        th {
            text-align: left;
        }

        .invisible {
            visibility: hidden;
        }

        .modal .modal-dialog .modal-content .modal-header {
            border-bottom: 1px solid #e5e5e5;
            min-height: 16.43px;
            padding: 15px 30px;
            margin-bottom: 10px;
        }

        .modal .modal-dialog .modal-content .modal-body {
            margin: 0 30px;
            padding: 0 !important;
        }

        .modal-body {
            position: relative;
        }

        h3 {
            font-size: 1.15em;
        }

        h1, h2, h3, h4, h5, h6 {
            color: black;
            font-weight: 700;
            background-color: white;
            margin: 0.5em 0;
            line-height: 2.2em;
        }

        .table.smaller tbody tr td {
            font-size: 0.8em;
        }

        .table thead {
            font-size: 1.1em;
            text-align: left;
            color: white;            
            background-color: #00AEEF;
        }

        table {
            max-width: 100%;
            background-color: transparent;
        }

        .table thead > tr {
            border-top: none;
        }

        .modal .modal-dialog .modal-content {
            border-radius: 0;
            border: none;
            box-shadow: none;
        }

        .table tbody tr {
            color: #575757;
            transition: all 0.2s;
        }

        .table tr {
            border-bottom: 1px solid #cecece;
        }

        h4 {
            font-size: 1.3em;
        }

        .table tbody tr > th {
            color: #00AEEF;
            border-bottom: none;
            font-weight: bold;
            height: 5mm;
        }

        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

        .table thead > tr > th {
            color: white;
            border-top: none;
            border-bottom: none;
            vertical-align: bottom;
            line-height: 1;
        }

        .table.smaller thead tr th {
            font-size: 0.8em;
        }

        .modal .modal-dialog .modal-content .modal-header, .modal .modal-dialog .modal-content .modal-footer {
            border: none;
        }

        .modal-header {
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;
            min-height: 16.42857143px;
        }
                
        .legalTextPDF {
            margin:10px;
            font-size:10pt;
            font-style:italic;
        }