﻿@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.MANAGE_EXTERNAL_ROLES_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "admin-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.ManageExternalRolesWhatIsThis");
}

@using TorkExtranet.Models;
@using TorkExtranet.Models.ViewModels;

@model TorkExtranet.Models.ViewModels.ManageExternalRolesViewModel

<div id="search-input">
    <form id="role-search-form" class="form-horizontal">
        <div class="form-group row">
            <div class="col-xs-4">
                <input type="text" class="form-control" id="search-field" name="searchTerm" placeholder="@TranslationsLib.Translate("Administration.RoleName")" autocomplete="off">
                <span class="clear-search-field" aria-hidden="true" style="display: none">&times;</span>
            </div>
            <div class="col-xs-4">
                <input type="submit" value="@TranslationsLib.Translate("Shared.Search")" class="btn btn-primary">
            </div>
            <div class="col-xs-4 text-right">
                <input type="button" value="@TranslationsLib.Translate("Administration.AddRole")" class="btn btn-primary" id="add-role-btn">
            </div>
        </div>
    </form>
</div>

<div class="search-result" data-end-point="@Model.RolesTable.EndPoint">
    @Html.Partial("_RolesTable", Model.RolesTable)
</div>

@section Modals {

    @Html.Partial("_AddRoleModal", new AddRoleModal() { AddEndPoint = "ExternalRole" })

    @Html.Partial("_EditRoleModal", new EditRoleModal() { EditBodyEndPoint = "EditExternalRoleModalBody", SaveEndPoint = "ExternalRole", DeleteEndPoint = "ExternalRole" })
}
@section Scripts {
    <script src="~/Content/scripts/controllers/role-controller.js?v=@AppVersion.Current"></script>
}
