﻿/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

button,
hr,
input {
    overflow: visible;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

progress,
sub,
sup {
    vertical-align: baseline;
}

[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:active,
    a:hover {
        outline-width: 0;
    }

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
select {
    text-transform: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
}

    [type=button]::-moz-focus-inner,
    [type=reset]::-moz-focus-inner,
    [type=submit]::-moz-focus-inner,
    button::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    [type=button]:-moz-focusring,
    [type=reset]:-moz-focusring,
    [type=submit]:-moz-focusring,
    button:-moz-focusring {
        outline: ButtonText dotted 1px;
    }

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

    [type=search]::-webkit-search-cancel-button,
    [type=search]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

[hidden],
template {
    display: none;
}


/* SCA colors */

html,
html body {
    font-family: Arial;
    font-size: 8.5pt;
}

body.us {
    width: 8.5in;
    height: 11in;
}

@media screen {
    body.us {
        margin: 0.4in 0.8in 0.5in 0.8in;
    }
}

@media print {
    /* This needs to be overridden on the rendered page */
    @page {
        margin: 0.4in 0.8in 0.5in 0.8in;
    }
}

h1,
h2,
h3 {
    color: #365f91;
    font-weight: bold;
}

h1 {
    font-size: 16pt;
}

h2 {
    font-size: 10pt;
}

h3 {
    font-size: 8.5pt;
    color: #000;
}

ul, ol, li {
    margin-left: 5pt;
    padding-left: 0;
}

li {
    margin-bottom: 8pt;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

#agreement-header {
    display: block;
    border-bottom: 1pt solid #365f91;
    padding-bottom: 0.125in;
    margin-bottom: 0.25in;
}

#title-and-heading {
    float: left;
    display: block;
    width: 75%;
}

    #title-and-heading img {
        display: block;
        clear: both;
        width: 0.98in;
        height: auto;
        margin-bottom: 0.4in;
    }

#agreement-dates {
    float: left;
    display: block;
    width: 24%;
}

    #agreement-dates > div {
        display: block;
        margin-bottom: 6pt;
    }

        #agreement-dates > div > span {
            display: inline-block;
            margin-right: 2pt;
            font-size: 10pt;
        }

.table {
    margin: 0;
    border-collapse: collapse !important;
    border-spacing: 0;
    border-bottom: 1pt solid #000;
    border-right: 1pt solid #000;
}

    .table td, .table th {
        border-top: 1pt solid #000;
        border-left: 1pt solid #000;
    }

    .table thead {
        font-size: 1.1em;
        font-weight: bold;
        text-align: left;
        color: #000;
        background-color: #8db3e2;
    }

#reimbursement-rates.table, #dispenser-information.table {
    width: 75%;
    margin: 0 auto;
}

    #reimbursement-rates.table td,
    #reimbursement-rates.table th,
    #dispenser-information.table td,
    #dispenser-information.table th {
        padding: 0.08in;
        border:1pt solid #000 !important;
    }

    #reimbursement-rates.table .dispenser-title {
        width: 37%;
    }

    #reimbursement-rates.table .dispenser-rate {
        width: 13%;
    }

#dispenser-and-customer-information {
    width: 100%;
    margin: 0;
    padding: 0;
}

    #dispenser-and-customer-information > header {
        width: 100%;
        color: #8db3e2;
        border-bottom: 2pt solid #8db3e2;
        margin: 10pt 0 10pt 0;
    }

        #dispenser-and-customer-information > header h3 {
            color: #365f91;
            margin: 0 0 5pt 0;
        }

        #dispenser-and-customer-information > div, #dispenser-and-customer-information > header > h3 {
            float: left;
            display: block;
        }

    #dispenser-and-customer-information #dispenser-information-title {
        width: 38%;
        margin-right: 2%;
    }

    #customer-information, #dispenser-and-customer-information #customer-information-title {
        width: 60%;
    }

        #customer-information .line {
            width: 100%;
            display: block;
            margin-bottom: 6pt;
        }

            #customer-information .line .label, #customer-information .line .value {
                display: inline-block;
                margin-right: 10pt;
            }

#signature {
    width: 100%;
}

.signature-inputs, .signature-labels {
    margin-bottom: 6pt;
    width: 100%;
}

    .signature-inputs input {
        border: none;
        padding: 0;
        height: 20pt;
        font-size: 12pt;
        vertical-align: baseline;
    }

#signature .long, #signature .short {
    display: block;
    float: left;
}

#signature .long {
    width: 58%;
    margin-right: 2%;
}

#signature .short {
    width: 38%;
    margin-right: 2%;
}

#end-customer-signature img {
    height: 100%;
    max-height: 1.0in;
    width: auto;
    max-width: 100%;
}

#signature-date {
    height: 1.0in;
    display: table-cell;
    vertical-align: middle;
}

#agree-checkbox {
    display: block;
    margin-top: 6pt;
    margin-bottom: 12pt;
}

    #agree-checkbox input {
        margin-right: 6pt;
    }

.agreement-heading {
    line-height: 2em;
}
