﻿/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

button,
hr,
input {
    overflow: visible;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

progress,
sub,
sup {
    vertical-align: baseline;
}

[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
select {
    text-transform: none;
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

[hidden],
template {
    display: none;
}


/* SCA colors */

html,
html body {
    font-family: Arial;
    font-size: 10pt;
}

body.eu {
    width: 210mm;
    height: 297mm;
}

@media screen {
    body.eu {
        margin: 0.4in 0.8in 0.5in 0.8in;
    }
}

@media print {
    /* This needs to be overridden on the rendered page */
    @page {
        margin: 0.4in 0.8in 0.5in 0.8in;
    }
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 16.5pt;
}

h2 {
    font-size: 10.5pt;
}

h3 {
    font-size: 10pt;
    color: #000;
}

ul,
ol,
li {
    margin-left: 5pt;
    padding-left: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 2em; 
  margin-bottom: 10pt;
  text-indent: -2em;
}

li::before {
  content: "■";
  padding-right: 1.5em;
  color: #00AEEF; /* or whatever color you prefer */
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

#agreement-header {
    display: block;
    padding-bottom: 0.125in;
    margin-bottom: 0.25in;
}

#title-and-heading {
    float: left;
    display: block;
    width: 50%;
}

#title-and-heading img {
    display: block;
    clear: both;
    width: 1.01in;
    height: auto;
    margin-bottom: 0.4in;
}

#title-and-heading h1 {
    line-height: 1.2em;
}

#agreement-dates {
    float: left;
    display: block;
    width: 50%;
}

#agreement-dates-subcontainer {
    float: right;
    width: 2.1in;
}

#agreement-dates-subcontainer>div {
    display: table;
    margin-bottom: 6pt;
}

#agreement-dates-subcontainer>div>span {
    display: table-cell;
    font-size: 6pt;
    vertical-align: middle;
}

#agreement-dates-subcontainer>div>span.label {
    width: 0.6in;
    text-align: right;
    padding-right: 0.1in;
}

#agreement-dates-subcontainer>div>span.date {
    background-color: #d9f3f9;
    width: 1.194in;
    height: 0.255in;
    padding-left: 0.125in;
    text-align: left;
}

#thank-you-header {
    font-size: 10pt;
}

.table {
    margin: 0;
    border-collapse: collapse !important;
    border-spacing: 0;
    border-bottom: 1pt solid #000;
    border-right: 1pt solid #000;
}

.table td,
.table th {
    border-top: 1pt solid #000;
    border-left: 1pt solid #000;
}

.table thead {
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    color: #fff;
    background-color: #00AEEF;
}

#reimbursement-rates.table,
#dispenser-information.table {
    width: 95%;
    margin: 0 auto;
}

#dispenser-information.table {
    margin-bottom: 16pt;
}

#reimbursement-rates.table td,
#reimbursement-rates.table th,
#dispenser-information.table td,
#dispenser-information.table th {
    padding: 0.08in;
    border:1pt solid #000 !important;
}

#dispenser-information.table td.number,
#dispenser-information.table th.number {
    text-align: center;
}

#dispenser-information.table td.currency,
#dispenser-information.table th.currency {
    text-align: right;
}

#dispenser-information-currency {
    font-size: 10pt;
    font-style: italic;
    text-align: right;
}

#reimbursement-rates.table .dispenser-title {
    width: 37%;
}

#reimbursement-rates.table .dispenser-rate {
    width: 13%;
}

#reimbursement-rates.table td.dispenser-rate {
    background-color: #E1F4FD;
}

#rates-table-footer {
    margin-top: 10pt;
}

#rates-table-footer li {
    font-weight: bold;
}

#customer-and-distributor-information, #fsc-information {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.information-field-block {
    width: 48%;
}

.information-field-block .line {
    width: 3.875in;
    display: table;
    margin-bottom: 6pt;
}

.information-field-block .line .label,
.information-field-block .line .value {
    display: table-cell;
    margin-right: 0.125in;
    height: 0.3864in;
    vertical-align: middle;
}

.information-field-block .line .label {
    width: 1.125in;
}

.information-field-block .line .value {
    background-color: #d9f3f9;
    width: 2.5in;
    text-align: left;
    padding-left: 0.125in;
}

#distributor-information {
    position: absolute;
    top: 0;
    right: 0;
}

#signature {
    width: 100%;
}

.signature-inputs,
.signature-labels {
    margin-bottom: 6pt;
    width: 100%;
    display: table;
    position: relative;
}

.signature-inputs input {
    border: none;
    padding: 0;
    height: 20pt;
    font-size: 12pt;
    vertical-align: baseline;
    background-color: #d9f3f9;
}

#signature .long,
#signature .short {
    display: block;
    float: left;
}

#signature .long {
    width: 58%;
    margin-right: 2%;
}

#signature .short {
    width: 38%;
    margin-right: 2%;
}

#customer-signature {
    height: 1.0in;
    display: table-cell;
}

#customer-signature img {
    height: 100%;
    max-height: 1.0in;
    width: auto;
    max-width: 100%;
}

#signature-date.show-signature {
    height: 20pt;
    display: table-cell;
    position: absolute;
    bottom: 0;
    right: 0;
}

#agree-checkbox {
    display: block;
    margin-top: 6pt;
    margin-bottom: 12pt;
}

#agree-checkbox input {
    margin-right: 6pt;
}