﻿@using TorkExtranet.Models;

@model TorkExtranet.Models.ViewModels.ProductSearchViewModel

@{
    ViewBag.Title = TranslationsLib.Translate("Shared.ProductSearch");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-container u-colorGray control-module">
    @Html.Partial("~/Views/Shared/_ProductList.cshtml", Model.ProductListViewModel)
</div>

@section Scripts {
    <script src="~/Content/scripts/controllers/product-list-controller.js?v=@AppVersion.Current"></script>
    <script type="text/javascript">
        $(function () {
            var controller = TDPWeb.ExtraNet.getProductListController();
            controller.submitSearch();
        });
    </script>
}