﻿@model TorkExtranet.Models.ViewModels.TKADProductsViewModel
<form id="tkad-products-export-form">
    <div class="modal fade" id="tkad-products-export-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">
                        <span class="icon-times"></span>
                    </a>
                    <h4 class="modal-title">@TranslationsLib.Translate("TKADProducts.ExportProducts")</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="alert form-errors mt-0-75em alert-danger"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="tkad-products-export-country">@TranslationsLib.Translate("TKADProducts.Country") *</label>
                        </div>
                        <div class="form-group col-xs-8">
                            <select id="tkad-products-export-country" name="Country" class="form-control" style="width: 100%" data-placeholder="@TranslationsLib.Translate("TKADProducts.Country")" required>
                                <option value=""></option>
                                @foreach (var country in Model.Countries)
                                {
                                    <option value="@country.code">@country.name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-6 text-left">

                        </div>
                        <div class="col-xs-6 text-right btn-row">
                            <input type="button" id="tkad-products-export-cancel-btn" name="CancelImportProducts" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CancelButton")" />
                            <input type="button" id="tkad-products-export-btn" class="btn btn-primary u-cursorPointer" value="@TranslationsLib.Translate("TKADProducts.ExportProducts")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>