﻿@model TorkExtranet.Models.ViewModels.TKADProductsViewModel
<form id="tkad-products-import-form" >
    <div class="modal fade" id="tkad-products-import-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">
                        <span class="icon-times"></span>
                    </a>
                    <h4 class="modal-title">@TranslationsLib.Translate("TKADProducts.ImportProducts")</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="alert form-errors mt-0-75em alert-danger"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="tkad-products-import-country">@TranslationsLib.Translate("TKADProducts.Country") *</label>
                        </div>
                        <div class="form-group col-xs-8">
                            <select id="tkad-products-import-country" name="Country" class="form-control" style="width: 100%" data-placeholder="@TranslationsLib.Translate("TKADProducts.Country")" required>
                                <option value=""></option>
                                @foreach (var country in Model.Countries)
                                {
                                    <option value="@country.code">@country.name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label for="tkad-products-import-backup-current-products-btn">@TranslationsLib.Translate("TKADProducts.BackupCurrentProducts")</label>
                        </div>
                        <div class="form-group col-xs-8">
                            <input type="button" id="tkad-products-import-backup-current-products-btn" class="btn btn-primary u-cursorPointer" value="@TranslationsLib.Translate("TKADProducts.ExportProducts")" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="tkad-products-import-success" class="col-xs-10 col-xs-offset-1 alert alert-success mt-0-75em" style="display: none;">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKADProducts.ImportSuccess").
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-12 text-left">
                            <span class="h5" id="tkad-products-import-file-name-placeholder">
                                <span class="selected-file-name" data-default-text="@TranslationsLib.Translate("TKADProducts.NoImportFileSelected")">
                                    @TranslationsLib.Translate("TKADProducts.NoImportFileSelected")
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6 text-left">
                            <div class="Upload-button btn btn-primary">
                                @TranslationsLib.Translate("TKADProducts.BrowseForImportFile")
                                <input id="tkad-products-import-file" name="ImportFile"  class="Upload-input" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required />
                            </div>
                            <span id="tkad-products-import-file-spinner-placeholder"></span>
                        </div>
                        <div class="col-xs-6 text-right btn-row">
                            <input type="button" id="tkad-products-import-cancel-btn" name="CancelImportProducts" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CancelButton")" />
                            <input type="submit" id="tkad-products-import-btn" name="ImportProducts" class="btn btn-primary disable-form-confirm" value="@TranslationsLib.Translate("TKADProducts.ImportFile")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>