﻿@using TorkExtranet;
@using System.Linq;
@using TorkExtranet.Models.DTOs

@model TorkExtranet.Models.ViewModels.TKADProductsTablePartialViewModel

@if (Model.Products.Count > 0)
{
    <table class="table panel-table" id="tkad-products-table">
        <thead class="u-cursorPointer">
            <tr class="table-head">
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    <th class="@c.ClassName Sort-header" data-sort-property="@c.AscendingSortProperty" data-sort-property-desc="@c.DescendingSortProperty">
                        <span class="Sort-label">@c.DisplayName <span class="Sort-icon @c.IconClassName"></span></span>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (TKADProductImportDTO product in Model.Products)
                {
                <tr class="product item" data-user-id="@product.Id">
                    @foreach (TableColumnSpecification c in Model.Columns)
                    {

                        var displayVal = c.GetPropertyValue(Model.DbContext, product);

                        <td class="@c.ClassName">
                            @displayVal
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Pagination", Model.Pagination)
}
else
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}
