﻿@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.TKAD_PRODUCTS_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "tkad-products-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.TKADProductsWhatIsThis");
}

@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.TKADProductsViewModel

<div class="form-group">
    <div class="text-right">
        <a href="#" id="tkad-products-export-products-btn" class="btn btn-primary">@TranslationsLib.Translate("TKADProducts.ExportProducts")</a>
        <a href="#" id="tkad-products-import-products-btn" class="btn btn-primary">@TranslationsLib.Translate("TKADProducts.ImportProducts")</a>
    </div>
</div>
<div class="content-container u-colorGray control-module">
    <form id="tkad-products-search-input" class="exclude-from-confirm" novalidate autocomplete="off">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="country-filter">@TranslationsLib.Translate("TKADProducts.CountryPlaceholder")</label>
                    <select id="country-filter" name="country" class="form-control" data-placeholder="@TranslationsLib.Translate("TKADProducts.CountryPlaceholder")">
                        <option value=""></option>
                        @foreach (Country country in Model.Countries)
                        {
                            <option value="@country.code">@country.name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="search-field">@TranslationsLib.Translate("TKADProducts.BaseMaterialNumberSearchPlaceholder")</label>
                    <input type="text" class="form-control" id="search-field" name="searchTerm" autocomplete="off" data-placeholder="@TranslationsLib.Translate("TKADProducts.BaseMaterialNumberSearchPlaceholder")">
                </div>
            </div>
        </div>
        <hr class="gray">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="alert backEndErrors mt-0-75em alert-danger"></div>
            </div>
        </div>
        <div class="text-right">
            <input id="tkad-search-btn" class="btn btn-primary" type="submit" value="@TranslationsLib.Translate("Shared.Search")" />
        </div>
    </form>
</div>
<div class="search-result">
    @Html.Partial("_SearchResults", Model.ProductsTable)
</div>

@section Modals {
    @Html.Partial("~/Views/TKADProducts/_ImportProducts.cshtml", Model)
    @Html.Partial("~/Views/TKADProducts/_ExportProducts.cshtml", Model)
}

@section Scripts {
    <script src="~/Content/scripts/controllers/tkad-products-controller.js?v=@AppVersion.Current"></script>
}