﻿@using TorkExtranet.Models
@using TorkExtranet

@model TorkExtranet.Models.ViewModels.StockPricingSearchResultPartial

@if (Model.StockPrice != null && Model.StockPrice.Count > 0)
{
    <div class="dropdown visible-xs">
        <ul class="dropdown-menu" data-target="tooltip">
            @foreach (TableColumnSpecification c in Model.Columns)
            {
                <li>
                    <a class="prevent-close-all" data-table-sort="@c.ClassName">
                        @c.DisplayName
                    </a>
                </li>
            }
        </ul>
        <span class="u-alignMiddle u-bold">@TranslationsLib.Translate("Shared.SortBy")</span>
        <button class="btn btn-primary btn-link-borderless dropdown-toggle u-marginLeftS u-marginRightXS" data-toggle="dropdown"></button>
        <button class="btn btn-primary btn-link-borderless u-fontSize28px" data-table-sort-order><span class="Icon24 icon-arrow_up_borderless"></span></button>
    </div>

    <div class="Tile-delimiter u-marginTopS"></div>
    <table class="table panel-table Sort table-xs-tiled table-tiled--no-settings">
        <thead class="u-cursorPointer hidden-xs">
            <tr class="table-head">
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    <th class="@c.ClassName Sort-header">
                        <span class="Sort-label">@c.DisplayName <span class="Sort-icon"></span></span>
                    </th>
                }
                <th class="icons">&nbsp;</th>
            </tr>
        </thead>
        <tbody class="u-cursorPointer">
            @foreach (StockPricing price in Model.StockPrice)
            {                
                <tr class="stock price item u-cursorPointer" data-sca-material-number="@price.SCA_Material_Number">
                    @foreach (TableColumnSpecification c in Model.Columns)
                    {
                        <td class="@c.ClassName" data-sorting-value="@c.GetSortingValue(Model.DbContext, price)" data-title="@c.DisplayName:">
                            @c.GetPropertyValue(Model.DbContext, price)
                        </td>

                    }
                </tr>
            }

        </tbody>
    </table>
}
else if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="col-xs-10 col-xs-offset-1">
        <div data-alert-type="search" class="alert alert-danger">
            <span class="align-icon-left icon-exclamation"></span>
            @Model.ErrorMessage
        </div>
    </div>
}
else if (Model.NoResults)
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}
