﻿@using TorkExtranet.Models;

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.STOCK_PRICES_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "stockPrices-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.StockPricingWhatIsThis");
}

@model TorkExtranet.Models.ViewModels.StockPricingViewModel

<div class="content-container u-colorGray control-module">
    <form id="stock-price-form" class="exclude-from-confirm" novalidate autocomplete="off">
        <div class="row">
            <div class="col-sm-6 form-group">
                        <label for="sold-to">@TranslationsLib.Translate("Orders.SoldTo"): <span class="mandatory">*</span></label>
                        <select name="soldTo" class="form-control" id="sold-to" data-placeholder="@TranslationsLib.Translate("Orders.SoldTo")" required>
                            <option></option>
                            @foreach (Tuple<int, string> soldTo in Model.SoldTos)
                            {
                                string selected_val = "";
                                if (Model.DefaultAccount != null && soldTo.Item1 == Model.DefaultAccount.id)
                                {
                                    selected_val = "selected";
                                }
                                <option value="@soldTo.Item1" @selected_val>@soldTo.Item2</option>
                            }
                        </select>
                    </div>
            <div class="col-sm-6 form-group">
                <label for="sca-material-number">@TranslationsLib.Translate("StockPrices.SCAMaterialNumber"): </label>
                <input type="text" name="SCAMaterialNumber" value="" class="form-control" id="sca-material-number">
                </div>

        </div>
        <div class="row">
            <div class="col-sm-3 form-group">
                        <label for="valid-date-on">@TranslationsLib.Translate("StockPrices.StockPriceValidOn"):  <span class="mandatory">*</span></label>
                        <div class="datepicker-container">
                            <input class="datepicker form-control disregard-disabled-css" type="text" name="ValidOn" id="valid-date-on" required>
                            <span class="datepicker-icon icon-calendar"></span>
                        </div>
                    </div>
                </div>
        <hr class="gray hidden-xs" />
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="alert formError alert-danger">
                    <span class="align-icon-left icon-exclamation"></span>
                    @TranslationsLib.Translate("Shared.PleaseCheckInput")
                </div>
                <div class="alert backEndErrors mt-0-75em alert-danger"></div>
            </div>
        </div>

        <button id="orders-search-btn" class="btn btn-primary btn-block-xs u-block u-marginLeftAuto" type="submit">@TranslationsLib.Translate("Shared.Search")</button>
    </form>
</div>

<div>
        <div class="search-result spinLikeTable">
        </div>

    <div class="tork-pagination hidden-xs" id="search-stock-price-pagination" data-items-per-page="@Search.DefaultPageSize" data-previous-text="@TranslationsLib.Translate("Shared.Previous")" data-next-text="@TranslationsLib.Translate("Shared.Next")">
    </div>
    <div data-slim-pagination class="u-cf" style="display: none;">
        <div class="row visible-xs">
            <div class="col-xs-6">
                <button class="btn btn-block btn-primary" data-navigate="prevPage">
                    @TranslationsLib.Translate("Shared.Previous")
                </button>
</div>
            <div class="col-xs-6">
                <button class="btn btn-block btn-primary" data-navigate="nextPage">
                    @TranslationsLib.Translate("Shared.Next")
                </button>
        </div>
    </div>
    </div>
</div>

<div id="stockpricing-download-section" class="u-marginTopS">
    <input type="button" id="PrintStockPriceDetails" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer hidden-xs" value="@TranslationsLib.Translate("Shared.Print")" />
    <input type="button" id="stock-price-download-btn" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer btn-block-xs" value="@TranslationsLib.Translate("Shared.Download")" />
</div>


        <div id="getFileError-msg" class="alert alert-danger mt-0-75em">
                @TranslationsLib.Translate("Shared.GenerateFileError")
            </div>
        <div id="getFileWait-msg" class="alert alert-success mt-0-75em">
                @TranslationsLib.Translate("Shared.GenerateFileWait")
            </div>
        <div id="getFileWaitMore-msg" class="alert alert-success mt-0-75em">
                @TranslationsLib.Translate("Shared.GenerateFileWaitMore")
        </div>
@section Scripts {
    <script src="~/Content/scripts/controllers/stock-pricing-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/plugins/print.js?v=@AppVersion.Current"></script>
}
