﻿@using TorkExtranet.Models;
@using TorkExtranet;

@model TorkExtranet.Models.ViewModels.InvoicesViewModel

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.INVOICES_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "invoices-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.InvoicesWhatIsThis");
}

<div class="content-container u-colorGray control-module">
    <form id="invoices-form" class="exclude-from-confirm" novalidate autocomplete="off">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="sold-to">@TranslationsLib.Translate("Invoices.SoldTo"): <span class="mandatory">*</span></label>
                <select name="soldTo" class="form-control" id="sold-to" data-placeholder="@TranslationsLib.Translate("Invoices.SoldTo")" required>
                    <option></option>
                    @foreach (Tuple<int, string> soldTo in Model.SoldTos)
                    {
                        string selected_val = "";
                        if (Model.DefaultAccount != null && soldTo.Item1 == Model.DefaultAccount.id)
                        {
                            selected_val = "selected";
                        }
                        <option value="@soldTo.Item1" @selected_val>@soldTo.Item2</option>
                    }
                </select>
            </div>
            @if (Model.CanAccessAdvanced)
            {
                <div class="col-sm-3 form-group">
                    <label for="ship-to-number">@TranslationsLib.Translate("Invoices.ShipToNumber"):</label>
                    <input type="text" name="shipToNumber" value="" class="form-control" id="ship-to-number">
                </div>
                <div class="col-sm-3 form-group">
                    <label for="ship-to-name">@TranslationsLib.Translate("Invoices.ShipToName"):</label>
                    <input type="text" name="shipToName" value="" class="form-control" id="ship-to-name">

                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="invoice-number">@TranslationsLib.Translate("Invoices.InvoiceNumber"):</label>
                <input type="text" name="InvoiceNumber" value="" class="form-control" id="invoice-number">
            </div>
            <div class="col-sm-3 form-group">
                <label for="sca-order-number">@TranslationsLib.Translate("Invoices.SCAOrderNumber"):</label>
                <input type="text" name="SCAOrderNumber" value="" class="form-control" id="sca-order-number">
            </div>
            <div class="col-sm-3 form-group">
                <label for="PO-number">@TranslationsLib.Translate("Invoices.PONumber"):</label>
                <input type="text" name="PONumber" value="" class="form-control" id="po-number">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 form-group">
                <label for="invoice-date-from">@TranslationsLib.Translate("Invoices.InvoiceDateFrom"): <span class="mandatory">*</span></label>
                <div class="datepicker-container">
                    <input class="datepicker form-control" type="text" name="invoiceDateFrom" value="@Model.MinDateString" id="invoice-date-from" required>
                    <span class="datepicker-icon icon-calendar"></span>
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <label for="invoice-date-to">@TranslationsLib.Translate("Invoices.InvoiceDateTo"): <span class="mandatory">*</span></label>
                <div class="datepicker-container">
                    <input class="datepicker form-control" type="text" name="invoiceDateTo" value="@Model.TodayDateString" id="invoice-date-to" required>
                    <span class="datepicker-icon icon-calendar"></span>
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <label for="po-date-from">@TranslationsLib.Translate("Invoices.PODateFrom"):</label>
                <div class="datepicker-container">
                    <input class="datepicker form-control" type="text" name="PODateFrom" value="" id="po-date-from">
                    <span class="datepicker-icon icon-calendar"></span>
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <label for="po-date-to">@TranslationsLib.Translate("Invoices.PODateTo"):</label>
                <div class="datepicker-container">
                    <input class="datepicker form-control" type="text" name="PODateTo" value="" id="po-date-to">
                    <span class="datepicker-icon icon-calendar"></span>
                </div>
            </div>
        </div>

        <hr class="gray hidden-xs" />
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="alert formError alert-danger">
                    <span class="align-icon-left icon-exclamation"></span>
                    @TranslationsLib.Translate("Shared.PleaseCheckInput")
                </div>
                <div class="alert backEndErrors mt-0-75em alert-danger"></div>
            </div>
        </div>
        
        <button id="invoices-search-btn" class="btn btn-primary btn-block-xs u-block u-marginLeftAuto" type="submit">@TranslationsLib.Translate("Shared.Search")</button>
    </form>
</div>

<div>
    <div class="search-result spinLikeTable">
    </div>

    <div class="tork-pagination hidden-xs" id="search-invoices-pagination" data-items-per-page="@Search.DefaultPageSize" data-previous-text="@TranslationsLib.Translate("Shared.Previous")" data-next-text="@TranslationsLib.Translate("Shared.Next")">
    </div>
    <div data-slim-pagination class="u-cf" style="display: none;">
        <div class="row visible-xs">
            <div class="col-xs-5 col-xs-offset-1">
                <button class="btn btn-block btn-primary" data-navigate="prevPage">
                    @TranslationsLib.Translate("Shared.Previous")
                </button>
            </div>
            <div class="col-xs-5">
                <button class="btn btn-block btn-primary" data-navigate="nextPage">
                    @TranslationsLib.Translate("Shared.Next")
                </button>
            </div>
        </div>
    </div>
</div>

@section Modals {
    <div class="modal wide fade" id="invoice-details" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close no-print" data-dismiss="modal"><span class="icon-times"></span></a>
                    <h4 class="modal-title" id="newLabel">@TranslationsLib.Translate("Invoices.InvoiceDetails")</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer no-print">
                    <div class="form-group row">
                        <div class="col-xs-12 text-left">
                            <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                            <input type="button" id="PrintInvoiceDetails" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer hidden-xs" value="@TranslationsLib.Translate("Shared.Print")" />
                            <input type="button" id="invoice-download-btn" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.Download")" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="getPDFError-msg" class="alert alert-danger mt-0-75em">
                            @TranslationsLib.Translate("Shared.GeneratePDFError")
                        </div>
                        <div id="getPDFWait-msg" class="alert alert-success mt-0-75em">
                            @TranslationsLib.Translate("Shared.GeneratePDFWait")
                        </div>
                        <div id="getPDFWaitMore-msg" class="alert alert-success mt-0-75em">
                            @TranslationsLib.Translate("Shared.GeneratePDFWaitMore")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Content/scripts/controllers/invoices-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/plugins/print.js?v=@AppVersion.Current"></script>
}