﻿@using TorkExtranet.Models;
@using System.Linq;

@model TorkExtranet.Models.ViewModels.EditInternalUserViewModel

<div class="modal-header">
    <a class="close"><span class="icon-times"></span></a>
    <h4 class="modal-title">@TranslationsLib.Translate("Administration.EditUser")</h4>
    <ul class="modal-tabs">
        <li><a href="#particulars" class="active"><span class="errorIcon icon-exclamation"></span> @TranslationsLib.Translate("Administration.Particulars")</a></li>
        <li><a href="#tools"><span class="errorIcon icon-exclamation"></span> @TranslationsLib.Translate("Administration.Tools")</a></li>
        <li><a href="#extended-accesses"><span class="errorIcon icon-exclamation"></span> @TranslationsLib.Translate("Administration.AdditionalAccesses")</a></li>
    </ul>
</div>
<div class="modal-body">
    <form id="manage-user">
        <span data-warning="#manage-user" style="display: none">@TranslationsLib.Translate("Shared.UnsavedChangesWarning")</span>
        <input type="hidden" name="id" value="@Model.User.id" />

        <div class="tab-content" id="particulars">
            <div class="row form-group">
                <div class="col-xs-6">
                    <label for="first-name">@TranslationsLib.Translate("Shared.FirstName"):</label>
                    <input type="text" readonly name="firstname" value="@Model.User.first_name" class="form-control" id="first-name">
                </div>
                <div class="col-xs-6">
                    <label for="last-name">@TranslationsLib.Translate("Shared.LastName"):</label>
                    <input type="text" readonly name="lastname" value="@Model.User.last_name" class="form-control" id="last-name">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-6">
                    <label for="email">@TranslationsLib.Translate("Shared.Email"):</label>
                    <input type="email" readonly name="email" class="form-control" value="@Model.User.email" id="email">
                </div>
                <div class="col-xs-6">
                    <label for="country">@TranslationsLib.Translate("Shared.Country"): <span class="mandatory">*</span></label>
                    <select name="selectedcountry" class="form-control" style="width: 100%" data-placeholder="@TranslationsLib.Translate("Administration.SelectCountry")" required>
                        <option></option>
                        @foreach (Country country in Model.Countries)
                        {
                            string selected_country = country.id == Model.User.country_id ? "selected" : "";
                            <option value="@country.id" @selected_country>@country.name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="tab-content" id="tools">
            <div class="row">
                <div class="col-xs-12">
                    <label>@TranslationsLib.Translate("Administration.Role"):</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    @{ string roles_disabled = Model.Disable_Role_Select ? "disabled" : ""; }
                    <select name="selectedrole" style="width: 100%" data-placeholder="@TranslationsLib.Translate("Administration.SelectRole")" @roles_disabled>
                        <option></option>
                        @foreach (Role role in Model.Roles)
                        {
                            string role_selected = Model.User.role_id == role.id ? "selected" : "";
                            <option value="@role.id" @role_selected>@role.name</option>
                        }
                    </select>
                </div>
                <div class="col-xs-1">
                    <span id="roles-dropdown-spinner"></span>
                </div>
                <div class="col-xs-5">
                    <button id="show-details-btn" class="btn btn-default pull-right">@TranslationsLib.Translate("Administration.ShowDetails")</button>
                    <button id="hide-details-btn" class="btn btn-default pull-right" style="display: none">@TranslationsLib.Translate("Administration.HideDetails")</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-md-12 toolsList">
                    @Html.Partial("_UserToolsList", Model.User_Tools_List)
                </div>
            </div>
        </div>

        <div id="extended-accesses" class="container-fluid tab-content">
            <div class="row form-group">
                <div class="col-xs-12">
                    <h3>@TranslationsLib.Translate("Administration.SAPSoldToNumbers")</h3>
                    <select id="sap-sold-to-numbers" style="width: 100%" name="selectedsapaccounts" data-placeholder-text="@TranslationsLib.Translate("Administration.AccountNameOrSAPId")" multiple class="multiple-select two-col-select form-control">
                        @foreach (Account account in Model.SAPAccounts)
                        {
                            string selected_string = Model.User_SAPAccounts.Contains(account.id) ? "selected" : "";
                            <option value="@account.id" @selected_string>@account.name - @account.sap_identifier</option>
                        }
                    </select>
                </div>
            </div>
            <hr />
            <div class="row form-group">
                <div class="col-xs-12">
                    <h3>@TranslationsLib.Translate("Administration.ProductTranslatorAccounts")</h3>
                    <select id="pt-accounts" style="width: 100%" name="selectedptaccounts" data-placeholder-text="@TranslationsLib.Translate("Shared.AccountName")" multiple class="multiple-select two-col-select form-control">
                        @foreach (Account account in Model.PTAccounts)
                        {
                            string selected_string = Model.User_PTAccounts.Contains(account.id) ? "selected" : "";
                            <option value="@account.id" @selected_string>@account.name</option>
                        }
                    </select>
                </div>
            </div>
            <hr />
            <div class="row form-group">
                <div class="col-xs-12">
                    <h3>@TranslationsLib.Translate("Administration.ManageableCountries")</h3>
                    <select id="manageable-countries" style="width: 100%" name="selectedcountries" data-placeholder-text="@TranslationsLib.Translate("Shared.Country")" multiple class="multiple-select two-col-select form-control">
                        @foreach (Country country in Model.Countries)
                        {
                            string selected_string = Model.User_Countries.Contains(country.id) ? "selected" : "";
                            <option value="@country.id" @selected_string>@country.name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <div class="form-group row">
        <div class="col-xs-12">
            <div class="alert formSuccess mt-0-75em alert-success">
                <span class="align-icon-left icon-checkbox"></span>
                @TranslationsLib.Translate("Shared.ChangesSaved")
            </div>
            <div class="alert formError mt-0-75em alert-danger">
                <span class="align-icon-left icon-exclamation"></span>
                @TranslationsLib.Translate("Shared.PleaseCheckInput")
            </div>
            <div class="alert backEndErrors mt-0-75em alert-danger"></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4 text-left">
            <input type="button" class="cancel-form-modal btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
        </div>
        <div class="col-xs-8 text-right btn-row">
            <input type="submit" class="btn btn-primary pull-right save-user-btn" value="@TranslationsLib.Translate("Shared.SaveButton")" />
        </div>
    </div>
</div>

