﻿@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.MANAGE_INTERNAL_USERS_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "admin-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.ManageInternalUsersWhatIsThis");
}
@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.ManageInternalUsersViewModel
<div id="search-input">
    <form id="internal-users-search-form" class="form-horizontal">
        <div class="form-group row">
            <div class="col-xs-4">
                <input type="text" class="form-control" id="search-field" name="searchTerm" autocomplete="off">
                <span class="clear-search-field" aria-hidden="true" style="display: none">&times;</span>
                <p class="help-block">@TranslationsLib.Translate("Administration.InternalUserSearchFieldHelpText")</p>
            </div>
            <div class="col-xs-4">
                <input type="submit" value="@TranslationsLib.Translate("Shared.Search")" class="btn btn-primary">
            </div>
            <div class="col-xs-4 text-right">
                @if (Model.IsExportAllowed)
                {
                    <a id="disclaimer-export-btn" class="btn btn-default u-cursorPointer">@TranslationsLib.Translate("Administration.Export")</a>
                }
                <a id="import-users-btn" class="btn btn-primary u-cursorPointer">@TranslationsLib.Translate("Administration.Import")</a>
            </div>
        </div>
    </form>
</div>
<div class="search-result">
    @Html.Partial("_SearchResults", Model.UsersTable)
</div>
@section Modals {
    <div id="editUserModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- Import users modal-->
    <div id="import-users-modal" class="modal fade wide" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                    <h4 class="modal-title">@TranslationsLib.Translate("Administration.Import")</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-xs-12 text-left">
                            <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                        </div>
                    </div>
                    <div class="row" id="import-users-module">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.IsExportAllowed)
    {
        <!-- Export users modal-->
        <div id="export-users-modal" class="modal fade" role="dialog" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                        <h4 class="modal-title">@TranslationsLib.Translate("Administration.UsersExportDisclaimerTitle")</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            @TranslationsLib.Translate("Administration.UsersExportDisclaimerText")
                        </p>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group row">
                            <a class="btn btn-default u-cursorPointer" data-dismiss="modal">@TranslationsLib.Translate("Shared.CancelButton")</a>
                            <a id="export-user-btn" class="btn btn-default u-cursorPointer" data-dismiss="modal">@TranslationsLib.Translate("Shared.IAgree")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script src="~/Content/scripts/controllers/internal-users-controller.js?v=@AppVersion.Current"></script>
}
