﻿<table class="table">
    <thead>
        <tr>
            <th>@TranslationsLib.Translate("MyData.ActivityLabel")</th>
            <th class="text-right">@TranslationsLib.Translate("MyData.PointsLabel")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="activity-action">Exported new catalog</div>
                <div class="activity-points">June 24th 2014</div>
            </td>
            <td class="text-right">550 points</td>
        </tr>
    </tbody>
</table>
