﻿@model TorkExtranet.Models.ViewModels.HighlightIntroductionPartialViewModel

<div class="Highlight-item clearfix">
    @if (!String.IsNullOrWhiteSpace(Model.ImageUrl))
    {
        <img src="@Model.ImageUrl" class="Tile-leftImage--md u-xs-centerBlock" />
    }
    <div class="Tile-narrowBody pb-0">
        <h3 class="bigger">@Model.Title</h3>
        <div>@Html.Raw(Model.Summary)</div>
    </div>
        @if (!String.IsNullOrWhiteSpace(Model.ReadMoreUrl))
        {
            <span class="labelled-icon align-icon-right pull-right">
                <a class="Tile-narrowLink text-right" href="@Model.ReadMoreUrl">
                    @TranslationsLib.Translate("Shared.ReadMoreLink")
                    &nbsp;<span class="icon-arrow_right"></span>
                </a></span>
        }
</div>
