﻿<div class="control-module loyalty-module">
    <div class="row">
        <div class=col-xs-12>
            <h3>@TranslationsLib.Translate("MyData.MyPointsLabel")</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <dl class="my-points">
                <dd>
                    <strong id="my-points">79.999</strong> <span id="my-points-suffix">@TranslationsLib.Translate("MyData.PointsLabel")</span>
                </dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <div>
                <a id="redeem-points-link" href="http://www.amazon.co.uk" target="_blank" class="pull-right">
                    <span>@TranslationsLib.Translate("MyData.RedeemPointsLink")</span>
                    <span class="icon icon-arrow_right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="loyalty-points-info" class="collapsibles">
                <div class="panel panel-default">
                    <a class="panel-toggler" data-toggle="collapse" data-target="#earn-points-info" data-parent="#loyalty-points-info">@TranslationsLib.Translate("Shared.WhatIsThisLabel")<span class="icon icon-plus"></span></a>
                    <div id="earn-points-info" class="collapse panel-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <a class="panel-toggler" data-toggle="collapse" data-target="#points-history-info" data-parent="#loyalty-points-info">@TranslationsLib.Translate("MyData.SeeActivityHistoryLink")<span class="icon icon-plus"></span></a>
                    <div id="points-history-info" class="collapse panel-content">
                        @Html.Partial("_ActivityTable")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
