﻿@model TorkExtranet.Models.ViewModels.MyHighlightsListPartialViewModel

@using TorkExtranet.Models

@foreach (Highlight highlight in Model.Highlights)
{
    <div class="highlight-summary">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <h2>
                    @if (!String.IsNullOrWhiteSpace(highlight.Body))
                    {
                        <a href="@highlight.ReadMoreURL()">@highlight.Title</a>
                    }
                    else
                    { @highlight.Title }
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <p>@highlight.Summary</p>
            </div>
        </div>
        <span class="publish-date">@highlight.PublishedDate.ToShortDateString()</span>
        @if (!String.IsNullOrWhiteSpace(highlight.Body))
        {
            <span class="labelled-icon align-icon-right pull-right">
                <a href="@highlight.ReadMoreURL()">@TranslationsLib.Translate("Shared.ReadMoreLink") <span class="icon-arrow_right"></span></a>
            </span>
        }
    </div>
}

@Html.Partial("_Pagination", Model.Pagination)
