﻿@using TorkExtranet.Models;
@using System.Linq;
@using TorkExtranet;

@model TorkExtranet.Models.ViewModels.MyProductListsTable

@if (Model.ProductLists.Count > 0)
{
    <table class="table panel-table" id="my-product-lists-table">
        <thead class="u-cursorPointer hidden-xs">
            <tr class="table-head">
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    <th class="@c.ClassName Sort-header">
                        <span class="Sort-label">@c.DisplayName <span class="Sort-icon @c.IconClassName"></span></span>
                    </th>
                }
                <th class="icons">&nbsp;</th>
            </tr>
        </thead>
        <thead class="visible-xs">
            <tr class="table-head">
                <th class="u-paddingN" colspan="5">
                    <div class="dropdown">
                        <ul class="dropdown-menu" data-target="tooltip">
                            @{
                                string selected = "";
                                string selectedClass = "";
                            }
                            @foreach (TableColumnSpecification c in Model.Columns)
                            {
                                <li>
                                    <a class="prevent-close-all @c.ClassName">
                                    @{
                                        if (c.IconClassName.EndsWith("is-active"))
                                        {
                                            selected = c.DisplayName;
                                            if (c.IconClassName.StartsWith("icon-arrow_down"))
                                            {
                                                selectedClass = "icon-arrow_down_borderless " + c.ClassName;
                                            }
                                            else
                                            {
                                                selectedClass = "icon-arrow_up_borderless " + c.ClassName;
                                            }
                                        }
                                    }
                                    @c.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                        <span class="u-alignMiddle">@TranslationsLib.Translate("Shared.SortBy")</span>
                        <button class="btn btn-primary btn-link-borderless dropdown-toggle u-marginLeftS u-marginRightXS" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">@selected</button>
                        <button class="btn btn-primary btn-link-borderless u-fontSize28px"><span class="Icon24 @selectedClass"></span></button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product_Lists productList in Model.ProductLists)
            {
                <tr class="product-list item" data-product-list-id="@productList.id">
                    @foreach (TableColumnSpecification c in Model.Columns)
                    {
                        <td class="@c.ClassName show-edit-modal">
                            @c.GetPropertyValue(Model.DbContext, productList)
                            @if (c.ClassName == "size")
                            {
                                <span class="visible-xs-inline">@TranslationsLib.Translate("ProductList.Products")</span>
                            }
                        </td>
                    }
                    <td class="text-right Settings-container">
                        @if (Model.ProductListTools.Count > 0)
                        {
                            <div class="Settings-group">
                                <a data-toggle="tooltip" data-placement="top" class="icon icon-upload u-cursorPointer trigger" href="#"></a>
                                <div class="links text-left" data-target="tooltip">
                                    @foreach (Tool tool in Model.ProductListTools)
                                    {
                                        Tuple<string, string> controller_action = ToolLib.GetControllerNameAndActionForTool(tool);
                                        @Html.ActionLink(ToolLib.GetTranslatedNameForTool(tool), controller_action.Item2, controller_action.Item1, new { id = productList.id }, new { @class = @ToolLib.ShownInMobile(tool) ? "" : "hidden-xs" });
                                    }
                                </div>
                            </div>
                        }
                        <div class="Settings-group">
                            <a class="icon icon-cog u-cursorPointer edit-managed-product-btn" title="@TranslationsLib.Translate("Shared.Edit")"></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Pagination", new TorkExtranet.Models.ViewModels.PaginationViewModel(Model.Pagination))
}
else
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}
