﻿@using TorkExtranet.Models
@using TorkExtranet.Models.DTOs

@model TorkExtranet.Models.ViewModels.ToolsListPartialViewModel

<div id="MyPageBoxes">
    <section class="container">
        @for (int i = 0; i < Model.ToolsByCategory.Count; i++)
        {
            ToolCategoryDTO category = Model.ToolsByCategory[i];

            <h3 class="hidden-xs">@category.Name</h3>
            <div class="row equalHeightContainer">
                @foreach (ToolDTO tool in category.Tools)
                {
                    string columnClass = tool.ShownInMobile ? "" : "hidden-xs";
                    string toolIcon = tool.ToolIcon;

                    <div class="col-sm-6 col-md-4 @columnClass">
                        <a href="@Url.Action(tool.ControllerNameAndAction.Item2, tool.ControllerNameAndAction.Item1)" class="Tile @category.Color mt-0" target="@tool.LinkTarget">
                            <div class="Tile-body pb-0 equalHeightItem">
                                <h4 class="Tile-header clearfix">
                                    @if (toolIcon != null)
                                    {
                                        <span class="Icon30-left @toolIcon mr-2"></span>
                                    }
                                    @tool.Name
                                </h4>

                                @Html.Raw(tool.Description)
                            </div>
                            <b class="Tile-link text-right">
                                @TranslationsLib.Translate("Shared.Continue")
                                &nbsp;<span class="Icon24 icon-arrow_right"></span>
                            </b>
                        </a>
                    </div>
                }
            </div>

            if (i < Model.ToolsByCategory.Count - 1)
            {
                <hr class="gray hidden-xs">
            }
        }
    </section>
</div>
