﻿@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.FullHighlightViewModel
@{
    ViewBag.IsMyPageTitleDisplay = true;
    ViewBag.PageTitle = @Model.highlight.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "full-highlight-module";
    ViewBag.WhatIsThisText = "";
}
@{
    int videoCounter = 0;

}
<div class="col-xs-12 col-md-9">
    <div class="row">
        <h1>
            @Model.highlight.Title
        </h1>
    </div>
</div>
<div class="row">
    <div class="highlight-full col-xs-12 col-md-9">
        @if (Model.highlight.TopVideo != null && !String.IsNullOrWhiteSpace(Model.highlight.TopVideo.VideoURL))
        {
            Model.highlight.TopVideo.DivID = "Video-" + (videoCounter++).ToString();
            <div class="mb-30px row">
                <div class="col-sm-10">
                    <div id="@Model.highlight.TopVideo.DivID"></div>
                </div>
            </div>
            <div class="u-paddingBottom10 u-bold">
                @Model.highlight.TopVideo.Title
            </div>
                <div class="u-paddingBottom10">
                    @Model.highlight.TopVideo.Description
                </div>
        }
        @if (!String.IsNullOrWhiteSpace(Model.highlight.ImageURL))
        {
            <img src="@Model.highlight.ResolvedImageURL()" class="main-image" />
        }
        <span class="publish-date">@Model.highlight.PublishedDate.ToShortDateString()</span>
        <p class="summary">@Html.Raw(Model.highlight.Summary)</p>
        <p>@Html.Raw(TridionLib.HtmlWithResolvedImageURLs(Model.highlight.Body))</p>
       
            @if (Model.highlight.Videos != null)
            {
                <div class="row">
                    @foreach (var video in Model.highlight.Videos)
                    {
                        if (!String.IsNullOrWhiteSpace(video.VideoURL))
                        {
                            video.DivID = "Video-" + (videoCounter++).ToString();
                            <div class="col-xs-4 mb-30px">
                                <div id="@video.DivID"></div>
                            </div>
                        }
                    }
                </div>
            }
        @if (Model.highlight.Documents != null)
        {
            foreach (var doc in Model.highlight.Documents)
            {
                if (!string.IsNullOrWhiteSpace(doc.URL))
                {
                    <div class="row u-paddingBottom10" id="attachment">
                        <a class="attachment-link" href="@doc.URL" target="_blank">
                            <span class='icon icon-list'></span>
                            <span class="u-padding10">@doc.Title</span>
                        </a>
                    </div>
                }
            }
        }
        </div>
    </div>

    <div id="backbtnId">
        <hr class="thin">
        <a onclick="window.history.back();" class="labelled-icon align-icon-left"><span class="icon-arrow_left"></span>@TranslationsLib.Translate("Shared.Back")</a>
    </div>

    @section Scripts {
        <script>jwplayer.key = "@Model.JWPlayerLicense";</script>
        @if (Model.highlight.TopVideo != null && !String.IsNullOrWhiteSpace(Model.highlight.TopVideo.DivID))
    {


            <script type="text/javascript">
                var playerInstance = jwplayer("@Model.highlight.TopVideo.DivID");
                playerInstance.setup({
                    'file': "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.highlight.TopVideo.VideoURL))",
                    'image': "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.highlight.TopVideo.ImageURL))",
                    'width': '100%',
                    'aspectratio': '16:9',
                    'autostart': false,
                    'androidhls': true,
                    'hlshtml': true
                });
            </script>
        }
        @if (Model.highlight.Videos != null)
    {
        foreach (var video in Model.highlight.Videos)
        {
            if (!String.IsNullOrWhiteSpace(video.DivID))
            {
                    <script type="text/javascript">
                        var playerInstance = jwplayer("@video.DivID");
                        playerInstance.setup({
                            'file': "@Html.Raw(HttpUtility.JavaScriptStringEncode(video.VideoURL))",
                            'image': "@Html.Raw(HttpUtility.JavaScriptStringEncode(video.ImageURL))",
                            'title': "@Html.Raw(HttpUtility.JavaScriptStringEncode(video.Title))",
                            'description': "@Html.Raw(HttpUtility.JavaScriptStringEncode(video.Description))",
                            'width': '100%',
                            'aspectratio': '16:9',
                            'autostart': false,
                            'androidhls': true,
                            'hlshtml': true
                        });
                    </script>
                }
            }
        }
<script src="~/Content/scripts/controllers/my-highlights-controller.js?v=@AppVersion.Current"></script>

    }
