﻿@using TorkExtranet.Models.ViewModels
@model MyPageView

@{
    ViewBag.IsMyPageTitleDisplay = true;
    ViewBag.PageTitle = TranslationsLib.Translate("MyData.PageTitle");
    ViewBag.Title = TranslationsLib.Translate("MyData.Welcome") + " " + Model.CurrentUserFirstName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "MyPageModule";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.MyPageWhatIsThis");
}

@section Tiles {
    @{
        string tileClass = Model.Highlights.Count() == 0 ? " hidden-xs" : "";
    }

    <div class="Tile @tileClass">
        <div class="row">
            <div class="col-sm-6 hidden-xs">
                @foreach (var message in Model.Messages)
                {
                    <div class="Message-container">
                        <h2 class="smaller">@message.Title</h2>
                        <div class="WysiwygContent">@Html.Raw(message.Body)</div>
                        <p class="Message-author"><em>@message.Signature</em></p>
                    </div>
                }
                @if (Model.MyDataLinks.Count > 0)
                {
                    <div class="MyData-body">
                        <h2>@TranslationsLib.Translate("MyData.MyDataLabel")</h2>
                        <ul>
                            @foreach (Dictionary<string, string> link in Model.MyDataLinks)
                            {
                                <li><a href="@Url.Action(link["action"], link["controller"])" target="@link["target"]">@link["name"]<span class="Icon24-right icon-arrow_right"></span></a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
            <div class="col-sm-6">
                <div class="row">
                    @if (!string.IsNullOrEmpty(Model.UnsubscriptionMessage))
                    {
                        if (Model.UnsubscriptionSuccess)
                        {
                            <div class="success-validate-message col-sm-6" id="unsubscribeSuccess">
                                <div class="alert add-top-margin alert-unsubscribe d-block">
                                    <span class="align-icon-left icon-checkbox"></span>
                                    <a class="close"><span class="icon-times"></span></a>
                                    @Model.UnsubscriptionMessage
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-6" id="unsubscribeFailure">
                                <div class="alert add-top-margin alert-danger d-block">
                                    <span class="align-icon-left icon-exclamation"></span>
                                    <a class="close"><span class="icon-times"></span></a>
                                    @Model.UnsubscriptionMessage
                                </div>
                            </div>
                        }
                    }
                </div>

                @if (Model.Highlights.Count() > 0)
                {
                    <a href="@Url.Action("MyHighlights", "MyData")" class="Tile-narrowLink visible-xs-block">
                        <span class="Icon30 icon-globe"></span> &nbsp;
                        <b class="NewsLink-heading">@ToolLib.GetTranslatedNameForTool(ToolLib.MY_HIGHLIGHTS_TOOL)</b>
                        <div class="NewsLink-action u-floatRight">
                            @TranslationsLib.Translate("MyData.ShowAllHighlightsLink")
                            &nbsp; <span class="Icon16 icon-arrow_right"></span>
                        </div>
                    </a>
                    foreach (HighlightIntroductionPartialViewModel highlight in Model.Highlights)
                    {
                        string highlightIntroductionClass = Model.Highlights.IndexOf(highlight) == 0 ? null : "hidden-xs";
                        <div class="@highlightIntroductionClass">
                            @Html.Partial("_HighlightIntroduction", highlight)
                        </div>
                    }
                    <div class="hidden-xs">
                        <hr class="thin">
                        <span class="labelled-icon align-icon-right pull-right">
                            <a href="@Url.Action("MyHighlights", "MyData")" class="text-right u-fontSize120Percent u-bold d-block">
                                @TranslationsLib.Translate("MyData.ShowAllHighlightsLink")
                                <span class="icon icon-arrow_right"></span>
                            </a>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
}

@section Containers {
    @Html.Partial("_ToolsList", Model.ToolsList)
}