﻿@using TorkExtranet.Models;

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.MY_HIGHLIGHTS_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "my-highlights-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.MyHighlightsWhatIsThis");
    ViewBag.IsMyHighlightsPage = TranslationsLib.Translate("MyData.RunAlertSubscription") == "1";
}

@model TorkExtranet.Models.ViewModels.MyHighlightsViewModel
<form id="search-form" class="form-horizontal">
    <div class="input-group col-sm-6">
        <div class="u-posRelative">
            <input class="form-control" id="search-field"
            name="searchTerm" autocomplete="off">
            <span class="clear-search-field" aria-hidden="true" style="display: none">&times;</span>
        </div>
        <span class="input-group-btn">
            <button id="search-btn" class="btn btn-primary" type="submit">
                <i class="icon icon-magnify visible-xs-inline-block"></i>
                <span class="hidden-xs">@TranslationsLib.Translate("Shared.Search")</span>
            </button>
        </span>
    </div>
</form>


<div id="my-highlights-list" class="spinLikeTable">
    @Html.Partial("_MyHighlightsList", Model.HighlightsList)
</div>


@section Modals{
    @Html.Partial("_AlertModal", Model.NewsAlertModel)
}

@section Scripts {
    <script src="~/Content/scripts/controllers/my-highlights-controller.js?v=@AppVersion.Current"></script>
}
