﻿@using TorkExtranet.Models;
@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.MY_PRODUCT_LISTS_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "my-product-lists-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.MyProductListsWhatIsThis");
}
@model TorkExtranet.Models.ViewModels.MyProductLists

<div id="search-input">
    <form id="my-product-list-search-form" class="form-horizontal">
        <div class="row">
            <div class="col-md-6 col-sm-8 u-marginBottomS">
                <div class="input-group">
                    <div class="u-posRelative">
                        <input class="form-control" id="search-field"
                        placeholder="@TranslationsLib.Translate("Shared.Search")" autocomplete="off">
                        <span class="clear-search-field" aria-hidden="true" style="display: none">&times;</span>
                    </div>
                    <span class="input-group-btn">
                        <button id="search-btn" class="btn btn-primary" type="submit">
                            <i class="icon icon-magnify visible-xs-inline-block"></i>
                            <span class="hidden-xs">@TranslationsLib.Translate("Shared.Search")</span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 text-right">
                <input type="button" value="@TranslationsLib.Translate("MyProductLists.AddProductList")" class="btn btn-primary btn-block-xs" id="add-product-list-btn">
            </div>
        </div>
    </form>
</div>

<div class="search-result">
    @Html.Partial("_MyProductListsTable", Model.MyProductListsTable)
</div>

@section Modals {
    <!--Edit product list-->

    <div id="edit-product-list-modal" class="modal fade wide product-list-container" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close"><span class="icon-times"></span></a>
                <h4 id="add-title" class="modal-title">@TranslationsLib.Translate("MyProductLists.AddProductList")</h4>
                <h4 id="edit-title" class="modal-title">@TranslationsLib.Translate("MyProductLists.EditProductList")</h4>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-xs-12">
                        <div class="alert formSuccess mt-0-75em alert-success">
                            <span class="align-icon-left icon-checkbox"></span>
                            @TranslationsLib.Translate("Shared.ChangesSaved")
                        </div>
                        <div class="alert formError mt-0-75em alert-danger">
                            <span class="align-icon-left icon-exclamation"></span>
                            @TranslationsLib.Translate("Shared.PleaseCheckInput")
                        </div>
                        <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                    </div>
                </div>


                <input type="button" class="btn btn-primary u-cursorPointer delete-product-list-btn pull-right delete-btn" value="@TranslationsLib.Translate("Shared.DeleteButton")" />
                <input type="button" class="btn btn-danger u-cursorPointer confirm-delete-product-list-btn pull-right confirm-delete-btn" value="@TranslationsLib.Translate("Shared.AreYouSureButton")" style="display: none" />

                @Html.Partial("~/Views/Shared/_ProductList.cshtml", Model.ProductListViewModel)
            </div>
        </div>
    </div>
</div>

}

@section Scripts {
    <script src="~/Content/scripts/controllers/product-list-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/controllers/my-product-lists-controller.js?v=@AppVersion.Current"></script>
}
