﻿@using TorkExtranet.Models;

@model TorkExtranet.Models.ViewModels.MyProfileViewModel

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.MY_PROFILE_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "my-profile-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.MyProfileWhatIsThis");
}

<div id="my-profile-wrapper" class="content-container u-colorGray control-module">
    <form id="my-profile">
        <span data-warning="#my-profile" style="display: none">@TranslationsLib.Translate("Shared.UnsavedChangesWarning")</span>
        <input type="hidden" name="id" value="@Model.UserDTO.Id" />
        <input type="hidden" name="enabled" value="on" />
        <div class="container-fluid" id="particulars">
            <div class="row">
                <div class="col-xs-6 form-group">
                    <label for="first-name">@TranslationsLib.Translate("Shared.FirstName"): <span class="mandatory">*</span></label>
                    <input type="text" name="firstname" required value="@Model.UserDTO.FirstName" class="form-control" id="first-name">
                </div>

                <div class="col-xs-6 form-group">
                    <label for="last-name">@TranslationsLib.Translate("Shared.LastName"): <span class="mandatory">*</span></label>
                    <input type="text" name="lastname" required value="@Model.UserDTO.LastName" class="form-control" id="last-name">
                </div>

                <div class="col-xs-6 form-group">
                    <label for="job-title">@TranslationsLib.Translate("Shared.JobTitle"): <span class="mandatory">*</span></label>
                    <input type="text" name="jobtitle" required class="form-control" value="@Model.UserDTO.JobTitle" id="job-title">
                </div>
                <div class="col-xs-6 form-group">
                    <label for="email">@TranslationsLib.Translate("Shared.Email"):</label>
                    <input type="email" readonly name="email" class="form-control" value="@Model.UserDTO.Email" id="email">
                </div>

                <div class="col-xs-6 form-group">
                    <label for="website">@TranslationsLib.Translate("Shared.Website"):</label>
                    <input type="text" name="website" class="form-control" value="@Model.UserDTO.Website" id="website">
                </div>

                <div class="col-xs-6 form-group">
                    <label for="business-phone">@TranslationsLib.Translate("Shared.BusinessPhone"): <span class="mandatory">*</span></label>
                    <input type="tel" required data-required-group="my-profile-phones" name="businessphone" class="form-control" placeholder="@TranslationsLib.Translate("Shared.PhoneFieldPlaceHolderText")" value="@Model.UserDTO.BusinessPhone" id="business-phone">
                </div>

                <div class="col-xs-6 form-group">
                    <label for="mobile-phone">@TranslationsLib.Translate("Shared.MobilePhone"): <span class="mandatory">*</span></label>
                    <input type="tel" required data-required-group="my-profile-phones" name="mobilephone" placeholder="@TranslationsLib.Translate("Shared.PhoneFieldPlaceHolderText")" value="@Model.UserDTO.MobilePhone" class="form-control" id="mobile-phone">
                </div>

                <div class="col-xs-6 form-group">
                    <label for="linkedin-profile" id="linkedin-popover-container">
                        @TranslationsLib.Translate("Shared.LinkedInProfile"):&nbsp;
                        <span class="TooltipIcon icon-information" data-popover-target=".popover-target"></span>
                        <span class="popover-target" style="display: none">
                            <img src='~/Content/images/linkedin_profile_instructions.png' />
                        </span>
                    </label>
                    <input type="text" name="linkedinprofile" class="form-control" value="@Model.UserDTO.LinkedInProfile" id="linkedin-profile">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="alert formSuccess mt-0-75em alert-success">
                    <span class="align-icon-left icon-checkbox"></span>
                    @TranslationsLib.Translate("Shared.ChangesSaved")
                </div>
                <div class="alert formError mt-0-75em alert-danger">
                    <span class="align-icon-left icon-exclamation"></span>
                    @TranslationsLib.Translate("Shared.PleaseCheckInput")
                </div>
                <div class="alert backEndErrors mt-0-75em alert-danger"></div>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-xs-12">
                <input type="button" id="save-my-profile" class="btn btn-primary pull-right" value="@TranslationsLib.Translate("Shared.SaveButton")" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/Content/scripts/controllers/my-profile-controller.js?v=@AppVersion.Current"></script>
}