﻿<div class="modal fade" id="confirm-FSCBSC-removal-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">
                    <span class="icon-times"></span>
                </a>
                <h4 class="modal-title">@TranslationsLib.Translate("TKAD.ConfirmFSCRemoval")</h4>
            </div>
            <div class="modal-body">
                <p>@TranslationsLib.Translate("TKAD.ConfirmFSCRemovalMessage")</p>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-xs-6 text-left">
                        <input type="button" data-dismiss="modal" class="btn btn-default" value="@TranslationsLib.Translate("Shared.CancelButton")" />
                    </div>
                    <div class="col-xs-6 text-right btn-row">
                        <input type="button" data-dismiss="modal" id="confirm-fsc-bsc-removal" class="btn btn-primary" value="@TranslationsLib.Translate("Shared.ContinueButton")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>