﻿<div class="modal fade" id="paper-contract-notification-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">
                    <span class="icon-times"></span>
                </a>
                <h4 class="modal-title">@TranslationsLib.Translate("TKAD.PaperContractNotification")</h4>
            </div>
            <div class="modal-body">
                <p>@TranslationsLib.Translate("TKAD.PaperContractNotificationMessage")</p>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-xs-12 text-right btn-row">
                        <input type="button" data-dismiss="modal" id="confirm-paper-contract-notification" class="btn btn-primary" value="@TranslationsLib.Translate("Shared.ContinueButton")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>