﻿@using TorkExtranet;
@using System.Linq;
@using MASDP.AFH.TorkConnect.DTO.TKAD
@using TorkExtranet.Models.DTOs

@model TorkExtranet.Models.ViewModels.Partials.TKADListAgreementsInTablePartialViewModel

@{
    TableColumnSpecification selected = null;
}


@if (Model.PagedAgreements.Count > 0)
{
    <div class="dropdown visible-xs">
        <ul class="dropdown-menu" data-target="tooltip">
            @foreach (TableColumnSpecification c in Model.Columns)
            {
                <li>
                    <a class="prevent-close-all @c.ClassName" data-sort-property="@c.AscendingSortProperty" data-sort-property-desc="@c.DescendingSortProperty">
                        @if (c.IconClassName.EndsWith("is-active"))
                    {
                        selected = c;
                    }
                        @c.DisplayName
                    </a>
                </li>
            }
        </ul>
        <span class="u-alignMiddle u-bold">@TranslationsLib.Translate("Shared.SortBy")</span>
        <button class="btn btn-primary btn-link-borderless dropdown-toggle u-marginLeftS u-marginRightXS" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">@selected.DisplayName</button>
        <button class="btn btn-primary btn-link-borderless u-fontSize28px" data-sort-property="@selected.AscendingSortProperty" data-sort-property-desc="@selected.DescendingSortProperty"><span class="Icon24 @(selected.IconClassName.StartsWith("icon-arrow_down") ? "icon-arrow_down_borderless" : "icon-arrow_up_borderless")"></span></button>
    </div>
    <div class="Tile-delimiter u-marginTopS"></div>

    <table class="table panel-table" id="agreements-table">
        <thead class="u-cursorPointer hidden-xs">
            <tr class="table-head">
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    <th class="@c.ClassName Sort-header" data-sort-property="@c.AscendingSortProperty" data-sort-property-desc="@c.DescendingSortProperty">
                        <span class="Sort-label">@c.DisplayName <span class="Sort-icon @c.IconClassName"></span></span>
                    </th>
                }
                <th class="icons">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Agreement agreement in Model.PagedAgreements)
            {
                <tr class="agreement item" data-agreement-id="@agreement.Id" data-agreement-user-full-name="@agreement.UserFullName">
                    @foreach (TableColumnSpecification c in Model.Columns)
                    {

                        var displayVal = c.GetPropertyValue(Model.DbContext, agreement);

                        <td class="@c.ClassName" data-title="@c.DisplayName:">
                            @displayVal
                        </td>
                    }
                    <td class="Settings-container">
                        <div class="Settings-group u-size1of2">
                            @if (agreement.Status == AgreementStatus.Draft)
                            {
                                <a class="icon icon-trashcan u-cursorPointer delete-draft-btn spinLikeTable" href="#" id="delete-draft-btn-@agreement.Id" data-target="#delete-agreement-modal" data-agreement-id="@agreement.Id" data-confirm-delete-message="@TranslationsLib.Translate("TKAD.ConfirmDeleteAgreement")" title="@TranslationsLib.Translate("Shared.DeleteButton")"></a>
                            }
                            @if (agreement.Status == AgreementStatus.ReadyForAcceptance)
                            {
                                <a class="icon icon-message u-cursorPointer resend-pdf-agreement spinLikeTable" href="#" id="resend-pdf-agreement-@agreement.Id" data-agreement-id="@agreement.Id" data-confirm-resend-message="@TranslationsLib.Translate("TKAD.ConfirmResendAgreement")" title="@TranslationsLib.Translate("TKAD.ResendAcceptanceEmail")"></a>
                            }

                            @if (agreement.Status == AgreementStatus.Approved || agreement.Status == AgreementStatus.Rejected)
                            {
                                <a class="icon icon-download u-cursorPointer download-agreement-btn" href="@Url.Action("ViewTKADAgreement", "PDF", new
                                                                                                     {
                                                                                                         hash = @agreement.Id, preview = 0
                                                                                                     })" id="download-agreement-btn-@agreement.Id" data-target="#edit-agreement-modal" data-agreement-id="@agreement.Id" title="@TranslationsLib.Translate("Shared.Download")"></a>
                            }
                        </div>
                        <div class="Settings-group u-size1of2">
                            @if (agreement.Status == AgreementStatus.Draft)
                            {
                                <a class="icon icon-cog u-cursorPointer edit-draft-btn" href="@Url.Action("AgreementWizard", "TKAD", new
                                                                         {
                                                                             id = @agreement.Id
                                                                         })" id="edit-draft-btn-@agreement.Id" data-target="#edit-agreement-modal" data-agreement-id="@agreement.Id" title="@TranslationsLib.Translate("Shared.EditButton")"></a>
                            }
                            else
                            {
                                <a class="icon icon-eye u-cursorPointer view-agreement-btn" href="#" id="view-agreement-btn-@agreement.Id" data-target="#edit-agreement-modal" data-hash="@agreement.Id" title="@TranslationsLib.Translate("TKAD.ViewAgreement")" data-download-url="@Url.Action("ViewTKADAgreement", "PDF", new
                                                                                                     {
                                                                                                         hash = agreement.Id, preview = 0
                                                                                                     })"></a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Pagination", new TorkExtranet.Models.ViewModels.PaginationViewModel(Model.Pagination))
}
else
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}
