﻿@using TorkExtranet.Models
@model TorkExtranet.Models.ViewModels.TKADSignAgreementViewModel

<div class="row">
    @if (Model.IsPartOfWizard)
    {
        <div class="col-xs-12">
            <h2>@TranslationsLib.Translate("TKAD.AgreementAcceptance")</h2>
        </div>
        <div class="col-sm-4 col-sm-push-8">
            <h4 class="u-textRight hidden-xs">@TranslationsLib.Translate("TKAD.PreviewAgreement")</h4>
            <div class="u-textRight u-posRelative">
                <button id="pdf-preview-btn" class="btn btn-primary btn-block-xs generate-and-download-pdf-btn" data-original-text="@TranslationsLib.Translate("Shared.Preview")" data-download-pdf-text="@TranslationsLib.Translate("Shared.Download")">@TranslationsLib.Translate("Shared.Preview")</button>
            </div>
            <div id="preview-getPDFError-msg" class="alert alert-danger mt-0-75em">
                @TranslationsLib.Translate("Shared.GeneratePDFError")
            </div>
            <div id="preview-getPDFWait-msg" class="alert alert-success mt-0-75em">
                @TranslationsLib.Translate("Shared.GeneratePDFWait")
            </div>
            <div id="preview-getPDFWaitMore-msg" class="alert alert-success mt-0-75em">
                @TranslationsLib.Translate("Shared.GeneratePDFWaitMore")
            </div>
        </div>
    }

    <div class="@( Model.IsPartOfWizard ? "col-sm-8 col-sm-pull-4" : "col-xs-12" )">
        @if (Model.IsPartOfWizard)
        {
            <p>@TranslationsLib.Translate("TKAD.AgreementAcceptanceDescription")</p>
        }

        <div id="accept-agreement-form" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
                    @TranslationsLib.Translate("TKAD.AgreementAcceptanceContactName")
                </label>
                <div class="col-sm-8">
                    <span id="agreementAcceptanceContactFirstName">@Model.ContactFirstName</span>
                    <span id="agreementAcceptanceContactLastName">@Model.ContactLastName</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-md-3">
                    <span class="text-black"><strong>@TranslationsLib.Translate("TKAD.AgreementAcceptanceEmail")</strong></span>
                </label>
                <div class="col-sm-8">
                    <span id="agreementAcceptanceEmail">@Model.ContactEmail</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-md-3">
                    <span class="text-black"><strong>@TranslationsLib.Translate("TKAD.AgreementAcceptanceDate")</strong></span>
                </label>
                <div class="col-sm-8">
                    <span id="agreementAcceptanceDate">@Model.Date</span>
                </div>
            </div>

            @if (Model.IsPartOfWizard)
            {
                <div class="form-group">
                    <label class="col-sm-4 col-md-3">
                        <span class="text-black"><strong>@TranslationsLib.Translate("TKAD.EmailMessage")</strong></span>
                    </label>
                    <div class="col-sm-5">
                        <textarea class="form-control" id="tkad-agreement-acceptance-email-message" rows="4"></textarea>
                    </div>
                </div>
            }

            <div class="alert formSuccess mt-0-75em alert-success">
                <span class="align-icon-left icon-checkbox"></span>
                @TranslationsLib.Translate("Shared.MailSuccessfullySent")
            </div>
            <div class="alert backEndErrors mt-0-75em alert-danger"></div>
        </div>
    </div>
</div>

<br />
<div id="sign-agreement-now-collapsibles" class="collapsibles u-cf u-marginTopS">
    <div class="row">
        @if (Model.IsPartOfWizard)
        {
            <div class="col-sm-6 col-sm-push-6 u-textRight">
                <button id="send-pdf-agreement" class="btn btn-primary send-pdf-agreement btn-block-xs">@TranslationsLib.Translate("TKAD.SendForSigning")</button>
            </div>
        }
        <div class="@( Model.IsPartOfWizard ? "col-sm-6 col-sm-pull-6" : "col-sm-12" )">
            @{ string collapse = ""; }
            @if (Model.IsPartOfWizard)
            {
                collapse = "collapse";

                <a class="panel-toggler collapsed" data-toggle="collapse" data-target="#sign-agreement-now" data-parent="#sign-agreement-now-collapsibles">
                    <div class="expand-form blue form-expand-collapse u-inlineBlock">
                        <span class="icon pull-left icon-plus" id="sign-right-now-expander"></span>
                        <h4>@TranslationsLib.Translate("TKAD.SignRightNow")</h4>
                    </div>
                </a>
            }

            <div id="sign-agreement-now" class="@collapse panel-content">
                <h4>@TranslationsLib.Translate("TKAD.ViewAndAccept")</h4>
                <hr class="gray-light hidden-xs" />
                <p>@TranslationsLib.Translate("TKAD.AgreementMessage")</p>

                <div class="u-posRelative">
                    <button id="view-agreement-btn" class="btn btn-primary view-agreement-btn btn-block-xs generate-and-download-pdf-btn" data-original-text="@TranslationsLib.Translate("TKAD.ViewAgreement")" data-download-pdf-text="@TranslationsLib.Translate("Shared.Download")" data-download-url="@Url.Action("ViewTKADAgreement", "PDF", new
                        {
                            hash = Model.Hash, preview = 0
                        })" data-hash="@Model.Hash">
                        @TranslationsLib.Translate("TKAD.ViewAgreement")
                    </button>
                </div>
                <div id="view-getPDFError-msg" class="alert alert-danger mt-0-75em">
                    @TranslationsLib.Translate("Shared.GeneratePDFError")
                </div>
                <div id="view-getPDFWait-msg" class="alert alert-success mt-0-75em">
                    @TranslationsLib.Translate("Shared.GeneratePDFWait")
                </div>
                <div id="view-getPDFWaitMore-msg" class="alert alert-success mt-0-75em">
                    @TranslationsLib.Translate("Shared.GeneratePDFWaitMore")
                </div>
                <div class="agreement-checklist">
                    <input type="checkbox" id="terms-and-conditions-checkbox" disabled />
                    <label for="terms-and-conditions-checkbox">@TranslationsLib.Translate("TKAD.AgreeToTermsAndConditions")</label>
                </div>
                @if (GlobalShim.AppSettings.TKAD.Agreements.ShowSignature)
                {
                    <div class="@(Model.IsPartOfWizard ? "" : "row col-sm-12")">
                        <div class="@(Model.IsPartOfWizard ? "" : "row col-sm-6")">
                            <p>@TranslationsLib.Translate("TKAD.SignHere")</p>
                            <div id="tkad-agreement-signature-parent" class="disabled">
                                <div id="tkad-agreement-signature"></div>
                                <div id="tkad-agreement-sign-here">X</div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-6">
                        <input type="button" id="submit-for-approval-btn" class="btn btn-primary mt-0-75em btn-block-xs" value="@TranslationsLib.Translate("TKAD.SubmitForApproval")" data-hash="@Model.Hash" data-token="@Html.Raw(Model.Token)" />
                    </div>
                    <div class="col-sm-6 u-textRight">
                        @if (GlobalShim.AppSettings.TKAD.Agreements.ShowSignature)
                        {
                            <input type="button" id="tkad-agreement-signature-clear-btn" class="cancel-form-modal disable-form-confirm btn btn-default btn-block-xs mt-0-75em" value="@TranslationsLib.Translate("TKAD.ClearSignature")" />
                        }

                    </div>
                </div>
                <div id="submit-for-approval-success" class="alert alert-success mt-0-75em">
                    <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.AgreementSubmittedForApprovalSuccess").
                </div>
                <div id="submit-for-approval-error" class="alert alert-danger mt-0-75em">
                    <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.AgreementSubmittedForApprovalError").
                </div>
            </div>
        </div>
    </div>
</div>