﻿@{
    ViewBag.Title = TranslationsLib.Translate("TKAD.AgreementAcceptance");
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "tkad-accept-agreement-module";
}
@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.TKADAcceptAgreementViewModel

    <p>@TranslationsLib.Translate("TKAD.CustomerAgreementAcceptanceDescription")</p>
    @Html.Partial("~/Views/TKAD/_SignAgreement.cshtml", Model.SignAgreementViewModel)

@section Modals {
    @Html.Partial("~/Views/TKAD/_PDFModal.cshtml")
}
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('body').addClass('tkad-accept-agreement-module');
        });

    </script>
    <script src="~/Content/scripts/plugins/jSignature.min.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/controllers/tkad-controller.js?v=@AppVersion.Current"></script>
    <script type="text/javascript">
        // Setting some global variables for product search
        var PRODUCT_SEARCH_URL = '/TKAD/SearchTKADProducts';
        var GET_PRODUCTS_COUNT_URL = '/TKAD/GetTKADProductsCount';
        var TKAD_SEARCH = true;


        (function ($) {
            'use strict';

            var tkadControllerOptions = {
                showSignature: @(GlobalShim.AppSettings.TKAD.Agreements.ShowSignature.ToString().ToLowerInvariant()),
            }, tkadController = new TKADController($, tkadControllerOptions);
            tkadController.initialize();

        })(jQuery);
    </script>
}