﻿@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.TKAD_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "tkad-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.TKADWhatIsThis");
}
@using Newtonsoft.Json
@using TorkExtranet.Models
@model TorkExtranet.Models.ViewModels.TKADAgreementViewModel


<div class="working-form" id="tkad-agreement-wizard">
    <input type="hidden" id="tkad-id" value="@Model.AgreementId" />
    <input type="hidden" id="tkad-status" value="@Model.Status" />
    <input type="hidden" id="tkad-culture-code" value="@Model.SavedAgreement.CultureCode" />

    <a href="@Url.Action("Index")" class="labelled-icon align-icon-left u-marginBottomM">
                <span class="icon-arrow_left"></span>  @TranslationsLib.Translate("TKAD.BackToAgreements")
            </a>

    <div class="wizard hidden-xs">
        <div class="wizard-progress"></div>
        <div class="wizard-item" data-index="1">
            <div class="wizardLabel">@TranslationsLib.Translate("TKAD.EndCustomerDataAndAgreementDetails")</div>
        </div>
        <div class="wizard-item" data-index="2">
            <div class="wizardLabel">@TranslationsLib.Translate("TKAD.DistributorData")</div>
        </div>
        <div class="wizard-item" data-index="3">
            <div class="wizardLabel">@TranslationsLib.Translate("TKAD.SelectDispensers")</div>
        </div>
        <div class="wizard-item" data-index="4">
            <div class="wizardLabel">@TranslationsLib.Translate("TKAD.AddQuantity")</div>
        </div>
        <div class="wizard-item last" data-index="5">
            <div class="wizardLabel">@TranslationsLib.Translate("TKAD.SendForAcceptance")</div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="visible-xs">
        <h3 class="tab-title">@TranslationsLib.Translate("MarketingResources.EditList")</h3>
        <div class="ProgressBar">
            <div class="ProgressBar-indicator"></div>
        </div>
        <a class="btn btn-link pull-right" data-wizard="nextTab">
            <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
        </a>
        <a class="btn btn-link disabled" data-wizard="prevTab"><span class="Icon24 align-icon-left icon-arrow_left"></span></a>
    </div>

    <div id="wizard-content" class="wizard-content control-module product-list-container">
        <div id="" class="row hidden-xs">
            <div class="col-xs-4">
                <a href="#" id="previousButton-top" class="btn btn-default">@TranslationsLib.Translate("Shared.Previous")</a>
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4 text-right">
                <a href="#" id="nextButton-top" class="btn btn-primary">@TranslationsLib.Translate("Shared.Next")</a>
            </div>
        </div>

        <div class="Tile-delimiter u-marginTopS"></div>

        <div id="step1" class="wizard-pane">
            <div class="row">
                <div class="col-xs-12">
                    <div id="end-customer-required-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.PleaseCompleteRequiredFields").
                    </div>
                    <div id="end-customer-email-format-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.PleaseEnterValidEmailAddress").
                    </div>
                    <div id="end-customer-email-match-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.EmailAddressesDoNotMatch").
                    </div>
                    <div id="agreement-end-date-invalid-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.AgreementEndDateInvalid").
                    </div>
                    <div id="agreement-start-date-invalid-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.AgreementStartDateInvalid").
                    </div>
                    <div id="end-customer-fsc-email-match-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.EmailsShouldNotMatch").
                    </div>
                    <div id="paper-contract-number-invalid-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.PaperContractNumberInvalid").
                    </div>
                </div>
            </div>

            <div id="end-customer" class="form-horizontal">
                <h2>@TranslationsLib.Translate("TKAD.EndCustomerData")</h2>
                <p>@TranslationsLib.Translate("TKAD.EndCustomerDataDescription")</p>

                <div class="section-header blue">
                    <h4>@TranslationsLib.Translate("TKAD.EndCustomerCompanyData")</h4>
                </div>

                @if (Model.EUTemplateType)
                {
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-vat-number">@TranslationsLib.Translate("TKAD.EndCustomerVATNumber") @(Model.VATNumberRequired ? "*" : "")</label>
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-vat-number" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerVATNumber")" @Model.VATNumberAttributeName>
                        </div>
                    </div>
                }

                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-company-name">@TranslationsLib.Translate("TKAD.EndCustomerCompanyName") *</label>
                    <div class="col-sm-4">
                        <input id="tkad-end-customer-company-name" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerCompanyName")" required>
                    </div>
                </div>


                <div class="form-group">

                    <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-street-name">@TranslationsLib.Translate("TKAD.EndCustomerStreetInfo") *</label>

                    @if (Model.NATemplateType)
                    {
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-street-number" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerStreetNumber")" required>
                        </div>
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-street-name" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerStreetName")" required>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-street-name" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerStreetName")" required>
                        </div>
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-street-number" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerStreetNumber")" required>
                        </div>
                    }
                </div>

                @if (Model.NATemplateType)
                {
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-city">@TranslationsLib.Translate("TKAD.EndCustomerCityAndState") *</label>
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-city" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerCity")" required>
                        </div>
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-state-province-country" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerState")" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-postal-code">@TranslationsLib.Translate("TKAD.EndCustomerPostalCode") *</label>
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-postal-code" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerPostalCode")" required>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-postal-code">@TranslationsLib.Translate("TKAD.EndCustomerPostalCodeAndCity") *</label>
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-postal-code" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerPostalCode")" maxlength="@Model.EUPostalCodeMaxlength" required>
                        </div>
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-city" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerCity")" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-state-province-country">@TranslationsLib.Translate("TKAD.EndCustomerStateProvinceCountry") *</label>
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-state-province-country" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerStateProvinceCountry")" required>
                        </div>
                    </div>
                }

                <div class="section-header blue">
                    <h4>@TranslationsLib.Translate("TKAD.EndCustomerContactData")</h4>
                </div>

                @if (Model.EUTemplateType)
                {
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-salutation">@TranslationsLib.Translate("TKAD.EndCustomerSalutation")</label>
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-salutation" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerSalutation")">
                        </div>
                    </div>
                }

                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-first-name">@TranslationsLib.Translate("TKAD.EndCustomerName") *</label>
                    <div class="col-sm-4">
                        <input id="tkad-end-customer-first-name" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerFirstName")" required>
                    </div>
                    <div class="col-sm-4">
                        <input id="tkad-end-customer-last-name" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerLastName")" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-title">@TranslationsLib.Translate("TKAD.EndCustomerTitle") *</label>
                    <div class="col-sm-4">
                        <input id="tkad-end-customer-title" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerTitle")" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-phone">@TranslationsLib.Translate("TKAD.EndCustomerPhone") *</label>
                    <div class="col-sm-4">
                        <input type="tel" id="tkad-end-customer-phone" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerPhone")" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-email">@TranslationsLib.Translate("TKAD.EndCustomerEmail") *</label>
                    <div class="col-sm-4">
                        <input type="email" id="tkad-end-customer-email" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerEmail")" required>
                    </div>
                    <div class="col-sm-4">
                        <input type="email" id="tkad-end-customer-email-confirmation" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerConfirmEmail")" required>
                    </div>
                </div>

                <div class="section-header blue">
                    <h4>@TranslationsLib.Translate("TKAD.AgreementData")</h4>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-agreement-start-date">@TranslationsLib.Translate("TKAD.StartDate") *</label>
                    <div class="col-sm-4">
                        <div class="datepicker-container">
                            <input id="tkad-end-customer-agreement-start-date" class="form-control datepicker disregard-disabled-css" type="text" required>
                            <span class="datepicker-icon icon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-agreement-end-date">@TranslationsLib.Translate("TKAD.EndDate") *</label>
                    <div class="col-sm-4">
                        <div class="datepicker-container">
                            <input id="tkad-end-customer-agreement-end-date" class="form-control datepicker disregard-disabled-css" type="text" required>
                            <span class="datepicker-icon icon-calendar"></span>
                        </div>
                    </div>
                </div>

                @if (Model.EUTemplateType)
                {
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-end-customer-umbrella-number">@TranslationsLib.Translate("TKAD.UmbrellaNumber")</label>
                        <div class="col-sm-4">
                            <input id="tkad-end-customer-umbrella-number" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-9">
                            <input type="checkbox" id="tkad-paper-contract" />
                            <label for="tkad-paper-contract">@TranslationsLib.Translate("TKAD.PaperContract")</label>
                        </div>
                    </div>
                    <div id="paper-contract-number-collapsible" class="row collapse">
                        <div class="form-group col-xs-3">
                            <label for="tkad-paper-contract-number">@TranslationsLib.Translate("TKAD.PaperContractNumber")</label>
                        </div>
                        <div class="form-group col-xs-3">
                            <input id="tkad-paper-contract-number" class="form-control" type="text" maxlength="15">
                        </div>
                    </div>
                }

            </div>

            <div id="add-fsc-bsc-collapsibles" class="collapsibles">
                <a class="panel-toggler">
                    <div class="expand-form blue form-expand-collapse u-inlineBlock" id="add-fsc-bsc-expand-collapse">
                            <span class="icon icon-plus pull-left" id="add-fsc-bsc-icon"></span>
                            <h4 id="add-fsc-bsc-add-message">@TranslationsLib.Translate("TKAD.AddFSCBSC")</h4>
                            <h4 id="add-fsc-bsc-remove-message" style="display:none">@TranslationsLib.Translate("TKAD.RemoveFSCBSC")</h4>
                        </div>
                    </a>

                <div id="add-fsc-bsc" class="collapse panel-content form-horizontal">
                    <div class="section-header blue">
                        <h4>@TranslationsLib.Translate("TKAD.FSCCompanyData")</h4>
                    </div>

                    <input type="hidden" id="tkad-fsc-bsc-expanded" class="form-control" value="false" />

                    @if (Model.EUTemplateType)
                    {
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-fsc-vat-number">@TranslationsLib.Translate("TKAD.FSCVATNumber") @(Model.VATNumberRequired ? "*" : "")</label>
                            <div class="col-sm-4">
                                <input id="tkad-fsc-vat-number" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.FSCVATNumber")" @Model.VATNumberAttributeName>
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-fsc-company-name">@TranslationsLib.Translate("TKAD.FSCCompanyName") *</label>
                        <div class="col-sm-4">
                            <input id="tkad-fsc-company-name" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.FSCCompanyName")" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-fsc-street-name">@TranslationsLib.Translate("TKAD.FSCStreetInfo") *</label>

                        @if (Model.NATemplateType)
                        {
                            <div class="col-sm-4">
                                <input id="tkad-fsc-street-number" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.FSCStreetNumber")" required>
                            </div>
                            <div class="col-sm-4">
                                <input id="tkad-fsc-street-name" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.FSCStreetName")" required>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-4">
                                <input id="tkad-fsc-street-name" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.FSCStreetName")" required>
                            </div>
                            <div class="col-sm-4">
                                <input id="tkad-fsc-street-number" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.FSCStreetNumber")" required>
                            </div>
                        }
                    </div>

                    @if (Model.NATemplateType)
                    {
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-fsc-city">@TranslationsLib.Translate("TKAD.FSCCityAndState") *</label>
                            <div class="col-sm-4">
                                <input id="tkad-fsc-city" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.FSCCity")" required>
                            </div>
                            <div class="col-sm-4">
                                <input id="tkad-fsc-state-province-country" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.FSCState")" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-fsc-postal-code">@TranslationsLib.Translate("TKAD.FSCPostalCode") *</label>
                            <div class="col-sm-4">
                                <input id="tkad-fsc-postal-code" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.FSCPostalCode")" required>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-fsc-postal-code">@TranslationsLib.Translate("TKAD.FSCPostalCodeAndCity") *</label>
                            <div class="col-sm-4">
                                <input id="tkad-fsc-postal-code" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.FSCPostalCode")" maxlength="@Model.EUPostalCodeMaxlength" required>
                            </div>
                            <div class="col-sm-4">
                                <input id="tkad-fsc-city" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.FSCCity")" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-fsc-state-province-country">@TranslationsLib.Translate("TKAD.FSCStateProvinceCountry") *</label>
                            <div class="col-sm-4">
                                <input id="tkad-fsc-state-province-country" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.FSCStateProvinceCountry")" required>
                            </div>
                        </div>
                    }

                    <div class="section-header blue">
                        <h4>@TranslationsLib.Translate("TKAD.FSCContactData")</h4>
                    </div>

                    @if (Model.EUTemplateType)
                    {
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-fsc-salutation">@TranslationsLib.Translate("TKAD.FSCSalutation")</label>
                            <div class="col-sm-4">
                                <input id="tkad-fsc-salutation" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.FSCSalutation")">
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-fsc-first-name">@TranslationsLib.Translate("TKAD.FSCName") *</label>
                        <div class="col-sm-4">
                            <input id="tkad-fsc-first-name" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.FSCFirstName")" required>
                        </div>
                        <div class="col-sm-4">
                            <input id="tkad-fsc-last-name" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.FSCLastName")" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-fsc-title">@TranslationsLib.Translate("TKAD.FSCTitle") *</label>
                        <div class="col-sm-4">
                            <input id="tkad-fsc-title" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.FSCTitle")" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-fsc-phone">@TranslationsLib.Translate("TKAD.FSCPhone") *</label>
                        <div class="col-sm-4">
                            <input type="tel" id="tkad-fsc-phone" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.FSCPhone")" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-fsc-email">@TranslationsLib.Translate("TKAD.FSCEmail") *</label>
                        <div class="col-sm-4">
                            <input type="email" id="tkad-fsc-email" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.FSCEmail")" required>
                        </div>
                        <div class="col-sm-4">
                            <input type="email" id="tkad-fsc-email-confirmation" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.FSCConfirmEmail")" required>
                        </div>
                        </div>

                    <div class="form-group">
                        <div class="col-sm-12 col-sm-offset-3">
                            <input type="checkbox" id="tkad-fsc-contractor" />
                            <label for="tkad-fsc-contractor">@TranslationsLib.Translate("TKAD.FSCContractor")</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="step2" class="wizard-pane">
            <div class="row">
                <div class="col-xs-12">
                    <div id="distributor-data-required-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.PleaseCompleteRequiredFields").
                    </div>
                    <div id="distributor-data-email-format-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.PleaseEnterValidEmailAddress").
                    </div>
                    <div id="end-customer-email-match-distributor-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.EndCustomerDistributorEmailMatch").
                    </div>
                    <div id="distributor-data-sales-rep-email-format-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.PleaseEnterValidSCAEmail").
                    </div>
                    <div id="distributor-data-subjobber-email-match-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.EmailsShouldNotMatch").
                    </div>
                    <div id="subjobber-email-match-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.EmailAddressesDoNotMatch").
                    </div>
                </div>
            </div>

            <div id="distributor-data" class="form-horizontal">
                <h2>@TranslationsLib.Translate("TKAD.DistributorData")</h2>
                <p>@TranslationsLib.Translate("TKAD.DistributorDataDescription")</p>

                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="tkad-distributor-data-sold-to">@TranslationsLib.Translate("TKAD.SoldToNameNumber") *</label>
                    <div class="col-sm-8">

                        <select id="tkad-distributor-data-sold-to" style="width: 100%" class="form-control" data-placeholder="@TranslationsLib.Translate("TKAD.SoldToNameNumber")" required @Model.DistributorDataSoldToAttributeName>

                            @if (Model.SoldTos.Count > 1)
                            {
                                <option></option>
                                foreach (var soldTo in Model.SoldTos)
                                {
                                    var selected_val = "";
                                    if (Model.DefaultAccount != null && soldTo.Item1 == Model.DefaultAccount.id.ToString())
                                    {
                                        selected_val = "selected";
                                    }
                                    <option value="@soldTo.Item1" @selected_val>@soldTo.Item2</option>
                                }
                            }
                            else if (Model.SoldTos.Count == 1)
                            {
                                <option value="@Model.SoldTos.First().Item1" selected>@Model.SoldTos.First().Item2</option>
                            }
                        </select>

                        @if (Model.SoldTos.Count == 1)
                        {
                            <input id="distributor-data-sold-to-placeholder" name="DistributorDataSoldTo" class="form-control" value="@Model.SoldTos.First().Item1" readonly hidden style="display: none">
                        }
                    </div>
                </div>

                <div class="section-header blue">
                    <h4>@TranslationsLib.Translate("TKAD.DistributorDataContactData")</h4>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="tkad-distributor-data-first-name">@TranslationsLib.Translate("TKAD.DistributorDataName") @(Model.DistributorContactDataRequired ? "*" : "")</label>
                    <div class="col-sm-4">
                        <input id="tkad-distributor-data-first-name" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.DistributorDataFirstName")" value="@Model.ContactInfoFirstName" @Model.DistributorContactDataAttributeString>
                    </div>
                    <div class="col-sm-4">
                        <input id="tkad-distributor-data-last-name" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.DistributorDataLastName")" value="@Model.ContactInfoLastName" @Model.DistributorContactDataAttributeString>
                    </div>
                </div>
                <div class="form-group">

                    <label class="col-sm-4 col-md-3 control-label" for="tkad-distributor-data-mobile-phone">
                            @TranslationsLib.Translate("TKAD.MobilePhone") <span class="mandatory">@(Model.DistributorContactDataRequired ? "*" : "")</span>
                        </label>
                    <div class="col-sm-4">
                        <input type="tel" @(Model.DistributorContactDataRequired ? "data-required-group=distributor-data-phones" : "") id="tkad-distributor-data-mobile-phone" class="form-control" value="@Model.ContactInfoMobilePhone" placeholder="@TranslationsLib.Translate("TKAD.MobilePhone")" @Model.DistributorContactDataAttributeString>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="tkad-distributor-data-business-phone">
                            @TranslationsLib.Translate("TKAD.BusinessPhone") <span class="mandatory">@(Model.DistributorContactDataRequired ? "*" : "")</span>
                        </label>
                    <div class="col-sm-4">
                        <input type="tel" @(Model.DistributorContactDataRequired ? "data-required-group=distributor-data-phones" : "") id="tkad-distributor-data-business-phone" class="form-control" value="@Model.ContactInfoBusinessPhone" placeholder="@TranslationsLib.Translate("TKAD.BusinessPhone")" @Model.DistributorContactDataAttributeString>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="tkad-distributor-data-email">@TranslationsLib.Translate("TKAD.DistributorDataEmail") @(Model.DistributorContactDataRequired ? "*" : "")</label>
                    <div class="col-sm-4">
                        <input type="email" id="tkad-distributor-data-email" class="form-control" value="@Model.ContactInfoEmail" placeholder="@TranslationsLib.Translate("TKAD.DistributorDataEmail")" @Model.DistributorContactDataAttributeString>
                    </div>
                </div>

                @if (Model.NATemplateType && Model.ExternalUser)
                {
                    <div class="section-header blue">
                        <h4>@TranslationsLib.Translate("TKAD.SCASalesRepresentative")</h4>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="tkad-distributor-data-sca-sales-rep-email">@TranslationsLib.Translate("TKAD.SCASalesRepEmail") *</label>
                        <div class="col-sm-4">
                            <input type="email" id="tkad-distributor-data-sca-sales-rep-email" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.SCAExampleEmail")" data-domain="@Model.EmailDomain" required>
                        </div>
                    </div>
                }

            </div>

            @if (Model.NATemplateType)
            {
                <div id="add-subjobber-ado-collapsibles" class="collapsibles">
                    <a class="panel-toggler">
                        <div class="expand-form blue form-expand-collapse u-inlineBlock" id="add-subjobber-ado-expand-collapse">
                                <span class="icon icon-plus pull-left" id="add-subjobber-ado-icon"></span>
                                <h4 id="add-subjobber-ado-add-message">@TranslationsLib.Translate("TKAD.SubjobberADO")</h4>
                                <h4 id="add-subjobber-ado-remove-message" style="display:none">@TranslationsLib.Translate("TKAD.RemoveSubjobberADO")</h4>
                            </div>
                        </a>

                    <div id="add-subjobber-ado" class="collapse panel-content form-horizontal">
                        <div class="section-header blue">
                            <h4>@TranslationsLib.Translate("TKAD.SubjobberCompanyData")</h4>
                        </div>

                        <input type="hidden" id="tkad-subjobber-ado-expanded" class="form-control" value="false" />

                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-subjobber-company-name">@TranslationsLib.Translate("TKAD.SubjobberCompanyName") *</label>
                            <div class="col-sm-4">
                                <input id="tkad-subjobber-company-name" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.SubjobberCompanyName")" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-subjobber-street-name">@TranslationsLib.Translate("TKAD.SubjobberStreetInfo") *</label>
                            <div class="col-sm-4">
                                <input id="tkad-subjobber-street-number" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.SubjobberStreetNumber")" required>
                            </div>
                            <div class="col-sm-4">
                                <input id="tkad-subjobber-street-name" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.SubjobberStreetName")" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-subjobber-city">@TranslationsLib.Translate("TKAD.SubjobberCityAndState") *</label>
                            <div class="col-sm-4">
                                <input id="tkad-subjobber-city" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.SubjobberCity")" required>
                            </div>
                            <div class="col-sm-4">
                                <input id="tkad-subjobber-state-province-country" placeholder="@TranslationsLib.Translate("TKAD.SubjobberState")" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-subjobber-postal-code">@TranslationsLib.Translate("TKAD.SubjobberPostalCode") *</label>
                            <div class="col-sm-4">
                                <input id="tkad-subjobber-postal-code" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.SubjobberPostalCode")" required>
                            </div>
                        </div>

                        <div class="section-header blue">
                            <h4>@TranslationsLib.Translate("TKAD.SubjobberContactData")</h4>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-subjobber-first-name">@TranslationsLib.Translate("TKAD.SubjobberName") *</label>
                            <div class="col-sm-4">
                                <input id="tkad-subjobber-first-name" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.SubjobberFirstName")" required>
                            </div>
                            <div class="col-sm-4">
                                <input id="tkad-subjobber-last-name" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.SubjobberLastName")" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-subjobber-title">@TranslationsLib.Translate("TKAD.SubjobberTitle") *</label>
                            <div class="col-sm-4">
                                <input id="tkad-subjobber-title" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.SubjobberTitle")" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-subjobber-phone">@TranslationsLib.Translate("TKAD.SubjobberPhone") *</label>
                            <div class="col-sm-4">
                                <input type="tel" id="tkad-subjobber-phone" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.SubjobberPhone")" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-md-3 control-label" for="tkad-subjobber-email">@TranslationsLib.Translate("TKAD.SubjobberEmail") *</label>
                            <div class="col-sm-4">
                                <input type="email" id="tkad-subjobber-email" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("TKAD.SubjobberEmail")" required>
                            </div>
                            <div class="col-sm-4">
                                <input type="email" id="tkad-subjobber-email-confirmation" class="form-control" placeholder="@TranslationsLib.Translate("TKAD.SubjobberConfirmEmail")" required>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div id="step3" class="wizard-pane">
            <div class="visible-xs u-marginBottomS"></div>
            @Html.Partial("~/Views/Shared/_ProductList.cshtml", Model.ProductListViewModel)
        </div>

        <div id="step4" class="wizard-pane">
            <h2>@TranslationsLib.Translate("TKAD.AddQuantity")</h2>
            <p>@TranslationsLib.Translate("TKAD.AddQuantityDescription")</p>

                    <div id="add-quantity-required-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.PleaseCompleteRequiredFields").
                    </div>
                    <div id="interger-quantity-required-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TKAD.PleaseEnterNumber")
                    </div>
                    <div id="check-inputs-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("Shared.PleaseCheckInput")
                    </div>
            <div id="quantity-product-list">
                <div class="row u-marginBottomS">
                                @if (Model.EUTemplateType)
                                {
                        <div class="col-sm-2 col-sm-offset-4 col-xs-4">
                            <strong>@TranslationsLib.Translate("TKAD.Quantity")</strong>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <strong>@TranslationsLib.Translate("TKAD.FeePerDispenser")</strong>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <strong>@TranslationsLib.Translate("TKAD.Total")</strong>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                            <strong>@TranslationsLib.Translate("TKAD.Currency")</strong>
                        </div>
                                }
                                else
                                {
                        <div class="col-sm-2 col-sm-offset-4 col-xs-12">
                            <strong>@TranslationsLib.Translate("TKAD.Quantity")</strong>
                        </div>
                                }
                </div>
                <div class="form-horizontal" id="quantity-product-list-body">
                    <div class="form-group quantityProductListItemTemplate hidden">
                        @if (Model.EUTemplateType)
                        {
                            <label class="col-sm-4 col-xs-12 control-label u-marginTopN">
                                <span class="article-name"></span>,
                                <span class="article-number u-colorGray"></span>
                            </label>
                            <div class="col-sm-2 col-xs-4">
                                <input type="number" class="form-control quantity-text-area">
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <input inputmode="numeric" class="form-control fee-text-area" maxlength="@Model.FeePerDispenserMaxlength" >
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                        <input class="form-control row-total-text-area" disabled>
                            </div>
                            <div class="col-sm-2 hidden-xs">
                            </div>
                        }
                        else
                        {
                            <label class="col-sm-4 col-xs-12 control-label u-marginTopN">
                                <span class="article-name"></span>,
                                <span class="article-number u-colorGray"></span>
                            </label>
                            <div class="col-sm-2 col-xs-12">
                                <input type="number" class="form-control quantity-text-area">
                            </div>
                        }
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                                @if (Model.EUTemplateType)
                                {
                            <label class="col-sm-4 col-xs-12 control-label u-marginTopN">
                                @TranslationsLib.Translate("TKAD.Total")
                            </label>
                            <div class="col-sm-2 col-xs-4">
                                <input type="number" id="quantityTotalTextArea" class="form-control" readonly>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <input id="productTotalTextArea" class="form-control" value="0" readonly>
                            </div>
                            <div class="col-sm-2 hidden-xs" id="quantity-product-list-currency">
                            </div>
                                }
                        else
                        {
                            <label class="col-sm-4 col-xs-12 control-label u-marginTopN">
                                @TranslationsLib.Translate("TKAD.Total")
                            </label>
                            <div class="col-sm-2 col-xs-12">
                                <input type="number" id="quantityTotalTextArea" class="form-control" readonly>
                </div>
                        }
            </div>
        </div>
            </div>
        </div>

        <div id="step5" class="wizard-pane">
            @Html.Partial("~/Views/TKAD/_SignAgreement.cshtml", Model.SignAgreementViewModel)
        </div>

        <hr class="invisible" />
        <a href="#" class="btn btn-primary btn-block save-draft visible-xs-block u-marginBottomS" data-save-draft-text="@TranslationsLib.Translate(" TKAD.SaveDraft")" data-save-draft-in-progress="@TranslationsLib.Translate(" TKAD.SaveDraftInProgress")" data-save-draft-completed="@TranslationsLib.Translate(" TKAD.SaveDraftCompleted")" data-save-draft-failed="@TranslationsLib.Translate(" TKAD.SaveDraftFailed")">@TranslationsLib.Translate("TKAD.SaveDraft")</a>

        <div class="Arrange Arrange--withGutter u-paddingBottomS">
            <div class="Arrange-sizeFit">
                <a class="btn btn-link disabled visible-xs-inline-block" data-wizard="prevTab">
                    <span class="Icon24 align-icon-left icon-arrow_left"></span>
                </a>
                <a href="#" id="previousButton-bottom" class="btn btn-default hidden-xs">
                    <span class="icon icon-arrow_left_borderless visible-xs"></span><span class="hidden-xs">@TranslationsLib.Translate("Shared.Previous")</span>
                </a>
            </div>
            <div class="Arrange-sizeFill u-textRight">
                <a href="#" class="btn btn-primary save-draft hidden-xs" data-save-draft-text="@TranslationsLib.Translate(" TKAD.SaveDraft")" data-save-draft-in-progress="@TranslationsLib.Translate(" TKAD.SaveDraftInProgress")" data-save-draft-completed="@TranslationsLib.Translate(" TKAD.SaveDraftCompleted")" data-save-draft-failed="@TranslationsLib.Translate(" TKAD.SaveDraftFailed")">@TranslationsLib.Translate("TKAD.SaveDraft")</a>

                <a class="btn btn-link visible-xs-inline-block" data-wizard="nextTab">
                    <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
                </a>
                <a href="#" id="nextButton-bottom" class="btn btn-primary hidden-xs">@TranslationsLib.Translate("Shared.Next")</a>
            </div>
            </div>


        </div>
    </div>

@section Modals {
    @Html.Partial("~/Views/TKAD/_PDFModal.cshtml")
    @Html.Partial("~/Views/TKAD/_ConfirmFSCBSCRemovalModal.cshtml")
    @Html.Partial("~/Views/TKAD/_ContractorNotificationModal.cshtml")
    @Html.Partial("~/Views/TKAD/_ConfirmSubjobberADORemovalModal.cshtml")
    @Html.Partial("~/Views/TKAD/_PaperContractNotificationModal.cshtml")
}

@section Scripts {

    <script src="~/Content/scripts/plugins/jSignature.min.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/models/wizard.js?v=@AppVersion.Current"></script>

    <script type="text/javascript">
        // Setting some global variables for product search
        var PRODUCT_SEARCH_URL = '/TKAD/SearchTKADProducts';
        var GET_PRODUCTS_COUNT_URL = '/TKAD/GetTKADProductsCount';
        var TKAD_SEARCH = true;
    </script>

    <script src="~/Content/scripts/controllers/product-list-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/controllers/tkad-controller.js?v=@AppVersion.Current"></script>

    <script type="text/javascript">
        (function ($) {
            'use strict';

            var tkadControllerOptions = {
                savedAgreement: @(Html.Raw(JsonConvert.SerializeObject(Model.SavedAgreement))),
                localeIsNorthAmerica: @(Model.NATemplateType.ToString().ToLowerInvariant()),
                showSignature: @(GlobalShim.AppSettings.TKAD.Agreements.ShowSignature.ToString().ToLowerInvariant()),
                dateFormat: '@(GlobalShim.AppSettings.DatePickerFormat)',
            }, tkadController = new TKADController($, tkadControllerOptions);
            tkadController.initialize();
        })(jQuery);
    </script>
}