﻿@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.TKAD_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "tkad-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.TKADWhatIsThis");
}

@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.TKADViewModel

<div class="form-group row">
    <div class="col-sm-12 text-right">
        <a href="@Url.Action("AgreementWizard")" id="createAgreement-top" class="btn btn-primary btn-block-xs">@TranslationsLib.Translate("TKAD.CreateAgreement")</a>
        </div>
    </div>
    <div class="content-container u-colorGray control-module">
        <form id="tkad-filter-form" class="exclude-from-confirm" novalidate autocomplete="off">
        <h3 class="u-marginTopM visible-xs">Find contract</h3>
            <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="tkad-filter-sold-to" class="hidden-xs">@TranslationsLib.Translate("TKAD.SoldToNameNumber")</label>
                        <select id="tkad-filter-sold-to" class="form-control" name="soldTo" data-placeholder="@TranslationsLib.Translate("TKAD.SoldToNameNumberPlaceholder")" style="width: 100%;">
                                <option></option>
                                @foreach (var soldTo in Model.ListAllSoldTosInAgreements())
                                {
                                    <option value="@soldTo.Item1">@soldTo.Item2</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="tkad-filter-status" class="hidden-xs">@TranslationsLib.Translate("TKAD.StatusSearch")</label>
                        <select id="tkad-filter-status" class="form-control" name="status" data-placeholder="@TranslationsLib.Translate("TKAD.StatusSearchPlaceholder")" data-hide-search="1" style="width: 100%;">
                                <option></option>
                                @foreach (var status in Model.ListAllStatusInAgreements())
                                {
                                    <option value="@status.Item1">@status.Item2</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="search-field-end-customer-name" class="hidden-xs">@TranslationsLib.Translate("TKAD.EndCustomerCompanyNameSearch")</label>
                        <input class="form-control" id="search-field-end-customer-name" name="searchTerm" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerCompanyNameSearch")" />
                        </div>
                    </div>
                </div>
                @if (Model.NATemplateType)
                {
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="search-field-contract-number" class="hidden-xs">@TranslationsLib.Translate("TKAD.ContractNumberSearch")</label>
                            <input class="form-control" id="search-field-contract-number" name="contractNumber" placeholder="@TranslationsLib.Translate("TKAD.ContractNumberSearch")" />
                            </div>
                        </div>
                    </div>
                }
            </div>

            @if (Model.NATemplateType)
            {
                <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="search-field-end-customer-name" class="hidden-xs">@TranslationsLib.Translate("TKAD.EndCustomerNumberSearch")</label>
                            <input class="form-control" id="search-field-end-customer-number" name="endCustomerNumber" placeholder="@TranslationsLib.Translate("TKAD.EndCustomerNumberSearch")"/>
                            </div>
                        </div>
                    </div>
                </div>
            }


        <hr class="gray hidden-xs">
            <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="alert backEndErrors mt-0-75em alert-danger" style=""></div>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-12">
                <button id="tkad-search-btn" class="btn btn-primary pull-right btn-block-xs" type="submit">@TranslationsLib.Translate("Shared.Search")</button>
                </div>
            </div>
        </form>
    </div>

    <div id="agreements-table">
        @Html.Partial("_SearchResults", Model.AgreementsTable)
    </div>

@section Modals {
    @Html.Partial("~/Views/TKAD/_PDFModal.cshtml")
}

@section Scripts {
    <script src="~/Content/scripts/controllers/tkad-controller.js?v=@AppVersion.Current"></script>
    <script type="text/javascript">

        (function ($) {
            'use strict';

            var tkadControllerOptions = {
                showSignature: @(GlobalShim.AppSettings.TKAD.Agreements.ShowSignature.ToString().ToLowerInvariant()),
            };
            var tkadController = new TKADController($, tkadControllerOptions);
            tkadController.initialize();
        })(jQuery);
    </script>
}