﻿@using TorkExtranet.Models;
@using TorkExtranet.Models.ViewModels
@using TorkExtranet
@using TorkExtranet.Services;

@model TorkExtranet.Models.ViewModels.CustomerSpecificCatalogViewModel
@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.CUSTOMER_SPECIFIC_CATALOG_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "customer-specific-catalog-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.CustomerSpecificCatalogWhatIsThis");
}

<div class="wizard hidden-xs">
        <div class="wizard-progress"></div>
        <div class="wizard-item" data-index="1">
            <div class="wizardLabel">@TranslationsLib.Translate("CustomerSpecificCatalog.EditList")</div>
        </div>
        <div class="wizard-item" data-index="2">
            <div class="wizardLabel">@TranslationsLib.Translate("CustomerSpecificCatalog.Design")</div>
        </div>
        <div class="wizard-item" data-index="3">
            <div class="wizardLabel">@TranslationsLib.Translate("CustomerSpecificCatalog.ContactInformation")</div>
        </div>
       
         @if (Model.CanAccessAddPrice) { 
            
            <div class="wizard-item" data-index="4">
                <div class="wizardLabel">@TranslationsLib.Translate("Shared.PriceWizardText")</div>
            </div>
        }
        
        <div class="wizard-item last" data-index="5">
            <div class="wizardLabel">@TranslationsLib.Translate("CustomerSpecificCatalog.GenerateOutput")</div>
        </div>
        <div class="clearfix"></div>
    </div>

<div class="visible-xs">
    <h3 class="tab-title">@TranslationsLib.Translate("CustomerSpecificCatalog.EditList")</h3>
    <div class="ProgressBar">
        <div class="ProgressBar-indicator"></div>
    </div>
    <a class="btn btn-link pull-right" data-wizard="nextTab">
        <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
    </a>
    <a class="btn btn-link disabled" data-wizard="prevTab"><span class="Icon24 align-icon-left icon-arrow_left"></span></a>
</div>

    <div id="wizard-content" class="wizard-content control-module product-list-container">
    <div id="" class="row hidden-xs">
            <div class="col-xs-4">
            <a href="#" id="previousButton-top" class="btn btn-default">@TranslationsLib.Translate("Shared.Previous")</a>
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4 text-right">
                <a href="#" id="nextButton-top" class="btn btn-primary">@TranslationsLib.Translate("Shared.Next")</a>
            </div>
        </div>
       
        <div class="row">
            <div class="col-xs-12">
                <div id="product-price-list-alert-msg" class="wizard-alert-msg alert alert-danger">
                    <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("Shared.InvalidPrice")
                </div>
                <div id="product-rebate-alert-msg" class="wizard-alert-msg alert alert-danger">
                    <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("ProductList.InvalidRebatePercentageMessage")
                </div>
            </div>
        </div>

        <div id="step1" class="wizard-pane">
            @Html.Partial("~/Views/Shared/_ProductList.cshtml", Model.ProductListViewModel)
        </div>

        <div id="step2" class="wizard-pane">
            <div class="row">
                <div class="col-xs-12">
                    <div id="design-template-alert-msg" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("CustomerSpecificCatalog.PleaseSelectATemplate").
                    </div>
                </div>
            </div>
        <h2>
            @TranslationsLib.Translate("CustomerSpecificCatalog.Design")
        </h2>
            <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
                <label class="control-label d-block">
                    @TranslationsLib.Translate("CustomerSpecificCatalog.CustomerCompany"):&nbsp;
                    <span class="TooltipIcon icon-question Icon18-right--xs" data-popover-target=".popover-target"></span>
                    <span class="popover-target" style="display: none">
                            <img src='~/Content/images/tooltip-customer-company.jpg' />
                        </span>
                    </label>
                    <input id="customerCompanyTextArea" class="form-control">
                </div>
            <div class="form-group col-sm-6 col-xs-12">
                <label class="control-label d-block">
                    @TranslationsLib.Translate("CustomerSpecificCatalog.CatalogHeadline"):&nbsp;
                    <span class="TooltipIcon icon-question Icon18-right--xs" data-popover-target=".popover-target"></span>
                    <span class="popover-target" style="display: none">
                            <img src='~/Content/images/tooltip-catalogue-headline.jpg' />
                        </span>
                    </label>
                    <input id="catalogueHeadlineTextArea" class="form-control">
                </div>
            <div class="form-group col-sm-6 col-xs-12">
                <label class="control-label d-block">
                    @TranslationsLib.Translate("CustomerSpecificCatalog.CustomerName"):&nbsp;
                    <span class="TooltipIcon icon-question Icon18-right--xs" data-popover-target=".popover-target"></span>
                    <span class="popover-target" style="display: none">
                            <img src='~/Content/images/tooltip-customer-name.jpg' />
                        </span>
                    </label>
                    <input id="customerNameTextArea" class="form-control">
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label class="control-label d-block">
                        @TranslationsLib.Translate("Shared.IncludeDate"):&nbsp;
                        <span class="TooltipIcon icon-question Icon18-right--xs" data-popover-target=".popover-target"></span>
                        <span class="popover-target" style="display: none">
                            <img src='~/Content/images/tooltip-catalogue-date.jpg' />
                        </span>
                    </label>
                   
                    <input type="checkbox" name="includeDate" id="includeDate" checked/>
                    <label for="includeDate">
                        @TranslationsLib.Translate("Shared.IncludeDate")
                    </label>
                   
                </div>
            </div>
            <h3>@TranslationsLib.Translate("CustomerSpecificCatalog.Template"): <span id="templateRequiredIcon" class="wizard-alert-indicator icon-exclamation"></span></h3>
            <div id="template-selector" class="row">
                @{ var preSelectedCatalog = @Model.CatalogPackages.Count > 0 ? @Model.CatalogPackages.FirstOrDefault() : null; }
                @foreach (CatalogPackage catalogPackage in Model.CatalogPackages)
                {
                <div class="col-xs-6 col-sm-4 col-md-3 template-container" data-template="@catalogPackage.TemplateName()" data-tcm-id="@catalogPackage.TcmUri">
                        <div class="images-container template @(catalogPackage == preSelectedCatalog ? "template-selected" : "")">
                            <span class="checkbox"></span>
                            <img class="main" src="@catalogPackage.MainImageThumbnailUrl">
                            <img class="top-right" src="@catalogPackage.TopRightImageThumbnailUrl">
                            <img class="bottom-right" src="@catalogPackage.BottomRightImageThumbnailUrl">
                        </div>
                        @catalogPackage.Title
                    </div>
                }
            </div>
        </div>

        <div id="step3" class="wizard-pane">
        <h2 class="u-posRelative">
                @TranslationsLib.Translate("CustomerSpecificCatalog.ContactInformation")
            <span class="TooltipIcon icon-question Icon18-right--xs" data-popover-target=".popover-target"></span>
            <span class="popover-target" style="display: none">
                    <img src='~/Content/images/tooltip-contact-info.jpg' />
                </span>
            </h2>
            <form class="row" enctype="multipart/form-data">
            <div class="form-group col-sm-6 col-xs-12">
                <label for="contactFirstName" class="control-label">
                    @TranslationsLib.Translate("Shared.FirstName"):
                </label>
                    <input name="contactFirstName" class="form-control" value="@Model.ContactInfoFirstName" />
                </div>
            <div class="form-group col-sm-6 col-xs-12">
                <label for="contactLastName" class="control-label">
                    @TranslationsLib.Translate("Shared.LastName"):
                </label>
                    <input name="contactLastName" class="form-control" value="@Model.ContactInfoLastName" />
                </div>
            <div class="form-group col-sm-6 col-xs-12">
                <label for="contactBusinessPhone" class="control-label">
                    @TranslationsLib.Translate("Shared.BusinessPhone"):
                </label>
                    <input name="contactBusinessPhone" class="form-control" value="@Model.ContactInfoBusinessPhone" />
                </div>
            <div class="form-group col-sm-6 col-xs-12">
                <label for="contactMobilePhone" class="control-label">
                    @TranslationsLib.Translate("Shared.MobilePhone"):
                </label>
                    <input name="contactMobilePhone" class="form-control" value="@Model.ContactInfoMobilePhone" />
                </div>
            <div class="form-group col-sm-6 col-xs-12">
                <label for="contactEmail" class="control-label">
                    @TranslationsLib.Translate("Shared.Email"):
                </label>
                    <input name="contactEmail" type="email" class="form-control" value="@Model.ContactInfoEmail" required />
                </div>
            <div class="form-group col-sm-6 col-xs-12">
                <label for="contactWebsite" class="control-label">
                    @TranslationsLib.Translate("Shared.Website"):
                </label>
                    <input name="contactWebsite" class="form-control" value=@Model.ContactInfoDefaultWebsite />
                </div>
            <div class="form-group col-sm-6 col-xs-12">
                <label for="contactCompany" class="control-label">
                    @TranslationsLib.Translate("Shared.Company"):
                </label>
                    <input name="contactCompany" class="form-control" value="@Model.ContactInfoCompany" required />
                </div>
               
            </form>

            <div class="clearfix"></div>
        </div>

        @if (Model.CanAccessAddPrice) 
        {
            
        <div id="step4" class="wizard-pane add-price-wizard">
            @Html.Partial("~/Views/Shared/_AddPrice.cshtml")
        </div>
            
        }
        
        <div id="step5" class="wizard-pane">
            <hr class="gray-light hidden-xs">
            <div class="row">
                @*// Image Upload for PDF Cosmos id 1520810 by Basanta *@
                @*// Move the Uplod to Report Tab and give user the option to upload new Logo Image*@
            <div class="col-sm-6">
                <label class="control-label d-block mt-20px">
                    @TranslationsLib.Translate("Shared.LogoOnDocument"):&nbsp;
                    <span class="TooltipIcon icon-question Icon18-right--xs" data-popover-target=".popover-target"></span>
                    <span class="popover-target" style="display: none">
                            <img src='~/Content/images/tooltip-logotype.jpg' />
                        </span>
                    </label>
                    @if (Model.Logo != null)
                    {
                        <p>
                            <input type="checkbox" checked="checked" name="enableLogo" id="enableLogo" />
                        <label for="enableLogo">
                            @TranslationsLib.Translate("Shared.EnableLogo")
                        </label>
                        </p>
                    }
                <div class="prev-wrapper_company-logo-file" style="display: none">
                    <div class="progress" style="display: none">
                            <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"></div>
                        </div>
                    <div id="preview-image" style="display: none" data-container="logo">
                       <div id="prev_company-logo-file" class="ImageUploadPreview"></div>
                       <div class="ImageUploadPreview-caption" id="selectedFileNamePlaceHolder">
                           <a class="ImageUploadPreview-delete"><span class="icon icon-trashcan u-cursorPointer remove-logo-btn"></span></a>
                           <span class="fileName" data-placeholder="@TranslationsLib.Translate("Shared.NoFileSelected")">@TranslationsLib.Translate("Shared.NoFileSelected")</span>
                            </div>
                            </div>
                            </div>
                <div class="Upload-button btn btn-primary btn-block-xs">
                    <span id="spanChooseFile">
                        @if (Model.Logo != null)
                        {
                            @TranslationsLib.Translate("Shared.ChangeLogoForDocument")
                        }
                        else
                        {
                            @TranslationsLib.Translate("CustomerSpecificCatalog.ChooseFile")
                        }
                    </span>

                    <input name="companyLogo" id="company-logo-file" class="Upload-input" type="file" accept="image/*" />
                    <span data-spinner></span>
                    </div>

                <div class="small hidden-xs">
                    @TranslationsLib.Translate("CustomerSpecificCatalog.SupportedImageFormats")
                    </div>
                   
                    @if (Model.Logo != null)
                    {
                    <div style="display: none" id="defaultLogo" data-name="@Model.Logo.Name" data-logo-id="company-logo-file" data-file="@Convert.ToBase64String(Model.Logo.Data)"></div>
                    }

                </div>

                    @*Added Email Logo upload option for External User only.*@
                    @if (UserLib.IdentityIsExternal)
                {
                <div class="col-xs-12 col-sm-6">                        
                            <label for="companyLogoEmail" class="control-label d-block mt-20px">
                                @TranslationsLib.Translate("Shared.LogoOnEmail"):
                            </label>
                        @if (Model.Logo != null)
                        {
                        <p>
                            <input type="checkbox" checked="checked" name="EmailenableLogo" id="EmailenableLogo" />
                        <label for="EmailenableLogo">
                            @TranslationsLib.Translate("Shared.EnableLogo")
                        </label>
                        </p>
                        }

                    <div class="prev-wrapper_company-logo-file-email" style="display: none">
                        <div class="progress" style="display: none">
                                <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"></div>
                            </div>
                        <div id="preview-image" style="display: none" data-container="logo">
                            <div id="prev_company-logo-file-email" class="ImageUploadPreview"></div>
                            <div class="ImageUploadPreview-caption" id="selectedFileNamePlaceHolderEmail">
                                <a class="ImageUploadPreview-delete"><span class="icon icon-trashcan u-cursorPointer remove-logo-btn-email"></span></a>
                                <span class="fileName" data-placeholder="@TranslationsLib.Translate("Shared.NoFileSelected")">@TranslationsLib.Translate("Shared.NoFileSelected")</span>
                                </div>
                                </div>
                                </div>

                    <div class="Upload-button btn btn-primary btn-block-xs">
                            @if (Model.Logo != null)
                            {
                        @TranslationsLib.Translate("Shared.ChangeLogoForEmail")
                            }
                            else
                            {
                        @TranslationsLib.Translate("CustomerSpecificCatalog.ChooseFile")
                            }
                        <input name="companyLogoEmail" id="company-logo-file-email" class="Upload-input" type="file" accept="image/*" />
                        <span data-spinner></span>
                        </div>

                    <div class="small">
                        @TranslationsLib.Translate("CustomerSpecificCatalog.SupportedImageFormats")
                        </div>

                        @if (Model.Logo != null)
                        {
                    <div style="display: none" id="defaultLogoEmail" data-name="@Model.Logo.Name" data-logo-id="company-logo-file-email" data-file="@Convert.ToBase64String(Model.Logo.Data)"></div>
                        }
                    </div>
                }
                @*Added logic for Preloaded Logo  Cosmos Id - 1488208*@
                    else
                    {
                <div id ="divAccountLogo" class="col-sm-6 mt-20px">
                                @if (Model.CanAccessProductTranslator && Model.AccountsWithLogo.Count() > 0)
                                {

                        if (Model.AccountsWithLogo.Count() > 1)
                                            {
                                                <div id="acccount-selector-Logo">
                                    <p class="help-block">
                                        @TranslationsLib.Translate("Shared.SelectAccountForDocumentLogo")
                                    </p>

                                @Html.DropDownList("accountid", Model.AccountsWithLogo, TranslationsLib.Translate("Shared.SelectAccount"), new { @id = "account-select-Logo", @required = "required", @class = "form-control no-reset", @style = "width: 100%" }, Model.AccountsWithLogo.Count() < 2)
                                                </div>
                                            }
                                            @*Added logic for  Cosmos Id - 1773876*@
                                            else
                                            {
                            @Html.DropDownList("accountid", Model.AccountsWithLogo,"",new { @id = "account-select-Logo", @required = "required", @class = "hidden", @style = "width: 100%" }, Model.AccountsWithLogo.Count() < 2)
                                                
                                            }
                                }
                         </div>
                    }
                    
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div id="invalid-image-format" class="wizard-alert-msg alert alert-danger">
                        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("Shared.InvalidImageFormat")
                    </div>
                </div>
            </div>

            <div class="row">
                @if (Model.CanAccessProductTranslator && Model.Accounts.Count() > 0)
                {
                <div class="col-xs-12 col-sm-6">
                            <input name="skuNumber" type="checkbox" checked id="sku-number">
                    <label for="sku-number" class="mt-0-2em mb-1em">
                        @TranslationsLib.Translate("Shared.SKUNumber")
                    </label>

                            @if (Model.Accounts.Count() > 1)
                            {
                                <div id="acccount-selector">
                            <p class="help-block">
                                @TranslationsLib.Translate("Shared.SelectAccountForSKUInstructions")
                            </p>

                            @Html.DropDownList("accountid", Model.Accounts, TranslationsLib.Translate("Shared.SelectAccount"), new { @id = "account-select", @required = "required", @class = "form-control no-reset", @style = "width: 100%" }, Model.Accounts.Count() < 2)
                                </div>
                            }
                            @*Added logic for  Cosmos Id - 1773876*@
                            else
                            {
                            @Html.DropDownList("accountid", Model.Accounts,"",new { @id = "account-select", @required = "required", @class = "hidden", @style = "width: 100%" }, Model.Accounts.Count() < 2)
                            }
                        </div>
                }
            </div>

            <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
                <h2>
                    <span>@TranslationsLib.Translate("Shared.Preview")</span><span class="hidden-xs">, @TranslationsLib.Translate("Shared.Download")</span>
                </h2>
                <hr class="gray-light hidden-xs">
                <p class="help-block">
                    @TranslationsLib.Translate("CustomerSpecificCatalog.CatalogDownloadInstructions")
                </p>
                <div class="row">
                    <div class="col-sm-6 col-xs-12 hidden-xs">
                        <input type="button" id="catalog-download-btn" class="btn btn-primary btn-block disable-form-confirm u-marginBottomS" value="@TranslationsLib.Translate("Shared.Download")" />
                        </div>
                    <div class="col-sm-6 col-xs-12">
                        <input type="button" id="catalog-preview-btn" class="btn btn-default btn-block u-marginBottomS" value="@TranslationsLib.Translate("Shared.Preview") " />
                    </div>
                </div>
                    <div class="row">
                        <div class="col-xs-12">
                        <div id="getPDFError-msg" class="alert alert-danger mt-0-75em">
                                @TranslationsLib.Translate("Shared.GeneratePDFError")
                            </div>
                        <div id="getPDFWait-msg" class="alert alert-success mt-0-75em">
                                @TranslationsLib.Translate("Shared.GeneratePDFWait")
                            </div>
                        <div id="getPDFWaitMore-msg" class="alert alert-success mt-0-75em">
                                @TranslationsLib.Translate("Shared.GeneratePDFWaitMore")
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-sm-6 col-xs-12">
                <h2>
                    @TranslationsLib.Translate("Shared.Email")
                </h2>
                <hr class="gray-light hidden-xs">
                    <form class="exclude-from-confirm" novalidate>
                        <div class="form-group">
                        <label for="exportEmail" class="control-label">
                            @TranslationsLib.Translate("Shared.To"): <span class="mandatory">*</span>
                        </label>
                        <input id="exportEmail" data-role="tagsinput" type="email" name="email" required class="emailList form-control">
                        </div>
                        <div class="form-group">
                            <label for="ccexportEmail" class="control-label">
                                @TranslationsLib.Translate("Shared.Cc"):
                            </label>
                            <input id="ccexportEmail" data-role="tagsinput" type="email" name="ccemail" class="ccemailList form-control">
                        </div>
                        <div class="form-group">
                        <label for="exportSubject" class="control-label">
                            @TranslationsLib.Translate("Shared.Subject"): <span class="mandatory">*</span>
                        </label>
                            <input id="exportSubject" name="subject" required class="form-control">
                        </div>
                        <div class="form-group">
                        <label for="exportEmailFrom" class="control-label">
                            @TranslationsLib.Translate("Shared.From"): <span class="mandatory">*</span>
                        </label>
                            <input id="exportEmailFrom" class="form-control" type="email" readonly value="@Model.ContactInfoEmail">
                        </div>
                        <div class="form-group">
                        <label for="exportMessage" class="control-label">
                            @TranslationsLib.Translate("Shared.Message"):
                        </label>
                            <textarea class="form-control" name="message" id="exportMessage" rows="4"></textarea>
                        </div>
                    <hr class="gray hidden-xs" />
                        <div class="form-group">
                        <div class="alert formSuccess mt-0-75em alert-success">
                                <span class="align-icon-left icon-checkbox"></span>
                                @TranslationsLib.Translate("Shared.MailSuccessfullySent")
                            </div>
                        <div class="alert formError mt-0-75em alert-danger">
                                <span class="align-icon-left icon-exclamation"></span>
                                @TranslationsLib.Translate("Shared.PleaseCheckInput")
                            </div>
                        <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                        </div>
                    <div class="form-group u-textRight">
                        <button type="submit" class="btn btn-primary btn-block-xs u-posRelative" id="catalog-email-btn">@TranslationsLib.Translate("Shared.SendEmail")<span data-spinner></span></button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <hr class="invisible hidden-xs" />

        <div class="Arrange Arrange--withGutter u-marginTopS">
            <div class="Arrange-sizeFit">
                <a class="btn btn-link disabled visible-xs-inline-block" data-wizard="prevTab">
                    <span class="Icon24 align-icon-left icon-arrow_left"></span>
                </a>
                <a href="#" id="previousButton-bottom" class="btn btn-default hidden-xs">
                    <span class="icon icon-arrow_left_borderless visible-xs"></span><span class="hidden-xs">@TranslationsLib.Translate("Shared.Previous")</span>
                </a>
            </div>
            <div class="Arrange-sizeFill u-textRight">
                <a class="btn btn-link visible-xs-inline-block" data-wizard="nextTab">
                    <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
                </a>
                <a href="#" id="nextButton-bottom" class="btn btn-primary hidden-xs">@TranslationsLib.Translate("Shared.Next")</a>
            </div>
        </div>
        </div>

@section Modals {
    <div class="modal fade" id="catalog-preview-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                    <h4 class="modal-title">
                        @TranslationsLib.Translate("Shared.PreviewPDF")
                    </h4>
                </div>
                <div class="modal-body">
                    <div style="display: none">
                        <object data="" class="pdf-preview" type="application/pdf"></object>
                        <iframe src="" class="pdf-preview" frameborder="0" scrolling="no"></iframe>
                    </div>
                    <p>
                        @TranslationsLib.Translate("Shared.PdfPreviewError")
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-6 text-left">
                            <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer pull-left" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                        </div>
                        <div class="col-xs-6 text-right btn-row">
                            <input type="button" id="modal-catalog-download-btn" class="btn btn-primary pull-right disable-form-confirm" value="@TranslationsLib.Translate("Shared.Download")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section Scripts {
    <script src="~/Content/scripts/controllers/product-list-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/models/wizard.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/controllers/customer-specific-catalog-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/controllers/addprice-controller.js?v=@AppVersion.Current"></script>
}

