﻿<div>
    <h2>@TranslationsLib.Translate("Shared.PriceHeaderText")</h2>
    <div class="row u-marginVerticalM" id="product_translation">
        <div class="col-sm-4 u-marginBottomS">

            <select id="product-translation-accountid" style="width: 100%;"></select>
            <p class="help-block">
                @TranslationsLib.Translate("Shared.SelectAccountForProductPrice")
            </p>
        </div>
        <div class="rebate-control col-sm-offset-4 col-sm-4">
            <div class="u-floatLeft u-paddingRightS u-bold lineHeight40">
                @TranslationsLib.Translate("ProductList.RebateHeader")
            </div>
            <div class="input-group">
                <input id="rebate-percent-input" type="text" value="" class="application-product-price-rebate-input form-control" maxlength="7" />

                <div class="input-group-btn">
                    <input type="button" id="calculate-rebate-btn" class="btn btn-primary" value="@TranslationsLib.Translate("Rebates.SubmitButton")" />
                </div>
            </div>
        </div>
    </div>
    <div id="addtoprice-products-list" class="addproductPriceList spinLikeTable">
        <div class="Tile-delimiter u-marginTopS"></div>
        <table class="table table-xs-tiled table-tiled--no-settings" id="application-product-price-list">
            <thead class="hidden-xs">
                <tr>
                    <th>@TranslationsLib.Translate("ProductList.Product")</th>
                    <th class="rebate-control">@TranslationsLib.Translate("ProductList.GrossPrice")</th>
                    <th class="rebate-control">@TranslationsLib.Translate("ProductList.RebateHeader")</th>
                    <th>@TranslationsLib.Translate("Shared.PricePerTRP")</th>
                    <th class="u-textCenter">
                        @TranslationsLib.Translate("ProductList.DispenserContractHeader"):&nbsp;
                        <span class="TooltipIcon icon-question Icon18-right--xs" data-popover-target=".popover-target"></span>
                        <span class="popover-target" style="display: none">
                            <span class="text-center">@TranslationsLib.Translate("ProductList.DispenserContractHeaderTooltip")</span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody id="application-product-price-list-body">
                <tr class="productPriceListItemTemplate hidden">
                    <td>
                        <strong class="article-name"></strong>
                        <div class="article-number"></div>
                    </td>
                    <td class="product-gross-price rebate-control" data-title="@TranslationsLib.Translate("ProductList.GrossPrice")"></td>
                    <td class="product-discount rebate-control" data-title="@TranslationsLib.Translate("ProductList.RebateHeader")"></td>
                    <td data-title="@TranslationsLib.Translate("Shared.PricePerTRP")">
                        <input type="text" value="" class="application-product-price-list-input currency form-control" maxlength="12" />
                    </td>
                    <td class="product-tadp" data-title="@TranslationsLib.Translate("ProductList.DispenserContractHeader")">
                        <input type="checkbox" name="chkTADP" class="tdapcheckbox" />
                        <label for="chkTADP"></label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
