﻿@model TorkExtranet.Models.ViewModels.AddRoleModal

<div class="modal fade" id="new-role" data-backdrop="static" data-keyboard="false" role="dialog" data-end-point="@Model.AddEndPoint">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close"><span class="icon-times"></span></a>
                <h4 class="modal-title" id="newLabel">@TranslationsLib.Translate("Administration.AddRole")</h4>
            </div>
            <div class="modal-body">
                <form class="exclude-from-confirm">
                    <div class="container-fluid">
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label>@TranslationsLib.Translate("Administration.RoleName"): <span class="mandatory">*</span></label>
                                <input name="name" class="input-role-name form-control" value="" type="text" required autocomplete="off">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-xs-12">
                        <div class="alert formError mt-0-75em alert-danger">
                            <span class="align-icon-left icon-checkbox"></span>
                            @TranslationsLib.Translate("Shared.PleaseCheckInput")
                        </div>
                        <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-4 text-left">
                        <input type="button" class="cancel-form-modal btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                    </div>
                    <div class="col-xs-8 text-right btn-row">
                        <input class="btn btn-primary u-cursorPointer add-role-btn pull-right" type="submit" value="@TranslationsLib.Translate("Shared.AddButton")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>