﻿@using TorkExtranet.Models;

@model TorkExtranet.Models.ViewModels.AlertSubscriptionViewModel
<div class="modal fade" id="news-alert-modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close"><span class="icon-times"></span></a>
                <h4 class="modal-title">@Model.NewsAlertSubscriptionTitle</h4>
            </div>
            <div class="modal-body">
                <form class="exclude-from-confirm">
                    <label>@Model.NewsAlertDescription</label>
                    <div class="container-fluid u-paddingTopM">
                        <div class="form-group row">
                            <div class="col-xs-12">
                                @{ string alert_checked = Model.IsUserScuscribed ? "checked" : ""; }
                                <input name="subscribe-news" type="checkbox" id="subscribe-news" class="form-control" @alert_checked />
                                <label for="subscribe-news">@Model.NewsAlertSubscriptionMessage</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <form id="alerts-form">
                    <div class="form-group">
                        <div class="alert formSuccess mt-0-75em alert-success">
                            <span class="align-icon-left icon-checkbox"></span>
                            @TranslationsLib.Translate("MyData.UserSubscriptionSuccessful")
                        </div>
                        <div class="alert formError mt-0-75em alert-danger">
                            <span class="align-icon-left icon-exclamation"></span>
                            @TranslationsLib.Translate("MyData.UserSubscriptionUnsuccessful")
                        </div>
                    </div>
                </form>
                <div class="form-group row">
                    <div class="col-xs-4 text-left">
                        <input type="button" class="cancel-form-modal btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                    </div>
                    <div class="col-xs-8 text-right btn-row">
                        <input class="btn btn-primary u-cursorPointer pull-right" type="submit" id="news-subscribe-button" value="@TranslationsLib.Translate("MyData.SaveUserSubscription")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

