﻿<div id="disclaimer" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a id="disclaimer-header-close" class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                <h4 class="modal-title">@Html.Raw(Model.Title)</h4>
            </div>
            <div class="modal-body" id="disclaimer-content-div">
                <p>@Html.Raw(Model.Body)</p>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-xs-12 text-right">
                        <input type="button" id="close-disclaimer" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.IAgree")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
