﻿@using TorkExtranet;
@using TorkExtranet.Models;
@using System.Linq;
@model TorkExtranet.Models.ViewModels.EditRoleModalBody
@{var disabled = Model.UserBelongsToRole ? "disabled" : "";}
<form id="manage-role">
    <span data-warning="#manage-role" style="display: none">@TranslationsLib.Translate("Shared.UnsavedChangesWarning")</span>
    <input type="hidden" name="id" value="@Model.Role.id" />
    <div class="container-fluid">
        <div class="form-group row">
            <div class="col-xs-12">
                <label>@TranslationsLib.Translate("Administration.RoleName"): <span class="mandatory">*</span></label>
                <input name="name" class="input-role-name form-control" value="@Model.Role.name" type="text" @disabled>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6">
                <label>@TranslationsLib.Translate("Administration.Tools"):</label>
            </div>
            <div class="col-xs-6">
                <button id="show-details-btn" class="btn btn-default pull-right" style="display: none">@TranslationsLib.Translate("Administration.ShowDetails")</button>
                <button id="hide-details-btn" class="btn btn-default pull-right">@TranslationsLib.Translate("Administration.HideDetails")</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12 col-md-12">
                @foreach (string category in ToolLib.GetSortedCategoryNames())
                {
                    if (Model.CategoriesOfTools.ContainsKey(category))
                    {
                        if (category == "Admin")
                        {
                            <hr class="blue" />
                        }
                        var toolList = Model.CategoriesOfTools[category];
                        <label>@TranslationsLib.Translate("Administration." + category)</label>
                        for (int i = 0; i < toolList.Count; i++)
                        {
                            Tool tool = toolList[i];

                            bool role_has_tool = Model.Role_Tools_Dictionary.ContainsKey(tool.id);
                            string tool_checked = role_has_tool ? "checked" : "";

                            string begin_row = i % 2 == 0 ? "<div class='row'>" : "";
                            string end_row = i % 2 == 1 || i == toolList.Count - 1 ? "</div>" : "";

                            @(Html.Raw(begin_row));
                    <div class="col-xs-6 mt-0-2em mb-1em">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <input name="selectedtools" value="@(tool.id)" type="checkbox" class="parent-tool" id="manage-role-@(tool.id)" @tool_checked @disabled>
                                <label for="manage-role-@(tool.id)">@ToolLib.GetTranslatedNameForTool(tool)</label>
                            </div>
                            @if (tool.Child_Tools.Count > 0)
                            {
                                <div class="subtool-container panel-body">
                                    @foreach (Tool subtool in tool.Child_Tools)
                                    {
                                        bool role_has_subtool = Model.Role_Tools_Dictionary.ContainsKey(subtool.id);
                                        string subtool_checked = role_has_subtool ? "checked" : "";
                                        <div class="u-paddingLeftXS">
                                            <input name="selectedtools" value="@(subtool.id)" type="checkbox" class="sub-tool" id="manage-role-@(tool.id)-@(subtool.id)" @subtool_checked @disabled>
                                            <label for="manage-role-@(tool.id)-@(subtool.id)">@ToolLib.GetTranslatedNameForTool(subtool)</label>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>

                    @(Html.Raw(end_row));
                        }
                    }
                }
            </div>
        </div>
    </div>
</form>