﻿@model TorkExtranet.Models.ViewModels.EditRoleModal

<div id="edit-role-modal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" data-end-point="@Model.EditBodyEndPoint" data-save-end-point="@Model.SaveEndPoint" data-delete-end-point="@Model.DeleteEndPoint">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close"><span class="icon-times"></span></a>
                <h4 class="modal-title">@TranslationsLib.Translate("Administration.EditRole")</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-xs-12">
                        <div class="alert formSuccess mt-0-75em alert-success">
                            <span class="align-icon-left icon-checkbox"></span>
                            @TranslationsLib.Translate("Shared.ChangesSaved")
                        </div>
                        <div class="alert formError mt-0-75em alert-danger">
                            <span class="align-icon-left icon-exclamation"></span>
                            @TranslationsLib.Translate("Shared.PleaseCheckInput")
                        </div>
                        <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-4 text-left">
                        <input type="button" class="cancel-form-modal btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                    </div>
                    <div class="col-xs-8 text-right btn-row">
                        <input type="submit" class="btn btn-primary pull-right save-role-btn" value="@TranslationsLib.Translate("Shared.SaveButton")" />
                        <input type="button" class="btn btn-primary u-cursorPointer delete-role-btn pull-right delete-btn" value="@TranslationsLib.Translate("Shared.DeleteButton")" />
                        <input type="button" class="btn btn-danger u-cursorPointer confirm-delete-role-btn pull-right confirm-delete-btn" value="@TranslationsLib.Translate("Shared.AreYouSureButton")" style="display: none"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
