﻿@using TorkExtranet.Models;


@model TorkExtranet.Models.ViewModels.ExtranetNavigationPartialViewModel

<div id="extranet-menu" class="u-backgroundBlue">
    <div class="extranet-menu-mobile visible-xs">
        <div class="Arrange Arrange--middle">
            <div class="Arrange-sizeFit">
                <a href="@Url.Action("Index", "MyData")" title="Tork" class="logo">
                    <img src="~/Content/images/tork-logo.png" alt="Tork">
                </a>
            </div>
            <div class="Arrange-sizeFill u-textRight">
                <a class="extranet-menu-heading collapsed u-paddingVerticalS" href="#mobile-nav" data-toggle="collapse">
                    @TranslationsLib.Translate("Administration.TorkConnect")
                    <span class="extranet-menu-toggler">
                        <span class="icon-circle-list"></span>
                        <span class="icon-times hidden"></span>
                    </span>
                </a>
            </div>
        </div>

        <div class="searchContainer visible-xs u-paddingBottomS">
            <form name="mobileProductSearch" action="@Url.Action("Search", "Product")">
                <div class="input-group">
                    <div class="u-posRelative">
                        <input class="form-control" id="mobile-product-search-input" name="searchTerm"
                               placeholder="@TranslationsLib.Translate("Shared.ProductSearch")" autocomplete="off">
                    </div>
                    <span class="input-group-btn">
                        <button id="search-submit" class="btn btn-primary" type="submit">
                            <i class="icon icon-magnify visible-xs-inline-block"></i>
                            <span class="hidden-xs">@TranslationsLib.Translate("Shared.Search")</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <div class="collapse" id="mobile-nav">
            <div class="extranet-menu-nav">
                <nav class="VerticalNavigation">
                    <a class="VerticalNavigation-link" href="@Url.Action("Index", "MyData")">
                       @TranslationsLib.Translate("Shared.Home")
                    </a>

                    @foreach (Dictionary<string, dynamic> categoryOfTools in @Model.CategoriesOfTools)
                    {
                        if (categoryOfTools["shownInMobile"])
                        {

                            <a class="VerticalNavigation-link" href="#@categoryOfTools["id"]">
                                @categoryOfTools["name"]
                                <span class="icon icon-arrow_right pull-right"></span>
                            </a>
                            <div class="VerticalNavigation-subnav">
                                @foreach (Dictionary<string, string> link in categoryOfTools["links"])
                                {
                                    if (link.ContainsKey("shownInMobile") && link["shownInMobile"] == "True")
                                    {
                                        @Html.ActionLink(link["name"], link["action"], link["controller"], new { id = "" }, new { @class = "VerticalNavigation-link VerticalNavigation-link--depth1", @target = link["target"] })
                                    }
                                }
                            </div>
                        }
                    }
                    <a class="VerticalNavigation-link u-colorGray" href="#phoneTab" data-toggle="modal" data-target="#empty-modal">
                       <span data-title>@TranslationsLib.Translate("HeaderFooter.ContactUsLabel")</span>
                       <span class="icon icon-phone pull-right"></span>
                    </a>
                    <a class="VerticalNavigation-link u-colorGray" href="#contactTab" data-toggle="modal" data-target="#empty-modal">
                       <span data-title>@TranslationsLib.Translate("CustomerSpecificCatalog.ContactInformation")</span>
                       <span class="icon icon-message pull-right"></span>
                    </a>
                    <a class="VerticalNavigation-link u-colorGray" href="~/Login/Logout">
                        @TranslationsLib.Translate("HeaderFooter.Logout")
                    </a>
                </nav>
            </div>
        </div>
    </div>

    <div class="container hidden-xs">
        <div id="extranet-header" class="wrap u-posRelative">
            <div class="pull-right logOut dropdownToggler">
                <span class="u-cursorPointer pull-right username">
                    <span>@Model.CurrentUserName</span>
                    <span class="icon icon-arrow_down"></span>
                </span>

                <div id="profile-action-tab" class="dropdownContent">
                    <div class="row">
                        <div class="col-xs-12">
                            @TranslationsLib.Translate("HeaderFooter.SignedInAs"):<br>
                            <span class="signed-in-name">@Model.CurrentUserName</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right signout-btn-wrap">
                            <a href="~/Login/Logout" class="btn btn-primary logout-btn" id="sign-out-button-id">
                                @TranslationsLib.Translate("HeaderFooter.Logout")
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="header-item first">
                <a class="header-item-link icon icon-home" href="@Url.Action("Index", "MyData", new { status = Constants.NONE})"></a>
            </div>

            <div id="collapsed-nav-toggler" class="header-item">
                <a class="header-item-link">
                    <span class="icon icon-circle-list"></span>
                    <span class="ml-1em">@TranslationsLib.Translate("Shared.Navigation")</span>
                </a>
            </div>
            <div id="collapsed-nav-container">
                @foreach (Dictionary<string, dynamic> categoryOfTools in @Model.CategoriesOfTools)
                {
                    <div class="header-item dropdownToggler">
                        <span class="header-item-link" href="#@categoryOfTools["id"]">
                            @categoryOfTools["name"]
                        </span>

                        <div id="@categoryOfTools["id"]" class="header-nav-dropdown dropdownContent">
                            <ul>
                                @foreach (Dictionary<string, string> link in categoryOfTools["links"])
                                {
                                    <li>@Html.ActionLink(link["name"], link["action"], link["controller"], new { id = "" }, new { @target = link["target"] })</li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
