﻿@using TorkExtranet.Models;
@using TorkExtranet;

@model TorkExtranet.Models.ViewModels.GlobalNavigationPartialViewModel

<div id="header-nav" class="hidden-xs">
    <div class="container">
        <div class="wrap clearfix u-posRelative">

            @foreach (Dictionary<string, string> link in Model.Links)
            {
                <div class="global-nav-item nav-item tab-item">
                    @if (link.ContainsKey("link"))
                    {
                        <a href="@link["link"]">@link["name"]</a>
                    }
                    else
                    {
                        <a>@link["name"]</a>
                        if (link.ContainsKey("html"))
                        {
                            @Html.Raw(@link["html"])
                        }
                    }
                </div>
            }

        </div>
    </div>
</div>