﻿@using TorkExtranet
@using BotDetect.Web.UI.Mvc;

@model TorkExtranet.Models.ViewModels.HeaderViewModel

<header id="header">
    <div id="header-toolbar" class="hidden-xs">
        <div class="container">
            <div class="wrap">
                <a href="@Model.TorkOnlineURL" title="Tork" class="logo">
                    <img src="~/Content/images/tork-logo.png" alt="Tork">
                </a>

                <div id="toolbarList">
                    <div class="toolbar-list-group" id="divLanguageSelector">
                        <div class="toolbar-list-item">
                            <a id="languageTabLink" href="#languageTab" class="smallPrint">@TranslationsLib.Translate("HeaderFooter.LanguageSelector")</a>
                            <div class="tab-pane">
                                <div class="tabContent">
                                    <h4>@TranslationsLib.Translate("HeaderFooter.Language")</h4> <a id="languageRedirectLink" class="labelledIcon iconRight alternativeLanguage"><span id="spanLanguageText"></span><span class="icon-arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="toolbar-list-group">
                        <div class="toolbar-list-item">
                            <a class="disabled icon icon-position"></a>
                        </div>
                        <div class="toolbar-list-item">
                            <a class="disabled icon icon-file"></a>
                        </div>
                    </div>

                    <div class="toolbar-list-group">
                        <div class="toolbar-list-item">
                            <a href="#phoneTab" class="icon icon-phone"></a>
                            <div class="tab-pane" id="phoneTab">
                                <div class="tabContent u-cf">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4">
                                            <h4>@TranslationsLib.Translate("HeaderFooter.CustomerServiceLabel"):</h4>
                                            <div class="u-marginVerticalS">
                                                <div><a href="tel:@TranslationsLib.Translate("HeaderFooter.CustomerServicePhone1")">@TranslationsLib.Translate("HeaderFooter.CustomerServicePhone1")</a></div>
                                                <div><a href="tel:@TranslationsLib.Translate("HeaderFooter.CustomerServicePhone2")">@TranslationsLib.Translate("HeaderFooter.CustomerServicePhone2")</a></div>
                                                <div><a href="tel:@TranslationsLib.Translate("HeaderFooter.CustomerServicePhone3")">@TranslationsLib.Translate("HeaderFooter.CustomerServicePhone3")</a></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <h4>@TranslationsLib.Translate("HeaderFooter.SalesDepartmentLabel"):</h4>
                                            <div class="u-marginVerticalS">
                                                <div><a href="tel:@TranslationsLib.Translate("HeaderFooter.SalesDepartmentPhone1")">@TranslationsLib.Translate("HeaderFooter.SalesDepartmentPhone1")</a></div>
                                                <div><a href="tel:@TranslationsLib.Translate("HeaderFooter.SalesDepartmentPhone2")">@TranslationsLib.Translate("HeaderFooter.SalesDepartmentPhone2")</a></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <h4>@TranslationsLib.Translate("HeaderFooter.FaxLabel"):</h4>
                                            <div class="u-marginVerticalS">
                                                <div>@TranslationsLib.Translate("HeaderFooter.FaxNo1")</div>
                                                <div>@TranslationsLib.Translate("HeaderFooter.FaxNo2")</div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="visible-xs btn btn-default btn-block u-marginVerticalM" data-dismiss="modal">@TranslationsLib.Translate("Shared.CloseButton")</button>
                                </div>
                            </div>
                        </div>
                        <div class="toolbar-list-item">
                            <a href="#contactTab" class="icon icon-message"></a>
                            <div class="tab-pane" id="contactTab">
                                <div class="tabContent verticalForm">
                                    <form id="contact-form" class="exclude-from-confirm u-cf">
                                        <h4>@TranslationsLib.Translate("HeaderFooter.ContactUsLabel")</h4>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label for="contact-subject">
                                                    @TranslationsLib.Translate("HeaderFooter.SelectYourSubjectLabel"):
                                                    <span class="mandatory">*</span>
                                                </label>
                                                <select id="contact-subject" name="subject" style="width: 100%" class="form-control" data-placeholder="@TranslationsLib.Translate("Shared.SelectSubject")" required>
                                                    <option></option>
                                                    @foreach (string subject in Model.Subjects)
                                                    {
                                                        <option value="@subject">@subject</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <label for="contact-firstname">
                                                    @TranslationsLib.Translate("Shared.FirstName"):
                                                    <span class="mandatory">*</span>
                                                </label>
                                                <input id="contact-firstname" type="text" name="firstname" class="form-control" placeholder="@TranslationsLib.Translate("Shared.FirstName")" value="@Model.ContactFormFirstName" required @Model.ContactFormFirstNameReadonly>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <label for="contact-lastname">
                                                    @TranslationsLib.Translate("Shared.LastName"):
                                                    <span class="mandatory">*</span>
                                                </label>
                                                <input id="contact-lastname" type="text" name="lastname" class="form-control" placeholder="@TranslationsLib.Translate("Shared.LastName")" value="@Model.ContactFormLastName" required @Model.ContactFormLastNameReadonly>
                                            </div>
                                            <div class="col-xs-12">
                                                <label for="contact-email">
                                                    @TranslationsLib.Translate("HeaderFooter.YourEmailAddressLabel"):
                                                    <span class="mandatory">*</span>
                                                </label>
                                                <input id="contact-email" type="email" name="email" class="form-control" placeholder="Email" required value="@Model.ContactFormEmail" @Model.ContactFormEmailReadonly>
                                            </div>
                                            <div class="col-xs-12">
                                                <label for="contact-message">
                                                    @TranslationsLib.Translate("HeaderFooter.YourMessageLabel"):
                                                    <span class="mandatory">*</span>
                                                </label>
                                                <textarea id="contact-message" name="message" class="form-control" rows="10" required maxlength="@Model.ContactFormMessageMaxLength"></textarea>
                                            </div>

                                            @if (!Model.IsLoggedIn)
                                            {
                                                <div class="col-xs-12">
                                                    <label for="CaptchaCode">
                                                        @TranslationsLib.Translate("Shared.CAPTCHALabel"):
                                                    </label>

                                                    @{ MvcCaptcha contactFormCaptcha = new MvcCaptcha("ContactFormCaptcha");
                                                        contactFormCaptcha.UserInputClientID = "ContactFormCaptchaInput"; }
                                                    @Html.Captcha(contactFormCaptcha)
                                                </div>

                                                <div class="col-xs-12">
                                                    <label for="ContactFormCaptchaInput">
                                                        @TranslationsLib.Translate("Shared.CAPTCHATextLabel"):
                                                        <span class="mandatory">*</span>
                                                    </label>
                                                    <input id="ContactFormCaptchaInput" type="text" name="ContactFormCaptchaInput" class="form-control" value="" required>
                                                </div>
                                            }

                                            <div class="col-xs-12">
                                                <div class="mt-15px">
                                                    @{
                                                        MvcHtmlString privacyLInk = Html.ActionLink("{0}", "Content", "Consent", new { tag = Model.PrivacyPolicy.Tag }, new { target = "_blank" });
                                                        MvcHtmlString termsLink = Html.ActionLink("{0}", "Content", "Consent", new { tag = Model.TermsAndConditions.Tag }, new { target = "_blank" });
                                                    }
                                                    <p>@Html.Raw(TranslationsLib.Translate("Consent.ContactUsText", termsLink.ToString(), privacyLInk.ToString()))</p>
                                                    <input id="privacyPolicy" type="checkbox" name="privacyPolicy" required>
                                                    <label for="privacyPolicy">@TranslationsLib.Translate("Consent.ContactUsAgreeText")</label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="hidden-xs" />
                                        <hr class="invisible visible-xs">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="alert formSuccess alert-success">
                                                    <span class="align-icon-left icon-checkbox"></span>
                                                    @TranslationsLib.Translate("Shared.MailSuccessfullySent")
                                                </div>
                                                <div class="alert formError alert-danger">
                                                    <span class="align-icon-left icon-exclamation"></span>
                                                    @TranslationsLib.Translate("Shared.PleaseCheckInput")
                                                </div>
                                                <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input type="button" class="btn btn-default cancel-form-tab btn-block hidden-xs" value="@TranslationsLib.Translate("Shared.CancelButton")" />
                                                <i></i>@* Keep element to avoid margin on succeeding btn-block *@
                                                <button class="visible-xs btn btn-default btn-block" data-dismiss="modal">@TranslationsLib.Translate("Shared.CloseButton")</button>
                                            </div>
                                            <div class="col-xs-6">
                                                <input type="submit" class="btn btn-primary btn-block" value="@TranslationsLib.Translate("Shared.SendButton")" />
                                            </div>
                                        </div>
                                        <hr class="invisible visible-xs">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="toolbar-list-group">
                        <div class="toolbar-list-item">
                            @if (Model.IsLoggedIn)
                            {
                                <a href="#searchTab" class="icon icon-magnify"></a>
                                <div class="tab-pane" id="searchTab">
                                    <form name="productSearch" action="@Url.Action("Search", "Product")">
                                        <div class="input-group">
                                            <div class="u-posRelative">
                                                <input class="form-control" id="product-search-input" name="searchTerm"
                                                       placeholder="@TranslationsLib.Translate("Shared.ProductSearch")" autocomplete="off">
                                            </div>
                                            <span class="input-group-btn">
                                                <button id="search-submit" class="btn btn-primary" type="submit">
                                                    <i class="icon icon-magnify visible-xs-inline-block"></i>
                                                    <span class="hidden-xs">@TranslationsLib.Translate("Shared.Search")</span>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <a class="disabled icon icon-magnify"></a>
                            }
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    @Html.Partial("_GlobalNavigation", Model.GlobalNavigationViewModel)
    @if (Model.IsLoggedIn)
    {
        @Html.Partial("_ExtranetNavigation", Model.ExtranetNavigationViewModel)
    }
</header>
@if (!Model.IsLoggedIn)
{
    <div class="u-marginVerticalS container visible-xs">
        <img src="~/Content/images/tork-logo.png" alt="Tork" style="width: 93px;">
    </div>
}