﻿@using System.Web.Optimization
@using TorkExtranet.Models
@using TorkExtranet.Models.ViewModels
@using TorkExtranet
@model BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>
        @if (ViewBag.IsMyPageTitleDisplay != null && ViewBag.IsMyPageTitleDisplay)
        {@ViewBag.PageTitle}
    else
    {@ViewBag.Title}
    </title>

    <link rel="shortcut icon" href="~/Content/favicon.ico?v=1">
    <link rel="apple-touch-icon" href="https://cdntorkprod.blob.core.windows.net/images-c5/AFH/AFH_Global/Brand_assets/Tork_Logo.jpg/37127/original/Tork_Logo.jpg">
    <link rel="stylesheet" href="~/Content/stylesheets/application.css">
</head>

<body>
    @Html.Partial("_Header", Model.LayoutViewModel.HeaderViewModel)

    <section id="@ViewBag.SectionId" class="main-content-container container" role="main">
        <div class="Tile">
            <div class="Tile-narrowBody">

                <h1>
                    <span class="pull-right">

                        @if (ViewBag.IsMyHighlightsPage != null && ViewBag.IsMyHighlightsPage)
                        {
                            <a id="subscribe-button-modal" class="noTopMargin u-cursorPointer u-marginRightS">
                                <i class="Icon24 icon-rss" title="@TranslationsLib.Translate("MyData.SubscriptionToolTip")"></i>
                            </a>
                        }

                        <span class="WhatIsThis-indicator">
                            @if (!String.IsNullOrWhiteSpace(ViewBag.WhatIsThisText))
                            {
                                <a class="hidden-xs">
                                    @TranslationsLib.Translate("Shared.WhatIsThisLabel")
                                    <i class="Icon24 icon-plus"></i>
                                </a>
                            }
                        </span>
                    </span>
                    @ViewBag.Title
                </h1>

                @if (!String.IsNullOrWhiteSpace(ViewBag.WhatIsThisText))
                {
                    <div class="WhatIsThis-description row collapse">
                        <div class="col-md-8 col-lg-7">
                            @Html.Raw(ViewBag.WhatIsThisText)
                        </div>
                    </div>
                }

                @RenderBody()
            </div>
        </div>

        @if (IsSectionDefined("Tiles"))
        {
            @RenderSection("Tiles")
        }
    </section>

    @if (IsSectionDefined("Containers"))
    {
        @RenderSection("Containers")
    }

    <footer class="Footer" role="contentinfo">
        <div class="Footer-terms">
            <div class="container">
                @foreach (var consent in Model.LayoutViewModel.Consents)
                {
                    <text>&nbsp;</text>
                    <a target="_blank" href="@Url.Action("Content", "Consent", new {tag = consent.Tag})" class="Terms-link">
                        @TranslationsLib.Translate(consent.LinkLabelKey)
                    </a>
                    <text>&nbsp;</text>
                }
            </div>
        </div>
        <div class="Footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>@TranslationsLib.Translate("HeaderFooter.InformationLabel")</h3>
                        <p>@Html.Raw(TranslationsLib.Translate("HeaderFooter.USFooterInfo"))</p>
                    </div>
                    <div class="col-sm-6">
                        <h3>@TranslationsLib.Translate("HeaderFooter.ContactLabel")</h3>
                        <p>@Html.Raw(TranslationsLib.Translate("HeaderFooter.USAddressInfo"))</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        @if (Model.LayoutViewModel.BrandInformation != null)
                        {
                            <img src="@Model.LayoutViewModel.BrandInformation.BrandLogoFooter" class="Footer-logo">
                        }

                        <div class="Footer-copyright">
                            @Html.Raw(@TranslationsLib.Translate("HeaderFooter.CopyrightText"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/Content/scripts/jquery.min.js")
    @Scripts.Render("~/Content/scripts/plugins.js")

    <div id="empty-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <div id="IE9BrowserVersion-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" aria-label="@TranslationsLib.Translate("Shared.CloseButton")"><span class="icon-times"></span></a>
                    <h4 class="modal-title">@TranslationsLib.Translate("Shared.UnsupportedBrowserHeader")</h4>
                </div>
                <div class="modal-body">
                    @Html.Raw(TranslationsLib.Translate("Shared.UnsupportedBrowserWarning"))
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-6 text-left">
                            <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer pull-left" value="@TranslationsLib.Translate("Shared.CloseButton")">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (IsSectionDefined("Modals"))
    {
        @RenderSection("Modals")
    }
    <script>
         window.applicationRootURL = '@Model.LayoutViewModel.ApplicationRootURL';
        window.shortDateFormat = '@Model.LayoutViewModel.ShortDateFormat';

        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
                type: '@Model.LayoutViewModel.UserType',
                role: '@Model.LayoutViewModel.CurrentRole',
                account: '@Model.LayoutViewModel.CurrentAccount',
                country: '@Model.LayoutViewModel.CurrentCountry',
                environment: '@Model.LayoutViewModel.GTMEnvironmentalVariable'
            });
    </script>

    @Scripts.Render("~/Content/scripts/application.js")
    @Scripts.Render("~/Content/scripts/plugins/jwplayer/jwplayer.js")
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }

    @* Dummy div to stop error messages from Google Tag Manager *@
    <div id="alternativeProducts" style="display:none"></div>

    <script type="text/javascript" src="@Model.LayoutViewModel.GTMDataLayerScriptURL"></script>

    @* Google Tag Manager *@
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
                j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '@Model.LayoutViewModel.GTMContainerID');
    </script>
    @* End Google Tag Manager *@
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=@Model.LayoutViewModel.GTMContainerID"
                width="0" height="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
</body>
</html>