﻿@using TorkExtranet.Models;
@using BotDetect.Web.UI.Mvc;
@model TorkExtranet.Models.ViewModels.NewUserFormPartialViewModel
<form id="@Model.FormId" class="exclude-from-confirm">
    @if (!Model.Pending)
    {
        <input type="hidden">
        <input type="hidden" name="internal" value="true">
    }
    <div id="newRegistration">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="first-name">@TranslationsLib.Translate("Shared.FirstName"): <span class="mandatory">*</span></label>
                <input type="text" name="firstname" required class="form-control" id="first-name">
            </div>
            <div class="col-sm-6 form-group">
                <label for="last-name">@TranslationsLib.Translate("Shared.LastName"): <span class="mandatory">*</span></label>
                <input type="text" name="lastname" required class="form-control" id="last-name">
            </div>
            <div class="col-sm-6 form-group">
                <label for="job-title">@TranslationsLib.Translate("Shared.JobTitle"): <span class="mandatory">*</span></label>
                <input type="text" name="jobtitle" required class="form-control" id="job-title">
            </div>
            @if (Model.Pending)
            {
                <div class="col-sm-6 form-group">
                    <label for="suggested-account">@TranslationsLib.Translate("Shared.Company"): <span class="mandatory">*</span></label>
                    <input type="text" name="suggestedaccount" required class="form-control" id="suggested-account">
                </div>
            }
            else
            {
                <div class="col-sm-6 form-group">
                    <label for="account">@TranslationsLib.Translate("Shared.Account"): <span class="mandatory">*</span></label>
                    <select name="selectedaccount" class="form-control select-user-account" style="width: 100%" id="account" data-placeholder="@TranslationsLib.Translate("Shared.SelectAccount")" required>
                        <option></option>
                        @foreach (Account account in Model.Accounts)
                        {
                            <option value="@account.id">@account.name</option>
                        }
                    </select>
                </div>
            }

            @if (Model.Pending)
            {
                <div class="col-sm-6 form-group">
                    <label for="country">@TranslationsLib.Translate("Shared.Country"): <span class="mandatory">*</span></label>
                    <select name="selectedcountry" required class="form-control select-account-country" style="width: 100%" data-placeholder="@TranslationsLib.Translate("Shared.SelectCountry")">
                        <option></option>
                        @foreach (var country in Model.CountriesToDisplay)
                        {
                            <option data-url="@country.Application_URL" data-culture="@country.Market_Culture" value="@country.Id">@country.Name</option>
                        }
                    </select>
                </div>

                <div class="col-sm-6 form-group">
                    <label for="email">@TranslationsLib.Translate("Shared.Email"): <span class="mandatory">*</span></label>
                    <input type="email" required name="email" class="form-control" id="email">
                </div>

                <div class="col-sm-6 form-group">
                    <label for="business-phone">@TranslationsLib.Translate("Shared.BusinessPhone"): <span class="mandatory">*</span></label>
                    <input type="tel" required data-required-group="new-user-phones" name="businessphone" class="form-control" placeholder="@TranslationsLib.Translate("Shared.PhoneFieldPlaceHolderText")" id="business-phone">
                </div>
            }
            else
            {
                <div class="col-sm-6 form-group">
                    <label for="email">@TranslationsLib.Translate("Shared.Email"): <span class="mandatory">*</span></label>
                    <input type="email" required name="email" class="form-control" id="email">
                </div>

                <div class="col-sm-6 form-group">
                    <label for="business-phone">@TranslationsLib.Translate("Shared.BusinessPhone"): <span class="mandatory">*</span></label>
                    <input type="tel" required data-required-group="new-user-phones" name="businessphone" class="form-control" placeholder="@TranslationsLib.Translate("Shared.PhoneFieldPlaceHolderText")" id="business-phone">
                </div>
            }
            @if (Model.Pending)
            {
                <div class="col-sm-6 form-group">
                    <label for="mobile-phone">@TranslationsLib.Translate("Shared.MobilePhone"): <span class="mandatory">*</span></label>
                    <input type="tel" required data-required-group="new-user-phones" name="mobilephone" placeholder="@TranslationsLib.Translate("Shared.PhoneFieldPlaceHolderText")" class="form-control" id="mobile-phone">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="linkedin-profile" id="linkedin-popover-container">
                        @TranslationsLib.Translate("Shared.LinkedInProfile"):&nbsp;
                        <span class="TooltipIcon icon-information" data-popover-target=".popover-target"></span>
                        <span class="popover-target" style="display: none">
                            <img src='~/Content/images/linkedin_profile_instructions.png' />
                        </span>
                    </label>
                    <input type="text" name="linkedinprofile" class="form-control" id="linkedin-profile">
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="CaptchaCode">@TranslationsLib.Translate("Shared.CAPTCHALabel"):</label>
                            @{ MvcCaptcha userRegistrationFormCaptcha = new MvcCaptcha("UserRegistrationFormCaptcha");
                                userRegistrationFormCaptcha.UserInputClientID = "UserRegistrationFormCaptchaInput"; }
                            @Html.Captcha(userRegistrationFormCaptcha)
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="UserRegistrationFormCaptchaInput">@TranslationsLib.Translate("Shared.CAPTCHATextLabel"): <span class="mandatory">*</span></label>
                            <input id="UserRegistrationFormCaptchaInput" name="UserRegistrationFormCaptchaInput" value="" type="text" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row col-sm-12">
                        <p>@TranslationsLib.Translate("Consent.MandatorySubtitle")</p>
                        @{ MvcHtmlString privacyLink = new MvcHtmlString(string.Empty); }
                        @foreach (var consent in Model.RequiredConsents)
                        {
                            MvcHtmlString actionLink = Html.ActionLink("{0}", "Content", "Consent", new
                            {
                                id = consent.Id
                            }, new
                            {
                                target = "_blank"
                            });

                            if (consent.Tag == Constants.PRIVACY_POLICY)
                            {
                                privacyLink = actionLink;
                            }

                            var name = consent.Id;
                            <div class="form-group u-margin0">
                                <input id="@name" type="checkbox" name="@name" required>
                                <label for="@name">@Html.Raw(TranslationsLib.Translate(consent.LabelKey, actionLink.ToString()))</label>
                            </div>
                        }
                        @*<hr />*@
                        @*<p>@Html.Raw(TranslationsLib.Translate("Consent.OptionalSubtitle", privacyLink.ToString()))</p>*@

                        @foreach (var consent in Model.OptionalConsents)
                        {
                            var name = consent.Id;
                            <div class="form-group u-margin0">
                                <input id="@name" type="checkbox" name="@name">
                                <label for="@name">@TranslationsLib.Translate("Consent.AcceptTextOptional")</label>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-6 form-group">
                    <label for="mobile-phone">@TranslationsLib.Translate("Shared.MobilePhone"): <span class="mandatory">*</span></label>
                    <input type="tel" required data-required-group="new-user-phones" name="mobilephone" placeholder="@TranslationsLib.Translate("Shared.PhoneFieldPlaceHolderText")" class="form-control" id="mobile-phone">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="linkedin-profile">@TranslationsLib.Translate("Shared.LinkedInProfile"):</label>
                    <input type="text" name="linkedinprofile" class="form-control" id="linkedin-profile">
                </div>
            }
        </div>
    </div>
    <div id="registration-term-condition" style="display: none">
        <div class="Terms-modalHeader">
            <a class="Terms-close" id="close-term-condition" href="javascript:void(0);"><span class="icon-times"></span></a>
            <h4 class="modal-title">@TranslationsLib.Translate("NotLoggedIn.TermsAndConditionsModalTitle")</h4>
        </div>
        <p></p>
    </div>
</form>