﻿@using TorkExtranet.Models.ViewModels
@model PaginationViewModel

@{
    string previous = Model.DisplayPreviousAndNextLabels ? TranslationsLib.Translate("Shared.Previous") : "";
    string next = Model.DisplayPreviousAndNextLabels ? TranslationsLib.Translate("Shared.Next") : "";
}

@if (Model.TotalPages > 1)
{
    <div class="tork-pagination" data-query="@Model.SearchQuery" data-items-per-page="@Model.ItemsPerPage">
        <ul class="hidden-xs">
            @if (Model.TotalPages <= PaginationViewModel.MIDDLE_PAGES + 2 * PaginationViewModel.EDGE_PAGES)
            {
                for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li data-page-number="@i" data-query="@(Model.PageQueries.ContainsKey(i) ? Model.PageQueries[i] : "")"><a class="u-cursorPointer @(Model.CurrentPage == i ? "active" : "")">@i</a></li>
                }
            }
            else
            {
                bool dots = false;
                for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (Model.CurrentPage - PaginationViewModel.MIDDLE_PAGES / 2 <= i && i <= Model.CurrentPage + PaginationViewModel.MIDDLE_PAGES / 2)
                    {
                        <li data-page-number="@i" data-query="@(Model.PageQueries.ContainsKey(i) ? Model.PageQueries[i] : "")"><a class="u-cursorPointer @(Model.CurrentPage == @i ? "active" : "")">@i</a></li>
                        dots = false;
                    }
                    else if (i <= PaginationViewModel.EDGE_PAGES || Model.TotalPages - i < PaginationViewModel.EDGE_PAGES)
                    {
                        <li data-page-number="@i" data-query="@(Model.PageQueries.ContainsKey(i) ? Model.PageQueries[i] : "")"><a class="u-cursorPointer @(Model.CurrentPage == @i ? "active" : "")">@i</a></li>
                        dots = false;
                    }
                    else if (!dots)
                    {
                        <li class="noLink">...</li>
                        dots = true;
                    }
                }
            }
        </ul>

        <a class="hidden-xs u-cursorPointer prev @(Model.CurrentPage == 1 ? "disabled" : "")" data-page-number="@(Model.CurrentPage - 1)" data-query="@(Model.PrevPageQuery != null ? Model.PrevPageQuery : "")">
            <span class="icon-arrow_left"></span> @previous
        </a>
        <a class="hidden-xs u-cursorPointer next @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")" data-page-number="@(Model.CurrentPage + 1)" data-query="@(Model.NextPageQuery != null ? Model.NextPageQuery : "")">
            @next <span class="icon-arrow_right"></span>
        </a>

        <div class="row visible-xs">
            <div class="col-xs-5 col-xs-offset-1">
                <a class="visible-xs u-cursorPointer btn btn-block prev @(Model.CurrentPage == 1 ? "disabled btn-link" : "btn-primary")" data-page-number="@(Model.CurrentPage - 1)" data-query="@(Model.PrevPageQuery != null ? Model.PrevPageQuery : "")">
                    @TranslationsLib.Translate("Shared.Previous")
                </a>
            </div>
            <div class="col-xs-5">
                <a class="visible-xs u-cursorPointer btn btn-block next @(Model.CurrentPage == Model.TotalPages ? "disabled btn-link" : "btn-primary")" data-page-number="@(Model.CurrentPage + 1)" data-query="@(Model.NextPageQuery != null ? Model.NextPageQuery : "")">
                    @TranslationsLib.Translate("Shared.Next")
                </a>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
}