@using TorkExtranet.Models;
@using TorkExtranet;
@model TorkExtranet.Models.ViewModels.ProductListPartialViewModel

<div class="row">
    <div class="col-xs-12">
        <div id="product-list-alert-msg" class="wizard-alert-msg alert alert-danger">
            <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("ProductList.ProductListIsEmptyErrorMsg").
        </div>
    </div>
</div>

<div id="product-list-spinner-container" class="spinLikeTable" style='height: 125px; display: none'></div>

<div id="product-list-header" class="u-paddingBottomM">

    <div class="row">

        <div class="col-sm-6 product-list-headline headline-search u-marginTopS @(!Model.ShowProductList ? "col-sm-offset-3" : "")">
            <form id="search-result-form">
                <div class="input-group">
                    <div class="u-posRelative">
                        <input class="form-control" id="search-field"
                               placeholder="@TranslationsLib.Translate("Shared.Search")" autocomplete="off" value="@Model.SearchTerm" data-placeholder-default="@TranslationsLib.Translate("Shared.Search")">
                        <span class="clear-search-field" aria-hidden="true" style="display: none">&times;</span>
                    </div>
                    <span class="input-group-btn">
                        <button id="search-submit" class="btn btn-primary" type="submit">
                            <i class="icon icon-magnify visible-xs-inline-block"></i>
                            <span class="hidden-xs">@TranslationsLib.Translate("Shared.Search")</span>
                        </button>
                    </span>
                </div>

                <button disabled
                        id="search-filter-toggle"
                        type="button" class="search-filter-toggle btn btn-link-borderless btn-primary u-marginVerticalS"
                        data-target="#search-filter-content">
                    <i class="icon icon-filter"></i>
                    <span class="u-paddingHorizontalXS">
                        @TranslationsLib.Translate("Shared.Filter")
                    </span>
                    <i class="icon icon-arrow_right_borderless" data-indicator></i>
                </button>
            </form>
            <div id="product-list-search-products">
                <div id="search-result" class="row"></div>
            </div>
        </div>

        @if (Model.ShowProductList)
        {
            <div class="col-sm-6 product-list-headline headline-list u-marginTopS">
                @if (!Model.DisableSaveAndLoad)
                {
                    if (Model.NameEditable)
                    {
                        <div class="input-group">
                            <input class="form-control product-list-name" placeholder="@TranslationsLib.Translate("ProductList.ProductListName")" required>
                            <span class="input-group-btn">
                                <button class="btn btn-primary save-product-list-btn" type="submit">
                                    @TranslationsLib.Translate("Shared.SaveButton")
                                </button>
                            </span>
                        </div>
                    }
                    else
                    {
                        <h2 class="u-marginTopN"><span class="product-list-name">@TranslationsLib.Translate("ProductList.UntitledProductList")</span></h2>
                    }
                }


                <div class="u-cf u-marginVerticalXS u-bold">
                    <div class="product-list-info pull-left u-xs-cursorPointer u-xs-colorGray" data-toggle-product-list>
                        <span class="number-of-products">0</span> @TranslationsLib.Translate("ProductList.Products")
                    </div>
                    @if (!Model.DisableSaveAndLoad)
                {

                        <ul class="search-filter-by pull-right u-paddingLeftN u-marginBottomN">

                            <li>
                                <a id="load-list-btn" class="u-cursorPointer">@TranslationsLib.Translate("ProductList.Load")</a>
                            </li>
                            @if (Model.ShowSaveButtons)
                    {
                                <li>|</li>
                                <li>
                                    <a id="save-as-btn" class="u-cursorPointer">@TranslationsLib.Translate("ProductList.SaveAs")</a>
                                </li>
                                <li>|</li>
                                <li>
                                    <a id="save-btn" class="disabled">@TranslationsLib.Translate("ProductList.Save")</a>
                                </li>
                            }
                        </ul>
                    }
                </div>

                @{ string product_list_id = Model.SelectedProductList != null ? Model.SelectedProductList.id.ToString() : ""; }
                <div id="product-list-content" class="" data-product-list="@product_list_id" data-load-mode="@Model.ProductListLoadModeString">
                    <div id="product-list-added-products" class="spinLikeTable">
                        <span data-warning="#product-list-added-products" style="display: none">@TranslationsLib.Translate("Shared.UnsavedChangesWarning")</span>

                        <!-- Save as -->
                        <div class="product-list-headline-row list-action" id="save-as-confirmation" style="display: none">
                            <label for="productListNameTextField">
                                @TranslationsLib.Translate("ProductList.SaveAs"):
                            </label>
                            <div class="mt-0-2em mb-1em">
                                <input class="form-control" id="productListNameTextField" placeholder="@TranslationsLib.Translate("ProductList.ProductListSaveAsPlaceholder")" autocomplete="off">
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input id="save-as-cancel-btn" type="button" class="btn btn-default btn-block" value="@TranslationsLib.Translate("Shared.CancelButton")" />
                                </div>
                                <div class="col-xs-6">
                                    <input id="save-as-save-btn" type="button" class="btn btn-primary btn-block" value="@TranslationsLib.Translate("Shared.SaveButton")" disabled />
                                </div>
                            </div>
                            <hr class="thin visible-xs">
                        </div>

                        <!-- Load list -->
                        <div id="load-confirmation" class="list-action" style="display: none">
                            <label for="load-list-select">
                                @TranslationsLib.Translate("ProductList.LoadList"):
                            </label>
                            <div class="form-group">
                                <select id="load-list-select" class="form-control" data-noresulttext="@TranslationsLib.Translate("Shared.NoMatchesFound")" style="width: 100%" data-placeholder="@TranslationsLib.Translate("ProductList.SelectProductList")">
                                    <option></option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="button" id="load-cancel-btn" class="btn btn-default btn-block" value="@TranslationsLib.Translate("Shared.CancelButton")" />
                                </div>
                                <div class="col-xs-6">
                                    <input type="button" id="load-load-btn" class="btn btn-primary pull-right btn-block" value="@Model.LoadButtonTitle" />
                                </div>
                            </div>
                            <hr class="thin visible-xs">
                        </div>

                        <!-- Save confirmation -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="save-confirmation" class="alert alert-success">
                                    <span class="align-icon-left icon-checkbox"></span> @TranslationsLib.Translate("ProductList.ProductListSaved")!
                                </div>
                                <div id="save-failed" class="alert alert-danger">
                                    <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("ProductList.ProductListSaveFailed")!
                                </div>
                            </div>
                        </div>

                        <div id="application-product-list-empty-description" class="row">
                            <div class="col-xs-12 u-textCenter u-paddingVerticalS">
                                <strong class="u-colorGray">
                                    @TranslationsLib.Translate("ProductList.TheProductListIsEmpty").
                                </strong>
                                <p class="u-colorGray hidden-xs">
                                    @Html.Raw(String.Format(TranslationsLib.Translate("ProductList.TheProductListIsEmptyHelptext")))
                                </p>
                            </div>

                            @if (ViewBag.addAllIsAvailable != null && ViewBag.addAllIsAvailable)
                            {
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <input type="button" class="btn btn-success btn-block" id="add-all-available-products" value="@TranslationsLib.Translate("ProductList.AddAllAvailableProducts")" />
                                </div>
                                <div class="col-xs-12 textCenter">
                                    <p class="u-colorGray">
                                        @TranslationsLib.Translate("ProductList.AddAllProductsHelper")
                                    </p>
                                </div>
                            }
                        </div>

                        <div id="expired-products-list" style="display: none">
                            <h5>@TranslationsLib.Translate("ProductList.ExpiredProductsLabel"):</h5>
                            <p></p> <!-- Placeholder to be populated with expired product article numbers -->
                            <input class="btn btn-default" id="remove-expired-products-btn" value="@TranslationsLib.Translate("ProductList.RemoveFromList")" type="button">
                        </div>

                        <table class="table" id="application-product-list" style="display: none">
                            <thead class="u-cursorPointer">
                                <tr>
                                    <!--<th style="width: 40px;"></th>-->
                                    <th><h3>@TranslationsLib.Translate("ProductList.Product")</h3></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="application-product-list-body" class="ui-sortable">
                                <tr class="productListItemTemplate" style="display: none">
                                    <!--<td><span class="icon icon-sort"></span></td>-->
                                    <td>
                                        <strong class="article-name" data-unit-measure=""></strong>
                                        <div class="article-number"></div>                                        
                                    </td>
                                    <td><a class="icon icon-trashcan pull-right u-cursorPointer delete-list-btn"></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="tork-pagination" id="product-list-pagination" data-items-per-page="@Search.DefaultPageSize"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
