﻿@using System;
@using System.Collections.Generic;
@using System.Linq;
@using MASDP.AFH.TorkConnect.DTO.PIM
@using MASDP.AFH.TorkConnect.DTO.ProductLists

@model TorkExtranet.Models.ViewModels.ProductDetailModalBodyPartialViewModel

<div class="productDetailModal row">
    <div class="col-sm-12">
        <div class="row">
            <h1 class="smaller">@Model.Product.LongName</h1>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="productImageContainer active row" id="images_dark_grey">
            <div class="flexslider imgContainer">
                <ul class="slides">
                    @foreach (var media in Model.Product.MediaResources.Where(r => r.MediaType == "image" && !r.IsEnvironmentResource && !r.IsFoodSafetyResource && !r.IsThemeCodeResource && !r.IsBenefitResource))
                    {
                        <li>
                            <img src="@media.LargeImageURL" alt="@Model.Product.LongName" />
                        </li>
                    }
                </ul>
            </div>
            <div class="flexslider thumbnails">
                <ul class="slides">
                    @foreach (var media in Model.Product.MediaResources.Where(r => r.MediaType == "image" && !r.IsEnvironmentResource && !r.IsFoodSafetyResource && !r.IsThemeCodeResource && !r.IsBenefitResource))
                    {
                        <li>
                            <img src="@media.ThumbnailImageURL" alt="@Model.Product.LongName" />
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-7 bottomMargin">
        <div class="row">
            <div class="productMeta">
                <div class="col-xs-6">
                    <strong>@TranslationsLib.Translate("Shared.Article"): </strong>
                    <span>@Model.Product.BaseNumber</span>
                </div>
                @if (!string.IsNullOrEmpty(Model.Product.Color))
            {
                    <div class="col-xs-6">
                        <strong>@TranslationsLib.Translate("Shared.Color"): </strong>
                        <span>@Model.Product.Color</span>
                    </div>
                }
                <div class="col-xs-6">
                    <strong>@TranslationsLib.Translate("Shared.EAN"): </strong>
                    <span>@Model.Product.EAN</span>
                </div>
                @if (!string.IsNullOrEmpty(Model.Product.QualityLevel))
                {
                <div class="col-xs-6">
                    <strong>@TranslationsLib.Translate("DetailedProductDataSheet.QualityLevel"): </strong>
                    <span>@Model.Product.QualityLevel</span>
                </div>
                }
            </div>
            <div>
                <div class="col-xs-12">
                    <div class="productDescription">
                        <p>
                            @Model.Product.Description
                        </p>

                        <div id="expandedProductDescription" class="collapse">
                            @if (!string.IsNullOrEmpty(@Model.Product.UniqueSellingPointDecoded))
                            {
                                @Html.Raw(@Model.Product.UniqueSellingPointDecoded)
                            }
                            @if (@Model.Product.Benefits != null && @Model.Product.Benefits.Count > 0)
                            {
                                <p>
                                    <ul>
                                        @foreach (var benefit in @Model.Product.Benefits.Where(b => !string.IsNullOrEmpty(b.Name)))
                                        {
                                            <li>@benefit.Name</li>
                                        }
                                    </ul>
                                </p>
                            }
                        </div>

                        @if (Model.Product.Benefits.Count > 0 || !string.IsNullOrEmpty(Model.Product.UniqueSellingPointDecoded))
                        {
                            <a href="#expandedProductDescription" id="productDescriptionReadMore" class="labelledIcon iconRight">
                                <span id="readMore" class="">
                                    <label>
                                        @TranslationsLib.Translate("Shared.ReadMore")
                                    </label><i class="icon-plus"></i>
                                </span>
                                <span class="hide" id="readLess">
                                    <label>
                                        @TranslationsLib.Translate("Shared.ReadLess")
                                    </label><i class="icon-minus"></i>
                                </span>
                            </a>
                        }
                    </div>
                </div>
            </div>

            @if (Model.Product.MediaResources.Where(m => !m.IsThemeCodeResource && (m.IsEnvironmentResource || m.IsFoodSafetyResource || m.IsBenefitResource) && m.ContentType == "icon").Select(m => m.ThumbnailImageURL).Any())
            {
                <div class="row">
                    <div class="col-xs-12">
                        <hr>
                        <strong class="colorBlack productDetailSubHeading">@TranslationsLib.Translate("DetailedProductDataSheet.ProductCertifications")</strong>
                        <div>
                            @foreach (var certification in Model.Product.MediaResources.Where(m => !m.IsThemeCodeResource && (m.IsEnvironmentResource || m.IsFoodSafetyResource || m.IsBenefitResource) && m.ContentType == "icon"))
                            {
                                if (string.IsNullOrEmpty(certification.AltText))
                                {
                                <img src="@certification.ThumbnailImageURL" alt="@certification.AltText" class="marginRight5">
                                }
                                else
                                {
                                <div class="symbolTooltipContainer marginRight5">
                                    <img src="@certification.ThumbnailImageURL" alt="@certification.AltText">
                                    <div class="symbolTooltip">
                                        @certification.AltText
                                    </div>
                                </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>

        <div>
            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <div class="tabContainer tabItemsX">

                        <a href="#productDataTab" class="tab tabLink">
                            <i class="icon-checkbox align-productDataTab"></i>
                            @TranslationsLib.Translate("DetailedProductDataSheet.ProductData")
                        </a>


                        <a href="#shippingDataTab" class="tab tabLink">
                            <i class="icon-globe align-productDataTab"></i>
                            @TranslationsLib.Translate("DetailedProductDataSheet.ShippingData")
                        </a>


                        @if (!string.IsNullOrEmpty(Model.Product.EnvironmentalInformation))
                        {
                        <a href="#environmentalInfomationDataTab" class="tab tabLink">
                            <i class="icon-leaf align-productDataTab"></i>
                            @TranslationsLib.Translate("DetailedProductDataSheet.Environmental")
                        </a>
                        }

                    </div>
                </div>
            </div>

            <div class="productTabContent tabContainer bottomMargin">
                <div class="mobileProductTabContainer tab visible-xs-block">
                    <a href="#productDataTab" class="tabLink">
                        <i class="icon-checkbox align-productDataTab"></i>
                        @TranslationsLib.Translate("DetailedProductDataSheet.ProductData")
                    </a>
                </div>
                <div id="productDataTab" class="collapse">
                    <h2>
                        @TranslationsLib.Translate("DetailedProductDataSheet.ProductData")
                    </h2>
                    <div id="productData">
                        @Html.Raw(Model.ProductDataHtml)
                    </div>
                </div>

                <div class="mobileProductTabContainer tab visible-xs-block">
                    <a href="#shippingDataTab" class="tabLink">
                        <i class="icon-globe align-productDataTab"></i>
                        @TranslationsLib.Translate("DetailedProductDataSheet.ShippingData")
                    </a>
                </div>
                <div id="shippingDataTab" class="collapse">
                    <h2>
                        @TranslationsLib.Translate("DetailedProductDataSheet.ShippingData")
                    </h2>
                    <div id="shippingData">
                        @if (!string.IsNullOrEmpty(Model.ConsumerUnitDataHtml))
                        {
                            <h3>@TranslationsLib.Translate("DetailedProductDataSheet.ConsumerUnit")</h3>
                            @Html.Raw(Model.ConsumerUnitDataHtml)
                        }

                        @if (!string.IsNullOrEmpty(Model.TransportUnitDataHtml))
                        {
                            <h3>@TranslationsLib.Translate("DetailedProductDataSheet.TransportUnit")</h3>
                            @Html.Raw(Model.TransportUnitDataHtml)
                        }

                        @if (!string.IsNullOrEmpty(Model.PalletDataHtml))
                        {
                            <h3>@TranslationsLib.Translate("DetailedProductDataSheet.Pallet")</h3>
                            @Html.Raw(Model.PalletDataHtml)
                        }
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(Model.Product.EnvironmentalInformation))
                {
                <div class="mobileProductTabContainer tab visible-xs-block">
                    <a href="#environmentalInfomationDataTab" class="tabLink">
                        <i class="icon-leaf align-productDataTab"></i>
                        @TranslationsLib.Translate("DetailedProductDataSheet.Environmental")
                    </a>
                </div>
                <div id="environmentalInfomationDataTab" class="collapse">
                    <h2>
                        @TranslationsLib.Translate("DetailedProductDataSheet.Environmental")
                    </h2>
                    <div id="environmentalInfomationData">
                        @Html.Raw(Model.Product.EnvironmentalInformation)
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
