﻿@using TorkExtranet.Models;
@model TorkExtranet.Models.ViewModels.Partials.ProductSearchResultsPartial

@if (!Model.HideShowMoreCategories && (Model.Facets.Count > 0 || Model.CheckboxFacets.Count > 0))
{
    <div id="search-filter-content" class="col-xs-12" style="display: none">
        <div class="filter-content mb-15px">
            @foreach (var categoryGroup in Model.Facets)
            {
                var group_id = categoryGroup.IdSafeCode;
                <div class="category-group">
                    <h3 class="u-colorGray u-marginVerticalXS">@categoryGroup.Name</h3>
                    <ul>
                        @for (int i = 0; i < categoryGroup.Categories.Count; i++)
                        {
                            var category = categoryGroup.Categories[i];
                            var category_id = "facet-radio-" + group_id + "-" + i;
                            var selected_string = category.Selected ? "checked" : "";
                            <li data-query="@category.Query" @selected_string>
                                <input id="@category_id" name="@group_id" type="radio" @selected_string />
                                <label for="@category_id" name="@group_id">@category.Name (@category.ProductCount)</label>
                            </li>
                        }
                    </ul>
                    <div class="clearfix"></div>
                </div>
            }

            @foreach (var categoryGroup in Model.CheckboxFacets)
            {
                var group_id = categoryGroup.IdSafeCode;
                <div class="category-group">
                    <h3 class="u-colorGray u-marginVerticalXS">@categoryGroup.Name</h3>
                    <ul>
                        @for (int i = 0; i < categoryGroup.Categories.Count; i++)
                        {
                            var category = categoryGroup.Categories[i];
                            var category_id = "facet-checkbox-" + group_id + "-" + i;
                            var selected_string = category.Selected ? "checked" : "";
                            <li data-query="@category.Query">
                                <input id="@category_id" type="checkbox" @selected_string />
                                <label for="@category_id">@category.Name (@category.ProductCount)</label>
                            </li>
                        }
                    </ul>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    </div>

    <p class="col-xs-12 u-marginN">
        <a class="back-to-result u-bold labelled-icon align-icon-left mb-15px"><span class="icon icon-arrow_left"></span> @TranslationsLib.Translate("Shared.ShowMoreCategories")</a>
    </p>
}
else if (Model.Categories.Count > 0)
{
    <div class="col-xs-12">
        <ul class="product-category-list">
            @foreach (var category in Model.Categories)
            {
                var selected_string = category.Selected ? "selected" : "";
                <li data-query="@category.Query" class="@selected_string u-cursorPointer">
                    <div class="Arrange Arrange--withGutter Arrange--middle">
                        <div class="Arrange-sizeFill">
                            @category.Name (@category.ProductCount)
                        </div>
                        <div class="Arrange-sizeFit">
                            <span class="icon icon-arrow_right"></span>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}

<div id="product-results" class="col-xs-12" data-hide-show-more-categories="@Model.HideShowMoreCategories">
    @if (Model.Products.Count > 0)
    {
        foreach (var product in Model.Products)
        {
            var colClass = !String.IsNullOrEmpty(product.ThumbnailImageURL) ? "col-xs-9" : "col-xs-12";

            <div class="control-module white product-module u-fontSize90Percent">
                <div class="row">
                    @if (!String.IsNullOrEmpty(product.ThumbnailImageURL) && product.ThumbnailImageURL != "NA")
                    {
                        <div class="col-xs-3 product-img" data-article-number="@product.BaseNumber">
                            <img src="@product.ThumbnailImageURL" alt="product img">
                        </div>
                    }
                    <div class="@colClass">
                        <h3 class="product-name" data-article-number="@product.BaseNumber" data-product-unitofmeasure="@product.ProductAdditionalData.First().SampleOrderOrderableUnit">@product.Name</h3>
                        
                        <div class="product-meta" data-is-refill=@product.IsRefillToDisplay>
                            <strong class="meta-label">@TranslationsLib.Translate("Shared.Color"):</strong> @product.Color<br>
                            <strong class="meta-label">@TranslationsLib.Translate("Shared.Article"):</strong> <span class="article-number">@product.BaseNumber</span>
                        </div>
                    </div>
                </div>
                <div class="row u-marginTopS">
                    <div class="col-xs-12 product-meta">
                        @if (product.IsPreedenceExist)
                        {
                            <span style="color:red;margin-left: 50px;">@TranslationsLib.Translate("Shared.ReplacementFor")@product.MatchPrecedenceBaseNumber</span>
                        }

                        <ul class="action-links">
                            @if (!Model.HideListAdd)
                            {
                            <li><a class="u-cursorPointer add-to-list btn btn-block btn-primary" data-article-number="@product.BaseNumber">@TranslationsLib.Translate("Shared.AddToList") <span class="align-icon-left icon icon-plus"></span></a></li>
                            <li class="added-to-list-label" style="display: none">
                                <button disabled class="btn btn-primary btn-block disabled" type="button">
                                    @TranslationsLib.Translate("Shared.Added")
                                    <span class="align-icon-left icon icon-checkbox"></span>
                                </button>
                            </li>
                            }
                            @if (!Model.HideRelatedProducts)
                            {
                                <li><a class="u-cursorPointer show-related-products btn btn-block btn-link">@TranslationsLib.Translate("Shared.ShowRelatedProducts") <span class="align-icon-left icon icon-arrow_down"></span></a></li>
                                <li style="display: none"><a class="u-cursorPointer hide-related-products btn btn-block btn-link">@TranslationsLib.Translate("Shared.HideRelatedProducts") <span class="align-icon-left icon icon-arrow_up"></span></a></li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="related-products-container collapse">
                    <p></p>
                </div>
            </div>
        }

        @Html.Partial("_Pagination", new TorkExtranet.Models.ViewModels.PaginationViewModel(Model.Pagination));
    }

    @if (Model.Products.Count == 0 && Model.Categories.Count == 0)
    {
        <p>@TranslationsLib.Translate("Shared.NoResults")</p>
    }
</div>

<!--Product Detail-->
<div id="productDetailModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close disable-form-confirm"><i class="icon-times"></i></a>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>