﻿@using TorkExtranet.Models
@using MASDP.AFH.TorkConnect.DTO.PIM
@model TorkExtranet.Models.ViewModels.RelatedProductsPartial

@if (Model.RelatedProducts.Count > 0)
{
    foreach (var relatedProduct in Model.RelatedProducts)
    {
        var hasImage = !String.IsNullOrWhiteSpace(relatedProduct.ThumbnailImageURL);
        var colClass = hasImage ? "col-xs-9" : "col-xs-12";

        <div class="product-module related-products">
            <div class="row">
                @if (hasImage)
                {
                    <div class="col-xs-3 product-img" data-article-number="@relatedProduct.BaseNumber">
                        <img src="@relatedProduct.ResolvedThumbnailImageURL(false, true)" alt="product img">
                    </div>
                }
                <div class="@colClass">
                    <h3 class="product-name" data-article-number="@relatedProduct.BaseNumber">@relatedProduct.LongName</h3>

                    <div class="product-meta" data-is-refill=@relatedProduct.IsRefill>
                        <ul>
                            <li><span class="meta-label">@TranslationsLib.Translate("Shared.Article"):</span> <span class="article-number">@relatedProduct.BaseNumber</span></li>
                            <li><span class="meta-label">@TranslationsLib.Translate("Shared.Color"):</span> @relatedProduct.Color</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 u-marginTopS u-marginBottomXS">
                    <div class="product-meta">
                        <ul class="action-links">
                            <li><a class="u-cursorPointer add-to-list btn btn-block btn-primary" data-article-number="@relatedProduct.BaseNumber">@TranslationsLib.Translate("Shared.AddToList") <span class="align-icon-left icon icon-plus"></span></a></li>
                            <li class="added-to-list-label" style="display: none">
                                <button disabled class="btn btn-primary btn-block disabled" type="button">
                                    @TranslationsLib.Translate("Shared.Added")
                                    <span class="align-icon-left icon icon-checkbox"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p>@TranslationsLib.Translate("Shared.NoRelatedProductFound")</p>
}
