﻿@using TorkExtranet;
@using TorkExtranet.Models;
@using System.Linq;

@model TorkExtranet.Models.ViewModels.RolesTable

@if (Model.Roles.Count > 0)
{
    <table class="table panel-table" id="roles-table">
        <thead class="u-cursorPointer">
            <tr class="table-head">
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    <th class="@c.ClassName Sort-header">
                        <span class="Sort-label">@c.DisplayName <span class="Sort-icon @c.IconClassName"></span></span>
                    </th>
                }
                <th class="icons">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Role role in Model.Roles)
            {
                <tr class="role item" data-role-id="@role.id">
                    @foreach (TableColumnSpecification c in Model.Columns)
                    {
                        <td class="@c.ClassName">
                            @c.GetPropertyValue(Model.DbContext, role)
                        </td>
                    }
                    <td class="Settings-container">
                        <div class="Settings-group">
                            <a class="icon icon-cog u-cursorPointer edit-managed-role-btn" data-target="#edit-role-modal" title="@TranslationsLib.Translate("Shared.Edit")"></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Pagination", Model.Pagination)
}
else
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}
