﻿@model TorkExtranet.Models.ViewModels.SampleAndSpareParts.NewOrderViewModel

<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;">
    <div class="row" >
        @ViewBag.BodyMessage
    </div>
    <div class="row" >
        <div class="section-header blue" style="color: #09f;">
            <h4>@TranslationsLib.Translate("SampleAndSpareParts.SoldTo")</h4>
        </div>
    </div>
    <div class="row" >
        <table style="width:100%;border:none">
            <tr>
                <td><b>@TranslationsLib.Translate("SampleAndSpareParts.SoldToNameAndNumber"):</b> @Model.SoldTo</td>
            </tr>
            <tr>
                <td><b>@TranslationsLib.Translate("SampleAndSpareParts.ContactName"):</b> @Model.ContactName</td>
            </tr>
        </table>
    </div>
    <div class="delivery-data">
        <div class="row" >
            <div class="section-header blue" style="color: #09f;">
                <h4>@TranslationsLib.Translate("SampleAndSpareParts.DeliveryNameAddress")</h4>
            </div>
        </div>
        <div class="row" >
            <table style="width:100%;border:none">
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCompanyName"):</b> @Model.CompanyName</td>
                </tr>
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStreetInfo"):</b> @Model.StreetNameNumber</td>
                </tr>
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerPostalCode"):</b> @Model.PostalCode</td>
                </tr>
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCity"):</b> @Model.City</td>
                </tr>
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStateProvinceCountry"):</b> @Model.State</td>
                </tr>
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCountry"):</b> @Model.Country</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="end-customer-data">
        <div class="row" >
            <div class="section-header blue" style="color: #09f;">
                <h4>End customer data</h4>
            </div>
        </div>
        <div class="row" >
            <table style="width:100%;border:none">
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCompanyName"):</b> @Model.EndCustomerDataCompanyName</td>
                </tr>
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStreetInfo"):</b> @Model.EndCustomerDataStreetNumber @Model.EndCustomerDataStreetName</td>
                </tr>
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerPostalCode"):</b> @Model.EndCustomerDataPostalCode</td>
                </tr>
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCity"):</b> @Model.EndCustomerDataCity</td>
                </tr>
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStateProvinceCountry"):</b> @Model.EndCustomerDataCountry</td>
                </tr>
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCountry"):</b> @Model.Country</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="data-order-comment">
        <div class="row" >
            <div class="section-header blue" style="color: #09f;">
                <h4>@TranslationsLib.Translate("SampleAndSpareParts.OrderComment")</h4>
            </div>
        </div>
        <div class="row" >
            <table style="width:100%;border:none">
                <tr>
                    <td><b>@TranslationsLib.Translate("SampleAndSpareParts.OrderComment"):</b> @Model.OrderComment</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" >
        <div class="section-header blue" style="color: #09f;">
            <h4>@TranslationsLib.Translate("SampleAndSpareParts.ItemDetail")</h4>
        </div>
    </div>
    <div class="products-wrapper">
        @if (Model.SampleParts != null && Model.SampleParts.Any())
        {
            <div class="row" >
                <div class="section-header blue" style="color: #09f;">
                    <h5>@TranslationsLib.Translate("SampleAndSpareParts.SampleParts")</h5>
                </div>
            </div>
            <div class="row" >
                <table style="width:100%;border:none">
                    <col width="70%" />
                    <col width="15%" />
                    <col width="15%" />
                    <tr>
                        <th>@TranslationsLib.Translate("SampleAndSpareParts.Item")</th>
                        <th align="center">@TranslationsLib.Translate("SampleAndSpareParts.Quantity")</th>
                        <th align="center">@TranslationsLib.Translate("SampleAndSpareParts.UnitOfMeasure")</th>
                    </tr>
                    @foreach (var sample in Model.SampleParts)
                    {
                        <tr>
                            <td>@sample.ArticleName, @sample.ArticleNumber</td>
                            <td align="center">@sample.Quantity</td>
                            <td align="center">@sample.UniteOfMeasure</td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
    <div class="products-wrapper">
        @if (Model.SpareParts != null && Model.SpareParts.Any())
        {
            <div class="row" >
                <div class="section-header blue" style="color: #09f;">
                    <h5>@TranslationsLib.Translate("SampleAndSpareParts.SpareParts")</h5>
                </div>
            </div>
            <div class="row" >
                <table style="width:100%;border:none">
                    <col width="70%" />
                    <col width="15%" />
                    <col width="15%" />
                    <tr>
                        <th>@TranslationsLib.Translate("SampleAndSpareParts.Item")</th>
                        <th align="center">@TranslationsLib.Translate("SampleAndSpareParts.Quantity")</th>
                        <th align="center">@TranslationsLib.Translate("SampleAndSpareParts.UnitOfMeasure")</th>
                    </tr>
                    @foreach (var sample in Model.SpareParts)
                    {
                        <tr>
                            <td>@sample.ArticleName, @sample.ArticleNumber</td>
                            <td align="center">@sample.Quantity</td>
                            <td align="center">@sample.UniteOfMeasure</td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
</div>