﻿<html>
<head>
    <script type="text/javascript" language="javascript" src="~/Content/scripts/jquery.min.js"></script>
    <script type="text/javascript" language="javascript">
        var postMessage = function (message) {
            parent.postMessage(message, '*');
        };

        var setFieldValue = function (value) {
            var message = "window.dialogArguments.getFields()[0].setValues(['" + value + "'])";
            postMessage(message);
        };

        var insertFieldValue = function (value) {
            var message = "var fields = window.dialogArguments.getFields(); var emptyFields = fields.filter(function(f) { return f.getValues() === null; }); if (emptyFields.length > 0) { emptyFields[0].setValues(['" + value + "']); } else { var newField = window.dialogArguments.container.insertField(fields[fields.length - 1]); newField.setValues(['" + value + "']); }";
            postMessage(message);
        };

        var closeWindow = function () {
            var message = "window.close()";
            postMessage(message);
        }

        $(document).ready(function () {
            $("form").submit(function (e) {
                e.preventDefault();
                $form = $(this);

                setTimeout(function () {
                    var data = $form.serialize();
                    if (data.length > 0)
                    {
                        if ($form.hasClass("insert"))
                        {
                            insertFieldValue(data);
                        }
                        else
                        {
                            setFieldValue(data);
                        }
                    }

                    closeWindow();
                }, 100);
            });
        });
    </script>
</head>
<body style="font-family: Verdana; font-size: 11px;">
    @RenderBody()
</body>
</html>
