﻿@using TorkExtranet.Models;
@using System.Linq;
@model TorkExtranet.Models.ViewModels.UserToolsList
@foreach (string category in ToolLib.GetSortedCategoryNames())
{
    if (Model.CategoriesOfTools.ContainsKey(category))
    {
        var toolList = Model.CategoriesOfTools[category];
        bool user_has_category = false;
        for (int i = 0; i < toolList.Count; i++)
        {
            Tool tool = toolList[i];

            if (!user_has_category)
            {
                user_has_category = Model.Allowed_Tools.Contains(tool);
            }
            else
            {
                break;
            }
        }

        string category_class = user_has_category ? "" : "emptyItem";
        string category_style = user_has_category ? "" : "display: none";

        <label class="@category_class" style="@category_style">
            @TranslationsLib.Translate("Administration." + category)
        </label>

        for (int i = 0; i < toolList.Count; i++)
        {
            Tool tool = toolList[i];

            bool user_has_tool = Model.Allowed_Tools.Contains(tool);
            string tool_checked = user_has_tool ? "checked" : "";

            string tool_class = user_has_tool ? "" : "emptyItem";
            string tool_style = user_has_tool ? "" : "display: none";
            string reason = user_has_tool ? Model.Allowed_Tools.First(t => t == tool).ReasonForAccessStatus : tool.ReasonForDenyStatus;

            string begin_row = i % 2 == 0 ? "<div class='row'>" : "";
            string end_row = i % 2 == 1 || i == toolList.Count - 1 ? "</div>" : "";

            @(Html.Raw(begin_row))
            <div class="col-xs-6 mt-0-2em mb-1em @tool_class" style="@tool_style">
                <div class="panel panel-default tool-container">
                    <div class="panel-heading">
                        <input type="checkbox" class="readonly" disabled @tool_checked>
                        <label>
                            @ToolLib.GetTranslatedNameForTool(tool)
                            <span class="icon icon-information pull-right u-colorGrayDarkest" data-popover-target=".popover-target"></span>
                            <span class="popover-target u-colorGrayDarkest" style="display: none"><div class="text-center">@reason</div></span>
                        </label>
                    </div>
                    @if (tool.Child_Tools.Count > 0)
                    {
                        <div class="subtool-container panel-body collapse">
                            @foreach (Tool subtool in tool.Child_Tools.OrderBy(t => t.id))
                            {
                                bool user_has_subtool = Model.Allowed_Tools.Contains(subtool);
                                string subtool_checked = tool_checked.Length > 0 && user_has_subtool ? "checked" : "";
                                string subtool_reason = user_has_subtool ? Model.Allowed_Tools.First(t => t == subtool).ReasonForAccessStatus : subtool.ReasonForDenyStatus;
                                <div class="u-paddingLeftXS">
                                    <input type="checkbox" class="readonly" disabled @subtool_checked>
                                    <label>
                                        @ToolLib.GetTranslatedNameForTool(subtool)
                                        <span class="icon icon-information pull-right" data-popover-target=".popover-target"></span>
                                        <span class="popover-target" style="display: none"><div class="text-center">@subtool_reason</div></span>
                                    </label>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>

            @(Html.Raw(end_row))
        }

    }
}