﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="date=no" />
    <title>Your Message Subject or Title</title>
</head>
<body width="100%" style="margin: 0px; padding: 0px; font-family: 'helvetica neue', helvetica, arial, sans-serif; font-size: 12px; color: rgb(0, 0, 0); width: 100% !important; background-color: rgb(245, 246, 246);" yahoo="fix">
    <center>
        <table border="0" cellpadding="0" cellspacing="0" bgcolor="#f5f6f6" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0">
            <tbody>
                <tr>
                    <td style="font-size: 0;border-collapse: collapse">
                        &nbsp;
                    </td>
                    <td align="center" width="600" class="main-column" style="border-collapse: collapse;width: 600px">
                        <center>
                            <table id="sub-header" border="0" align="center" cellpadding="0" cellspacing="0" width="600" class="main-column" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;width: 600px">
                                <tbody>
                                    <tr>
                                        <td colspan="3" height="23" style="font-size: 0;border-collapse: collapse">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10" style="font-size: 0;border-collapse: collapse">
                                            &nbsp;
                                        </td>
                                        <td align="right" valign="middle" style="border-collapse: collapse">
                                            <span style="font-family: 'helvetica neue', helvetica, arial,sans-serif;font-size: 12px;"></span>
                                        </td>

                                        <td width="10" style="font-size: 0;border-collapse: collapse">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="23" style="font-size: 0;border-collapse: collapse">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                    <td style="font-size: 0;border-collapse: collapse">
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" bgcolor="#f5f6f6" width="100%" style="border-collapse: collapse; mso-table-lspace: 0;mso-table-rspace: 0">
            <tbody>
                <tr>
                    <td style="font-size: 0;border-collapse: collapse;">
                        &nbsp;
                    </td>

                    <td align="center" width="600" class="main-column" style="border-collapse: collapse;width: 600px; background: #ffffff;">
                        <center>
                            <table id="header" border="0" align="center" cellpadding="0" cellspacing="0" width="600" class="main-column" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;width: 600px">
                                <tbody>
                                    <tr>
                                        <td colspan="5" height="14" style="font-size: 0;border-collapse: collapse">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25" style="font-size: 0;border-collapse: collapse">
                                            &nbsp;
                                        </td>
                                        <td align="left" class="logotd mobile-full-width mobile-full-width-2 mobile-display-table" style="border-collapse: collapse; max-height: 50px;" id="align-wrapper">
                                            <img src="cid:{1}" align="left" style="height: 50px; max-height: 50px; width: auto; outline: none;text-decoration: none;-ms-interpolation-mode: bicubic; border: 0;" alt="Logo" border="0" />
                                        </td>

                                        <td width="25" style="font-size: 0;border-collapse: collapse">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" height="14" style="font-size: 0;border-collapse: collapse">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>

                    </td>
                    <td style="font-size: 0;border-collapse: collapse">
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>




        <table border="0" cellpadding="0" cellspacing="0" bgcolor="#f5f6f6" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0">
            <tbody>
                <tr>
                    <td style="font-size: 0;border-collapse: collapse">
                        &nbsp;
                    </td>
                    <td align="center" width="600" class="main-column" style="border-collapse: collapse;width: 600px">
                        <center>
                            <table id="sub-header" border="0" align="center" cellpadding="0" cellspacing="0" width="600" class="main-column" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;width: 600px">
                                <tbody>
                                    <tr>
                                        <td colspan="3" height="24" style="font-size: 0;border-collapse: collapse; background: #ffffff;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="25" style="font-size: 0;border-collapse: collapse; background: #ffffff;">
                                            &nbsp;
                                        </td>
                                        <td align="left" valign="top" style="border-collapse: collapse; text-align: left; background: #ffffff;">
                                            {0}
                                        </td>

                                        <td width="25" style="font-size: 0;border-collapse: collapse; background: #ffffff;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="24" style="font-size: 0;border-collapse: collapse; background: #ffffff;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                    <td style="font-size: 0;border-collapse: collapse">
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>

        <table border="0" cellpadding="0" cellspacing="0" bgcolor="#f5f6f6" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0">
            <tbody>
                <tr>
                    <td style="font-size: 0;border-collapse: collapse">
                        &nbsp;
                    </td>
                    <td align="center" width="600" class="main-column" style="border-collapse: collapse;width: 600px; background: #ffffff;">
                        <center>
                            <table id="sub-header" border="0" align="center" cellpadding="0" cellspacing="0" width="600" class="main-column" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;width: 600px">
                                <tbody>
                                    <tr>
                                        <td height="48" style="font-size: 0;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left; padding-left: 26px;">
                                            <img src="{2}" align="left" link="" style="height: auto;"  border="0" />
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td id="align-wrapper" style="text-align: left; padding-left: 26px;">
                                            <span style="font-size: 11px; color: #575757; font-family: 'helvetica neue', helvetica, arial,sans-serif; margin: 24px 0 0 0">{3}</span><br />
                                            <span style="font-size: 11px; color: #575757; font-family: 'helvetica neue', helvetica, arial,sans-serif; margin: 24px 0 0 0">{4}<br /></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                    <td style="font-size: 0;border-collapse: collapse">
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" bgcolor="#f5f6f6" width="100%" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0">
            <tbody>
                <tr>
                    <td style="font-size: 0;border-collapse: collapse">
                        &nbsp;
                    </td>
                    <td align="center" width="600" class="main-column" style="border-collapse: collapse;width: 600px">
                        <center>
                            <table id="sub-header" border="0" align="center" cellpadding="0" cellspacing="0" width="600" class="main-column" style="border-collapse: collapse;mso-table-lspace: 0;mso-table-rspace: 0;width: 600px">
                                <tbody>
                                    <tr>
                                        <td colspan="3" height="23" style="font-size: 0;border-collapse: collapse">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10" style="font-size: 0;border-collapse: collapse">
                                            &nbsp;
                                        </td>
                                        <td align="right" valign="middle" style="border-collapse: collapse">
                                            <span style="font-family: 'helvetica neue', helvetica, arial,sans-serif;font-size: 12px;"></span>
                                        </td>

                                        <td width="10" style="font-size: 0;border-collapse: collapse">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="23" style="font-size: 0;border-collapse: collapse">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                    <td style="font-size: 0;border-collapse: collapse">
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>