﻿<div class="modal fade" id="confirm-delete-order-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">@TranslationsLib.Translate("SampleAndSpareParts.ConfirmDeleteOrder")</h4>
            </div>

            <div class="modal-body">
                <p>@TranslationsLib.Translate("SampleAndSpareParts.ConfirmDeleteOrderMessage")</p>
            </div>

            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-xs-6 text-left">
                        <input type="button" data-dismiss="modal" class="btn btn-default" value="@TranslationsLib.Translate("Shared.CancelButton")" />
                    </div>
                    <div class="col-xs-6 text-right btn-row">
                        <input type="button" data-dismiss="modal" id="delete-order-confirmed" class="btn btn-primary pull-right" value="@TranslationsLib.Translate("Shared.ContinueButton")" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>