﻿<div class="row">
    <div class="section-header blue">
        <h4>@TranslationsLib.Translate("SampleAndSpareParts.SoldTo")</h4>
    </div>
</div>
<div class="row">    
    <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
        @TranslationsLib.Translate("SampleAndSpareParts.SoldToNameAndNumber")
    </label>
    <div class="col-sm-8">
        <span id="data-view-sold-to"></span>
    </div>
</div>
<div class="row">
    <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
        @TranslationsLib.Translate("SampleAndSpareParts.ContactName")
    </label>
    <div class="col-sm-8">
        <span id="data-view-contact-name"></span>
    </div>
</div>
<div class="delivery-data">
    <div class="row">
        <div class="section-header blue">
            <h4>@TranslationsLib.Translate("SampleAndSpareParts.DeliveryNameAddress")</h4>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
            @TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCompanyName")
        </label>
        <div class="col-sm-8">
            <span id="data-view-delivery-company"></span>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
            @TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStreetInfo")
        </label>
        <div class="col-sm-8">
            <span id="data-view-delivery-street-name"></span>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
            @TranslationsLib.Translate("SampleAndSpareParts.EndCustomerPostalCode")
        </label>
        <div class="col-sm-8">
            <span id="data-view-delivery-postal-code"></span>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
            @TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCity")
        </label>
        <div class="col-sm-8">
            <span id="data-view-delivery-city"></span>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
            @TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStateProvinceCountry")
        </label>
        <div class="col-sm-8">
            <span id="data-view-delivery-state"></span>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
            @TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCountry")
        </label>
        <div class="col-sm-8">
            <span id="data-view-delivery-country"></span>
        </div>
    </div>
</div>
<div class="end-customer-data">
    <div class="row">
        <div class="section-header blue">
            <h4>End customer data</h4>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
            @TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCompanyName")
        </label>
        <div class="col-sm-8">
            <span id="data-view-company-name"></span>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
            @TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStreetInfo")
        </label>
        <div class="col-sm-8">
            <span id="data-view-customer-street-number"></span> <span id="data-view-customer-street-name"></span>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
            @TranslationsLib.Translate("SampleAndSpareParts.EndCustomerPostalCode")
        </label>
        <div class="col-sm-8">
            <span id="data-view-customer-postal-code"></span>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
            @TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCity")
        </label>
        <div class="col-sm-8">
            <span id="data-view-customer-city"></span>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
            @TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStateProvinceCountry")
        </label>
        <div class="col-sm-8">
            <span id="data-view-customer-state"></span>
        </div>
    </div>
</div>
<div class="data-order-comment">
    <div class="row">
        <div class="section-header blue">
            <h4>@TranslationsLib.Translate("SampleAndSpareParts.OrderComment")</h4>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-4 col-md-3 u-marginTopN u-paddingTopN">
            @TranslationsLib.Translate("SampleAndSpareParts.OrderComment")
        </label>
        <div class="col-sm-8">
            <span id="data-view-comment"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="section-header blue">
        <h4>@TranslationsLib.Translate("SampleAndSpareParts.ItemDetail")</h4>
    </div>
</div>
<div class="row displayDataProductListItemTemplate hidden u-marginBottomXS">
    <div class="col-sm-6 col-xs-12 control-label u-marginTopN u-colorGrayDarkest">
        <strong class="article-name"></strong>, <span class="article-number"></span>
    </div>
    <div class="col-sm-1 col-xs-2">
        <span class="display-quantity"></span>
    </div>  
    <div class="col-sm-2 col-xs-2">
        <span class="unit-of-measure"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 hidden-xs control-label u-marginTopN">
        <strong>@TranslationsLib.Translate("SampleAndSpareParts.Item")</strong>
    </div>
    <div class="col-sm-1 hidden-xs">
        <strong>@TranslationsLib.Translate("SampleAndSpareParts.Quantity")</strong>
    </div>
    <div class="col-sm-2 hidden-xs">
        <strong>@TranslationsLib.Translate("SampleAndSpareParts.UnitOfMeasure")</strong>
    </div>
</div>
<div class="products-wrapper">
    <div class="row">
        <div class="section-header blue">
            <h5>@TranslationsLib.Translate("SampleAndSpareParts.SampleParts")</h5>
        </div>
    </div>
    <div class="samples u-marginBottomS">

    </div>
</div>
<div class="products-wrapper">
    <div class="row">
        <div class="section-header blue">
            <h5>@TranslationsLib.Translate("SampleAndSpareParts.SpareParts")</h5>
        </div>
    </div>
    <div class="spareparts">

    </div>
</div>
