﻿<div class="modal fade" id="preview-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">
                    <span class="icon-times"></span>
                </a>
                <h4 class="modal-title">@TranslationsLib.Translate("Shared.Preview")</h4>
            </div>
            <div class="modal-body">
                <div class="hidden">
                    <object data="" class="pdf-preview" type="application/pdf"></object>
                    <iframe src="" class="pdf-preview" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <div class="col-xs-6 text-left">
                        <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer pull-left" value="@TranslationsLib.Translate("Shared.CloseButton")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
