﻿@using TorkExtranet.Models.ViewModels.SampleAndSpareParts;

@model SampleAndSparePartsOrdersTableViewModel

@if (Model.Rows.Count == 0)
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}
else
{
    <input type="hidden" id="sort-order" value="@Model.SortOrder" />

    <div id="mobile-sort-selection" class="dropdown visible-xs">
        <ul class="dropdown-menu" data-target="tooltip">
            @foreach (TableColumnSpecification column in Model.Columns)
            {
                <li>
                    <a class="prevent-close-all @column.ClassName Sort-header" data-sort-order-asc="@column.AscendingSortProperty" data-sort-order-desc="@column.DescendingSortProperty">@column.DisplayName</a>
                </li>
            }
        </ul>
        <span class="u-alignMiddle u-bold">@TranslationsLib.Translate("Shared.SortBy")</span>
        <button class="btn btn-primary btn-link-borderless dropdown-toggle u-marginLeftS u-marginRightXS" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">@Model.ActiveSortTableColumn.DisplayName</button>
        <button class="btn btn-primary btn-link-borderless u-fontSize28px Sort-header" data-sort-order-asc="@Model.ActiveSortTableColumn.AscendingSortProperty" data-sort-order-desc="@Model.ActiveSortTableColumn.DescendingSortProperty"><span class="Icon24 @Model.AcitveSortIconClassName"></span></button>
    </div>
    <div class="Tile-delimiter u-marginTopS"></div>

    <table id="search-results-table" class="table panel-table">
        <thead class="u-cursorPointer hidden-xs">
            <tr class="table-head">
                @foreach (TableColumnSpecification column in Model.Columns)
                {
                    <th class="@column.ClassName Sort-header" data-sort-order-asc="@column.AscendingSortProperty" data-sort-order-desc="@column.DescendingSortProperty">
                        <span class="Sort-label">@column.DisplayName<span class="Sort-icon @column.IconClassName"></span></span>
                    </th>
                }
                <th class="icons"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (SampleAndSparePartsOrdersTableRowViewModel row in Model.Rows)
            {
                <tr class="sample-and-spare-parts-order">
                    @foreach (TableColumnSpecification column in Model.Columns)
                    {
                        <td class="@column.ClassName" data-title="@column.DisplayName: ">@column.GetPropertyValue(null, row)</td>
                    }
                    <td class="text-right Settings-container">
                        @if (row.IsReadOnly)
                        {
                            <div class="Settings-group">
                                <a class="icon icon-eye u-cursorPointer view-order-btn order-preview" title="@TranslationsLib.Translate("SampleAndSpareParts.ViewOrder")" data-hash="@row.OrderId" href="#"></a>
                            </div>
                        }
                        else
                        {
                            <div class="Settings-group">
                                <a class="icon icon-trashcan u-cursorPointer delete-order-btn spinLikeTable" title="@TranslationsLib.Translate("Shared.DeleteButton")" href="#confirm-delete-order-modal" data-toggle="modal" data-href="@Url.Action("DeleteOrder", new { id = row.OrderId })"></a>
                            </div>
                            <div class="Settings-group">
                                <a class="icon icon-cog u-cursorPointer edit-order-btn" title="@TranslationsLib.Translate("Shared.Edit")" href="@Url.Action("OrderWizard", new { id = row.OrderId })"></a>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Pagination", Model.Pagination)
}
