﻿@using TorkExtranet.Models.ViewModels;
@model TorkExtranet.Models.ViewModels.SampleAndSpareParts.SampleAndSparePartsOrderingViewModel
@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.SAMPLE_AND_SPARE_PARTS_ORDERING_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "sample-and-spare-parts-ordering-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.SampleAndSparePartsOrderingWhatIsThis");
}
<div id="sample-and-spare-parts-orders">
    <div class="row">
        <div class="col-sm-12 form-group text-right">
            <a href="@Url.Action("OrderWizard")" id="create-order" class="btn btn-primary btn-block-xs">@TranslationsLib.Translate("SampleAndSpareParts.CreateOrder")</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form id="search-form" autocomplete="off" class="content-container u-colorGray control-module">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="account">@TranslationsLib.Translate("SampleAndSpareParts.SoldToNameAndNumber")</label>
                        <select id="account" name="account" class="form-control" data-placeholder="@TranslationsLib.Translate("SampleAndSpareParts.SoldToNameAndNumberSearchPlaceholder")" disabled="@(Model.Accounts.Count <= 1)">
                            <option></option>
                            @foreach (AccountNameNumberViewModel account in Model.Accounts)
                            {
                                <option value="@account.AccountId" selected="@(account.AccountId == Model.SelectedAccountId)">@account.AccountNameAndSapIdentifier</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="created-by">@TranslationsLib.Translate("SampleAndSpareParts.CreatedBy")</label>
                        <input id="created-by" name="createdBy" class="form-control" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.CreatedBySearchPlaceholder")" />
                    </div>
                </div>
                <hr class="gray hidden-xs">
                <div class="row">
                    <div class="col-sm-12">
                        <button id="search-orders" class="btn btn-primary pull-right btn-block-xs" type="submit">@TranslationsLib.Translate("Shared.Search")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="alert-container" class="col-xs-12">
            <div id="alert-search-failed" class="alert alert-danger mt-0-75em">
                <span class="align-icon-left icon-exclamation"></span>
                @TranslationsLib.Translate("SampleAndSpareParts.SearchFailed")
            </div>
            <div id="alert-delete-failed" class="alert alert-danger mt-0-75em">
                <span class="align-icon-left icon-exclamation"></span>
                @TranslationsLib.Translate("SampleAndSpareParts.DeleteFailed")
            </div>
        </div>
    </div>
    <div class="row">
        <div id="search-results" class="col-sm-12 search-result spinLikeTable">
            @Html.Partial("_SearchResults", Model.SampleAndSparePartsOrdersTable)
        </div>
    </div>
</div>
@section Modals {
    @Html.Partial("~/Views/SampleAndSparePartsOrdering/_ConfirmDeleteOrderModal.cshtml")
    @Html.Partial("~/Views/SampleAndSparePartsOrdering/_OrderOverviewModal.cshtml")
}
@section Scripts {
    <script src="~/Content/scripts/controllers/sample-and-spare-parts-ordering-controller.js?v=@TorkExtranet.Models.AppVersion.Current"></script>
}