﻿@using TorkExtranet;
@using TorkExtranet.Models;
@using TorkExtranet.Models.ViewModels;
@using TorkExtranet.Models.ViewModels.SampleAndSpareParts;
@using MASDP.AFH.TorkConnect.DTO.Configuration;
@using Newtonsoft.Json
@model SampleAndSparePartsOrderWizardViewModel
@{
    ViewBag.Title = TranslationsLib.Translate("Tools.SampleAndSparePartsOrderingName");
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "sample-and-spare-parts-ordering-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.SampleAndSparePartsOrderingWhatIsThis");

    string selectSamplesAndSparePartsLabel = null;
    string sampleOrSparePartSelectionRequired = null;
    if (Model.ShowSamples && !Model.ShowSpareParts)
    {
        selectSamplesAndSparePartsLabel = TranslationsLib.Translate("SampleAndSpareParts.SelectSamples");
        sampleOrSparePartSelectionRequired = TranslationsLib.Translate("SampleAndSpareParts.SampleSelectionRequired");
    }
    else if (Model.ShowSpareParts && !Model.ShowSamples)
    {
        selectSamplesAndSparePartsLabel = TranslationsLib.Translate("SampleAndSpareParts.SelectSpareParts");
        sampleOrSparePartSelectionRequired = TranslationsLib.Translate("SampleAndSpareParts.SparePartSelectionRequired");
    }
    else
    {
        selectSamplesAndSparePartsLabel = TranslationsLib.Translate("SampleAndSpareParts.SelectSamplesAndSpareParts");
        sampleOrSparePartSelectionRequired = TranslationsLib.Translate("SampleAndSpareParts.SampleOrSparePartSelectionRequired");
    }
}
<div class="working-form" id="sample-and-spare-parts-order-wizard" data-edit-order="@Model.SampleAndSparePartsOrderId">
    <a href="@Url.Action("Index")" class="labelled-icon align-icon-left u-marginBottomM">
        <span class="icon-arrow_left"></span>  @TranslationsLib.Translate("SampleAndSpareParts.BackToOrders")
    </a>
    <div class="wizard hidden-xs">
        <div class="wizard-progress"></div>
        <div id="wizard-item-customer-data" class="wizard-item" data-index="1">
            <div class="wizardLabel">@TranslationsLib.Translate("SampleAndSpareParts.CustomerData")</div>
        </div>
        <div id="wizard-item-select-samples-and-spare-parts" class="wizard-item" data-index="2">
            <div class="wizardLabel">@selectSamplesAndSparePartsLabel</div>
        </div>
        <div id="wizard-item-add-quantities" class="wizard-item" data-index="3">
            <div class="wizardLabel">@TranslationsLib.Translate("SampleAndSpareParts.AddQuantities")</div>
        </div>
        <div id="wizard-item-confirm-order" class="wizard-item last" data-index="4">
            <div class="wizardLabel">@TranslationsLib.Translate("SampleAndSpareParts.ConfirmOrder")</div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="visible-xs">
        <h3 class="tab-title">@TranslationsLib.Translate("SampleAndSpareParts.CustomerData")</h3>
        <div class="ProgressBar">
            <div class="ProgressBar-indicator"></div>
        </div>
        <a class="btn btn-link pull-right" data-wizard="nextTab">
            <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
        </a>
        <a class="btn btn-link disabled" data-wizard="prevTab"><span class="Icon24 align-icon-left icon-arrow_left"></span></a>
    </div>

    <div id="wizard-content" class="wizard-content control-module product-list-container">
        <div class="row hidden-xs">
            <div class="col-xs-4">
                <a href="#" id="previousButton-top" class="btn btn-default">@TranslationsLib.Translate("Shared.Previous")</a>
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4 text-right">
                <a href="#" id="nextButton-top" class="btn btn-primary">@TranslationsLib.Translate("Shared.Next")</a>
            </div>
        </div>
        <div class="Tile-delimiter u-marginTopS"></div>
        <div id="alert-container">
            <div id="alert-required-fields" class="wizard-alert-msg alert alert-danger">
                <span class="align-icon-left icon-exclamation"></span>
                @TranslationsLib.Translate("SampleAndSpareParts.PleaseCompleteRequiredFields")
            </div>
            <div id="alert-sample-or-spare-part-selection-required" class="wizard-alert-msg alert alert-danger">
                <span class="align-icon-left icon-exclamation"></span>
                @sampleOrSparePartSelectionRequired
            </div>
            <div id="alert-get-delivery-addresses-failed" class="wizard-alert-msg alert alert-danger">
                <span class="align-icon-left icon-exclamation"></span>
                @TranslationsLib.Translate("SampleAndSpareParts.GetDeliveryAddressesFailed")
            </div>
            <div id="allowed-characters-letters-digits-spaces" class="wizard-alert-msg alert alert-danger">
                <span class="align-icon-left icon-exclamation"></span>
                @TranslationsLib.Translate("SampleAndSpareParts.AllowwedCharactersLettersDigitsSpaces")
            </div>
        </div>
        <div id="wizard-pane-customer-data" class="wizard-pane" data-index="1">
            <h2>@TranslationsLib.Translate("SampleAndSpareParts.CustomerData")</h2>
            <div class="row">
                <div class="col-sm-8 form-group">
                    <label for="sold-to-account">@TranslationsLib.Translate("SampleAndSpareParts.SoldToNameAndNumber")<span class="required-indicator"> *</span></label>
                    <select id="sold-to-account" name="sold-to-account" class="form-control" data-placeholder="@TranslationsLib.Translate("SampleAndSpareParts.SoldToNameAndNumber")" disabled="@(Model.Accounts.Count <= 1)" required>
                        <option></option>
                        @foreach (AccountNameNumberViewModel account in Model.Accounts)
                        {
                            if (account.SapIdentifier.Equals(Model.SampleAndSparePartsOrder.SoldToSapIdentifier))
                            {
                                <option value="@account.SapIdentifier" selected>@account.AccountNameAndSapIdentifier</option>
                            }
                            else
                            {
                                <option value="@account.SapIdentifier">@account.AccountNameAndSapIdentifier</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-4 form-group">
                    @if(Model.IsUserInternal)
                    {
                        <label for="user">@TranslationsLib.Translate("SampleAndSpareParts.ContactName")</label>
                        <input id="user" name="user" class="form-control" value="@Model.SampleAndSparePartsOrder.ContactName" />
                    }
                    else
                    {
                        <label for="user">@TranslationsLib.Translate("SampleAndSpareParts.ContactName")<span class="required-indicator"> *</span></label>
                        <input id="user" name="user" class="form-control" value="@Model.SampleAndSparePartsOrder.ContactName" required />
                    }
                </div>
            </div>
            <div class="form-group">
                <label for="ship-to-delivery-address">@TranslationsLib.Translate("SampleAndSpareParts.DeliveryAddress")<span class="required-indicator"> *</span></label>
                <select id="ship-to-delivery-address" name="ship-to-delivery-address" class="form-control" data-placeholder="@TranslationsLib.Translate("SampleAndSpareParts.DeliveryAddress")" disabled="@(Model.ShipToAddressess == null)" required>
                    <option></option>
                    @if (Model.ShowSendToEndCustomer)
                    {
                        if (ToolLib.SAMPLE_AND_SPARE_PARTS_ORDERING_END_CUSTOMER_DATA.Equals(Model.SampleAndSparePartsOrder.ShipToSapIdentifier))
                        { 
                            <option value="@ToolLib.SAMPLE_AND_SPARE_PARTS_ORDERING_END_CUSTOMER_DATA" selected>@TranslationsLib.Translate("SampleAndSpareParts.SendToEndCustomer")</option>
                        }
                        else
                        { 
                            <option value="@ToolLib.SAMPLE_AND_SPARE_PARTS_ORDERING_END_CUSTOMER_DATA">@TranslationsLib.Translate("SampleAndSpareParts.SendToEndCustomer")</option>
                        }
                    }
                    @if (Model.ShipToAddressess != null)
                    {
                        foreach (AddressViewModel address in Model.ShipToAddressess)
                        {
                            if(address.SapIdentifier.Equals(Model.SampleAndSparePartsOrder.ShipToSapIdentifier))
                            {
                                <option class="address" value="@address.SapIdentifier" selected>@address.FullAddress</option>
                            }
                            else
                            {
                                <option class="address" value="@address.SapIdentifier">@address.FullAddress</option>
                            }
                        }
                    }
                </select>
            </div>
            <hr />
            <h4>@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerData")</h4>


            @if (Model.ShowSendToEndCustomer && ToolLib.SAMPLE_AND_SPARE_PARTS_ORDERING_END_CUSTOMER_DATA.Equals(Model.SampleAndSparePartsOrder.ShipToSapIdentifier))
            {
                <div class="form-group" style="display: none;">
                    <input name="end-customer-data-not-available" type="checkbox" id="end-customer-data-not-available">
                    <label for="end-customer-data-not-available">@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerDataNotAvailable")</label>
                </div>
            }
            else
            {
                <div class="form-group">
                    @if (Model.SampleAndSparePartsOrder.EndCustomerDataAvailable)
                    {
                        <input name="end-customer-data-not-available" type="checkbox" id="end-customer-data-not-available">
                    }
                    else
                    {
                        <input name="end-customer-data-not-available" type="checkbox" id="end-customer-data-not-available" checked>
                    }
                    <label for="end-customer-data-not-available">@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerDataNotAvailable")</label>
                </div>
            }
            <div id="end-customer-data" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="end-customer-name">@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCompanyName")<span class="required-indicator"> *</span></label>
                    <div class="col-sm-8">
                        <input id="end-customer-name" name="end-customer-name" class="form-control" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCompanyName")" maxlength="@Model.CustomerNameMaxLength" required value="@Model.SampleAndSparePartsOrder.EndCustomerDataCompanyName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-3 control-label" for="end-customer-street-name">@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStreetInfo")<span class="required-indicator"> *</span></label>
                    @if (Model.SampleAndSparePartsOrder.Region == Region.NA)
                    {
                        <div class="col-sm-4">
                            <input id="end-customer-street-number" name="end-customer-street-number" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStreetNumber")" maxlength="@Model.CustomerStreetNumberMaxlength" required value="@Model.SampleAndSparePartsOrder.EndCustomerDataStreetNumber">
                        </div>
                        <div class="col-sm-4">
                            <input id="end-customer-street-name" name="end-customer-street-name" class="form-control" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStreetName")" maxlength="@Model.CustomerStreetMaxlength" required value="@Model.SampleAndSparePartsOrder.EndCustomerDataStreetName">
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4">
                            <input id="end-customer-street-name" name="end-customer-street-name" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStreetName")" maxlength="@Model.CustomerStreetMaxlength" required value="@Model.SampleAndSparePartsOrder.EndCustomerDataStreetName">
                        </div>
                        <div class="col-sm-4">
                            <input id="end-customer-street-number" name="end-customer-street-number" class="form-control" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStreetNumber")" maxlength="@Model.CustomerStreetNumberMaxlength" required value="@Model.SampleAndSparePartsOrder.EndCustomerDataStreetNumber">
                        </div>
                    }
                </div>
                @if (Model.SampleAndSparePartsOrder.Region == Region.NA)
                {
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="end-customer-city">@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCityAndState")<span class="required-indicator"> *</span></label>
                        <div class="col-sm-4">
                            <input id="end-customer-city" name="end-customer-city" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCity")" maxlength="@Model.CustomerCityMaxlength" required value="@Model.SampleAndSparePartsOrder.EndCustomerDataCity">
                        </div>
                        <div class="col-sm-4">
                            <input id="end-customer-state-province-country" name="end-customer-state-province-country" class="form-control" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerState")" required value="@Model.SampleAndSparePartsOrder.EndCustomerDataStateProvinceCountry">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="end-customer-postal-code">@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerPostalCode")<span class="required-indicator"> *</span></label>
                        <div class="col-sm-4">
                            <input id="end-customer-postal-code" name="end-customer-postal-code" class="form-control" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerPostalCode")" maxlength="@Model.CustomerPostalCodeMaxlength" required value="@Model.SampleAndSparePartsOrder.EndCustomerDataPostalCode">
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="end-customer-postal-code">@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerPostalCodeAndCity")<span class="required-indicator"> *</span></label>
                        <div class="col-sm-4">
                            <input id="end-customer-postal-code" name="end-customer-postal-code" class="form-control u-sm-marginBottomXS" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerPostalCode")" maxlength="@Model.CustomerPostalCodeMaxlength" required value="@Model.SampleAndSparePartsOrder.EndCustomerDataPostalCode">
                        </div>
                        <div class="col-sm-4">
                            <input id="end-customer-city" name="end-customer-city" class="form-control" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerCity")" maxlength="@Model.CustomerCityMaxlength" required value="@Model.SampleAndSparePartsOrder.EndCustomerDataCity">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-3 control-label" for="end-customer-state-province-country">@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStateProvinceCountry")<span class="required-indicator"> *</span></label>
                        <div class="col-sm-4">
                            <input id="end-customer-state-province-country" name="end-customer-state-province-country" class="form-control" value="@Model.SampleAndSparePartsOrder.EndCustomerDataStateProvinceCountry" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.EndCustomerStateProvinceCountry")" required value="@Model.SampleAndSparePartsOrder.EndCustomerDataStateProvinceCountry">
                        </div>
                    </div>
                }
            </div>
            <hr />
            <div class="form-group">
                <label for="order-comment">@TranslationsLib.Translate("SampleAndSpareParts.OrderComment")</label>
                <textarea id="order-comment" name="order-comment" class="form-control" placeholder="@TranslationsLib.Translate("SampleAndSpareParts.OrderCommentPlaceholder")">@Model.SampleAndSparePartsOrder.OrderComment</textarea>
            </div>
        </div>
        <div id="wizard-pane-select-samples-and-spare-parts" class="wizard-pane" data-index="2">
            <h2>@selectSamplesAndSparePartsLabel</h2>
            <p>@TranslationsLib.Translate("SampleAndSpareParts.SubtitleStep2")</p>
            <div id="select-samples-and-spare-parts">
                @if (Model.ShowSamples && Model.ShowSpareParts)
                {
                    <ul class="nav nav-justified nav-tabs">
                        <li class="active"><a id="select-samples" href="#select-samples-and-spare-parts-product-list" data-toggle="tab" data-product-type="samples"><span class="h4">@TranslationsLib.Translate("SampleAndSpareParts.SelectSamples")&nbsp;<span class="badge">0</span></span></a></li>
                        <li><a id="select-spare-parts" href="#select-samples-and-spare-parts-product-list" data-toggle="tab" data-product-type="spareparts"><span class="h4">@TranslationsLib.Translate("SampleAndSpareParts.SelectSpareParts")&nbsp;<span class="badge">0</span></span></a></li>
                    </ul>
                }
                @if (Model.ShowSamples || Model.ShowSpareParts)
                {
                    <div class="tab-content panel panel-default">
                        <div id="select-samples-and-spare-parts-product-list" class="panel-body tab-pane active spinLikeTable" data-product-type="@(!Model.ShowSamples ? " spareparts" : "samples" )">
                            @Html.Partial("~/Views/Shared/_ProductList.cshtml", Model.ProductListViewModel)
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="wizard-pane-add-quantities" class="wizard-pane" data-index="3">
            <h2>@TranslationsLib.Translate("SampleAndSpareParts.AddQuantities")</h2>
            <p>@TranslationsLib.Translate("SampleAndSpareParts.SubtitleStep3")</p>
            <div class="row u-marginBottomS">
                <div class="col-sm-12 hidden-xs">
                    <div class="col-sm-6 col-xs-6"></div>
                    <div class="col-sm-2 col-xs-6">
                        <strong>@TranslationsLib.Translate("SampleAndSpareParts.Quantity")</strong>
                    </div>
                    <div class="col-sm-2 col-xs-6">
                        <strong>@TranslationsLib.Translate("SampleAndSpareParts.UnitOfMeasure")</strong>
                    </div>
                </div>
            </div>
            <div class="form-horizontal ">
                <div class="form-group addQuantityProductListItemTemplate hidden">
                    <label class="col-sm-6 col-xs-12 control-label u-marginTopN">
                        <strong class="article-name"></strong>, <span class="article-number u-normal"></span>
                    </label>
                    <div class="col-sm-2 col-xs-3">
                        <input type="number" class="form-control quantity" min="1">
                    </div>
                    <div class="col-sm-2 col-xs-6">
                        <label class="unit-of-measure"></label>
                    </div>
                </div>
                <div class="samples">
                </div>
                <div class="spareparts">
                </div>
                <div class="form-group">
                    <label class="col-sm-6 col-xs-12 control-label u-marginTopN">
                        <h3>Total</h3>
                    </label>
                    <div class="col-sm-2 col-xs-3">
                        <input type="text" class="form-control total" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div id="wizard-pane-confirm-order" class="wizard-pane" data-index="4">
            <h2>@TranslationsLib.Translate("SampleAndSpareParts.ConfirmOrder")</h2>
            <p>@TranslationsLib.Translate("SampleAndSpareParts.SubtitleStep4")</p>
            @Html.Partial("~/Views/SampleAndSparePartsOrdering/_DataView.cshtml")
            <p class="u-marginTopL">@TranslationsLib.Translate("SampleAndSpareParts.ConformationMessage")</p>
        </div>
        <hr class="invisible" />
        <div class="Arrange Arrange--withGutter">
            <div class="Arrange-sizeFit">
                <a class="btn btn-link disabled visible-xs-inline-block" data-wizard="prevTab">
                    <i class="Icon24 align-icon-left icon-arrow_left"></i>
                </a>
                <a href="#" id="previousButton-bottom" class="btn btn-default hidden-xs">
                    <i class="icon icon-arrow_left_borderless visible-xs"></i><span class="hidden-xs">@TranslationsLib.Translate("Shared.Previous")</span>
                </a>
            </div>
            <div class="Arrange-sizeFill u-textRight">
                <a href="#" id="reset-quantity" class="btn btn-primary d-none">@TranslationsLib.Translate("SampleAndSpareParts.ResetQuantity")</a>
                <a href="#" id="save-draft-btn" class="btn btn-primary save-draft hidden-xs" data-save-draft-text="@TranslationsLib.Translate("SampleAndSpareParts.SaveDraft")" data-save-draft-in-progress="@TranslationsLib.Translate("SampleAndSpareParts.SaveDraftInProgress")" data-save-draft-completed="@TranslationsLib.Translate("SampleAndSpareParts.SaveDraftCompleted")" data-save-draft-failed="@TranslationsLib.Translate("SampleAndSpareParts.SaveDraftFailed")">@TranslationsLib.Translate("SampleAndSpareParts.SaveDraft")</a>
                <a href="#" id="confirm-button" class="btn btn-primary d-none">@TranslationsLib.Translate("SampleAndSpareParts.Confirm")</a>
                <a class="btn btn-link visible-xs-inline-block" data-wizard="nextTab">
                    <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
                </a>
                <a href="#" id="nextButton-bottom" class="btn btn-primary hidden-xs">@TranslationsLib.Translate("Shared.Next")</a>
            </div>
        </div>
    </div>
</div>
<div id="data-confirm-modal" class="modal fade" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal"><span class="icon-times"></span></a>
                <h4 class="modal-title">@TranslationsLib.Translate("SampleAndSpareParts.ConfirmTitle")</h4>
            </div>
            <div class="modal-body">
                <p>
                    @TranslationsLib.Translate("SampleAndSpareParts.ConfirmText")
                </p>
            </div>
            <div class="modal-footer">
                <div class="form-group row">
                    <a class="btn btn-default u-cursorPointer" data-dismiss="modal">Cancel</a>
                    <a id="export-user-btn" class="btn btn-default u-cursorPointer" data-dismiss="modal">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        var PRODUCT_LIST_INIT_PLACEHOLDER_COUNT = false;
    </script>
    <script src="~/Content/scripts/controllers/product-list-controller.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/models/wizard.js?v=@AppVersion.Current"></script>
    <script>
        var chosenSampleParts = @(Html.Raw(JsonConvert.SerializeObject(Model.SampleAndSparePartsOrder.ChosenSampleParts))),
            chosenSpareParts = @(Html.Raw(JsonConvert.SerializeObject(Model.SampleAndSparePartsOrder.ChosenSpareParts)));
    </script>
    <script src="~/Content/scripts/controllers/sample-and-spare-parts-order-wizard-controller.js?v=@AppVersion.Current"></script>

}
