﻿@model TorkExtranet.Models.ViewModels.SampleAndSpareParts.SampleAndSparePartsRedirectViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "spare-parts-and-ordering-module";
}

@section Modals {
    <div id="sampleAndSparePartsRedirectModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>@TranslationsLib.Translate("Shared.LeavingTorkConnect")</h4>
                </div>
                <div class="modal-body">
                    <div class="productDetailModal row">
                        <div class="col-sm-12 topMargin bottomMargin">
                            <h3>@TranslationsLib.Translate("Shared.LeavingTorkConnectDisclaimer")</h3>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-12 text-right btn-row">
                            <a class="btn btn-primary pull-right add-account-btn" href="@Model.RedirectUrl">@TranslationsLib.Translate("Shared.Continue")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
    (function ($) {
        $modal = $("#sampleAndSparePartsRedirectModal");
        $modal.modal().addClass("fade");
        setTimeout(function () { window.location = '@Html.Raw(Model.RedirectUrl)'; }, @Model.RedirectDelay);
    })(jQuery);
    </script>
}