﻿@using TorkExtranet.Models.ViewModels.Partials;

@model SharedDocumentsTableViewModel

@{
    TableColumnSpecification selected = null;
}

<input type="hidden" id="sort-order" value="@Model.SortOrder" />
<input type="hidden" id="date-format" value="@System.Globalization.CultureInfo.CurrentUICulture.Name" />
@if (Model.Rows == null)
{
    <p>@TranslationsLib.Translate("SharedDocuments.AccountRequiredForSearch")</p>
}
else if (Model.Rows.Count == 0)
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}
else
{
    <div class="dropdown visible-xs">
        <ul class="dropdown-menu" data-target="tooltip">
            @foreach (TableColumnSpecification column in Model.Columns)
            {
                <li>
                    <a class="prevent-close-all @column.ClassName Sort-header" data-sort-order-asc="@column.AscendingSortProperty" data-sort-order-desc="@column.DescendingSortProperty">
                        @if (column.IconClassName.EndsWith("is-active"))
                    {
                        selected = column;
                    }
                        @column.DisplayName
                    </a>
                </li>
            }
        </ul>
        <span class="u-alignMiddle u-bold">@TranslationsLib.Translate("Shared.SortBy")</span>
        <button class="btn btn-primary btn-link-borderless dropdown-toggle u-marginLeftS u-marginRightXS" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">@selected.DisplayName</button>
        <button class="btn btn-primary btn-link-borderless u-fontSize28px Sort-header" data-sort-order-asc="@selected.AscendingSortProperty" data-sort-order-desc="@selected.DescendingSortProperty"><span class="Icon24 @(selected.IconClassName.StartsWith("icon-arrow_down") ? "icon-arrow_down_borderless" : "icon-arrow_up_borderless")"></span></button>
    </div>

    <div class="Tile-delimiter u-marginTopS"></div>

    <table id="search-results-table" class="table panel-table">
        <thead class="u-cursorPointer hidden-xs">
            <tr class="table-head">
                <th class="icons"></th>
                @foreach (TableColumnSpecification column in Model.Columns)
                {
                    <th class="@column.ClassName Sort-header" data-sort-order-asc="@column.AscendingSortProperty" data-sort-order-desc="@column.DescendingSortProperty">
                        <span class="Sort-label">@column.DisplayName<span class="Sort-icon @column.IconClassName"></span></span>
                    </th>
                }
                <th class="icons"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (SharedDocumentsTableRowViewModel row in Model.Rows)
            {
                <tr class="shared-document-@(row.Expired ? "expired" : "active")">
                    <td class="Settings-container hidden-xs">
                        <div class="icon icon-shared-document @row.FileType"></div>
                    </td>
                    @foreach (TableColumnSpecification column in Model.Columns)
                    {
                        <td class="@column.ClassName" data-title="@column.DisplayName:" data-upload-date="@(column.ClassName == "UploadDate" ? row.UploadDate.ToString("o") + "Z" : string.Empty)" data-expiration-date="@(column.ClassName == "ExpirationDate" && row.ExpirationDate.HasValue ? row.ExpirationDate.Value.ToString("o") + "Z" : string.Empty)">
                            @column.GetPropertyValue(Model.DbContext, row)
                            @if (column.ClassName == "Filename")
                            {
                                if (row.IsNew)
                                {
                                    <i class="label label-primary">@TranslationsLib.Translate("SharedDocuments.New")</i>
                                }

                                if (row.Expired)
                                {
                                    <i class="label label-danger">@TranslationsLib.Translate("SharedDocuments.Expired")</i>
                                }
                            }
                        </td>
                    }
                    <td class="text-right Settings-container">
                        <div class="Settings-group u-paddingN">
                            <a class="icon icon-download u-cursorPointer shared-documents-download" title="@TranslationsLib.Translate("Shared.Download")" href="@Url.Action("Download", new { id=row.SharedDocumentId })"></a>
                        </div>
                        @if (Model.ShowEdit)
                        {
                            <div class="Settings-group u-paddingN">
                                <a class="icon icon-cog u-cursorPointer" title="@TranslationsLib.Translate("Shared.Edit")" href="@Url.Action("UploadWizard", new { id = row.SharedDocumentId })"></a>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_Pagination", Model.Pagination)
}