﻿@using TorkExtranet.Models;
@using TorkExtranet;

@model TorkExtranet.Models.ViewModels.SharedDocumentsViewModel

<div id="shared-documents">

    @if (Model.ShowAdd)
    {
        <div class="row">
            <div class="col-sm-12 form-group text-right">
                <a href="@Url.Action("UploadWizard")" id="add-shared-document" class="btn btn-primary btn-block-xs">@TranslationsLib.Translate("SharedDocuments.AddSharedDocument")</a>
            </div>
        </div>
    }


    @if (Model.ShowDownloadDisclaimer)
    {
        <div class="row">
            <div class="col-sm-12 form-group">
                <div class="panel panel-info">
                    <div class="panel-body u-paddingTopN">
                        <label>@TranslationsLib.Translate("SharedDocuments.DisclaimerHeader")</label>
                        <br />
                        <span>@TranslationsLib.Translate("SharedDocuments.DisclaimerText")</span>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-12">
            <form id="search-form" autocomplete="off" class="content-container u-colorGray control-module">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="account">@TranslationsLib.Translate("SharedDocuments.Account") *</label>
                        <select id="account" class="form-control" data-placeholder="@TranslationsLib.Translate("SharedDocuments.Account")" required disabled="@(Model.Accounts.Count <= 1)">
                            <option></option>
                            @foreach (Tuple<int, string> account in Model.Accounts)
                            {
                                <option value="@account.Item1" selected="@(account.Item1 == Model.SelectedAccountId)">@account.Item2</option>
                            }
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="search-results" class="search-result spinLikeTable">
        @Html.Partial("_SearchResults", Model.SharedDocumentsTable)
    </div>
</div>
