﻿@model TorkExtranet.Models.ViewModels.Partials.ShareDocumentUsersViewModel

<div id="share-documents-users">
    @if (Model.Users.Any())
    {
    <ul class="list-group role-users-list">
        @foreach (var user in Model.Users)
        {
            <li class="list-group-item">@user.first_name @user.last_name<br />@user.email</li>
        }
    </ul>
    }
    else
    {
    <h5>@TranslationsLib.Translate("SharedDocuments.NoUsersFound")</h5>
    }
</div>
