﻿@using TorkExtranet.Models;
@using TorkExtranet;

@model TorkExtranet.Models.ViewModels.SharedDocumentsViewModel

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.SHARED_DOCUMENTS_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "shared-documents";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.SharedDocumentsWhatIsThis");
}

<div id="shared-documents-view">
    @Html.Partial("_SharedDocuments", Model)
</div>

@section Scripts {
    <script src="~/Content/scripts/controllers/shared-documents-controller.js?v=@AppVersion.Current"></script>
}
