﻿@using TorkExtranet.Models;
@using TorkExtranet;

@model TorkExtranet.Models.ViewModels.SharedDocumentsViewModel

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.SHARE_DOCUMENTS_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "share-documents";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.ShareDocumentsWhatIsThis");
}

<div id="shared-documents-manage">
    @Html.Partial("_SharedDocuments", Model)
</div>

@section Scripts {
    <script src="~/Content/scripts/controllers/shared-documents-controller.js?v=@AppVersion.Current"></script>
}