﻿@using TorkExtranet.Models;
@using TorkExtranet;
@using TorkExtranet.Models.ViewModels;
@using TorkExtranet.Models.ViewModels.Partials;

@model TorkExtranet.Models.ViewModels.ShareDocumentUploadViewModel

@{
    ViewBag.Title = TranslationsLib.Translate("SharedDocuments.ShareDocument");
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "share-documents-upload-wizard";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.ShareDocumentsUploadWizardWhatIsThis");
}

<form id="share-document-upload-wizard-form">
    <input hidden id="shared-document-id" name="SharedDocumentId" value="@Model.SharedDocument.Id" />

    <a href="@Url.Action("Manage")" class="labelled-icon align-icon-left u-marginBottomM">
        <span class="icon-arrow_left"></span>  @TranslationsLib.Translate("SharedDocuments.BackToShareDocuments")
    </a>

    <div class="wizard hidden-xs">
        <div class="wizard-progress"></div>
        <div class="wizard-item width50" data-index="1">
            <div class="wizardLabel">@TranslationsLib.Translate("SharedDocuments.UploadNewDocuments")</div>
        </div>
        <div class="wizard-item width50 last" data-index="2">
            <div class="wizardLabel">@TranslationsLib.Translate("SharedDocuments.SelectAccountAndRole")</div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="visible-xs">
        <h3 class="tab-title">@TranslationsLib.Translate("SharedDocuments.UploadNewDocuments")</h3>
        <div class="ProgressBar">
            <div class="ProgressBar-indicator"></div>
        </div>
        <a class="btn btn-link pull-right" data-wizard="nextTab">
            <span data-text-content></span> <span class="Icon24 align-icon-right icon-arrow_right"></span>
        </a>
        <a class="btn btn-link disabled" data-wizard="prevTab"><span class="Icon24 align-icon-left icon-arrow_left"></span></a>
    </div>

    <div id="wizard-content" class="wizard-content control-module product-list-container">
        <div class="row hidden-xs">
            <div class="col-xs-4">
                <a href="#" id="previousButton-top" class="btn btn-default">@TranslationsLib.Translate("Shared.Previous")</a>
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4 text-right">
                <a href="#" id="nextButton-top" class="btn btn-primary">@TranslationsLib.Translate("Shared.Next")</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="share-document-upload-file-empty-error" class="wizard-alert-msg alert alert-danger">
                    <i class="align-icon-left icon-exclamation"></i> @TranslationsLib.Translate("Shared.NoFileSelected")
                </div>
                <div id="share-document-upload-input-required-error" class="wizard-alert-msg alert alert-danger">
                    <i class="align-icon-left icon-exclamation"></i> @TranslationsLib.Translate("Shared.PleaseCheckInput")
                </div>
                <div id="share-document-upload-account-role-required-error" class="wizard-alert-msg alert alert-danger">
                    <i class="align-icon-left icon-exclamation"></i> @TranslationsLib.Translate("SharedDocuments.SharedListEmpty")
                </div>
            </div>
        </div>
        <div class="Tile-delimiter u-marginTopS"></div>
        <div id="step1" class="wizard-pane">
            <div class="row form-horizontal">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@TranslationsLib.Translate("SharedDocuments.SelectDocument") *</label>
                        <div class="col-sm-4">
                            <div class="Upload-button btn btn-primary btn-block @(Model.SharedDocument.Id > 0 ? "disabled" : "")">
                                <span id="spanChooseFile">
                                    @TranslationsLib.Translate("SharedDocuments.Browse")
                                </span>
                                <input id="share-document-upload-file-input" name="UploadedDocument" class="Upload-input" type="file" @(Model.SharedDocument.Id > 0 ? "disabled" : "") />
                                <span id="share-document-upload-file-spinner-placeholder"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 control-label">
                            <span class="h5" id="share-document-upload-file-name-placeholder">
                                <span class="selected-file-name" data-default-text="@TranslationsLib.Translate("Shared.NoFileSelected")">
                                    @if (ViewContext.RouteData.Values["id"] != null)
                                    {
                                        @Model.SharedDocument.Filename
                                    }
                                    else
                                    {
                                        @TranslationsLib.Translate("Shared.NoFileSelected")
                                    }
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="share-document-upload-description" class="col-sm-2 control-label">@TranslationsLib.Translate("SharedDocuments.Description") *</label>
                        <div class="col-sm-4">
                            <textarea id="share-document-upload-description" class="form-control" name="Description" maxlength="250" required>@Model.SharedDocument.Description</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="share-document-upload-expiration-date" class="col-sm-2 control-label">@TranslationsLib.Translate("SharedDocuments.ExpirationDate")</label>
                        <div class="col-sm-4">
                            <div class="datepicker-container">
                                <input hidden id="share-document-hidden-expiration-date" name="ExpirationDate" value="@(Model.SharedDocument.ExpirationDate.HasValue ? Model.SharedDocument.ExpirationDate.Value.ToString("o") + "Z" : null)" data-locale="@System.Globalization.CultureInfo.CurrentUICulture.Name" />
                                <input id="share-document-upload-expiration-date" class="form-control datepicker disregard-disabled-css" type="text" data-date-format="@(GlobalShim.AppSettings.DatePickerFormat)">
                                <span class="datepicker-icon icon-calendar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="step2" class="wizard-pane">
            <div class="row form-horizontal">
                <div class="col-sm-6 bottomMargin account-role-container">
                    <div class="form-group">
                        <label class="col-sm-4" for="account">@TranslationsLib.Translate("SharedDocuments.SoldToNameNumber"): <span class="mandatory">*</span></label>
                        <div class="col-sm-8">
                            <select id="account" class="form-control" data-placeholder="@TranslationsLib.Translate("SharedDocuments.SoldToNameNumber")" required>
                                <option></option>
                                @foreach (var account in Model.Accounts)
                                {
                                    <option value="@account.AccountId" data-roleids="@Newtonsoft.Json.JsonConvert.SerializeObject(account.RoleIds)">@account.AccountName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4" for="role">@TranslationsLib.Translate("SharedDocuments.SelectRole"): <span class="mandatory">*</span></label>
                        <div class="col-sm-8">
                            <select id="role" class="form-control" disabled data-placeholder="@TranslationsLib.Translate("SharedDocuments.SelectRole")">
                                <option disabled selected value="">@TranslationsLib.Translate("SharedDocuments.SelectRole")</option>
                                <option value="0">@TranslationsLib.Translate("Shared.All")</option>
                                @foreach (var role in Model.Roles)
                                {
                                    <option value="@role.id">@role.name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@TranslationsLib.Translate("SharedDocuments.UsersInRole")</label>
                        <div class="col-sm-8">
                            <div class="user-list-container">
                                @Html.Partial("_Users", new ShareDocumentUsersViewModel())
                            </div>
                        </div>
                    </div>
                    <a id="add-to-list" class="btn btn-block btn-primary disable-form-confirm disabled">@TranslationsLib.Translate("SharedDocuments.AddToSharedList") <i class="align-icon-left icon icon-plus"></i></a>
                    <button id="added-to-list" type="button" class="btn btn-block btn-primary disable-form-confirm disabled" style="display: none">@TranslationsLib.Translate("SharedDocuments.AddedToSharedList") <i class="align-icon-left icon icon-checkbox"></i></button>
                    <button id="all-added-to-list" type="button" class="btn btn-block btn-primary disable-form-confirm disabled" style="display: none">@TranslationsLib.Translate("SharedDocuments.AllAddedToSharedList") <i class="align-icon-left icon icon-checkbox"></i></button>
                    <h5 id="accountsAndRolesInformation" class="u-marginTopS" style="display: none">@TranslationsLib.Translate("SharedDocuments.SharedListAccountsAndRolesInformation")</h5>
                </div>
                <div class="col-sm-6">
                    <table class="table u-marginTopN" id="application-product-list">
                        <thead>
                            <tr>
                                <th><h3 class="u-marginTopN">@TranslationsLib.Translate("SharedDocuments.SharedList")</h3></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="application-product-list-body" class="ui-sortable">
                            <tr class="productListItemTemplate" style="display: none">
                                <td>
                                    <strong class="article-name"></strong>
                                    <div class="article-number"></div>
                                </td>
                                <td><a class="icon icon-trashcan pull-right u-cursorPointer delete-list-btn"></a></td>
                            </tr>
                            @foreach (var account in Model.AuthorizedSharedDocumentAccounts)
                            {
                                if (account.SharedDocumentAccountRoles.Count == 0)
                                {
                                    <tr class="productListItem">
                                        <td>
                                            <strong class="article-name">@Model.Accounts.Single(a => a.AccountId == account.AccountId).AccountName</strong>
                                            <div class="article-number" data-account-id="@account.AccountId" data-role-id="0">All</div>
                                        </td>
                                        <td><a class="icon icon-trashcan pull-right u-cursorPointer delete-list-btn"></a></td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var role in account.SharedDocumentAccountRoles)
                                    {
                                        <tr class="productListItem">
                                            <td>
                                                <strong class="article-name">@Model.Accounts.Single(a => a.AccountId == account.AccountId).AccountName</strong>
                                                <div class="article-number" data-account-id="@account.AccountId" data-role-id="@role.RoleId">@Model.Roles.Single(r => r.id == role.RoleId).name</div>
                                            </td>
                                            <td><a class="icon icon-trashcan pull-right u-cursorPointer delete-list-btn"></a></td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <div class="tork-pagination u-marginTopN u-marginBottom10" id="product-list-pagination" data-items-per-page="@Search.DefaultPageSize"></div>
                </div>
            </div>
            <div class="row">
                <div id="share-document-upload-success" class="col-xs-10 col-xs-offset-1 alert alert-success mt-0-75em" style="display: none;">
                    <i class="align-icon-left icon-checkbox"></i> @TranslationsLib.Translate("SharedDocuments.SaveSucceeded").
                </div>
                <div id="share-document-upload-error" class="col-xs-10 col-xs-offset-1 alert alert-danger mt-0-75em" style="display: none;">
                    <i class="align-icon-left icon-exclamation"></i> @TranslationsLib.Translate("SharedDocuments.SaveFailed").
                </div>
            </div>
            <input type="button" id="share-document-upload-submit" class="btn btn-primary disable-form-confirm pull-right" value="@TranslationsLib.Translate("Shared.SaveButton")" />
        </div>

        <hr class="invisible" />
        <div class="Arrange Arrange--withGutter">
            <div class="Arrange-sizeFit">
                <a class="btn btn-link disabled visible-xs-inline-block" data-wizard="prevTab">
                    <i class="Icon24 align-icon-left icon-arrow_left"></i>
                </a>
                <a href="#" id="previousButton-bottom" class="btn btn-default hidden-xs">
                    <i class="icon icon-arrow_left_borderless visible-xs"></i><span class="hidden-xs">@TranslationsLib.Translate("Shared.Previous")</span>
                </a>
            </div>
            <div class="Arrange-sizeFill u-textRight">
                <a class="btn btn-link visible-xs-inline-block" data-wizard="nextTab">
                    <i data-text-content></i> <span class="Icon24 align-icon-right icon-arrow_right"></span>
                </a>
                <a href="#" id="nextButton-bottom" class="btn btn-primary hidden-xs">@TranslationsLib.Translate("Shared.Next")</a>
            </div>
        </div>
    </div>
</form>

@section Modals {
    <div id="add-all-roles-confirmation" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@TranslationsLib.Translate("SharedDocuments.ConfirmForAll")</h4>
                </div>
                <div class="modal-body" id="disclaimer-content-div">
                    <p>@TranslationsLib.Translate("SharedDocuments.AddAllRoleRemoveIndividual")</p>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-6 text-left">
                            <input type="button" data-dismiss="modal" class="btn btn-default" value="@TranslationsLib.Translate("Shared.CancelButton")" />
                        </div>
                        <div class="col-xs-6 text-right btn-row">
                            <input type="button" data-dismiss="modal" id="confirm-add-all-roles" class="btn btn-primary" value="@TranslationsLib.Translate("Shared.ContinueButton")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="save-without-sold-tos-confirmation" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@TranslationsLib.Translate("SharedDocuments.SaveConfirmation")</h4>
                </div>
                <div class="modal-body" id="disclaimer-content-div">
                    <p>@TranslationsLib.Translate("SharedDocuments.SaveWithoutSoldTos")</p>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-6 text-left">
                            <input type="button" data-dismiss="modal" class="btn btn-default" value="@TranslationsLib.Translate("Shared.CancelButton")" />
                        </div>
                        <div class="col-xs-6 text-right btn-row">
                            <input type="button" data-dismiss="modal" id="confirm-save-without-sold-tos" class="btn btn-primary" value="@TranslationsLib.Translate("Shared.ContinueButton")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Content/scripts/models/wizard.js?v=@AppVersion.Current"></script>
    <script src="~/Content/scripts/controllers/share-documents-upload-wizard-controller.js?v=@AppVersion.Current"></script>
}
