﻿@{
    Layout = "~/Views/Shared/_TridionCustomURLLayout.cshtml";
}

@model TorkExtranet.Models.ViewModels.TridionMessageTarget

@using TorkExtranet.Models

<form class="insert">
    <input type="radio" name="type" value="internal" />@TranslationsLib.Translate("Shared.Internal")
    <br />
    <input type="radio" name="type" value="external" />@TranslationsLib.Translate("Shared.External")
    <br />

    <select name="country" style="display: none;">
        <option value="-1">@TranslationsLib.Translate("Shared.SelectCountry")</option>
        @foreach (Country country in Model.Countries)
        {
            <option value="@country.id">@country.name</option>
        }
    </select>

    <select name="role" id="internal-roles" style="display: none;">
        <option value="-1">@TranslationsLib.Translate("Shared.SelectRole")</option>
        @foreach (Role role in Model.Roles(true))
        {
            <option value="@role.id">@role.name</option>
        }
    </select>

    <select name="role" id="external-roles" style="display: none;">
        <option value="-1">@TranslationsLib.Translate("Shared.SelectRole")</option>
        @foreach (Role role in Model.Roles(false))
        {
            <option value="@role.id">@role.name</option>
        }
    </select>

    @foreach (Country country in Model.Countries)
    {
        List<Account> accounts = Model.AccountsForCountry(country);
        if (accounts.Count > 0)
        {
            <select name="account" data-country-id="@country.id" style="display: none;">
                <option value="-1">@TranslationsLib.Translate("Shared.SelectAccount")</option>
                @foreach (Account account in accounts)
                {
                    <option value="@account.id">@account.name</option>
                }
            </select>
        }
    }

    <input type="submit" value="@TranslationsLib.Translate("Shared.Insert")" />

</form>

<style>
    select, input[type=submit] {
        margin-top: 20px;
        display: block;
    }
</style>

<script>
    $(document).ready(function () {
        $countries = $("[name=country]");
        $roles = $("[name=role]");
        $accounts = $("[name=account]");

        $("[name=type]").change(function () {
            $countries.show();
            $countries.val("-1");

            $roles.hide();
            $roles.val("-1");

            if ($(this).val() === "internal") {
                $("#internal-roles").show();
            }
            else {
                $("#external-roles").show();
            }

            $accounts.hide();
            $accounts.val("-1");
        });

        $countries.change(function () {
            $accounts.hide();
            $accounts.val("-1");

            if ($("[name=type]:checked").val() === "external")
            {
                $("[name=account][data-country-id=" + $(this).val() + "]").show();
            }
        });

        $("form").submit(function (e) {
            e.preventDefault();
            $(this).find("select:hidden").remove();
            $(this).find("select > option[value='-1']:selected").closest("select").remove();
        });
    });
</script>
