﻿@using TorkExtranet.Models
@model TorkExtranet.Models.ViewModels.ConsentViewModel
@{
    ViewBag.Title = TranslationsLib.Translate("Consent.Heading");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Consent" class="col-sm-8">
    <hr />
    <p>@TranslationsLib.Translate("Consent.MandatorySubtitle")</p>
    @{ MvcHtmlString privacyLink = new MvcHtmlString(string.Empty); }
    <form id="consentForm" action="@Url.Action("Save")" method="post">
        @foreach (var consent in Model.RequiredConsents)
        {
            MvcHtmlString actionLink = Html.ActionLink("{0}", "Content", new { tag = consent.Tag }, new { target = "_blank" });

            if (consent.Tag == Constants.PRIVACY_POLICY)
            {
                privacyLink = actionLink;
            }

            var name = consent.Id;
            <div class="form-group u-margin0">
                <input id="@name" type="checkbox" name="@name" required>
                <label for="@name">@Html.Raw(TranslationsLib.Translate(consent.LabelKey, actionLink.ToString()))</label>
            </div>
        }

        @*<hr />
        <p>@Html.Raw(TranslationsLib.Translate("Consent.OptionalSubtitle", privacyLink.ToString()))</p>*@

        @foreach (var consent in Model.OptionalConsents)
        {
            var name = consent.Id;
            <div class="form-group u-margin0">
                <input id="@name" type="checkbox" name="@name">
                <label for="@name">@TranslationsLib.Translate("Consent.AcceptTextOptional")</label>
            </div>
        }

        <hr />
        <div id="consentErrorMessage" class="alert alert-danger">
            <span class="align-icon-left icon-exclamation"></span>
            @TranslationsLib.Translate("Consent.ErrorMessage")
        </div>
        <div class="text-right">
            <a href="@Url.Action("Logout", "Login")" class="btn btn-default">@TranslationsLib.Translate("Shared.CancelButton")</a>
            <button class="btn btn-primary" type="submit">@TranslationsLib.Translate("Shared.Continue")</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/Content/scripts/controllers/consent-controller.js"></script>
}