﻿@model TorkExtranet.Models.ViewModels.HighlightIntroductionPartialViewModel

<div class="row">
    <div class="highlight-item col-xs-12">
        @if (!String.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" class="placeholder pull-left torkready-highlight-image" />
        }
        <h3 class="bigger">@Model.Title</h3>
        <p class="tork-highlight-summary">@Html.Raw(Model.Summary)</p>
        @if (!String.IsNullOrWhiteSpace(Model.ReadMoreUrl))
        {
            <p>
                <a class="labelled-icon text-right" href="@Model.ReadMoreUrl">@TranslationsLib.Translate("Shared.ReadMoreLink") <span class="icon icon-arrow_right"></span></a>
            </p>
        }
    </div>
</div>
