﻿@model TorkExtranet.Models.TorkReadyPromo

@if (Model.TorkPromoboxVideo != null && !string.IsNullOrWhiteSpace(Model.TorkPromoboxVideo.VideoURL))
{
    <div class="col-md-7 u-marginBottomM">
        <div id="TorkPromoVideo"></div>
    </div>
}
else if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
{
    <div class="col-md-7 u-marginBottomM">
        <img src="@Model.ImageUrl" class="promo-image" />
    </div>
}

    <div class="col-md-5 u-marginBottomM">
        <h2>@Html.Raw(Model.Title)</h2>
        @Html.Raw(Model.Description)
    </div>


