﻿
@using TorkExtranet.Models;
@model List<TorkReadyChallengeVideoDetails>

@if (Model != null && Model.Count != 0)
{
    @Html.Raw("<div class='control-module'><div class='tork-challenge-container'>");

    
    foreach (var video in Model)
    {

        @Html.Raw("<div class='tork-challenge-item'>")
        @Html.Raw("<div class='tork-challenge-box'>")
        <div>
            <span class="@(video.Status == Constants.TorkReadyVideoCompletedStatus ? " icon-checkbox" : "icon-circle" ) icon u-colorBlue u-floatRight u-marginLeftS u-posStatic"></span>
            <h3> 
                @video.Title
            </h3>
            <input type="hidden" class="cs_video_LoId" value="@video.LoID" />

            <div class="tork-challenge-desc">
                @video.Description
            </div>
        </div>
        <div class="u-textRight u-marginTopS">
            <a class="@(video.Status == Constants.TorkReadyVideoCompletedStatus ? "btn-default" : "btn-primary") btn" data-start href="@video.VideoUrl" target="_blank">@TranslationsLib.Translate("TorkReady.StartLinkText")</a>
        </div>
        
        @Html.Raw("</div></div>")
    }
   
    @Html.Raw("</div></div>")

}
else
{
    <div class="alert alert-danger u-block u-marginTopS">
        <span class="align-icon-left icon-exclamation"></span> @TranslationsLib.Translate("TorkReady.NoVideoTranscriptMessage")
    </div>
}
<div class="tork-pagination" id="video-list-pagination" data-items-per-page="10" data-previous-text="@TranslationsLib.Translate("Shared.Previous")" data-next-text="@TranslationsLib.Translate("Shared.Next")"></div>


