﻿@model TorkExtranet.Models.ViewModels.TorkReadyChallengeViewModel
 @using TorkExtranet.Models         

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.TorkReadyChallengeWhatIsThis");
    ViewBag.Title = TranslationsLib.Translate("TorkReady.ChallengesPageTitle");
    ViewBag.SectionId = "tork-Ready-module";
}

<div class="content-container">
    <div class="row">
        @if (Model.PromoDetail != null)
        {
            @Html.Partial("_Promobox", Model.PromoDetail)
        }
    </div>
        <div id="video-list-table">
           @Html.Partial("_VideoDetail", Model.ChallegeVideos) 
        </div>

    <hr class="thin" />
    <a onclick="window.history.back();" class="labelled-icon"><span class="icon-arrow_left"></span>  @TranslationsLib.Translate("Shared.Back")</a>
    <input type="hidden" id="cs_intermitpage_closetime" value="@GlobalShim.AppSettings.TorkReady.CornerStoneIntermediatePageCloseTime" />
</div>


@section Scripts {


    <script src="~/Content/scripts/controllers/torkready-controller.js"></script>

    <script>jwplayer.key = "@System.Configuration.ConfigurationManager.AppSettings["JWPlayerLicense"].ToString()";</script>


    @if (Model.PromoDetail != null && Model.PromoDetail.TorkPromoboxVideo != null && !string.IsNullOrWhiteSpace(Model.PromoDetail.TorkPromoboxVideo.VideoURL))
    {
        <script type="text/javascript">

            var promoboxVideoInstance = jwplayer("TorkPromoVideo");
            promoboxVideoInstance.setup({
                'file': "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.PromoDetail.TorkPromoboxVideo.VideoURL))",
                'image': "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.PromoDetail.TorkPromoboxVideo.ImageURL))",
                'width': '100%',
                'aspectratio': '16:9',
                'autostart': false,
                'androidhls': true,
                'hlshtml': true
            });

        </script>
    }
}
