﻿@using TorkExtranet.Models.ViewModels

@model TorkReadyHomePageViewModel
@{

    ViewBag.Title = TranslationsLib.Translate("TorkReady.HomePageTitle");
    ViewBag.SectionId = "tork-Ready-module";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.TorkReadyHomePageWhatIsThis");
}

<div class="content-container">
    <div class="row">
        @if (Model.PromoDetail != null)
        {
            @Html.Partial("_Promobox", Model.PromoDetail)
        }
    </div>
    <div class="row">
        <div class="col-md-7">
            @if (Model.Highlights != null && Model.Highlights.Count > 0)
            {
                <h2>@TranslationsLib.Translate("TorkReady.HighlightHeaderText")</h2>
                foreach (HighlightIntroductionPartialViewModel highlight in Model.Highlights)
                {
                    @Html.Partial("_HighlightIntroduction", highlight);
                }
            }

        </div>
        <div class="col-md-5 torkready-btn-div">
            <a href="@Url.Action("ChallengeDetails", "TorkReady")"><div class="col-md-12 torkready-nav-btn">  @TranslationsLib.Translate("TorkReady.TorkReadyChallengeLinkText") </div></a>
            <a href="@Url.Action( "Index", "MarketingResources", new { torkReadyFacet = Model.TorkReadyMarketResourceRedirectionKey })"><div class="col-md-12 torkready-nav-btn"> @TranslationsLib.Translate("TorkReady.MaterialAndToolsLinkText") </div></a>
        </div>
    </div>
</div>



@section Scripts {
    <script>jwplayer.key = "@System.Configuration.ConfigurationManager.AppSettings["JWPlayerLicense"].ToString()";</script>

    @if (Model.PromoDetail != null && Model.PromoDetail.TorkPromoboxVideo != null && !string.IsNullOrWhiteSpace(Model.PromoDetail.TorkPromoboxVideo.VideoURL))
    {
        <script type="text/javascript">
            var playerInstance = jwplayer("TorkPromoVideo");
            playerInstance.setup({
                'file': "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.PromoDetail.TorkPromoboxVideo.VideoURL))",
                'image': "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.PromoDetail.TorkPromoboxVideo.ImageURL))",
                'width': '100%',
                'aspectratio': '16:9',
                'autostart': false,
                'androidhls': true,
                'hlshtml': true
            });
        </script>
    }
}

