﻿@using TorkExtranet.Models.DTOs

@model TorkExtranet.Models.ViewModels.RebateDetailsModalBody

@{ var cr = Model.Rebate.ContractRebates.SingleOrDefault(s => s.Contract_Number == ViewBag.contractNumber); }
<div class="panel-inside-content p-0">
    <table data-contract="@cr.Contract_Number" class="table panel-table smaller no-borders table-condensed m-0">
        <thead>
            <tr>
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    if (c.InstanceProperty == "Total_Price")
                    {
                        <th>
                            @c.DisplayName (@Model.Rebate.Currency)
                        </th>
                    }
                    else
                    {
                        <th>
                            @c.DisplayName
                        </th>
                    }
                }
                <th><!-- empty status icon placeholder --></th>
            </tr>
        </thead>
        <tbody class="compact-form">
            @{
                int RIindex = -1;
                foreach (RebateItemDTO item in cr.RebateItems)
                {
                    RIindex++;
                    <tr data-item="@item.Line_Item_Number" data-cr-index="x" data-ri-index="@RIindex" class="u-colorGray rebate-item">
                        @foreach (TableColumnSpecification c in Model.Columns)
                        {
                            var className = "form-control key-event";
                            <td>
                                @if (!Model.Rebate.ReadOnly && ((Model.ExtendedAccess || Model.AdminAccess) && c.Editable))
                                {
                                    className += c.InstanceProperty == "Quantity_Claimed" ? " lookSelected" : "";
                                    if (c.InstanceProperty == "Rejection_Reason")
                                    {
                                        <select style="width: 100%" name="ContractRebates[x].RebateItems[@RIindex].Rejection_Reason" class="excludeFromSel2Init form-control" id="rejectionReason" data-placeholder="@Model.RejectionReason">
                                            <option></option>
                                            @foreach (Tuple<string, string> rejectionReason in Model.RejectionReasons)
                                            {
                                                string selected_val = "";
                                                if (item.Rejection_Reason == rejectionReason.Item1)
                                                {
                                                    selected_val = "selected";
                                                }
                                                <option value="@rejectionReason.Item1" @selected_val>@rejectionReason.Item2</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <input type="text" class="@className" value="@c.GetPropertyValue(Model.DbContext, item)" name="ContractRebates[x].RebateItems[@RIindex].@c.InstanceProperty" />
                                    }
                                }
                                else
                                {
                                    @c.GetPropertyValue(Model.DbContext, item)

                                    if (c.InstanceProperty == "SCA_Product_ID")
                                    {
                                        <input type="hidden" class="form-control" value="@c.GetPropertyValue(Model.DbContext, item)" name="ContractRebates[x].RebateItems[@RIindex].@c.InstanceProperty" />
                                    }

                                    if (c.InstanceProperty == "Line_Item_Number")
                                    {
                                        <input type="hidden" class="form-control" value="@c.GetPropertyValue(Model.DbContext, item)" name="ContractRebates[x].RebateItems[@RIindex].@c.InstanceProperty" />
                                    }

                                }
                            </td>
                        }
                        <td>
                            @{ var iconSymbol = String.IsNullOrEmpty(item.Rejection_Reason) || item.Rejection_Reason.StartsWith("A") ? "icon-checkbox" : "icon-exclamation";}
                            <span title="@Model.Status" class="icon status-icon @iconSymbol table-condensed-icon pull-left"></span>
                        </td>
                    </tr>
                
                }}

            <tr>
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    <td>
                        @if (c.InstanceProperty == "SCA_Product_ID")
                        {
                            <span>@TranslationsLib.Translate("Rebates.SubTotalText")</span>
                        }
                        @if (c.InstanceProperty == "Quantity_Claimed")
                        {
                            <span>@cr.Total_Cases</span>
                        }
                        @if (c.InstanceProperty == "Total_Price")
                        {
                            <span>@cr.Total_Net_Price</span>
                        }
                    </td>
                }
            </tr>
        </tbody>

       
        
    </table>
</div>
