﻿@using TorkExtranet.Models.DTOs
@using TorkExtranet.Extensions

@model TorkExtranet.Models.ViewModels.RebateDetailsModalBody

<div class="control-module">
    <form id="manage-rebate-details" enctype='multipart/form-data' class="u-transitionNone" autocomplete="off">
        <div class="row">
            <div class="col-xs-6">
                <input type="hidden" name="Service_Date" value="@Model.Rebate.Service_Date" />
                <dl class="row">
                    <dt class="col-xs-6">@TranslationsLib.Translate("Rebates.ContractRebateNumber")</dt>
                    <dd class="col-xs-6 rebates-modal-input-height">
                        @Model.Rebate.Rebate_Number
                        <input type="hidden" name="Rebate_Number" value="@Model.Rebate.Rebate_Number" />
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-xs-6">@TranslationsLib.Translate("Rebates.ClaimReferenceNumber")</dt>
                    <dd class="col-xs-6 rebates-modal-input-height">
                        @Model.Rebate.Claim_Reference_Number
                        <input type="hidden" name="Claim_Reference_Number" value="@Model.Rebate.Claim_Reference_Number" />
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-xs-6">@TranslationsLib.Translate("Rebates.PONumber")</dt>
                    <dd class="col-xs-6 rebates-modal-input-height">
                        @if (!Model.Rebate.ReadOnly && Model.AdminAccess)
                        {
                            <input type="text" class="form-control key-event rebates-modal-input-height" name="PO_Number" value="@Model.Rebate.PO_Number" />
                        }
                        else
                        {
                            @Model.Rebate.PO_Number
                        }
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-xs-6">@TranslationsLib.Translate("Rebates.PODate")</dt>
                    <dd class="col-xs-6 rebates-modal-input-height">
                        @Model.Rebate.PO_Date.ToShortDateStringNullable()
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-xs-6">@TranslationsLib.Translate("Rebates.PODReceivedDate")</dt>
                    <dd class="col-xs-6 rebates-modal-input-height">
                        @if (!Model.Rebate.ReadOnly && Model.AdminAccess)
                        {
                            <div class="datepicker-container">
                                <input class="datepicker form-control rebates-modal-input-height" type="text" name="POD_Received_Date" value="@Model.Rebate.POD_Received_Date.ToShortDateStringNullable()" id="pod-date">
                                <span class="datepicker-icon icon-calendar"></span>
                            </div>
                        }
                        else
                        {
                            @Model.Rebate.POD_Received_Date.ToShortDateStringNullable()
                        }
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-xs-6">@TranslationsLib.Translate("Shared.Status")</dt>
                    <dd class="col-xs-6 rebates-modal-input-height">
                        @if (!Model.Rebate.ReadOnly && Model.AdminAccess)
                        {
                            <select name="status" class="form-control rebates-modal-input-height" style="width: 100%" id="Status" data-placeholder="@TranslationsLib.Translate("Shared.Status")">
                                @foreach (Tuple<string, string> status in Model.Statuses)
                                {
                                    string selected_val = "";
                                    if (Model.Statuses != null && status.Item1 == Model.Rebate.Status)
                                    {
                                        selected_val = "selected";
                                    }
                                    <option value="@status.Item1" @selected_val>@status.Item2</option>
                                }
                            </select>
                        }
                        else
                        {
                            @Model.Statuses.SingleOrDefault(s => s.Item1 == Model.Rebate.Status).Item2
                        }
                    </dd>
                </dl>
            </div>

            <div class="col-xs-4 col-xs-offset-2">
                <div class="row mt-0-2em mb-1em">
                    <div class="col-xs-12">
                        <div id="customerInfo" class="u-fontSize90Percent">
                            <div class="u-bold">@TranslationsLib.Translate("Rebates.Customer")</div>
                            <div class="customer"><!-- Added with javascript --></div>
                        </div>
                    </div>
                </div>

                <hr class="invisible" />

                <div class="row">
                    <div class="col-xs-12">
                        <dl class="row">
                            <dt class="col-xs-8">@TranslationsLib.Translate("Rebates.NetTotal"):</dt>
                            <dd class="col-xs-4">@Model.Rebate.Net_Total @Model.Rebate.Currency</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-xs-8">@TranslationsLib.Translate("Rebates.TaxOne"):</dt>
                            <dd class="col-xs-4">@Model.Rebate.Tax_1 @Model.Rebate.Currency</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-xs-8">@TranslationsLib.Translate("Rebates.TaxTwo"):</dt>
                            <dd class="col-xs-4">@Model.Rebate.Tax_2 @Model.Rebate.Currency</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-xs-8">@TranslationsLib.Translate("Rebates.GrandTotalIncludingTaxIfApplicable"):</dt>
                            <dd class="col-xs-4">@Model.Rebate.Grand_Total @Model.Rebate.Currency</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-xs-8">@TranslationsLib.Translate("Rebates.TotalCases"):</dt>
                            <dd class="col-xs-4">@Model.Rebate.Total_Cases</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        @if (!Model.Rebate.ReadOnly && (Model.AdminAccess || Model.ExtendedAccess))
        {
            <input type="hidden" value="@Model.ValidationKey" name="ValidationKey" />
            <hr class="gray" />
            <div class="row">
                <div class="col-xs-12 btn btn-row">
                    <input id="submitRebate" type="button" class="btn btn-primary pull-right" value="@TranslationsLib.Translate("Rebates.SubmitButton")" />
                    <input id="quickSaveRebate" type="button" class="btn btn-default pull-right save-btn" value="@TranslationsLib.Translate("Rebates.QuickSave")" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert formSuccess mt-0-75em alert-success">
                        <span class="align-icon-left icon-checkbox"></span>
                        @TranslationsLib.Translate("Shared.ChangesSaved")
                    </div>
                    <div class="alert formError mt-0-75em alert-danger">
                        <span class="align-icon-left icon-exclamation"></span>
                        @TranslationsLib.Translate("Shared.PleaseCheckInput")
                    </div>
                    <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                </div>
            </div>
        }
        <div class="row mt-0-2em mb-1em">
            <div class="col-xs-12">
                @if (Model.ExtendedAccess || Model.AdminAccess)
                {
                        var visible = Model.NewRebateItems.Count > 1 ? "display:block;" : "";
                        <div id="addItemsToContractsContainer" class="collapse" style="@visible">
                        <div class="control-module blue-background mb-30px">
                            <div class="row mt-0-2em mb-1em">
                                <div class="col-xs-12">
                                    <h3 class="pull-left">Please enter all additional items below</h3>
                                    <a id="addItemsToContractsClose" class="u-cursorPointer u-bold pull-right">Close</a>
                                </div>
                            </div>
                            <table id="additionalItemsTable" class="table panel-table no-borders smaller">
                                <thead>
                                    <tr>
                                        <th>@TranslationsLib.Translate("Rebates.SCAProductID") <span class="required">*</span></th>
                                        <th>@TranslationsLib.Translate("Rebates.QuantityClaimed") <span class="required">*</span></th>
                                        <th>@TranslationsLib.Translate("Rebates.Contract") <span class="required">*</span></th>
                                        @if (Model.AdminAccess)
                                        {
                                            <th class="col-xs-2">@TranslationsLib.Translate("Rebates.RejectionReason") <span class="required"></span></th>
                                        }
                                        <th>@TranslationsLib.Translate("Rebates.ContractName") @{if (!Model.AdminAccess){<span class="required">*</span>}}</th>
                                        <th>@TranslationsLib.Translate("Rebates.CustomerNotes")</th>
                                        <th>@TranslationsLib.Translate("Shared.DeleteButton")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var hidden = "display: none";
                                        int index = 0;
                                        var read_only = Model.Rebate.ReadOnly ? "readonly" : "";
                                        foreach (RebateItemDTO item in Model.NewRebateItems)
                                        {
                                            <tr class="rebate-item newItem" style="@hidden">
                                                <td>
                                                    <input @read_only type="text" class="form-control key-event" name="RebateItemDTOs[100].SCA_Product_ID" value="@item.SCA_Product_ID" />
                                                </td>
                                                <td>
                                                    <input @read_only type="text" class="form-control key-event" name="RebateItemDTOs[100].Quantity_Claimed" value="@item.Quantity_Claimed" />
                                                </td>
                                                <td>
                                                    <input @read_only type="text" class="form-control key-event" name="RebateItemDTOs[100].Contract_Number" value="@item.Contract_Number" />
                                                </td>
                                                @if (Model.AdminAccess)
                                                {
                                                    <td>
                                                        <select @read_only name="RebateItemDTOs[100].Rejection_Reason" style="width: 100%" id="Rejection_Reason" data-placeholder="@TranslationsLib.Translate("Rebates.RejectionReason")">
                                                            <option></option>
                                                            @foreach (Tuple<string, string> rejectionReason in Model.RejectionReasons)
                                                            {
                                                                string selected_val = rejectionReason.Item1 == item.Rejection_Reason ?  "selected" : String.Empty;
                                                                <option value="@rejectionReason.Item1" @selected_val>@rejectionReason.Item2</option>
                                                            }
                                                        </select>
                                                    </td>
                                                }
                                                <td>
                                                    <input @read_only type="text" class="form-control key-event" name="RebateItemDTOs[100].Contract_Name" value="@item.Contract_Name" />
                                                </td>
                                                <td>
                                                    <input @read_only type="text" class="form-control key-event" name="RebateItemDTOs[100].Customer_Notes" value="@item.Customer_Notes" />
                                                    <input type="hidden" name="RebateItemDTOs[100].Line_Item_Number" value="@item.Line_Item_Number" />
                                                </td>
                                                <td>
                                                    @if (!Model.Rebate.ReadOnly) { 
                                                        <input type="checkbox" id="box_@index" class="form-control" name="RebateItemDTOs[100].Delete" />
                                                        <label for="box_@index" class="text-center"></label>
                                                    }
                                                </td>
                                            </tr>
                                            hidden = String.Empty;
                                            index++;
                                        }}
                                </tbody>

                            </table>
                            @if (!Model.Rebate.ReadOnly) {
                            <p class="text-right"><a id="addMoreItems" class="u-bold u-cursorPointer">@TranslationsLib.Translate("Rebates.AddMoreItems")</a></p>
                            }

                        </div>
                    </div>
                }
                <div class="row mt-0-2em mb-1em">
                    <div class="col-xs-6">
                        <div class="btn-group m-0 pl-0 rebate-items-filter" data-tabs>
                            <a class="btn btn-primary filter-option" data-filter="all">@TranslationsLib.Translate("Rebates.AllClear")</a>
                            <a class="btn btn-default filter-option" data-filter="error">@TranslationsLib.Translate("Rebates.Error")</a>
                    </div>
                    </div>
                    <div class="col-xs-6">
                        <input type="button" id="addItemsToContractsBtn" class="btn btn-primary pull-right" value="@TranslationsLib.Translate("Rebates.AddItemsToContracts")" />
                    </div>
                </div>
            </div>
        </div>
        <div id="contracts-list" class="collapsibles tabular-panels">
            @{
                int CRindex = -1;
                foreach (ContractRebateDTO cr in Model.Rebate.ContractRebates)
                {
                    CRindex++;
                    var test = cr.RebateItems;
                    var rejectedItems = cr.RebateItems.Any(s => !String.IsNullOrEmpty(s.Rejection_Reason) && s.Rejection_Reason.StartsWith("E")) ? true : false;
                    var CRiconSymbol = rejectedItems ? "icon-exclamation" : "icon-checkbox";
                    <div class="panel panel-default" data-filter="@(rejectedItems ? "error" : "")">
                        <div class="panel-toggler" data-toggle="collapse" data-target="#contract-@cr.Contract_Number" data-parent="#contracts-list">
                            <span class="icon toggle-icon icon-plus"></span>
                            <div class="panel-header">
                                <span class="contract">@Model.ContractLabel: @cr.Contract_Number</span>
                                <div class="customer-account"><span class="u-bold">@Model.AccountLabel: </span> @cr.Enduser_Name @cr.Enduser_Location</div>
                                <span class="icon status-icon @CRiconSymbol"></span>
                                <input type="hidden" name="ContractRebates[@CRindex].Contract_Number" value="@cr.Contract_Number" />
                            </div>
                        </div>
                        <div id="contract-@cr.Contract_Number" class="collapse panel-content spinLikeTable">
                            <div></div>
                        </div>
                    </div>
                }}
        </div>
    </form>
</div>
