﻿@using TorkExtranet.Models.DTOs
@using TorkExtranet

@model TorkExtranet.Models.ViewModels.RebateSearchResultPartial

@if (Model.Rebates.Count > 0)
{
    <table class="table panel-table Sort">
        <thead class="u-cursorPointer">
            <tr class="table-head">
                @foreach (TableColumnSpecification c in Model.Columns)
                {
                    <th class="@c.ClassName Sort-header">
                        <span class="Sort-label">@c.DisplayName <span class="Sort-icon"></span></span>
                    </th>
                }
                <th class="icons">&nbsp;</th>
            </tr>
        </thead>
        <tbody class="u-cursorPointer">
            @foreach (RebateDTO rebate in Model.Rebates)
            {
                <tr class="rebate item" data-rebate-number="@rebate.Rebate_Number">
                    @foreach (TableColumnSpecification c in Model.Columns)
                    {
                        <td class="@c.ClassName" data-sorting-value="@c.GetSortingValue(Model.DbContext, rebate)">
                            @c.GetPropertyValue(Model.DbContext, rebate)
                        </td>
                    }

                    <td class="Settings-container">
                        <div class="Settings-group">
                            <a class="icon icon-cog u-cursorPointer" title="@TranslationsLib.Translate("Shared.ShowDetails")"></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.NoResults)
{
    <p>@TranslationsLib.Translate("Shared.NoResults")</p>
}
