﻿@using TorkExtranet.Models;
@using TorkExtranet;

@model TorkExtranet.Models.ViewModels.RebatesViewModel

@{
    ViewBag.Title = ToolLib.GetTranslatedNameForTool(ToolLib.REBATES_TOOL);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SectionId = "rebates-module";
    ViewBag.WhatIsThisText = TranslationsLib.Translate("Shared.RebatesWhatIsThis");
}

<div class="content-container u-colorGray control-module">
    <form id="rebates-form" class="exclude-from-confirm" novalidate autocomplete="off">
        <div class="row">
            <div class="col-xs-6">
                <div class="row form-group">
                    <div class="col-xs-12">
                        <label for="sold-to">@TranslationsLib.Translate("Rebates.SoldTo") : <span class="mandatory">*</span></label>
                        <select name="soldTo" class="form-control" style="width: 100%" id="sold-to" data-placeholder="@TranslationsLib.Translate("Rebates.SoldTo")" required>
                            <option></option>
                            @foreach (Tuple<int, string> soldTo in Model.SoldTos)
                            {
                                string selected_val = "";
                                if (Model.DefaultAccount != null && soldTo.Item1 == Model.DefaultAccount.id)
                                {
                                    selected_val = "selected";
                                }
                                <option value="@soldTo.Item1" @selected_val>@soldTo.Item2</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row form-group">
                    <div class="col-xs-6">
                        <label for="invoice-date-from">@TranslationsLib.Translate("Rebates.ShippingStartDate") : <span class="mandatory">*</span></label>
                        <div class="datepicker-container">
                            <input class="datepicker form-control" type="text" name="ShippingStartDate" value="@DateTime.Now.AddMonths(-1).ToShortDateString()" id="shipping-date-from" required>
                                <span class="datepicker-icon icon-calendar"></span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label for="invoice-date-to">@TranslationsLib.Translate("Rebates.ShippingEndDate") : <span class="mandatory">*</span></label>
                            <div class="datepicker-container">
                            <input class="datepicker form-control" type="text" name="ShippingEndDate" value="@DateTime.Now.AddMonths(1).ToShortDateString()" id="shipping-date-to" required>
                                <span class="datepicker-icon icon-calendar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="gray" />

            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="alert formError alert-danger">
                        <span class="align-icon-left icon-exclamation"></span>
                        @TranslationsLib.Translate("Shared.PleaseCheckInput")
                    </div>
                <div class="alert backEndErrors mt-0-75em alert-danger"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @if (Model.AdminAccess) {
                    <a id="maintenance-btn" class="btn btn-default u-cursorPointer">@TranslationsLib.Translate("Rebates.Maintenance")</a>
                    }
                    <input id="rebates-search-btn" class="btn btn-primary pull-right" type="submit" value="@TranslationsLib.Translate("Shared.Search")" />
                </div>
            </div>
        </form>
    </div>

    <div>
        <div class="search-result spinLikeTable">
        </div>

        <div class="tork-pagination" id="search-rebates-pagination" data-items-per-page="@Search.DefaultPageSize" data-previous-text="@TranslationsLib.Translate("Shared.Previous")" data-next-text="@TranslationsLib.Translate("Shared.Next")">
    </div>
</div>

@section Modals {
    <!-- Rebate details modal-->
    <div class="modal wide extra-wide fade" id="rebate-details" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="rebatedetailscontent">
                <div class="modal-header">
                    <a class="close"><span class="icon-times"></span></a>
                    <h4 class="modal-title" id="newLabel">@TranslationsLib.Translate("Rebates.RebateDetails")</h4>
                </div>

                <div class="modal-body">
                    <div class="rebate-details-content"></div>
                    <div class="tork-pagination" id="rebate-contracts-list-pagination" data-items-per-page="@Search.DefaultPageSize" data-previous-text="@TranslationsLib.Translate("Shared.Previous")" data-next-text="@TranslationsLib.Translate("Shared.Next")">
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-12 text-left">
                            <input type="button" class="cancel-form-modal btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Rebates.CloseButton")" />
                            <input type="button" id="PrintRebateDetails" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.Print")" />
                            <input type="button" id="downloadRebateClaims" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Shared.Download")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.AdminAccess) {
        <!-- Maintenance modal-->
        <div class="modal fade" id="maintenance" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close"><span class="icon-times"></span></a>
                        <h4 class="modal-title">@TranslationsLib.Translate("Rebates.Maintenance")</h4>
                    </div>

                    <div class="modal-body">
                        <div class="maintenance-content">
                            <h3 class="mt-15px">@TranslationsLib.Translate("Rebates.ExportSelection")</h3>
                            <div class="row form-group">
                                <form id="export-range" class="u-transitionNone" autocomplete="off">
                                    <div class="col-xs-3 form-group">
                                        <input type="button" class="btn btn-primary" id="export-range-btn" value="@TranslationsLib.Translate("Rebates.ExportSelection")" />
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <input class="form-control pull-left" type="text" name="soldTo" value="" id="soldTo" placeholder="@TranslationsLib.Translate("Rebates.SoldToNumber")">
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <input class="form-control pull-left" type="text" name="rebateNumber" value="" id="rebateNr" placeholder="@TranslationsLib.Translate("Rebates.RebateNumber")">
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <input class="form-control pull-left" type="text" name="status" value="" id="status" placeholder="@TranslationsLib.Translate("Rebates.Status")">
                                    </div>
                                </form>
                            </div>
                            <hr class="gray" />
                            <h3>@TranslationsLib.Translate("Rebates.DeleteSingle")</h3>
                            <div class="row form-group">
                                <form id="delete-rebate" class="u-transitionNone" autocomplete="off">
                                    <div class="col-xs-3 form-group">
                                        <input type="submit" class="btn btn-primary pull-left" id="delete-rebate-btn" value="@TranslationsLib.Translate("Rebates.DeleteSingle")" />
                                    </div>
                                    <div class="col-xs-9 form-group">
                                        <input class="form-control pull-left" type="text" name="rebateNumber" value="" id="rebateNumber" placeholder="@TranslationsLib.Translate("Rebates.RebateNumber")" required>
                                    </div>
                                </form>
                            </div>
                            <div class="alert formSuccess mt-0-75em alert-success">
                                <span class="align-icon-left icon-checkbox"></span>
                                @TranslationsLib.Translate("Shared.ChangesSaved")
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group row">
                            <div class="col-xs-12 text-left">
                                <input type="button" class="cancel-form-modal disable-form-confirm btn btn-default u-cursorPointer" value="@TranslationsLib.Translate("Rebates.CloseButton")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    <script src="~/Content/scripts/controllers/rebates-controller.js?v=@AppVersion.Current"></script>
<script src="~/Content/scripts/plugins/print.js?v=@AppVersion.Current"></script>
}