﻿@{
    Layout = null;
}
@model TorkExtranet.Models.CustomerSpecificCatalog
@using MASDP.AFH.TorkConnect.DTO.PIM

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset='utf-8'>
    <base href='file:///@Model.BaseHref'>
    <link rel='stylesheet' href='stylesheets/brochure.css'>
    <link rel='stylesheet' href='stylesheets/brochure_override.css'>
</head>
<body>
    <div class='a4 combined firstPage'>
        <div class='headline'>
            @Model.Headline<br>
            <div class='companyName'>@Model.CustomerCompany</div>
            <div class='dateAndName'>
                @if (Model.IncludeDate)
                {
                    if (!string.IsNullOrEmpty(Model.CustomerName))
                    {
                        @String.Format("{0}{1}", DateTime.Now.ToShortDateString(), ",");
                    }
                    else
                    {
                        @String.Format("{0}", DateTime.Now.ToShortDateString());
                    }
                }
                @Model.CustomerName
            </div>
        </div>
        <div class='imagesContainer'>
            <div class='leftColumn'>
                <div class='mainImage' style='background-image: url("@Model.FrontPageMainImageName");'></div>
            </div>
            <div class='rightColumn'>
                <div class='topRightImage' style='background-image: url("@Model.FrontPageTopRightImageName");'></div>
                <div class='bottomRightImage' style='background-image: url("@Model.FrontPageBottomRightImageName");'></div>
                <div class='getInTouchContainer'>
                    <div class='getInTouch'>
                        @TranslationsLib.Translate("CustomerSpecificCatalog.GetInTouch"):<br><br>
                        @if (!String.IsNullOrWhiteSpace(Model.ContactName))
                        {
                            @Model.ContactName<br>
                        }
                        @if (!String.IsNullOrWhiteSpace(Model.ContactCompany))
                        {
                            @Model.ContactCompany<br>
                        }
                        @if (!String.IsNullOrWhiteSpace(Model.ContactBusinessPhone))
                        {
                            @TranslationsLib.Translate("Shared.BusinessPhone")<span>:</span><br />@Model.ContactBusinessPhone<br>
                        }
                        @if (!String.IsNullOrWhiteSpace(Model.ContactMobilePhone))
                        {
                            @TranslationsLib.Translate("Shared.MobilePhone")<span>:</span><br />@Model.ContactMobilePhone<br>
                        }
                        @if (!String.IsNullOrWhiteSpace(Model.ContactEmail))
                        {
                            @TranslationsLib.Translate("Shared.Email")<span>:</span><br>@Html.Raw(Model.ContactEmail.Replace("@", "<wbr>@"))<br>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='a4 combined content'>
        <div class='wrapper'>
            <div class='introductionHeader'>@TranslationsLib.Translate("CustomerSpecificCatalog.IntroductionHeader")</div>
            <div class='introductionBody'>@Html.Raw(TranslationsLib.Translate("CustomerSpecificCatalog.IntroductionBody"))</div>
            @if (Model.ProductMainCategories != null && Model.ProductMainCategories.Count > 0)
            {
                foreach (TorkExtranet.Models.CustomerSpecificCatalog.ProductMainCategory main_category in Model.ProductMainCategories)
                {
                    var products = main_category.Products;
                    if (products != null && products.Count > 0)
                    {
                        for (int i = 0; i < products.Count; i++)
                        {
                            bool first_product = i == 0;
                            bool last_product = i == products.Count - 1;
                            bool first_pair = i <= 1;
                            bool first_in_pair = i % 2 == 0;
                            bool last_in_pair = !first_in_pair || last_product;
                            bool first_product_in_last_pair = first_in_pair && i >= products.Count - 2;

                            var product = products[i];
                            string not_last = "not-last";

                            if (first_product)
                            {
                                @Html.Raw("<div class='no-break'>");
                                <div class='productListHeader'>@main_category.Name</div>
                            }

                            if (first_product_in_last_pair)
                            {
                                not_last = "";
                            }

                            if (first_in_pair)
                            {
                                @Html.Raw(String.Format("<div class='productListItem {0}'>", not_last));
                            }

                            <div class='productContainer'>
                                <div class='productImageContainer'>
                                    <img src='@product.ResolvedThumbnailImageURL(true, false)'>
                                </div>
                                <div class='productDescriptionContainer'>
                                    <div class='productName'>@product.Name</div>
                                    <div>
                                        @TranslationsLib.Translate("Shared.Article"): @product.BaseNumber<br>
                                        @TranslationsLib.Translate("Shared.EAN"): @product.EAN<br>

                                        @if (Model.IncludeSkuNumber && Model.CanAccessProductTranslator && !String.IsNullOrWhiteSpace(product.SkuNumber))
                                        {
                                            @(TranslationsLib.Translate("Shared.SKUNumber") + ": " + product.SkuNumber)<br>
                                        }

                                        @if (!String.IsNullOrWhiteSpace(product.Description))
                                        {
                                            <br>@product.Description
                                        }
                                    </div>
                                    <div class="productUSP">
                                        @Html.Raw(@product.UniqueSellingPoint)
                                    </div>
                                    <div class="productCertifications">
                                        @if (product.EnvironmentalIcons.Count > 0)
                                        {
                                            for (int j = 0; j < product.EnvironmentalIcons.Count; j++)
                                            {
                                                var icon = product.EnvironmentalIcons[j];
                                                <img src="@icon" />
                                            }
                                        }
                                    </div>
                                    @if (product.Benefits != null && product.Benefits.Count > 0)
                                    {
                                        <ul>
                                            @foreach (var benefit in product.Benefits)
                                            {
                                                <li>@benefit.Name</li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <br>
                                    }
                                </div>
                            </div>

                            if (last_in_pair)
                            {
                                @Html.Raw("</div>");
                            }

                            if (first_pair && last_in_pair)
                            {
                                @Html.Raw("</div>");
                            }
                        }
                    }
                }

                <div class='productsTableContainer'>
                    @if (Model.IsValidDispenserContract || Model.IsPriceAvailable)
                    {
                        <div class="paddingleft18">@TranslationsLib.Translate("Shared.PriceDisclaimerText")</div>
                    }
                    @if (Model.IsValidDispenserContract)
                    {
                        <div>* &nbsp;@TranslationsLib.Translate("Shared.DispenserDisclaimerText")</div>
                    }
                    @foreach (TorkExtranet.Models.CustomerSpecificCatalog.ProductMainCategory main_category in Model.ProductMainCategories)
                    {
                        if (main_category.SubCategories != null && main_category.SubCategories.Count > 0)
                        {
                            <div class='tableContainer'>
                                @if (!String.IsNullOrWhiteSpace(main_category.Name))
                                {
                                    <div class='tableHeader'>@main_category.Name</div>
                                }
                                @foreach (TorkExtranet.Models.CustomerSpecificCatalog.ProductSubCategory sub_category in main_category.SubCategories)
                                {
                                    if (sub_category.Columns != null && sub_category.Columns.Count > 0 && sub_category.Rows != null && sub_category.Rows.Count > 0)
                                    {
                                        <table>
                                            @if (!String.IsNullOrWhiteSpace(sub_category.Name))
                                            {
                                                <thead class='specification-summary'>
                                                    <tr>
                                                        <th style="width: 100%;" colspan="@sub_category.Columns.Count">@sub_category.Name</th>
                                                    </tr>
                                                    <tr class='secondaryHeader'>
                                                        @foreach (TorkExtranet.Models.CustomerSpecificCatalog.ProductTableColumn column in sub_category.Columns)
                                                        {
                                                            int colspan = column.Colspan < 1 ? 1 : column.Colspan;
                                                            string width = String.IsNullOrWhiteSpace(column.Width) ? "auto" : column.Width;
                                                            <td colspan='@colspan' style='width:@width; overflow:hidden;'>@column.Name</td>
                                                        }
                                                    </tr>
                                                </thead>
                                            }
                                            <tbody>
                                                @foreach (List<TorkExtranet.Models.CustomerSpecificCatalog.ProductTableColumn> row in sub_category.Rows)
                                                {
                                                    if (row != null && row.Count > 0)
                                                    {
                                                        <tr>
                                                            @foreach (TorkExtranet.Models.CustomerSpecificCatalog.ProductTableColumn column in row)
                                                            {
                                                                int colspan = column.Colspan < 1 ? 1 : column.Colspan;
                                                                <td colspan='@colspan' class='@column.Class' style='overflow:hidden;'>@column.Name</td>
                                                            }
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                }
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
    <div class='a4 combined lastPage'>
        <div class='leftColumn'>
            <div class='backImageContainer' style='background-image: url("@Model.LastPageImageName");'></div>
            <div class='brochureDescriptionContainer'>
                <hr class='blueDotted'>
                @if (Model.BrandInformation != null)
                {
                        <img class='scaLogo' src='@Model.BrandInformation.BrandLogoPdf'/>
                }
                <div class='scaDescription'>
                    @Html.Raw(TranslationsLib.Translate("CustomerSpecificCatalog.FooterInfo"))
                </div>
                <div class='website'>@Model.CurrentWebsite</div>
            </div>
        </div>
        <div class='rightColumn'>
            <div class='getInTouchContainer'>
                <div class="staticFiller">not to be shown</div>
                <div class='getInTouchHeader'>
                    @Html.Raw(TranslationsLib.Translate("CustomerSpecificCatalog.GetInTouch").Replace(" ", "<br>")):
                </div>
                <div class='getInTouchBody'>
                    @if (!String.IsNullOrWhiteSpace(Model.ContactName))
                    {
                        @Model.ContactName<br>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.ContactCompany))
                    {
                        @Model.ContactCompany<br>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.ContactBusinessPhone))
                    {
                        @TranslationsLib.Translate("Shared.BusinessPhone")<span>:</span><br />@Model.ContactBusinessPhone<br>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.ContactMobilePhone))
                    {
                        @TranslationsLib.Translate("Shared.MobilePhone")<span>:</span><br />@Model.ContactMobilePhone<br>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.ContactEmail))
                    {
                        @TranslationsLib.Translate("Shared.Email")<span>:</span><br>@Html.Raw(Model.ContactEmail.Replace("@", "<wbr>@"))<br>
                    }

                    @if (!String.IsNullOrWhiteSpace(Model.ContactWebsite))
                    {
                        @TranslationsLib.Translate("Shared.Website")<span>:</span><br>@Model.ContactWebsite<br>
                    }
                </div>
            </div>
            <div class='torkDescriptionContainer'>
                <div class='torkDescription'>@TranslationsLib.Translate("CustomerSpecificCatalog.TorkDescription")</div>
            </div>
        </div>
    </div>
</body>
</html>
