﻿@{
    Layout = null;
}
@model TorkExtranet.Models.DetailedProductDataSheet
@using MASDP.AFH.TorkConnect.DTO.PIM
@using MASDP.AFH.TorkConnect.DTO.ProductLists

@{
    var pdfBrandLogo = string.Empty;
    if (Model.BrandInformation != null)
    {
        pdfBrandLogo = Model.BrandInformation.BrandLogoPdf;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset='utf-8'>
    <base href='file:///@Model.BaseHref'>
    <link rel='stylesheet' href='stylesheets/product_sheet_print.css'>
    <link rel='stylesheet' href='stylesheets/product_sheet_print_override.css'>
</head>
<body>
    <div class="a4 firstpage">
        <table cellspacing="0" cellpadding="0" border="0" class="main">
            <tr>
                <td valign="top" class=" logo">
                    <img src="images/tork-logo.png" class="image-render">
                </td>
                <td align="right" valign="top" class="system-title split-right">
                    @{
                        var systems = new List<string>();
                        foreach (var system in Model.Product.ProductSystems)
                        {
                            var category = Model.AllProductCategories.FirstOrDefault(c => c.CategoryCode == system);
                            if (category != null)
                            {
                                systems.Add(category.CategoryDisplayName);
                            }
                        }
                        var systemName = systems.Count > 0 ? String.Join(", ", systems.OrderBy(s => s)) : "";
                    }
                    @if (!Model.CustomerLogo)
                    {
                        <span><b>@systemName</b></span>
                    }
                </td>
            </tr>
            <tr>
                <td valign="top" class="product-title" colspan="2">
                    <h1>@Model.Product.Name</h1>
                    <span class="product-color"></span>
                </td>
            </tr>
            <tr>
                <td class="split-left product-image" valign="middle" align="center">
                    <img src="@Model.Product.ResolvedLargeImageURL(true, false)">
                </td>
                <td class="background-core-cyan split-right specification" valign="top">
                    <table>
                        <tbody>
                            <tr>
                                <td valign="top"><span class="title">@TranslationsLib.Translate("DetailedProductDataSheet.Article")</span></td>
                                <td valign="top"><span class="value">@Model.Product.BaseNumber</span></td>
                            </tr>
                            @if (Model.IncludeSkuNumber && Model.CanAccessProductTranslator && !String.IsNullOrWhiteSpace(Model.Product.SkuNumber))
                            {
                                <tr>
                                    <td valign="top"><span class="title">@TranslationsLib.Translate("Shared.SKUNumber")</span></td>
                                    <td valign="top"><span class="value">@Model.Product.SkuNumber</span></td>
                                </tr>
                            }
                            @if (Model.CanAccessAddPrice && !string.IsNullOrEmpty(Model.Product.ProductPrice))
                            {
                                <tr>
                                    <td valign="top"><span class="title">@TranslationsLib.Translate("Shared.ProductPrice") (@Model.CurrencySymbol) </span></td>
                                    <td valign="top"><span class="value">@Model.Product.ProductPrice</span></td>
                                </tr>
                            }
                            else if (Model.Product.IsDispenserContract && string.IsNullOrEmpty(Model.Product.ProductPrice))
                            {
                                <tr>
                                    <td valign="top"><span class="title">@TranslationsLib.Translate("Shared.ProductPrice") (@Model.CurrencySymbol) </span></td>
                                    <td valign="top"><span class="value">*</span></td>
                                </tr>
                            }

                            @foreach (var detail in Model.ProductDetails)
                            {
                                if (@detail.Item1.Equals("Material"))
                                {
                                    <tr>
                                        <td valign="top"><span class="title">@detail.Item1</span></td>
                                        <td valign="top"><span class="value">@detail.Item2</span></td>
                                    </tr>
                                }
                            }
                            @if (!string.IsNullOrEmpty(systemName))
                            {
                                <tr>
                                    <td valign="top"><span class="title">@TranslationsLib.Translate("DetailedProductDataSheet.System")</span></td>
                                    <td valign="top"><span class="value">@systemName</span></td>
                                </tr>
                            }
                            @if (!string.IsNullOrEmpty(Model.Product.Color))
                            {
                                <tr>
                                    <td valign="top"><span class="title">@TranslationsLib.Translate("DetailedProductDataSheet.Colour")</span></td>
                                    <td valign="top"><span class="value">@Model.Product.Color</span></td>
                                </tr>
                            }
                            @foreach (var detail in Model.ProductDetails)
                            {
                                if (!@detail.Item1.Equals("Material"))
                                {
                                    <tr>
                                        <td valign="top"><span class="title">@detail.Item1</span></td>
                                        <td valign="top"><span class="value">@detail.Item2</span></td>
                                    </tr>
                                }

                            }

                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="background-core-cyan-20 split-left introduction" valign="top">
                    <p class="lead">
                        @Model.Product.Description
                    </p>
                </td>
                <td class="background-core-cyan-20 split-right sidebar" rowspan="2" valign="top">
                    @if (Model.Product.Benefits.Count > 0)
                    {
                        <div class="key-benefits">
                            <strong>@TranslationsLib.Translate("DetailedProductDataSheet.KeyBenefits"):</strong>
                            <ul>
                                @foreach (var benefit in Model.Product.Benefits)
                                {
                                    <li>- @benefit.Name</li>
                                }
                            </ul>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Product.UniqueSellingPoint))
                    {
                        <p class="lead">
                            @Html.Raw(@Model.Product.UniqueSellingPoint)
                        </p>
                    }
                </td>
            </tr>
        </table>
        @if (Model.Product.IsDispenserContract || !String.IsNullOrWhiteSpace(Model.Product.ProductPrice))
        {
            <div class="footer-wrapper paddingleft18">@TranslationsLib.Translate("Shared.PriceDisclaimerText")</div>
        }
        @if (Model.Product.IsDispenserContract)
        {
            <div>*&nbsp; @TranslationsLib.Translate("Shared.DispenserDisclaimerText")</div>
        }
    </div>

    <div class="a4 secondpage">
        @{
            var className = "";
        }
        @if (!Model.ShowEnvInformation)
        {
            className = "contact-info";
            <div style="height:auto">
                <table cellspacing="0" cellpadding="0" border="0" class="main width100">
                    <tr>
                        <td valign="top" class="system-title">
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="right" valign="top" class="system-title split-right">
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="split-left full-specifications" valign="top" rowspan="2">
                            <table class="with-border-bottom table-one">
                                <thead class="specification-summary">
                                    <tr>
                                        <th colspan="2" align="left" valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.ShippingData")</th>
                                        <th>
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr class="specification-titles">
                                        <th></th>
                                        <th align="left" valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.ConsumerUnit")</th>
                                        <th align="left" valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.TransportUnit")</th>
                                        <th align="left" valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.Pallet")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td valign="top">@TranslationsLib.Translate("Shared.EAN")</td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.ConsumerUnit.EAN)
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.TransportUnit.EAN)
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.Pallet.EAN)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.Pieces")</td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.ConsumerUnit.Pieces)
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.TransportUnit.Pieces)
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.Pallet.Pieces)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.ConsumerUnits")</td>
                                        <td valign="top">@Html.Raw("-")</td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.TransportUnit.ConsumerUnits)
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.Pallet.ConsumerUnits)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.Height")</td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsConsumerHeight))
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsTransportHeight))
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsPalletHeight))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.Width")</td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsConsumerWidth))
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsTransportWidth))
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsPalletWidth))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.Length")</td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsConsumerLength))
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsTransportLength))
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsPalletLength))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.Volume")</td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsConsumerVolume))
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsTransportVolume))
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsPalletVolume))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.NetWeight")</td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsConsumerNetWeight))
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsTransportNetWeight))
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsPalletNetWeight))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.GrossWeight")</td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsConsumerGrossWeight))
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsTransportGrossWeight))
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.GetValueFromTag(ProductListDataFieldTags.LogisticsPalletGrossWeight))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.Material")</td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.ConsumerUnit.PackingMaterial)
                                        </td>
                                        <td valign="top">
                                            @Model.DataValidationForPDF(Model.Product.TransportUnit.PackingMaterial)
                                        </td>
                                        <td valign="top">@Html.Raw("-")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="split-right sidebar sidebar-white" valign="top">
                            <table>
                                <tr>
                                    <td valign="top" class="sidebar-td">
                                        <div class="more-range sidebar-item">
                                            @{
                                                var choose_string = "";

                                                bool isValidNapkinHeader = false;

                                                foreach (ProductCategory productCategory in Model.Product.Categories)
                                                {
                                                    foreach (string napkinText in Model.NapkinHeaderCategories)
                                                    {
                                                        if (productCategory.Code.ToLower().Contains(napkinText))
                                                        {
                                                            isValidNapkinHeader = true;
                                                            break;
                                                        }
                                                    }
                                                    if (isValidNapkinHeader)
                                                    {
                                                        break;
                                                    }
                                                }

                                                if (isValidNapkinHeader)
                                                {
                                                    choose_string = TranslationsLib.Translate("DetailedProductDataSheet.CoordinatingNapkinsTableware");
                                                }
                                                else
                                                {
                                                    choose_string = TranslationsLib.Translate("DetailedProductDataSheet.ChooseRefill");
                                                    if (Model.Product.IsRefill)
                                                    {
                                                        choose_string = TranslationsLib.Translate("DetailedProductDataSheet.ChooseDispenser");
                                                    }
                                                }
                                            }
                                            @if (Model.RelatedProducts.Count > 0)
                                            {
                                                <strong>@choose_string</strong>
                                                <table>
                                                    <tr>
                                                        @for (int i = 0; i < Model.RelatedProducts.Count; i++)
                                                        {
                                                            var product = Model.RelatedProducts[i];
                                                            <td valign="bottom">
                                                                <img src="@product.ResolvedThumbnailImageURL(true, false)" />
                                                                <strong>@product.BaseNumber</strong>
                                                            </td>
                                                        }
                                                        @for (int i = Model.RelatedProducts.Count; i < 3; i++)
                                                        {
                                                            <td></td>
                                                        }
                                                    </tr>
                                                </table>
                                            }

                                            @if (Model.AlternateProducts.Count > 0)
                                            {
                                                <strong>@TranslationsLib.Translate("DetailedProductDataSheet.AlternateProducts")</strong>
                                                <table>
                                                    <tr>
                                                       
                                                        @for (int i = 0; i < Model.AlternateProducts.Count; i++)
                                                        {
                                                            var product = Model.AlternateProducts[i];
                                                            <td valign="bottom">
                                                                <img src="@product.ResolvedThumbnailImageURL(true, false)" />
                                                                <strong>@product.BaseNumber</strong>
                                                            </td>
                                                        }
                                                        @for (int i = Model.AlternateProducts.Count; i < 3; i++)
                                                        {
                                                            <td></td>
                                                        }
                                                    </tr>
                                                </table>
                                            }
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" class="sidebar-td">
                                        <div class="product-certifications sidebar-item">
                                            @if (Model.Product.Icons.Count > 0)
                                            {
                                                <strong>@TranslationsLib.Translate("DetailedProductDataSheet.ProductCertifications"):</strong>
                                                for (int i = 0; i < Model.Product.Icons.Count; i++)
                                                {
                                                    var icon = Model.Product.Icons[i];
                                                    <img src="@icon" />
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
                                                }
        @if (Model.Product.EnvironmentalRedesignData.Count > 0)
        {
            className = "contact-info-env";
            <div style="height:auto">
                <table cellspacing="0" cellpadding="0" border="0" class="main width100">
                    <tr>
                        <td align="right" valign="top" class="system-title split-right">
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="split-left full-specifications" valign="top" rowspan="2">
                            <table class="with-border-bottom table-one  main width100">
                                <thead class="specification-summary">
                                    <tr>
                                        <th colspan="2" align="left" valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.Environmental")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var redesign in Model.Product.EnvironmentalRedesignData)
                                    {
                                        <tr>
                                            <td valign="top">@Html.Raw(redesign.Header)</td>
                                            @if (Model.Product.EnvironmentalInformation != null)
                                            {
                                                <td valign="top">@Html.Raw(redesign.Contents)</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        }

        @if (!Model.IsSkinCareDataAvailable || Model.ShowEnvInformation)
        {
            <div class=@className>
                <table cellspacing="0" cellpadding="0" border="0" class="main body-contact-info">
                    <tr>
                        <td valign="bottom">
                            <div class="sidebar-item">
                                <p>
                                    <strong>@TranslationsLib.Translate("HeaderFooter.ContactLabel")</strong>
                                    <br />
                                    @*Added Contact Info into Detailed Product Sheet Cosmos # 1535870*@
                                    @if (!String.IsNullOrWhiteSpace(Model.ContactName))
                                    {
                                        @Model.ContactName<br>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(Model.ContactCompany))
                                    {
                                        @Model.ContactCompany<br>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(Model.ContactBusinessPhone))
                                    {
                                        @TranslationsLib.Translate("Shared.BusinessPhone")<span>:</span><br />@Model.ContactBusinessPhone<br>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(Model.ContactMobilePhone))
                                    {
                                        @TranslationsLib.Translate("Shared.MobilePhone")<span>:</span><br />@Model.ContactMobilePhone<br>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(Model.ContactEmail))
                                    {
                                        @TranslationsLib.Translate("Shared.Email")<span>:</span><br>@Html.Raw(Model.ContactEmail.Replace("@", "<wbr>@"))
                                    }
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
    @if (Model.IsSkinCareDataAvailable && !Model.ShowEnvInformation)
    {
        <div id="skinCareDiv" class="secondpage" style="width:210mm">
            <div style="height:auto">
                <table cellspacing="0" cellpadding="0" border="0" class="main width100">
                    <tr>
                        <td align="right" valign="top" class="system-title split-right">
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="split-left full-specifications" valign="top" rowspan="2">
                            <table class="with-border-bottom table-one  main width100">
                                <thead class="specification-summary">
                                    <tr>
                                        <th colspan="5" align="left" valign="top">@TranslationsLib.Translate("DetailedProductDataSheet.SkinCareInfo")</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="background-core-cyan" style="height:38px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var redesign in Model.Product.SkinCareDesignData)
                                    {
                                        <tr>
                                            <td valign="top">@Html.Raw(redesign.Header)</td>
                                            @if (Model.Product.SkinCareInformation != null)
                                            {
                                                <td valign="top">@Html.Raw(redesign.Contents)</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        if (Model.IsSkinCareTestDataAvailable)
        {
            <div class="a4 secondpage">
                <table class="width100">
                    <tr>
                        <td class="split-left full-specifications" rowspan="2">
                            @Html.Raw(Model.Product.SkinCareTestData)
                        </td>
                    </tr>
                </table>
                <div class="contact-info-env">
                    <table cellspacing="0" cellpadding="0" border="0" class="main body-contact-info">
                        <tr>
                            <td valign="bottom">
                                <div class="sidebar-item">
                                    <p>
                                        <strong>@TranslationsLib.Translate("HeaderFooter.ContactLabel")</strong>
                                        <br />
                                        @if (!String.IsNullOrWhiteSpace(Model.ContactName))
                                        {
                                            @Model.ContactName<br>
                                        }
                                        @if (!String.IsNullOrWhiteSpace(Model.ContactCompany))
                                        {
                                            @Model.ContactCompany<br>
                                        }
                                        @if (!String.IsNullOrWhiteSpace(Model.ContactBusinessPhone))
                                        {
                                            @TranslationsLib.Translate("Shared.BusinessPhone")<span>:</span><br />@Model.ContactBusinessPhone<br>
                                        }
                                        @if (!String.IsNullOrWhiteSpace(Model.ContactMobilePhone))
                                        {
                                            @TranslationsLib.Translate("Shared.MobilePhone")<span>:</span><br />@Model.ContactMobilePhone<br>
                                        }
                                        @if (!String.IsNullOrWhiteSpace(Model.ContactEmail))
                                        {
                                            @TranslationsLib.Translate("Shared.Email")<span>:</span><br>@Html.Raw(Model.ContactEmail.Replace("@", "<wbr>@"))
                                        }
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div style="float:right; clear:both; margin-right:35px; width:40%;">
                <table cellspacing="0" cellpadding="0" border="0" class="main body-contact-info" style="border-collapse:inherit">
                    <tr>
                        <td valign="bottom">
                            <div class="sidebar-item">
                                <p>
                                    <strong>@TranslationsLib.Translate("HeaderFooter.ContactLabel")</strong>
                                    <br />

                                    @if (!String.IsNullOrWhiteSpace(Model.ContactName))
                                    {
                                        @Model.ContactName<br>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(Model.ContactCompany))
                                    {
                                        @Model.ContactCompany<br>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(Model.ContactBusinessPhone))
                                    {
                                        @TranslationsLib.Translate("Shared.BusinessPhone")<span>:</span><br />@Model.ContactBusinessPhone<br>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(Model.ContactMobilePhone))
                                    {
                                        @TranslationsLib.Translate("Shared.MobilePhone")<span>:</span><br />@Model.ContactMobilePhone<br>
                                    }
                                    @if (!String.IsNullOrWhiteSpace(Model.ContactEmail))
                                    {
                                        @TranslationsLib.Translate("Shared.Email")<span>:</span><br>@Html.Raw(Model.ContactEmail.Replace("@", "<wbr>@"))
                                    }
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        }

    }
</body>
</html>
