﻿@model TorkExtranet.Models.InvoicePDF
@{ var invoice = Model.Invoice; }
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset='utf-8'>
    <base href='file:///@Model.BaseHref'>
    <link rel='stylesheet' href='stylesheets/invoice.css'>
</head>
<body>
    <p class="legalTextPDF">@TranslationsLib.Translate("Invoices.DownloadLegalText")</p>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@TranslationsLib.Translate("Invoices.InvoiceDetails")</h4>
                <table class="table smaller">
                    <tbody>
                        <tr>
                            <th>@TranslationsLib.Translate("Invoices.SCAOrderNumber"):</th>
                            <td>@invoice.SCA_Order_Number</td>
                        </tr>
                        <tr>
                            <th>@TranslationsLib.Translate("Invoices.InvoiceNumber"):</th>
                            <td>@invoice.Invoice_Number</td>
                        </tr>
                        <tr>
                            <th>@TranslationsLib.Translate("Invoices.InvoiceDate"):</th>
                            <td>@invoice.Invoice_DateString</td>
                        </tr>

                        <tr>
                            <th>@TranslationsLib.Translate("Invoices.InvoiceSoldToNumber"):</th>
                            <td>@invoice.Invoice_SoldToNumber</td>
                        </tr>
                        <tr>
                            <th class="u-verticalAlignTop">@TranslationsLib.Translate("Invoices.SoldToLabel"):</th>
                            <td class="u-verticalAlignTop">
                                @foreach (var addressLine in invoice.SoldToAddress)
                                {
                                    @Html.Raw(addressLine + "<br />");
                                }
                            </td>
                        </tr>
                        <tr>
                            <th class="u-verticalAlignTop">@TranslationsLib.Translate("Invoices.ShipToLabel"):</th>
                            <td class="u-verticalAlignTop">
                                @foreach (var addressLine in invoice.ShipToAddress)
                                {
                                    @Html.Raw(addressLine + "<br />");
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>@TranslationsLib.Translate("Invoices.PONumber"):</th>
                            <td>@invoice.PO_Number</td>
                        </tr>
                        <tr>
                            <th>@TranslationsLib.Translate("Invoices.PODate"):</th>
                            <td>@invoice.PO_DateString</td>
                        </tr>
                        <tr>
                            <th>@TranslationsLib.Translate("Invoices.NetValue"):</th>
                            <td>@invoice.Net_Value_String</td>
                        </tr>
                    </tbody>
                </table>
                <hr class="invisible" />
                <h3 class="modal-title">@TranslationsLib.Translate("Invoices.ItemDetail")</h3>
                <div class="enable-horizontal-overflow">
                    <table class="table smaller">
                        <thead>
                            <tr>
                                <th style="width: 52px;">@TranslationsLib.Translate("Invoices.ItemNumber")</th>
                                <th style="width: 90px;">@TranslationsLib.Translate("Invoices.SCAProductNumber")</th>
                                @if (Model.DisplayDistributorArticleNumber)
                                {
                                    <th style="width: 100px;">@TranslationsLib.Translate("Invoices.DistributorArticleNumber")</th>
                                }
                                <th>@TranslationsLib.Translate("Invoices.Description")</th>
                                <th class="text-right" style="width: 60px;">@TranslationsLib.Translate("Invoices.Quantity")</th>
                                <th class="text-right" style="width: 40px;">@TranslationsLib.Translate("Invoices.UOM")</th>
                                <th class="text-right">@TranslationsLib.Translate("Invoices.NetUnitPrice")</th>
                                <th class="text-right">@TranslationsLib.Translate("Invoices.ExtendedPrice")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in invoice.InvoiceItems)
                            {
                                <tr>
                                    <td>@item.ItemNumber</td>
                                    <td>@item.SCAProductNumber</td>
                                    @if (Model.DisplayDistributorArticleNumber)
                                    {
                                        <td>@item.DistributorArticleNumber</td>
                                    }
                                    <td>@item.Name</td>
                                    <td class="text-right">@item.Quantity</td>
                                    <td class="text-right">@item.UOM</td>
                                    <td class="text-right">@item.NetUnitPrice</td>
                                    <td class="text-right">@item.NetTotalPrice</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
