﻿@using MASDP.AFH.TorkConnect.DTO.TKAD
@using TorkExtranet.Models
@using TorkExtranet.Models.DTOs
@model TorkExtranet.Models.TKADNATemplate
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset='utf-8'>
    <base href='file:///@Model.BaseHref'>
    <link rel='stylesheet' href='stylesheets/tkad-na-agreement.css'>
</head>
<body class="us">
    <!-- Begin Header-->
    <div id="agreement-header" class="clearfix">
        <section id="title-and-heading">
            <img src="images/tork-logo-large.png" />
            <h1 class="agreement-heading">@Html.Raw(Model.SanitizedHeading)</h1>
            <h2>@Model.SubHeading</h2>
        </section>
        <section id="agreement-dates">
            <div>
                <span>@Model.StartDate</span>
                <span>@Model.AgreementData.EndCustomerAgreementStartDateToString()</span>
            </div>
            <div>
                <span>@Model.EndDate</span>
                <span>@Model.AgreementData.EndCustomerAgreementEndDateToString()</span>
            </div>
            <div>
                <span>@Model.AgreementNr</span>
                <span></span>
            </div>
            <div>
                <span>@Model.EndCustomerDistributorInformationTableEndCustomerNumber</span>
                <span></span>
            </div>
        </section>
    </div>

    <!-- End Header-->
    <!-- Begin Reimbursement Rates-->

    <h2>@Model.FirstParagraphHeading</h2>
    @Html.Raw(@Model.FirstParagraph)

    <h3>@Model.RatesTableHeading</h3>

    <table class="table" id="reimbursement-rates">
        <thead>
            <tr>
                <th class="dispenser-title">@Model.RatesTableDispenserColumnTitle</th>
                <th class="dispenser-rate">@Model.RatesTableRateColumnTitle</th>
                <th class="dispenser-title">@Model.RatesTableDispenserColumnTitle</th>
                <th class="dispenser-rate">@Model.RatesTableRateColumnTitle</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Math.Max(Model.RatesTableLeftColumn.Count, Model.RatesTableRightColumn.Count); i++)
            {
                <tr>
                    @if (i < Model.RatesTableLeftColumn.Count)
                    {
                        <td>@Model.RatesTableLeftColumn[i].Dispenser</td>
                        <td>@Model.RatesTableLeftColumn[i].Rate</td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    }
                    @if (i < Model.RatesTableRightColumn.Count)
                    {
                        <td>@Model.RatesTableRightColumn[i].Dispenser</td>
                        <td>@Model.RatesTableRightColumn[i].Rate</td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <h3>@Model.RatesTableFooter</h3>

    @Html.Raw(@Model.SecondParagraph)

    <!-- End Reimbursement Rates-->
    <!-- Begin Dispenser and Customer Information-->

    <div id="dispenser-and-customer-information" class="clearfix">
        <header class="clearfix">
            <h3 id="customer-information-title">@Model.EndCustomerDistributorInformationTableHeading</h3>
        </header>
    </div>
    <div id="customer-information">
        <div class="line">
            <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerName</span>
            <span class="value">@Model.AgreementData.EndCustomerCompanyName</span>
        </div>
        <div class="line">
            <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerContactName</span>
            <span class="value">@Model.AgreementData.EndCustomerName</span>
        </div>
        <div class="line">
            <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerTitle</span>
            <span class="value">@Model.AgreementData.EndCustomerTitle</span>
        </div>
        <div class="line">
            <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerAddress</span>
            <span class="value">@Model.AgreementData.EndCustomerAddressNA</span>
        </div>
        <div class="line">
            <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerCity</span>
            <span class="value">@Model.AgreementData.EndCustomerCity</span>
            <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerStateProvince</span>
            <span class="value">@Model.AgreementData.EndCustomerStateProvinceCountry</span>
            <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerZipCode</span>
            <span class="value">@Model.AgreementData.EndCustomerPostalCode</span>
        </div>
        <div class="line">
            <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerEmail</span>
            <span class="value">@Model.AgreementData.EndCustomerEmail</span>
        </div>
        <div class="line">
            <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerPhoneNumber</span>
            <span class="value">@Model.AgreementData.EndCustomerPhone</span>
        </div>
        <div class="line">
            <span class="label">@Model.EndCustomerDistributorInformationTableDistributorName</span>
            <span class="value">@Model.AgreementData.DistributorName</span>
        </div>
        <div class="line">
            <span class="label">@Model.EndCustomerDistributorInformationTableDistributorNumber</span>
            <span class="value">@Model.AgreementData.DistributorDataSoldTo</span>
        </div>
        <div class="line">
            <span class="label">@Model.EndCustomerDistributorInformationTableDistributorEmail</span>
            <span class="value">@Model.AgreementData.DistributorDataEmail</span>
        </div>
    </div>

    <div id="dispenser-and-customer-information" class="clearfix">
        <header class="clearfix">
            <h3 id="dispenser-information-title">@Model.DispenserInformationTableHeading</h3>
        </header>
    </div>
    <div>
        <table class="table" id="dispenser-information">
            <thead>
                <tr>
                    <th>@Model.DispenserInformationTableDispenserColumnTitle</th>
                    <th>@Model.DispenserInformationTableDescriptionColumnTitle</th>
                    <th>@Model.DispenserInformationTableQuantityColumnTitle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dispenser in Model.AgreementData.SelectDispensers)
                {
                    <tr>
                        <td>@dispenser.SelectDispensersArticleNumber</td>
                        <td>@dispenser.SelectDispensersArticleName</td>
                        <td>@dispenser.SelectDispensersArticleQuantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- End Dispenser and Customer Information-->
    <!-- Begin Signature and Terms -->

    <h3>@Model.SignatureDisclose</h3>
    <div id="signature" class="clearfix">
        @if (GlobalShim.AppSettings.TKAD.Agreements.ShowSignature)
        {
            <div class="signature-inputs clearfix">
                <div id="end-customer-signature" class="long">
                    <img src="@Model.SignatureData" />
                </div>
                <input type="text" id="signature-date" class="short" value="@Model.AgreementData.ReadyForApprovalDateAsString()" />
            </div>

            <div class="signature-labels clearfix">
                <span class="long">@Model.SignatureEndCustomerSignature</span>
                <span class="short">@Model.SignatureDate</span>
            </div>
        }

        <div class="signature-inputs clearfix">
            <input type="text" id="print-or-type-signature" class="long" value="@Model.AgreementData.EndCustomerName" />
            @if (GlobalShim.AppSettings.TKAD.Agreements.ShowSignature)
            {
                <input type="text" class="short" />
            }
            else
            {
                <input type="text" class="short" value="@Model.AgreementData.ReadyForApprovalDateAsString()" />
            }
        </div>

        <div class="signature-labels clearfix">
            <span class="long">@Model.SignatureEndCustomerName</span>
            @if (GlobalShim.AppSettings.TKAD.Agreements.ShowSignature)
            {
                <span class="short">&nbsp;</span>
            }
            else
            {
                <span class="short">@Model.SignatureDate</span>
            }
        </div>
    </div>

    <span>@Model.SignatureFootnote</span>

    <h2>@Model.TermsAndConditionsHeadline</h2>
    <p>@Html.Raw(@Model.TermsAndConditions)</p>


    <div id="agree-checkbox">
        @{
            string checkedAgree = Model.AgreementData.Status != AgreementStatus.Draft && Model.AgreementData.Status != AgreementStatus.ReadyForAcceptance ? "checked" : string.Empty;
        }
        <input type="checkbox" id="customer-agrees" @(checkedAgree) /> @Model.Agree
    </div>

    <!-- End Signature and Terms -->
</body>
</html>