﻿@using MASDP.AFH.TorkConnect.DTO.TKAD
@using TorkExtranet.Models
@using TorkExtranet.Models.DTOs
@model TorkExtranet.Models.TKADEUTemplate
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset='utf-8'>
    <base href='file:///@Model.BaseHref'>
    <link rel='stylesheet' href='stylesheets/tkad-eu-agreement.css'>
</head>
<body class="eu">
    <!-- Begin Header-->
    <div id="agreement-header" class="clearfix">
        <section id="title-and-heading">
            <img src="images/tork-logo-large.png" />
            <h1 class="agreement-heading">@Html.Raw(Model.SanitizedHeading)</h1>
            <h2>@Model.SubHeading</h2>
        </section>
        <section id="agreement-dates">
            <div id="agreement-dates-subcontainer">
                <div class="clearfix">
                    <span class="label">@Model.StartDate</span>
                    <span class="date">@Model.AgreementData.EndCustomerAgreementStartDateToString()</span>
                </div>
                <div class="clearfix">
                    <span class="label">@Model.EndDate</span>
                    <span class="date">@Model.AgreementData.EndCustomerAgreementEndDateToString()</span>
                </div>
                <div class="clearfix">
                    <span class="label">@Model.AgreementNr</span>
                    <span class="date"></span>
                </div>
                <div class="clearfix">
                    <span class="label">@Model.CrmContractNumber</span>
                    <span class="date"></span>
                </div>
            </div>
        </section>
    </div>

    <!-- End Header-->
    <!-- Begin Reimbursement Rates-->

    <h2 id="thank-you-header">@Model.FirstParagraphHeading</h2>
    @Html.Raw(@Model.FirstParagraph)

    @Html.Raw(@Model.SecondParagraph)

    <!-- End Reimbursement Rates-->
    <!-- Begin Dispenser and Customer Information-->

    <div id="customer-and-distributor-information" class="clearfix">
        <div id="customer-information" class="information-field-block">
            <h3>@Model.EndCustomerInformationTableHeading</h3>
            <div class="line">
                <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerName</span>
                <span class="value">@Model.AgreementData.EndCustomerCompanyName</span>
            </div>
            <div class="line">
                <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerContactName</span>
                <span class="value">@Model.AgreementData.EndCustomerName</span>
            </div>
            <div class="line">
                <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerTitle</span>
                <span class="value">@Model.AgreementData.EndCustomerTitle</span>
            </div>
            <div class="line">
                <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerAddress</span>
                <span class="value">@Model.AgreementData.EndCustomerAddressEU</span>
            </div>
            <div class="line">
                <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerCity</span>
                <span class="value">@Model.AgreementData.EndCustomerCity</span>
            </div>
            <div class="line">
                <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerStateProvince</span>
                <span class="value">@Model.AgreementData.EndCustomerStateProvinceCountry</span>
            </div>
            <div class="line">
                <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerZipCode</span>
                <span class="value">@Model.AgreementData.EndCustomerPostalCode</span>
            </div>
            <div class="line">
                <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerEmail</span>
                <span class="value">@Model.AgreementData.EndCustomerEmail</span>
            </div>
            <div class="line">
                <span class="label">@Model.EndCustomerDistributorInformationTableEndCustomerPhoneNumber</span>
                <span class="value">@Model.AgreementData.EndCustomerPhone</span>
            </div>
        </div>
        <div id="distributor-information" class="information-field-block">
            <h3>@Model.EndCustomerDistributorInformationTableHeading</h3>
            <div class="line">
                <span class="label">@Model.EndCustomerDistributorInformationTableDistributorCompany</span>
                <span class="value">@Model.AgreementData.DistributorDataSoldToName</span>
            </div>
            <div class="line">
                <span class="label">@Model.EndCustomerDistributorInformationTableDistributorName</span>
                <span class="value">@Model.AgreementData.DistributorName</span>
            </div>
            <div class="line">
                <span class="label">@Model.EndCustomerDistributorInformationTableDistributorEmail</span>
                <span class="value">@Model.AgreementData.DistributorDataEmail</span>
            </div>
        </div>
    </div>

    @if (Model.AgreementData.FscContractor)
    {
        <div id="fsc-information" class="clearfix">
            <div id="fsc-information-table" class="information-field-block">
                <h3>@Model.FSCInformationTableHeading</h3>
                <div class="line">
                    <span class="label">@Model.FSCInformationTableFSCCustomerName</span>
                    <span class="value">@Model.AgreementData.FscCompanyName</span>
                </div>
                <div class="line">
                    <span class="label">@Model.FSCInformationTableFSCContactName</span>
                    <span class="value">@Model.AgreementData.FscName</span>
                </div>
                <div class="line">
                    <span class="label">@Model.FSCInformationTableFSCTitle</span>
                    <span class="value">@Model.AgreementData.FscTitle</span>
                </div>
                <div class="line">
                    <span class="label">@Model.FSCInformationTableFSCAddress</span>
                    <span class="value">@Model.AgreementData.FSCAddress</span>
                </div>
                <div class="line">
                    <span class="label">@Model.FSCInformationTableFSCCity</span>
                    <span class="value">@Model.AgreementData.FscCity</span>
                </div>
                <div class="line">
                    <span class="label">@Model.FSCInformationTableFSCStateProvince</span>
                    <span class="value">@Model.AgreementData.FscStateProvinceCountry</span>
                </div>
                <div class="line">
                    <span class="label">@Model.FSCInformationTableFSCZipCode</span>
                    <span class="value">@Model.AgreementData.FscPostalCode</span>
                </div>
                <div class="line">
                    <span class="label">@Model.FSCInformationTableFSCEmail</span>
                    <span class="value">@Model.AgreementData.FscEmail</span>
                </div>
                <div class="line">
                    <span class="label">@Model.FSCInformationTableFSCPhoneNumber</span>
                    <span class="value">@Model.AgreementData.FscPhone</span>
                </div>
            </div>
        </div>
    }

    <div id="dispenser-and-customer-information" class="clearfix">
        <header class="clearfix">
            <h3 id="dispenser-information-title">@Model.DispenserInformationTableHeading</h3>
        </header>
    </div>
    <div>
        <table class="table" id="dispenser-information">
            <thead>
                <tr>
                    <th>@Model.DispenserInformationTableDispenserColumnTitle</th>
                    <th>@Model.DispenserInformationTableDescriptionColumnTitle</th>
                    <th class="number">@Model.DispenserInformationTableQuantityColumnTitle</th>
                    <th class="number">@Model.DispenserInformationTableFeeColumnTitle</th>
                    <th class="number">@Model.DispenserInformationTableTotalColumnTitle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dispenser in Model.AgreementData.SelectDispensers)
                {
                    <tr>
                        <td>@dispenser.SelectDispensersArticleNumber</td>
                        <td>@dispenser.SelectDispensersArticleName</td>
                        <td class="number">@dispenser.SelectDispensersArticleQuantity</td>
                        <td class="currency">@dispenser.SelectDispensersFeeFormatted</td>
                        <td class="currency">@dispenser.SelectDispensersLineTotalFormatted</td>
                    </tr>
                }
            </tbody>
            <tfoot style="display:table-row-group">
                <tr>
                    <td colspan="3">&nbsp;</td>
                    <th>@Model.DispenserInformationTableTotalColumnTitle</th>
                    @if (Model.AgreementData.SelectDispensers.Count > 0)
                    {
                        <td class="currency">@Model.AgreementData.SelectDispensers.Sum(d => d.SelectDispensersLineTotal).ToString("N2")</td>
                    }
                    else
                    {
                        <td class="currency">0</td>
                    }
                </tr>
            </tfoot>
        </table>
        @if (!string.IsNullOrWhiteSpace(@Model.AgreementData.SelectDispensersCurrency))
            {
            <div id="dispenser-information-currency"><span class="short">@Model.DispenserInformationTableCurrencyFooterTitle</span> @Model.AgreementData.SelectDispensersCurrency</div>
        }
    </div>

    <!-- End Dispenser and Customer Information-->
    <!-- Begin Signature and Terms -->

    <h3>@Model.SignatureDisclose</h3>
    <div id="signature" class="clearfix">
        @if (GlobalShim.AppSettings.TKAD.Agreements.ShowSignature)
        {
            <div class="signature-inputs clearfix">
                <div id="customer-signature" class="long">
                    <img src="@Model.SignatureData" />
                </div>
                <input type="text" id="signature-date" class="short show-signature" value="@Model.AgreementData.ReadyForApprovalDateAsString()" />
            </div>

            <div class="signature-labels clearfix">
                <span class="long">@(Model.AgreementData.FscContractor ? Model.SignatureFSCSignature : Model.SignatureEndCustomerSignature)</span>
                <span class="short">@Model.SignatureDate</span>
            </div>
        }

        <div class="signature-inputs clearfix">
            <input type="text" id="print-or-type-signature" class="long" value="@(Model.AgreementData.FscContractor ? Model.AgreementData.FscName : Model.AgreementData.EndCustomerName)" />
            <input type="text" id="signature-title" class="short" value="@(Model.AgreementData.FscContractor ? Model.AgreementData.FscTitle : Model.AgreementData.EndCustomerTitle)" />
        </div>

        <div class="signature-labels clearfix">
            <span class="long">@(Model.AgreementData.FscContractor ? Model.SignatureFSCName : Model.SignatureEndCustomerName)</span>
            <span class="short">@(Model.AgreementData.FscContractor ? Model.SignatureFSCTitle : Model.SignatureEndCustomerTitle)</span>
        </div>

        @if (!GlobalShim.AppSettings.TKAD.Agreements.ShowSignature)
            {
            <div class="signature-inputs clearfix">
                <span class="long">&nbsp;</span>
                <input type="text" id="signature-date" class="short" value="@Model.AgreementData.ReadyForApprovalDateAsString()" />
            </div>

            <div class="signature-labels clearfix">
                <span class="long">&nbsp;</span>
                <span class="short">@Model.SignatureDate</span>
            </div>
        }
    </div>

    <h1 class="agreement-heading">@Model.Heading</h1>
    <h2>@Model.TermsAndConditionsHeadline</h2>
    <p>@Html.Raw(@Model.TermsAndConditions)</p>


    <div id="agree-checkbox">
        @{
            string checkedAgree = Model.AgreementData.Status != AgreementStatus.Draft && Model.AgreementData.Status != AgreementStatus.ReadyForAcceptance ? "checked" : string.Empty;
        }
        <input type="checkbox" id="customer-agrees" @(checkedAgree) /> @Model.Agree
    </div>

    <!-- End Signature and Terms -->
</body>

</html>